<main class="content-main">

	<div class="hero-home">
		<div class="row">
			<span class="hero-home__intro">invista em você</span>
			<h1 class="hero-home__title">Construa uma carreira de sucesso</h1>
			<h3 class="hero-home__subtitle"> Aprimore suas habilidades e amplie seu conhecimento <br> sobre Engenharia.
			</h3>
			<a href="/cursos" class="button-line--light" analytics-on analytics-category="capa" analytics-label="nossos cursos"> Conheça nossos cursos
				<i class="material-icons">keyboard_arrow_right</i>
			</a>
		</div> 
	</div>

	
	<div class="shortcut-courses">

		<div class="row">
			<h1 class="shortcut-courses__title">Escolha a melhor opção para elevar a sua carreira</h1>
			<p class="shortcut-courses__subtitle"> Mais de 50 opções de cursos online e presenciais com certificado
				digital.</p>
		</div> 

		<div class="row">
			<div class="small-12 columns">

				<ul data-equalizer class="shortcut-courses__list-first small-block-grid-1 medium-block-grid-2 large-block-grid-5">
					<li>
						<a href="/cursos/online/teorico" analytics-on analytics-category="cards" analytics-label="Cursos Teóricos">
							<div class="shortcut-courses__cursos-teoricos">
								<h4> <span>Cursos</span> Teóricos</h4>
							</div> 
						</a>
					</li>


					<li>
						<a href="/cursos/online/software" analytics-on analytics-category="cards" analytics-label="Cursos Software">
							<div data-equalizer-watch class="shortcut-courses__cursos-software">
								<h4> <span>Cursos de</span> Software</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>


					<li>
						<a href="https://altoqilab.qisat.com.br" analytics-on analytics-category="cards" analytics-label="AltoQi-Lab">
							<div data-equalizer-watch class="shortcut-courses__altoqi-lab">
								<h4><span>AltoQi</span>Lab</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>

					</li>

					<li>
						<a href="/cursos/presenciais" analytics-on analytics-category="cards" analytics-label="Cursos presenciais">
							<div data-equalizer-watch class="shortcut-courses__solutions-business">
								<h4> <span>Cursos</span> presenciais</h4>
								<span class="action">Saiba mais. <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>

					<li>
						<a href="/cursos/online/gratuito" analytics-on analytics-category="cards" analytics-label="Cursos gratuitos">
							<div data-equalizer-watch class="shortcut-courses__solutions-free">
								<h4> <span>Cursos</span> gratuitos</h4>
								<span class="action">Saiba mais. <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>

				</ul>

				<ul class="shortcut-courses__list-second small-block-grid-2 medium-block-grid-2 large-block-grid-5">
					<li>
						<a href="/cursos/online/estrutural" analytics-on analytics-category="cards" analytics-label="Area Estrutural">
							<div class="shortcut-courses__categoria-estrutural">
								<em>Área</em>
								<h4>Estrutural</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>
					<li>
						<a href="/cursos/online/eletrica" analytics-on analytics-category="cards" analytics-label="Area Elétrica">
							<div class="shortcut-courses__categoria-eletrica">
								<em>Área</em>
								<h4> Elétrica</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>
					<li>
						<a href="/cursos/online/hidraulica" analytics-on analytics-category="cards" analytics-label="Area Hidráulica">
							<div class="shortcut-courses__categoria-hidrossanitaria">
								<em>Área</em>
								<h4> Hidráulica</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>
					<li>
						<a href="/cursos/online/arquitetonica" analytics-on analytics-category="cards" analytics-label="Area Arquitetônica">
							<div class="shortcut-courses__categoria-arquitetonica">
								<em>Área</em>
								<h4> Arquitetônica</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>
					<li>
						<a href="/cursos/online/agronomica" analytics-on analytics-category="cards" analytics-label="Area Agronômica">
							<div class="shortcut-courses__categoria-agronomica">
								<em>Área</em>
								<h4> Agronômica e Ambiental </h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>
				</ul>

				<ul class="shortcut-courses__list-third small-block-grid-2 medium-block-grid-3 large-block-grid-5">
					<li>
						<a href="/curso/online/eberick-2019" analytics-on analytics-category="cards" analytics-label="Curso Eberick">
							<div class="shortcut-courses__categoria-eberick">
								<em>Curso software</em>
								<h4> Eberick</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>

					<li>
						<a href="/curso/online/qibuilder-cad-2019" analytics-on analytics-category="cards" analytics-label="Curso QiBuilder">
							<div class="shortcut-courses__categoria-qibuilder">
								<em>Curso software</em>
								<h4> QiBuilder</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>

					<li>
						<a href="/curso/online/qieletrico-2019" analytics-on analytics-category="cards" analytics-label="Curso QiElétrico">
							<div class="shortcut-courses__categoria-qieletrico">
								<em>Curso software</em>
								<h4> QiElétrico</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>

					<li>
						<a href="/curso/online/qihidrossanitario-2019" analytics-on analytics-category="cards" analytics-label="Curso QiHidrossanitário">
							<div class="shortcut-courses__categoria-qihidrossanitario">
								<em>Curso software</em>
								<h4> QiHidrossanitário</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>

					<li>
						<a href="/curso/online/qiincendio-2019" analytics-on analytics-category="cards" analytics-label="Curso QiIncêndio">
							<div class="shortcut-courses__categoria-qiincendio">
								<em>Curso software</em>
								<h4> QiIncêndio</h4>
								<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							</div> 
						</a>
					</li>
				</ul>


			</div>
		</div>
	</div>
	

	
	<section class="home__section-topcourses" ng-controller="TopCoursesController">
		<div class="row">
			<div class="small-12 medium-3 columns">
				<div class="home_panel_titles--topcourses">
					<h2 class="section__title--dark">Top Cursos</h2>
					<a href="/cursos" class="button-line--dark" analytics-on analytics-category="topcursos" analytics-label="todos cursos"> Todos os cursos <i class="material-icons">keyboard_arrow_right</i></a>
				</div> 
			</div> 

			<div class="small-12 medium-9 columns">
				<ul class="block-grid__courses small-block-grid-1 medium-block-grid-2 large-block-grid-3">
					<li class="block-grid__courses__item" ng-repeat="course in ::topCourses track by course.id">
						<div class="list-filter__inner">
							<div class="card-format-ever-block">

								<div class="card-course-inner">
									<a ng-href="{{::course.info.url}}" analytics-on analytics-category="topcursos" analytics-label="{{::course.sigla}}" analytics-event="view-info">
										<div class="card-course-header" back-img="{{::course.imgSrc}}"></div>
									</a>
									<div class="card-course--content">
										<a ng-href="{{::course.info.url}}" analytics-on analytics-category="topcursos" analytics-label="{{::course.sigla}}" analytics-event="view-info">
											<span data-reveal-id="modal__trailer" data-tooltip="" aria-haspopup="true" title="Assista o trailer" data-options="disable_for_touch:true" class="has-tip tip-top">
											</span>

											<span class="card-course__icon"><i class="fa fa-ic_play" title="Assistir Vídeo" style="font-size:12px;"></i></span>

											<span class="card-course__modality" ng-if="!course.isSetup">{{::course.modalidade}}</span>
											<span class="card-course__name" title="{{::course.nome}}">{{::course.nomeLimit}}</span>
										</a>

										<a class="card-course__button has-price_popover" ng-click="buy.addItemCarrinho({ id: course.id, sigla: course.sigla })" ng-if="course.isPack||course.isLecture||course.isOnline||course.isSerie||course.isAltoQi" analytics-on analytics-event="addItem" analytics-category="topcursos" analytics-label="{{::course.sigla}}">{{::course.preco}}
											<span class="card-course__icon-cart">
												<i class="material-icons">add_shopping_cart</i>
												<div class="price_popover" ng-show="::course.promocaoDateend">
													<div class="price_popover__header">
														<p class="price_popover__header__info"> <s>de
																{{::course.precoTotal}}</s> <strong>para
																{{::course.preco}}</strong> Até
															{{::course.promocaoDateend}} </p>
													</div> 
													<div class="price_popover__footer"> Adicionar ao carrinho </div>
													
												</div> 
											</span>
										</a>

										<a class="card-course__button has-price_popover" ng-click="modal.interesse(course)" ng-if="course.isIndividual||course.isClassroom" analytics-on analytics-event="addInteresse" analytics-category="topcursos" analytics-label="{{::course.sigla}}">
											{{::course.preco}}

											<span class="cart">
												<i class="material-icons">playlist_add_check</i>
											</span>

											<span class="card-course__icon-cart">
												<div class="price_popover">
													<div class="price_popover__footer"> Registro de Interesse </div>
												</div>
											</span>
										</a>

										<a class="card-course__button has-price_popover" ng-click="buy.trilha(course)" ng-if="course.isSetup" analytics-on analytics-event="compra-trilha" analytics-category="topcursos">

											{{::course.parcelas}} x {{::course.precoParcelado}}

											<span class="cart">
												<i class="material-icons">add_shopping_cart</i>
											</span>

											<span class="card-course__icon-cart">
												<div class="price_popover">
													<div class="price_popover__footer"> Adquirir este produto </div>
												</div>
											</span>
										</a>


										<a class="card-course__button has-price_popover" ng-click="inscricao(course)" ng-if="course.isFree" analytics-on analytics-event="addInscricao" analytics-category="topcursos">

											<span class="cart">
												<i class="material-icons">school</i>
											</span>

											<span class="card-course__icon-cart">
												<div class="price_popover">
													<div class="price_popover__footer"> Inscrever-se </div>
												</div>
											</span>
										</a>

									</div>
								</div>
							</div>
						</div> 
					</li>
				</ul>
			</div> 
		</div> 
	</section>
	

	
	<section class="home__section-instructors">
		<div class="row">

			<div class="small-12 medium-4 large-3 large-push-9 columns">
				<div class="home_panel_titles--instructors">
					<h2 class="section__title--dark">Instrutores</h2>
					<a ng-href="/institucional/instrutores-e-professores" class="button-line--dark" analytics-on analytics-category="bloco-instrutores"> Todos os Instrutores <i class="material-icons">keyboard_arrow_right</i></a>
				</div> 
			</div> 

			<div class="small-12 medium-8 large-9 large-pull-3 columns" ng-controller="instructorsIndexController">
				<ul class="home__instructors small-block-grid-2 medium-block-grid-3 large-block-grid-5">
					<li class="home__instructors__item" ng-repeat="instructor in ::instructors track by instructor.id">
						<div class="home__instructors__card">
							<div class="home__instructors__card-header" back-img-instructor="{{instructor.imagem}}">
								<a ng-href="{{::instructor.linkedin.link}}" class="home__instructors__linkedin" title="Visite o linkedin de {{::instructor.nome}}" ng-show="::instructor.linkedin" target="_blank">Linkedin</a>
							</div> 

							<div class="home__instructors__card-footer">
								<strong class="home__instructors__name">{{::instructor.nome}}</strong>
								<span class="home__instructors__profession">&nbsp {{::instructor.formacao}}</span>
							</div> 
						</div> 
					</li>
				</ul>
			</div> 
		</div> 
	</section>
	

	
	<section class="home__section-numbers">
		<div class="row">
			<ul class="home__section-numbers--list small-block-grid-2 medium-block-grid-4 large-block-grid-4">
				<li class="home__section-numbers--list-item"> <strong>20 anos</strong> <span>de mercado</span> </li>
				<li class="home__section-numbers--list-item"> <strong><em>+ de </em> 60</strong> <span>Cursos</span>
				</li>
				<li class="home__section-numbers--list-item"> <strong><em>+ de </em> 27 Mil</strong> <span>Alunos</span>
				</li>
				<li class="home__section-numbers--list-item"> <strong><em>+ de </em> 51 mil</strong>
					<span>Matrículas</span> </li>
				
			</ul>
		</div> 
	</section>
	

	
	<section class="home__section-testimonials">
		<div name="owl-carousel-testimonials-home" class="owl-carousel owl-theme owl-carousel-testimonials-home" owl-sync>
			<div class="item testimonial__item testimonial__background">
				<div class="testimonial__container">
					<p class="testimonial__quote"> "A AltoQi e o QiSat estão de parabéns pela competência e seriedade no
						desenvolvimento dos sistemas e cursos, proporcionando o engrandecimento da engenharia
						brasileira." </p>
					<p class="testimonial__name"> <strong>W. S. S.</strong><br> Eng. Civil</p>
					<a href="#" class="play" rel="nofollow"></a>
				</div>
			</div>
			<div class="item testimonial__item testimonial__background">
				<div class="testimonial__container">
					<p class="testimonial__quote"> "De modo geral estão todos de parabéns por elaborar software e cursos
						para sermos mais capacitados, com objetivo de melhorar cada vez mais a execução de nossos
						trabalhos disponibilizando ferramentas muito uteis e de grande necessidade para um mercado
						competitivo. Tendo como beneficio principal o aproveitamento melhor do tempo nas realizações das
						tarefas e o reconhecimento profissional. Parabéns a equipe QiSat e AltoQi." </p>
					<p class="testimonial__name"> <strong>N. L. B.</strong><br> Eng. Eletricista</p>
					<a href="#" class="play" rel="nofollow"></a>
				</div>
			</div>
			<div class="item testimonial__item testimonial__background">
				<div class="testimonial__container">
					<p class="testimonial__quote"> "Queria agradecer em primeiro lugar pela oportunidade de participar
						deste curso. Eu já trabalho há alguns anos com programas da AltoQi e tem nos ajudado muito na
						elaboração de vários projetos, agora com estes cursos do QiSat fica a certeza de que podemos nos
						aprofundar bem mais nestes assuntos de engenharia. Parabéns pelo trabalho de todos vocês da
						AltoQi e QiSat. E até o proximo curso!" </p>
					<p class="testimonial__name"> <strong>R. M. F.</strong><br> Eng. Civil</p>
					<a href="#" class="play" rel="nofollow"></a>
				</div>
			</div>

			<div class="item testimonial__item testimonial__background">
				<div class="testimonial__container">
					<p class="testimonial__quote"> "Quanto ao atendimento comercial, principalmente em função da
						divulgação de outros cursos relacionados, parabenizo a equipe do qisat pelo excelente trabalho,
						que busca compartilhar estas informações bem como difundir o conhecimento pertinente na área."
					</p>
					<p class="testimonial__name"> <strong>V. R. C.</strong><br> Eng. Civil</p>
					<a href="#" class="play" rel="nofollow"></a>
				</div>
			</div>

			<div class="item testimonial__item testimonial__background">
				<div class="testimonial__container">
					<p class="testimonial__quote"> "Parabéns pelo trabalho, esforço e exemplo de como as empresas no
						Brasil deveriam agir e contribuir para a evolução da nossa capacidade tecnológica." </p>
					<p class="testimonial__name"> <strong>T. M. P.</strong><br> Eng. Civil</p>
					<a href="#" class="play" rel="nofollow"></a>
				</div>
			</div>

			<div class="item testimonial__item testimonial__background">
				<div class="testimonial__container">
					<p class="testimonial__quote"> "A QiSat tem uma excelente plataforma de ensino, ótima
						interatividade, boa interface com usuário." </p>
					<p class="testimonial__name"> <strong>R. M. G.</strong><br> Eng. Civil</p>
					<a href="#" class="play" rel="nofollow"></a>
				</div>
			</div>

		</div>
	</section>
	
</main>

