<main class="content-main">

  <header class="hero-pages hero-pages__insitucional" ng-controller="institucionalController as vm">
    <div class="row">
      <div class="medium-8 columns">
        <span class="hero-pages__label">Institucional</span>
        <h1 class="hero-pages__title">Conheça o QiSat</h1>
        <p class="hero-pages__tagline"> O maior portal de cursos para engenheiros e arquitetos</p>
      </div> 
      <div class="medium-4 columns">
        <div class="hero-course__play-container">
          <a class="hero-course__play" ng-click="modal.trailer('https://www.youtube.com/embed/9eet_OEY6PI?rel=0&arp;autoplay=1
')" anchor-link analytics-event="Play" analytics-category="Videos Institucional">
            <i class="fa fa-ic_play fa-10x" title="Assistir Vídeo" style="font-size:52px;"></i>
          </a>
        </div>
        
      </div> 
    </div> 
  </header>

  <div class="row">
    <div class="medium-12 columns">
      <nav class="menu-horizontal">
        <ul class="menu-horizontal__list" data-equalizer>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5">
            <a class="menu-horizontal__link" href="/institucional/sobre-a-empresa" analytics-on>Sobre a empresa</a>
          </li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5">
            <a class="menu-horizontal__link" href="/institucional/linha-do-tempo" analytics-on>Linha do tempo</a>
          </li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5 menu-horizontal__item--current">
            <a class="menu-horizontal__link" href="/institucional/convenios-e-parceiros" analytics-on>Convênios e
              Parceiros</a>
          </li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5">
            <a class="menu-horizontal__link" href="/institucional/instrutores-e-professores" analytics-on>Instrutores e
              Professores</a>
          </li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5">
            <a class="menu-horizontal__link" href="/institucional/contatos" analytics-on>Entre em Contato</a>
          </li>
        </ul>
      </nav>
    </div> 
  </div> 

  <div class="row">
    <div class="small-12 medium-4 large-3 columns grid-sidebar-left">
      <div class="page_content">
        <h5 class="menu-filter-sidebars--title">Menu</h5>
        <ul class="menu-partners">
          <li><a href="/institucional/convenios/conselhos" analytics-on><i class="material-icons right">chevron_right</i>Convênios</a></li>
          <li class="active"><a href="/institucional/parceiros" analytics-on>Parceiros</a></li>
        </ul>
      </div>
    </div>

    <div class="large-9 medium-8 columns">
      <div class="page_text">
        <h1>Parceiros QiSat</h1>
        <div class="row">
          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a href="http://animacustica.com.br/home/" target="_blank">
                  <div title="Anima Acústica | Tecnologia e Conhecimento" class="img qi-sprite-animaacustica"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a href="http://www.complex.com.br" target="_blank">
                  <div title="Complex Tecnologia Educacional" class="img qi-sprite-complex"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a href="http://www.dimensionando.com.br" target="_blank">
                  <div title="Dimensionando | Soluções e Treinamentos" class="img qi-sprite-dimensionando"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a href="http://www.dynamisbr.com.br/" target="_blank">
                  <div title="Dynamis | Engenharia Geotécnica" class="img qi-sprite-dynamis"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a href="http://www.eniopadilha.com.br/" target="_blank">
                  <div title="Ênio Padilha" class="img qi-sprite-eniopadilha"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a href="http://www.fontedainformacao.com.br/" target="_blank">
                  <div title="Fonte da Informação e Tecnologia" class="img qi-sprite-fontedainformacao"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a>
                  <div title="Gesthab" class="img qi-sprite-gesthab"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a>
                  <div title="Rodrigo Broering Koerich" class="img qi-sprite-rodrigokoerich"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          
          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a>
                  <div title="VentusCore Engenharia do Concreto" class="img qi-sprite-ventuscore"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a>
                  <div title="Gnipper e Engenheiros Associados" class="img qi-sprite-gnipper"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a href="https://softconsc.com.br/" target="_blank">
                  <div title="Softcon Contabilidade e Consultoria" class="img qi-sprite-softcon"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
                <a>
                  <div title="Jeta Tecnologia da Informação" class="img qi-sprite-jeta"></div>
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div>

          <div class="small-12 medium-6 large-4 columns">
            <div class="parceiros">
              <div class="logo">
              </div>
            </div>
          </div>

        </div>
      </div> 
    </div> 
  </div>
</main>
