<div id="modalPageCourseCall" name="modalPageCourseCall" class="modalPageCourseCall reveal-modal-qisat">
	<section class="section-call__form">
		<header class="reveal-modal-header">
			<a class="close-reveal-modal" aria-label="Close" ng-click="cancel()">×</a>
			<span class="brand-qisat-small brand-qisat-small-light">
				<i class="fa fa-band_qisat fa-10x" style="font-size: 32px;"></i>
			</span>
		</header>

		<header class="section-call__form--header" ng-hide="enviado">
			<div class="row">
				<div class="large-12 columns text-center">
					<h4 class="section-call__form--header-title">A<strong>&nbsp QiSat &nbsp</strong>quer saber</h4>
					<p>Sua opnião é muito importante para nós!</p>
				</div>
			</div>
		</header>

		<form id="questionForm" name="questionForm" class="section-call__form--form" novalidate>
			<div class="row">
				<div class="small-10 small-offset-1 columns" ng-repeat="quiz in question">

					<div class="row">
						<div class="small-12 columns">
							<p>{{quiz.content}}</p>
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns">
							<select id="resp[quiz.id]" name="resp[quiz.id]" ng-model="resp[quiz.id]" ng-required="true" ng-options="op as op.content for op in quiz.respostas">
								<option value="">Selecione a Resposta</option>
							</select>

							<div ng-show="(questionForm['resp[quiz.id]'].$dirty || submitted) && questionForm['resp[quiz.id]'].$invalid">
								<span class="error" ng-show="questionForm['resp[quiz.id]'].$error.required">Selecione a
									sua
									Resposta!</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="small-10 small-offset-1 columns">
					<div class="row">
						<div class="small-12 columns">
							<button class="expand button" ng-disabled="loading" ng-click="send(resp, questionForm)">
								Responder
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-if="loading">
				<div class="large-12 columns">

					<div class="custom-loading">
						<i class="material-icons">hdr_weak</i>
						<span class="text">Enviando Solicitação...</span>
					</div>

				</div>
			</div>

		</form>
	</section> 
</div> 