.home__section-numbers{ background-color: #4e4e4e;     padding: 0; }
.home__section-numbers--list{    display: inline-block; width: 100%; line-height: 1}
.home__section-numbers--list-item{     text-align: center;    display: inline-block;    color: #fff;    padding: 20px 0 !important;    border: 1px solid #444; }
.home__section-numbers--list-item strong{ letter-spacing: -3px; font-weight: 800; font-size: 36px; text-transform: uppercase; display: block}
.home__section-numbers--list-item strong em{font-size: 18px;}
.home__section-numbers--list-item span{font-size: 14px; font-weight: 100; opacity: 0.56}
