
/*'HEADER*/
.header-main{
      float: left;
	border-top: 3px solid #005b94;
  display: inline-block;
  width: 100%;
 background: #fff;
  display: inline-block;
   position: relative;
  @extend .z-2;
  // position: fixed;
  z-index: 10;
   right: 0;    left: 0;    top: 0;
 	transition: transform 200ms linear;
	&.slide--up{display: block; transform: translateY(-100%);}
	&.slide--top{display: none; transform: translateY(0%);}
}


.headroom--top{}
.headroom--not-top{  }

.header-main__brand{ float: left;     padding: 10px;}
.header-main__logo{
  background-image: url("../images/brand/brand_small.svg");  width: 115px;
  font-size: 0; height: 40px; display: inline-block; background-repeat: no-repeat; float: left;

		 @media only screen and (min-width: 64.063em) {
		 background-image: url("../images/brand/brand_large.svg"); width: 319px;
		 } /* min-width 1025px, large screens */

}


.header-main__nav{
  float: right;
  display: none;
	margin-right: 20px;
		@media only screen and (min-width: 64.063em) {
		  display: inline-block;     margin-right: 0px;
		 } /* min-width 1025px, large screens */
}

.header-main__ul{margin-bottom: 0;  }
.header-main__list{padding: 10px 10px;  display: inline-block;    position: relative;}
.header-main__item {    padding: 8px 0px;    display: inline-block;}
.header-main__list-current{}
.header-main__list-item-current{   position: relative; 	opacity: 1;
      &::before{   content: "";   position: absolute; top: -10px; left: 0;   right: 0; border-left: 15px solid rgba(0, 0, 0, 0); border-right: 15px solid rgba(0, 0, 0, 0); border-top: 15px solid;  width: 15px; margin-left: 8px; }
}

.header-main__list__has--submenu{}
.header-main__list__has--submenu:hover .header-main__list__submenu{ display: block;  }
.header-main__list__submenu{
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  width: 190px;
  top: 61px;
  left: -10px;
      @extend .z-2;
    }
.header-main__list__submenu--item{border-bottom: 1px solid darken($accent-color, 6%);}
.header-main__list__submenu--item-link{  background:  desaturate( $accent-color, 20% ) ;   color: #efefef;  display: block; opacity: 0.8;  padding: 10px 20px;}
.header-main__list__submenu--item-link:hover {    color: #fff;    opacity: 1;}


.header-main__list-shopping-cart{}
.header-main__list-toggle-menu{}
.header-main__list-item{padding: 0 5px; color: #005b94; opacity: 0.7;
  &:hover{ opacity: 1}
}


.header-main__buttons{float: right; margin-bottom: 0}
.header-main__buttons_item{    padding: 10px 10px;    display: inline-block;}
.header-main__buttons_item-menu{

	@media only screen and (min-width: 64.063em) {
		display: none;
	} /* min-width 1025px, large screens */
  .menu-text { }
  .menu-icon{}
}





.header-main__buttons_item-cart{
    position: fixed;
    /* bottom: 0; */
    background-image: url("../images/cart/icon-cart-light.svg");
      background-repeat: no-repeat;
      background-position: center center;
    background-color: $accent-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 0;
    bottom: 10px;

    right: 10px;
    background-size: 35px;

    @extend .z-2;
    cursor: pointer;
    z-index: 1;
}

.header-main__buttons_item-cart--container{
  font-size: 16px;
    background: #FFF;
    text-align: center;
    width: 30px;
    color: $accent-color;
    font-weight: 600;
    padding: 3px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid $accent-color;
    line-height: 1;
    position: absolute;
     top: 15px;
     left: -10px;

    transition: all 0.5s ease;

    //esconder item do carrinho
    display: none;    transform: scale(0);
  }
.header-main__buttons_item-cart--container-active{    display: inline-block;    transform: scale(1);}
.header-main__buttons_item-cart--count-number{}

.header-main__buttons_item-cart:hover
.header-main__buttons_item-cart--container-active {    top: 15px;    left: -15px; transition: all 0.2s ease;}




.mobile-main__ul{    list-style: none;    margin-left: 0;}
.mobile-main__list{}
.mobile-main__list-current{}
.mobile-main__list--item{
  transition: opacity 0.5s ease;
  display: inline-block;width: 100%;color: #fff;border-bottom: 1px solid rgba(255,255,255,.1); padding: 10px 20px; opacity: 0.5;
  &:hover{opacity: 0.9; color: #fff}
}
.mobile-main__list--item-current{opacity: 1;}


