/* ==================== COURSE PAGES ==================== */
.page-course__header-group { padding: 20px 0;display: block;	}
.page-course__header-group--suptitle{ color: #ADADAD; text-transform: uppercase; font-size: 11px; display: block; font-weight: 600; margin: 0;  }
.page-course__header-group--title{ color: #4e4e4e; font-weight: 100; font-size: 24px; display: block; margin: 0; line-height: 1}


/* ================== END COURSE PAGES ================== */















/* ==================== COURSE PAGES EAD ==================== */

/* ==================== END COURSE PAGES EAD ==================== */








/* ==================== COURSE PAGES PRESENCIAL ==================== */

/* ==================== END COURSE PAGES PRESENCIAL ==================== */



 


.courses-input-search{
    @extend .z-1;    
    border-radius: 4px !important;
  padding: 0 !important;
  text-indent: 20px;
}
.button-transform-list-card{padding: 0.5rem}


.navigation_courses { margin-bottom: 20px; /* padding: 20px; */ text-align: right; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important; background: #fff; }
.navigation_courses__title {    color: #D0CBCB;   font-size: 16px;    padding: 30px 15px 0px 20px;}
.navigation_courses__nav{}
.navigation_courses__list { list-style: none; margin: 0; }
.navigation_courses__list-item{
    transition: all 0.5s; 
    &:hover .navigation_courses__list-item--link{border-right: 5px solid #ccc;transition: all 0.5s; }
    &.navigation_courses__list-item-active .navigation_courses__list-item--link{border-right: 5px solid $primary-color;transition: all 0.5s; }
}


.navigation_courses__list-item--link{   color: #4e4e4e;  font-size: 14px;  display: inline-block; border-bottom: 1px solid #EAEAEA; width: 100%; padding: 8px 10px; border-right: 5px solid transparent; }
 




.course-page__sections{@extend .z-1; background-color: #fff;    padding: 20px;  border-radius: 3px;   margin-bottom: 20px;   }
.course-page__sections--title{ font-size: 26px; color: #000;   padding-bottom: 10px; opacity: .56;}

.course-page__sections--slim{
	padding: 0px;
	.course-page__sections--title{ 	padding: 20px 20px 10px 20px; }
}









.section__course-gallery {    border-top: 1px solid #eee;    padding-top: 10px;    margin-top: 30px;}
.section__course-gallery--subtitle{    font-size: 13px;    font-weight: 800;    text-transform: uppercase;}



.section__course-gallery-list { padding: 1px !important; display: inline-block; list-style: none; margin: 0;  position: relative;}
.section__course-gallery-list--link{ position: relative; }
.section__course-gallery-list--link-image{position: relative;   @extend .z-1; opacity: 0.9 ; transform: scale(1);	transition: transform .2s}
.section__course-gallery-list--link-image:hover{ opacity: 1; transform: scale(1.2);	 z-index: 1}

.section__course-gallery-list--link.active .section__course-gallery-list--link-image{
	@extend .z-3;
    position: fixed;
    top: 10%;
    right: 0;
    max-width: 100%;
    left: 0;
    bottom: 10%;
    margin: 0 auto;
    opacity: 1;
        border-radius: 10px;
        transform: scale(1);
    }
.section__course-gallery-list--link.active {    position: absolute;    top: 10%;    z-index: 10;}
.section__course-gallery-list--link.active::before {
    content: "";
    background: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}






.course-page__sections-about-instructor{}

.course-page__sections-about-instructor--avatar{ border-radius: 50%}










/* FORMATO DO CURSO*/
.formato-do-curso { margin: 0}
.formato-do-curso__item {   text-align: center;   line-height: 1; border: 1px solid rgba(238, 238, 238, 0.5); padding: 20px !important;}
.formato-do-curso__item--top { font-size: 13px;  display: block;}
.formato-do-curso__item--middle { font-size: 50px; font-weight: 800; display: block; letter-spacing: -2px;}
.formato-do-curso__item--bottom { font-size: 16px;     opacity: 0.7; display: block}
.formato-do-curso__item--icon img { width: 50px; margin-top: 5px;}




/*CONTEUDO PROGRAMATICO*/
.label-free{
		background-color: $primary-color;
		border: 1px solid darken($primary-color, 6%);
    padding: 0px 13px;
    border-radius: 3px;
    margin-left: 14px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
	}




/* PERGUNTAS FREQUENTES*/
.accordion-component .accordion-navigation > a:hover { background: none;}
.accordion-component .accordion-navigation > a{ background: none; border-top: 1px solid #eee;}
.accordion-component .accordion-navigation.active > a{ background: none; color: $primary-color; font-weight: 600;}
.accordion-component .accordion-navigation.active > a:after {content: "-"; color: $primary-color;}
.accordion-component .accordion-navigation > a:after{    content: "+";  color: $primary-color;  margin-right: 10px;    font-size: 23px;    line-height:1; float: right}
.accordion-component .accordion-navigation > .content {    display: none;  padding: 0 40px 40px 40px;}
