// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */






.section__state{
    .mapa { display: inherit; margin: 0 auto; width: 350px;}
    .map__state{transition: all 0.5s; -webkit-transition: all 0.5s;  -moz-transition: all 0.5s;    fill: #979797;}
    .map__state:hover{fill: #515151; cursor: pointer;}
    .map__state.active{fill: #515151;}
    .map__state:hover.active{fill: #515151;}
    .label-state { font-size: 39px; font-weight: 300; letter-spacing: -1px; line-height: 1; display: inline-block; margin-bottom: 10px; }
    .page-course__header-group--suptitle{}
    p { font-size: 14px;     line-height: 1.5;}
    .button-group { text-transform: uppercase;
        a {      letter-spacing: 1px;
                font-size: 12px;
                border: 1px solid #005b94 !important;
                padding: 10px 30px;}
         } 
         .active{  background-color: $primary-color; color: #fff;
            &:hover{background-color: $primary-color; color: #fff;}
         }  
}





// svg.mapa > g.active polygon, svg.mapa > g.active path { fill: #515151;}
// svg.mapa > g.active polygon:hover, svg.mapa > g.active path:hover,
// svg.mapa > g polygon:hover, svg.mapa > g path:hover { fill: #515151; cursor: pointer;}
// svg.mapa > g polygon, svg.mapa > g path { transition: all 0.5s;}

 

/* ==================== COURSE PAGES ==================== */

button.close-button, .close-button {
  padding: 0 !important;
  background-color: transparent !important;
  color: #999 !important;
  float: right;
  font-size: 20px;
  margin-left: 5px;
  margin-top: -3px;
  span {
  }
}

.page-course{

   &__header-group { padding: 15px 0 10px 0; display: block;   line-height: 1;
        &--first{ padding: 10px 0 10px 0; margin-bottom: 20px;}
        &--suptitle{ line-height: 1; color: #ADADAD; text-transform: uppercase; font-size: 11px; display: block; font-weight: 600; margin: 0;  }
        &--title{ color: #4e4e4e; font-weight: 300; font-size: 24px; display: block; margin: 0; line-height: 1}
        &--cattitle{    text-transform: uppercase; font-weight: 800; font-size: 12px;}
    }


    &__breadcrumbs{
           display: block;
    list-style: none;
    margin-left: 0;
    padding: .2rem 0;
    background-color: transparent;
    border-color: transparent;
    border-radius: 3px;
    margin-bottom: 0;
    &>:before {
        color: #AAA;
        content: "/";
        margin: 0 .50rem;
        position: relative;
        top: 1px;
    }
    &>* {
        color: #008CBA;
        float: left;
        @media only screen { font-size: 13px; } /* Define mobile styles */
        @media only screen and (min-width: 40.063em) { font-size: 18px; } /* min-width 641px, medium screens */
        @media only screen and (min-width: 64.063em) { font-size: 21px; } /* min-width 1025px, large screens */
        line-height: initial;
        font-weight: 300;
        margin: 0;
        text-transform: inherit;
    }
}



}

#conteudo-programatico {
  .accordion-component {
    // max-width: 50%;
    // position: relative;
  }

  .iconPlay {
    float: left;
    margin-top: 17px;
    display: inline;
    margin-left: 20px;
    margin-right: 10px;
    color: #999;
  }

  .hero-course__buttons-group {
    position: absolute;
    right: 60px;
    top: 13px;
    display: inline;
    left: auto;
  }

  .accordion .accordion-navigation, .accordion dd {
    position: relative;
  }

  .price_popover {
    margin-left: -70px;
  }
  .cart i {
    padding: 3px;
    border-radius: 1px;
    color: #fff;
    background-color: #005B94;
  }

  .accordion-navigation {
    > a {
      border-right: 1px solid #eee;

      // &:after {
      //   display: none;
      // }
    }

    &.active > a {
      border-right: 1px solid #fff;
    }
  }

  // .content {
  //   position: absolute;
  //   left: 100%;
  //   top: 0;
  //   width: 100%;
  // }

}

.custom-loading{ width: 100%; text-align: center; display: inline-block; padding: 40px 20px;
    .material-icons{ display: block; transition: all 0.5s; opacity: 0.7; -webkit-animation:spin 1s linear infinite; -moz-animation:spin 1s linear infinite; animation:spin 1s linear infinite;}
    .text{ text-transform: uppercase; font-size: 12px; font-weight: 800; opacity: 0.3;}
    @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
}

.custom-loading--dark { @extend .custom-loading; color: #fff;}

.login-loading {
  min-height: 313px;
  padding: 31px;
  position: relative;
  top: 100px;
}

 /* ================== END COURSE PAGES ================== */

















/* ==================== COURSE PAGES EAD ==================== */

/* ==================== END COURSE PAGES EAD ==================== */








/* ==================== COURSE PAGES PRESENCIAL ==================== */

/* ==================== END COURSE PAGES PRESENCIAL ==================== */


[class*=block-grid-]>li{
    padding:4px;
}



.courses-input-search{
    @extend .z-1;
    border-radius: 2px !important;
    font-size: 1rem !important;
    padding: 0 !important;
    text-indent: 40px;
    margin-bottom: 10px;
     background-image: url("../images/courses/ic_search_black_24px.svg") !important;
    background-repeat: no-repeat !important;
    background-position: 10px center !important;

    &:focus{

    }
}

//placeholder

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
}

:-ms-input-placeholder {
   color: #ccc;
}



.button-toggle-form-type{
 background-color: white;
    transition: all 0.5s;
    float: left;
    display: inline-block;
    width: 39px;
    background-position: center center;
    height: 39px;
    margin-left: 5px;
    margin-top: 0;
    background-size: 32px;
    border-radius: 2px;
    background-image: url("../images/courses/ic_view_module_black_24px.svg");
    background-repeat: no-repeat;
    &.toggle-form-type--active{background-image: url("../images/courses/ic_view_list_black_24px.svg");}
 }





.button-transform-list-card{padding: 0.5rem}


.navigation_courses { margin-bottom: 20px;   border-radius:3px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important; background: #fff;   }
.navigation_courses__title { font-size: 11px;
    text-transform: uppercase;
    font-weight: 800;
    color: #c9c9c9;
    padding: 20px 0 0px 20px;}
.navigation_courses__nav{}
.navigation_courses__list { list-style: none; margin: 0; padding: 0;}
.navigation_courses__list-item{ transition: all 0.5s;
    &:hover .navigation_courses__list-item--link{border-right: 5px solid #ccc; transition: all 0.5s;  opacity: 1;}
    &.navigation_courses__list-item-active .navigation_courses__list-item--link{border-right: 5px solid $primary-color;transition: all 0.5s; opacity: 1;}
}
.panel.callout {
  background-color: #FFF;
}


.navigation_courses__list-item--link{   
    color: #000;
    font-size: 15px;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    width: 100%;
    padding: 10px 20px;
    border-right: 5px solid transparent;
    opacity: 0.4;
    }

 
.course-page__sections{ @extend .z-1; background-color: #fff;    padding: 20px;  border-radius: 3px;   margin-bottom: 20px; text-align: justify;   }
.course-page__sections--title{ font-size: 26px; color: #000;   padding-bottom: 10px; opacity: .56;     font-weight: 300;}
.course-page__sections > .textexpand { color: #767676;  }

.course-page__sections--slim{
	padding: 0px;
	.course-page__sections--title{ 	padding: 20px 20px 10px 20px; }
}









.section__course-gallery {    border-top: 1px solid #eee;    padding-top: 10px;    margin-top: 30px;
    .visible-img{}
    .visible-img img{    margin: 0 !important;}
    .clearing-touch-label{    margin-top: 0 !important;}

 }
.section__course-gallery--subtitle{    font-size: 13px;    font-weight: 800;    text-transform: uppercase;}

.section__course-gallery .clearing-thumbs li {
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;

    &:hover {
        transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        }
}

 
.section__course-gallery-list { padding: 1px !important; display: inline-block; list-style: none; margin: 0;  position: relative;}
.section__course-gallery-list--link{ position: relative; }
.section__course-gallery-list--link-image{position: relative;   @extend .z-1; opacity: 0.9 ; transform: scale(1);	transition: transform .2s}
.section__course-gallery-list--link-image:hover{ opacity: 1; transform: scale(1.2);	 z-index: 1}

.section__course-gallery-list--link.active .section__course-gallery-list--link-image{
	@extend .z-3;
    position: fixed;
    top: 10%;
    right: 0;
    max-width: 100%;
    left: 0;
    bottom: 10%;
    margin: 0 auto;
    opacity: 1;
        border-radius: 10px;
        transform: scale(1);
    }
.section__course-gallery-list--link.active {    position: absolute;    top: 10%;    z-index: 10;}
.section__course-gallery-list--link.active::before { content: ""; background: rgba(0,0,0,0.5); position: fixed; height: 100%; width: 100%; top: 0; left: 0;}






.course-page__sections-about-instructor{}
.course-page__sections-about-instructor--avatar{ border-radius: 50%}





/* GARANTA SUA VAGA */
.section_gsv{
    &__list { margin: 0; list-style: none; padding: 10px 20px; border-top: 1px solid #eee; border-right: 1px solid #eee; }
    &__item{ line-height: auto;
        &-small{ font-size: 0.8rem; line-height: 1.3; opacity: 0.6; display: inline-block; display:block}
        &-title{ line-height: 1; color: #000; opacity: 1; font-size: 19px; font-weight: 600; width: 100%; display: inline-block;}
        &-subtitle{ opacity: 0.5;}
        &-info{ line-height: 1.3;}
        &-p, &-p p{ font-size: .8rem; line-height: 1.3; margin-bottom: 10px;}
        &-input-numero-vagas{ border: 1px solid transparent !important; width: 70px !important; display: inline-block !important; text-align: center; font-size: 20px !important; vertical-align: middle; border-bottom: 2px solid #005b94 !important; margin: 10px 0 0 0 !important; }
        &-text-numero-vagas{ color: #fff; font-size: 17px; padding: 10px; vertical-align: middle; opacity: 0.5; margin: 10px 0 0 0 !important; display: inline-block;}
        &-line { margin-bottom: 30px; display: inline-block; width: 100%;}
    }
    &__footer, &__header  { display: inline-block; width: 100%;}
    &__black-colum{ background: #001b2b; color: #fff;}
    &_comp_add_cart{
        &_botton{ margin: 0; padding: 10px; display: inline-block; width: 100%;}
    }
}

.course__price-group{  padding: 62px 0;
    &__total-text{ font-size: 0.8rem; line-height: 1.3; opacity: 0.6;}
    &__price{ width: 100%; display: inline-block; text-align: center;
        small{line-height: auto;}
        strong{font-size: 43px; letter-spacing: -2px; font-weight: 800;}
    }
    &__button{ margin: 0; padding: 13px 10px !important; display: inline-block; width: 100%; font-size: 16px !important;  border-radius: 3px;}
    &__remaining{ display: inline-block; width: 100%; text-align: center; font-size: 14px; opacity: 0.6;}
}
/* END GARANTA SUA VAGA */



/* FORMATO DO CURSO*/
.formato-do-curso { margin: 0;
    &__item {   text-align: center;   line-height: 1; border: 1px solid rgba(238, 238, 238, 0.5); padding: 20px !important;
        &--top { font-size: 13px;  display: block;}
        &--middle { font-size: 50px; font-weight: 800; display: block; letter-spacing: -2px;}
        &--bottom { font-size: 16px;     opacity: 0.7; display: block}
        &--icon img { width: 50px; margin-top: 5px;}
    }
}





/*CONTEUDO PROGRAMATICO*/
.label-free{ background-color: $primary-color; border: 1px solid darken($primary-color, 6%); padding: 0px 13px; border-radius: 3px; margin-left: 14px; display: inline-block; color: #fff; font-size: 10px; text-transform: uppercase;}



/* PERGUNTAS FREQUENTES*/
.accordion-component .accordion-navigation > a:hover { background: none;}
.accordion-component .accordion-navigation > a{ background: none; border-top: 1px solid #eee;}
.accordion-component .accordion-navigation .title_convenio > a{ background: none; border-top: 1px solid #eee; font-weight: bold;}
.accordion-component .accordion-navigation.active > a{ background: none; color: $primary-color; font-weight: 600;}
.accordion-component .accordion-navigation.active > a:after {content: "-"; color: $primary-color;}
.accordion-component .accordion-navigation > a:after{    content: "+";  color: $primary-color;  margin-right: 10px;    font-size: 23px;    line-height:1; float: right}
.accordion-component .accordion-navigation > .content {    display: none;  padding: 0 40px 40px 40px;}
.accordion-component .accordion-navigation > .content > .textexpand {   color: #666666 }
#perguntas-frequentes {
  .iconPlay, .addProduto {
    display: none;
  }
  .button-group {
    display: none;
  }
}



.page-insitucional {
  .sub-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;

    i {
      font-size: 32px;
    }
  }

  .grid-sidebar-left {
    p.block {
      margin-left: 37px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      i {
        margin-right: 10px;
      }

      li {
        padding: 2px 0;
        margin: 0 8px;
      }
    }
  }
}


// Professores

.page-courses {
  .cards {
    margin-top: 30px;

    .icon {
      display: block;
      float: left;
      color: #999;
      margin-top: 2px;
      margin-right: 5px;

      @media only screen and (min-width: 64.063em) {
        display: none;
      }
    }

    .card {
      margin-bottom: 15px;
      box-sizing: border-box;
      background-color: #FFF;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      border-radius: 1px;
      position: relative;
      min-height: 90px;

      transition: all 0.5s;
      @extend .z-1;  width: 100%;  background-color: #fff;    z-index: 1; position: relative;
      &:hover{ @extend .z-3; @include translate(0, -5px) }
      &:hover * {transition: all 0.5s; }
      
      @media only screen and (min-width: 64.063em) {
        width: 31%;
        float: left;
        margin-right: 2%;
        min-height: 475px;
        
        &:nth-of-type(3n+0) {
          margin-right: 0;
        }
      }

      @media only screen and (max-width: 40em) { 
          .footer {
                display: none;
          }
      } 

      img {
        width: 100%;
        max-width: 100%;
        /*min-height: 240px;*/
        display: none;

        @media only screen and (min-width: 64.063em) {
          display: block;
        }
      }

      .modalidade {
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 10px;
        color: #838384;
        font-weight: 300;
        @media only screen and (max-width: 40em) { 
            display: inline;
        } 
      }

      .name {
        font-size: 17px;
        font-weight: 300;
        display: inline-block;
        height: 60px;
        line-height: 1.5;
        width: 100%;
        margin: 0px 5px 20px 0;
        color: #000;

        .a {color: #000;}

        @media only screen and (max-width: 40em) { 
            font-size: 18px;
            font-weight: 400;
            display: inline;
        } 

      }

      .green {
        color: green;
      }
      .red {
        color: #990000;
      }
      .blue {
        color: #005285;
      }

      .msg {
        font-size: 14px;
        color: #bebebe;
        font-weight: 300;
      }

      .content {
        padding: 15px 20px;
      }

      .footer {
        padding: 15px 20px;
        border-top: 1px solid #eee;
        
        @media only screen and (min-width: 64.063em) {
          position: absolute;
          bottom: 0;
          width: 100%;
        }

        ul {
          margin-bottom: 0;
        }

        a, a:visited {
          color: #005B94;
        }
      }
      
      a {
        display: block;
        position: relative;
        color: #666;

        &:hover {
          color: #333;
        }
        
        > div {
          margin-top: 30px;
          margin-left: 150px;
          position: absolute;
          top: 0;
        }
      }
      
      strong {
        font-size: 22px;
      }
      
      img {
      }
    }
  }
}

.page-certificates {
  .cards {
    margin-top: 30px;

    .card {
      margin-bottom: 15px;
      box-sizing: border-box;
      background-color: #FFF;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      border-radius: 1px;

      transition: all 0.5s;
      @extend .z-1;  width: 100%;  background-color: #fff;    z-index: 1; position: relative;
      &:hover{ @extend .z-3; @include translate(0, -5px) }
      &:hover * {transition: all 0.5s; }
      
      @media only screen and (min-width: 64.063em) {
        width: 31%;
        float: left;
        margin-right: 2%;
        min-height: 305px;
        
        &:nth-of-type(3n+0) {
          margin-right: 0;
        }
      }

      img {
        width: 100%;
        max-width: 100%;
        min-height: 240px;
        display: none;

        @media only screen and (min-width: 64.063em) {
          display: block;
        }

      }

      .modalidade {
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 10px;
      }

      .name {
        font-size: 20px;
      }

      .green {
        color: green;
      }
      .red {
        color: red;
      }

      .content a {
        padding: 10px;
        display: block;
        
        @media only screen and (max-width: 40em) {
          font-size: 18px;
          font-weight: 400;
          color: #000;
        }
        @media only screen and (min-width: 40em) {
          padding: 15px 20px;
          padding-left: 65px;
        }

        p {
          margin-bottom: 5px;
          min-height: 50px;
          max-height: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          font-size: 12px;
          display: block;

          @media only screen and (max-width: 40em) {
            text-align: center;
          }
        }
        span span {
          font-weight: bold;
        }
      }

      .material-icons {
        // font-size: 40px;
        color: #ccc;
        margin-right: 10px;

        @media only screen and (min-width: 40em) {
          font-size: 40px;
          position: absolute;
          margin-right: 0;
          top: 15px;
          left: 15px;
        }
      }

      .details {
        font-style: 12px;
      }

      .footer {
        padding: 15px 20px;
        border-top: 1px solid #eee;

        ul {
          margin-bottom: 0;
        }

        a, a:visited {
          color: #005B94;
        }
      }
      
      a {
        display: block;
        position: relative;
        color: #666;
        
        &:hover {
          color: #333;
        }
        
        > div {
          margin-top: 30px;
          margin-left: 150px;
          position: absolute;
          top: 0;
        }
      }
      
      strong {
        font-size: 22px;
      }
      
      img {
      }
    }
  }
}

.page-professores {
  .button {
    margin: 0 auto 15px auto;
    display: block !important;

    @media only screen and (min-width: 40em) {
      float: left;
    }
  }
  .professor-info {
    @media only screen and (min-width: 40em) {
      margin: 0 80px;
    }

    p.name {
      font-size: 30px;
      margin-bottom: 0;
    }

    img {
      max-width: 200px;
    }
  }

  .professor-courses {
    background-color: #333;
    color: #fff;
    padding: 25px;
    margin: 25px 0;

    .columns {
      margin-bottom: 20px;
    }

    @media only screen and (min-width: 40em) {
      padding: 50px;
      margin: 50px 0;
    }
  }

  .professor-articles {
    .subtitle {
      color: #888;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .columns {
      margin-bottom: 20px;
    }
    p {
      margin: 0;
      text-align: left;
    }
    span {
      color: #666;
    }
    img {
        @media only screen and (max-width: 40em) {
            display: none;
          }
      }
  }

  .cards {
    .card {
      margin-bottom: 15px;
      box-sizing: border-box;
      background-color: #FFF;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      border-radius: 1px;
      
      @media only screen and (min-width: 40em) {
        width: 49%;
        float: left;
        margin-right: 2%;
        height: 120px;

        &:nth-of-type(2n+0) {
          margin-right: 0;
        }
      }
      
      a {
        display: block;
        position: relative;
        color: #666;
        
        &:hover {
          color: #333;
        }
        
        > div {
          margin-top: 10px;
          margin-left: 120px;
          position: absolute;
          top: 0;
          @media only screen and (min-width: 40em) {
            margin-top: 30px;
            margin-left: 150px;
          }
        }
      }
      
      strong {
        font-size: 18px;
        @media only screen and (min-width: 40em) {
          font-size: 22px;
        }
      }
      
      img {
        max-width: 90px;
        @media only screen and (min-width: 40em) {
          max-width: 120px;
        }
      }
    }
  }
}

.instrutorIcons {
  list-style-type: none; text-align: center;
  li {
    display: inline-block;
    margin: 0 7px;
  }
}


.nav-resp {
  margin-bottom: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  clear: both;

  > li {
    border-top: 1px solid #eee; // separator
    background-color: #FFF;

    &.current {
      border-top: 5px solid #005285;
    }
    > a {
      display: block;
      text-decoration: none;
      padding: 1em;
      text-align: center;
      float: none !important;
    }
    &:first-child {
      // border: none; // removes borders on first item
    }
  }
}

@media screen and (min-width: 40em) {
  .nav-resp {
    display: table; // fallback for non-flexbox
    width: 100%; // if displayed as table make sure it is 100% width
    display: flex; // comment this property out to see the fallback
    > li {
      display: table-cell; // fallback for non-flexbox
      display: flex;
      flex: 1 1 auto; // distribute space evenly
      border-top: none; // no longer need bottom border
      // border-left: solid 1px red; // separator
      > a {
        width: 100%;
        @include box-sizing(border-box); // so padding is inclusive of width
      }
    }
  }
}


.financeiro {
  table {
    border: 0;
  }
  table td {
    border: 1px solid #ddd;
  }
  thead th {
    background-color: #FFF;
    border: 0;
  }

  .box {
    border: 1px solid #bbb;
    background-color: #FFF;
    padding: 30px 25px;

    p {
      margin-bottom: 5px;
    }

    hr {
      margin-left: -25px;
      width: 110%;
    }
  }

  .product {
    background-color: #f6f6f6;
    margin-bottom: 35px !important;
  }


  .tableResp {
        @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

          /* Force table to not be like tables anymore */
          display: block; 
          thead, tbody, th, td, tr { 
            display: block; 
          }
          
          /* Hide table headers (but not display: none;, for accessibility) */
          thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
          }
          
          tr { border: 1px solid #ccc; }
          
          td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 40%; 
          }
          
          td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 15px;
            left: 6px;
            width: 100%; 
            padding-right: 10px; 
          }

          td:nth-of-type(1) { width : 100%; }
          td:nth-of-type(2) { width : 100%; }
          td:nth-of-type(3) { width : 100%; }
          td:nth-of-type(4) { width : 100%; }
          td:nth-of-type(5) { width : 100%; }

        }

  }

    .tableProduto {
        @media screen and (max-width: 40em) {
            td:nth-of-type(1):before { content: "Produto"; }
            td:nth-of-type(2):before { content: "Qtd."; }
            td:nth-of-type(3):before { content: "Status"; }
            td:nth-of-type(4):before { content: "V. Unt.";  }
            td:nth-of-type(5):before { content: "Valor"; }
        }
    }

    .tablePromo {
        @media screen and (max-width: 40em) {

          td { 
            padding-left: 50%; 
          }

            td:nth-of-type(1):before { content: "Promocao"; }
            td:nth-of-type(2):before { content: "Inicio"; }
            td:nth-of-type(3):before { content: "Fim"; }
            td:nth-of-type(4):before { content: "Desconto";  }
        }
    }

}

hr.clearfix {
  clear: both;
}



.parceiros {

  .logo {

    a {
      display: block;
      height: 120px;
      text-align: center;
      padding-top: 30px;

      @media screen and (min-width: 40em) {
        height: 200px;
        // padding-top: 30px;
      }

      img {
        width: auto;
        max-width: 200px;
        max-height: 100px;
        padding-bottom: 20px;
      }

      span {
        display: none;
        background-color: $primary-color;
        padding: 10px 15px;
        border-radius: 4px;
        margin: 20px auto;
        color: #fff;
        font-size: 13px;
        width: 70%;
      }

      &:hover {
        background-color: #f6f6f6;

        span {
          display: none;
          margin-bottom: 20px;

          @media screen and (min-width: 40em) {
            display: block;
          }

        }
      }
    }
  }
}

.convenios {
  .entidades {
    >div>div a {
      text-align: center;
      border: 1px solid #ccc;
      padding: 15px;
      display: block;
      color: #666;

      &.active {
        background-color: #f6f6f6;
      }

      i {
        display: block;
      }

      &:hover {
        background-color: #f6f6f6;
      }
    }
  }
}


.menu-partners {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #eee;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid #ddd;
    text-align: left;

    ul li a {
      padding-left: 65px;
    }

    li {
      a {
        padding-left: 40px;
        font-weight: normal;
        background-color: #FFF !important;
      }

      &.active a {
        background-color: #eee !important;
      }
    }
  }

  li {
    border-bottom: 1px solid #eee;

    a {
      display: block;
      color: #555;
      font-size: 16px;
      font-weight: bold;
      padding: 8px 10px;
      padding-left: 20px;
      background-color: #FFF;
    }

    &.active a {
      background-color: #f6f6f6;
    }
  }
}


.course-page__sections#publico-alvo {
  min-height: 200px;
}



.inst_filter {
  margin: 20px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  padding: 10px 30px;
  padding-bottom: 0;
  border-radius: 3px;

  @media only screen and (min-width: 40em) {
    width: 95%;
    margin: 20px auto;
  }

  label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: #666;
  }

  input, select {
    outline: 0;
    border: 0;
    background-color: #FFF;
  }

  select {
    padding: 0;
    height: auto;
  }

  input[type=text] {
    padding: 10px;
    font-size: 17px;
    font-weight: normal;
    padding-left: 30px;
    box-shadow: none;
  }

  i {
    color: #999;
    top: 8px;
    position: absolute;
  }
}

.inst_list {
  @media only screen and (min-width: 40em) {
    width: 95%;
    margin: 20px auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid #eee;
    padding: 15px 10px;
    font-size: 15px;

    span{
      color: #333333;
    }
  }

  strong {
    display: block;
    font-size: 17px;
  }

  img {
    float: left;
    margin-right: 30px;
  }

  i {
    float: right;
    margin-top: 10px;
    color: #888 !important;
    font-size: 25px;
  }
}

.button-discount {
  display: block;
  width: 100%;
  margin: 40px auto;

  @media only screen and (min-width: 40em) {
    max-width: 50%;
  }
}

.accordion-discount {
  margin-bottom: 50px;

  dd>a {
    font-size: 27px !important;
    border: 1px solid #eee;
  }

  dd .content {
    padding: 20px !important;
    background-color: #eee !important;
    margin: 0;
    border: 1px solid #eee;
  }

  img {
    margin: 0 auto;
  }

  dd table {
    border: 0;
    background-color: transparent;

    tr:nth-of-type(even), td {
      background-color: transparent;
      font-size: 16px;
    }
    .button {
      margin-bottom: 0 !important;
    }
  }
}

#contatoForm, #cadastroConselhoForm, #cadastroInstituicaoForm, #cadastroEntidadeForm, #descontoForm {

  label {
    text-align: left;
    padding-bottom: 5px;

    strong {
          color: #c00;
    }

    @media only screen and (min-width: 40em) {
      text-align: right;
    }
  }

  span.error {
    margin-top: -15px;
  }

  textarea {
     margin-bottom: 15px;
  }
}

.show-for-small-up {
  display: block !important;
}


.financeiro .responsive {
  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    display: block; 
    thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Pedido"; }
    td:nth-of-type(2):before { content: "Data"; }
    td:nth-of-type(3):before { content: "Valor"; }
    td:nth-of-type(4):before { content: "Status"; }
    td:nth-of-type(5):before { content: "Pagamento"; }
    td:nth-of-type(6) { padding-left: 15%; text-align: center; }
    td:nth-of-type(6):before { width: 100%; }
  }
}

.tableCreasResponsive {
  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    display: block; 
    thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 35%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 5%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Curso"; }
    td:nth-of-type(2):before { content: "Valor"; }
    td:nth-of-type(3):before { content: "Total"; }

  }
}

.tablePreducResponsive {
  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    display: block; 
    thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 35%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 5%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Curso"; }
    td:nth-of-type(2):before { content: "Valor"; }
    td:nth-of-type(3):before { content: "Professor"; }
    td:nth-of-type(4):before { content: "Aluno"; }
    td:nth-of-type(5):before { content: "Assosiado"; }

  }
}


.step-title {
  font-size: 16px;
  color: #005b8a;
  margin-bottom: 10px;

  @media only screen and (min-width: 40em) {
    font-size: 20px;
  }
}
.step-desc div {
  color: #005b8a;
  margin-top: 10px;

  @media only screen and (min-width: 40em) {
    // font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.slick-arrow{
  color: #333; margin-left: 46%; font-size: 40px; cursor: pointer;
}