.sass-cache
.idea
.vscode
config.json
config.rb
package-lock.json
/node_modules
assets/
assets/*
assets/**
assets/*/*
assets/**/**
!assets/deploy/webhook.php
!assets/hub.html
!assets/robots.txt
!assets/sitemap.xml