  RewriteEngine On


# ----- Bloqueando hotlinks em imagens ---------
  RewriteCond %{HTTP_REFERER} !^$
  RewriteCond %{HTTP_REFERER} !^http(s)?://(www|local-site)\.?qisat.com.br [NC]
  RewriteRule \.(jpg|jpeg|png|gif|odg)$ - [NC,F,L]

# ------ Protegendo seu arquivo .htaccess -------
<files ~ "^.*\.([Hh][Tt][Aa])">
  order allow,deny
  deny from all
  satisfy all
</files>

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Methods "POST, GET, PUT, DELETE, OPTIONS"
  Header set Access-Control-Allow-Headers "X-Requested-With, content-type"
</IfModule>


# ------ Páginas de erro personalizadas ---------
#  ErrorDocument 400 /erros/badrequest.html
#  ErrorDocument 401 /erros/authreqd.html
#  ErrorDocument 403 /erros/forbid.html
#  ErrorDocument 500 /erros/serverr.html
ErrorDocument 404 /index.html

# ------- Bloquear listagem de diretórios -------
  Options -Indexes

# ------- http para https ------------  
#  RewriteCond %{HTTPS} !on
#  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

  RewriteRule ^(css|images|js|stylesheets|libs|files|fonts)/(.*)$ /assets/$1/$2 [NC,L]
  
  RewriteRule ^cursos/?$ pages/courses.html [NC,L]
  RewriteRule ^cursos/(lancamentos|gratuitos)?/?$ pages/courses.html [NC,L]
  RewriteRule ^cursos/(online|presenciais)/?$ pages/courses.html [NC,L]
  RewriteRule ^cursos/(online|presenciais)/([^/]+)/?$ pages/courses.html [NC,L]
  RewriteRule ^curso/(online)/(pacote/serie)?/?$ pages/courses.html [NC,L]
  RewriteRule ^curso/(online|presencial)/?$ pages/courses.html [NC,L]
  RewriteRule ^curso/?$ pages/courses.html [NC,L]

  RewriteRule ^curso/([^/]+)?/?$ pages/info.html [NC,L]
  RewriteRule ^curso/(online|presencial)/([^/]+)/?$ pages/info.html [NC,L]
  RewriteRule ^curso/(online)/(gratuito|serie|pacote)/([^/]+)/?$ pages/info.html [NC,L]
  
  RewriteRule ^institucional/?$ pages/institucional.html [NC,L]
  RewriteRule ^institucional/([^/]+)?/?([^/]+)?/?([^/]+)?$ pages/institucional.html [NC,L]
  
  RewriteRule ^aluno/?([^/]+)?/?$ pages/aluno.html [NC,L]
  RewriteRule ^aluno/(carrinho)/([^/]+)$ pages/aluno.html [NC,L]
  RewriteRule ^(login|cadastro|lembrete-de-senha)/?$ pages/aluno-sem-menu.html [NC,L]

  RewriteRule ^(carrinho)/?$ pages/carrinho.html [NC,L]
  RewriteRule ^(carrinho)/([^/]+)$ pages/carrinho.html [NC,L]
  RewriteRule ^(carrinho)/([^/]+)/([^/]+)$ pages/carrinho.html [NC,L]
  RewriteRule ^(hub)/?$ pages/cross-storage.html [NC,L]
  RewriteRule ^(termos-de-uso|politica-de-privacidade)/?$ pages/basic.html [NC,L]

  RewriteRule ^(ecommerce)/(produtos)/?d([^/]+)?/?$ index.html [NC,L]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]
  RewriteRule ^ /index.html

  <ifModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
    mod_gzip_item_exclude mime ^image/.* 
    mod_gzip_item_include handler ^cgi-script$
  </ifModule>