  RewriteEngine On


# ----- Bloqueando hotlinks em imagens ---------
  #RewriteCond %{HTTP_REFERER} !^$
  #RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?newsite.com [NC]
  #RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

# ------ Protegendo seu arquivo .htaccess -------
<files ~ "^.*\.([Hh][Tt][Aa])">
  order allow,deny
  deny from all
  satisfy all
</files>

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Methods "POST, GET, PUT, DELETE, OPTIONS"
  Header set Access-Control-Allow-Headers "X-Requested-With, content-type"
</IfModule>


# ------ Páginas de erro personalizadas ---------
#  ErrorDocument 400 /erros/badrequest.html
#  ErrorDocument 401 /erros/authreqd.html
#  ErrorDocument 403 /erros/forbid.html
#  ErrorDocument 500 /erros/serverr.html

# ------- Bloquear listagem de diretórios -------
  Options -Indexes

# ------- http para https ------------  
#  RewriteCond %{HTTPS} !on
#  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}


  RewriteRule ^(css|images|js|stylesheets|libs)/(.*)$ /assets/$1/$2 [NC,L]
  
  RewriteRule ^cursos/?$ pages/courses.html [NC]

  RewriteRule ^cursos/(lancamentos|gratuitos|destaques)?/?$ pages/courses.html?filter1=$1 [NC]
  RewriteRule ^cursos/(online|presenciais)/?$ pages/courses.html?mod=$1 [NC]
  RewriteRule ^cursos/(online|presenciais)/(lancamentos|gratuitos|destaques)/?$ pages/courses.html?mod=$1&filter1=$2 [NC]
  RewriteRule ^cursos/(online)/(estrutural|eletrica|hidraulica|arquitetonica|agronomica|cad)/?$ pages/courses.html?mod=$1&filter2=$2 [NC]
  RewriteRule ^cursos/(online)/(teorico|software)/?$ pages/courses.html?mod=$1&filter3=$2 [NC]
  RewriteRule ^cursos/(online)/(pacotes|series)/?$ pages/courses.html?mod=$1&filter4=$2 [NC]
  RewriteRule ^cursos/(presenciais)/(estrutural|eletrica|hidraulica|cad)/?$ pages/courses.html?mod=$1&filter2=$2 [NC]
  RewriteRule ^cursos/(presenciais)/(teorico|software)/?$ pages/courses.html?mod=$1&filter3=$2 [NC]
  RewriteRule ^cursos/(online|presenciais)/([^/]+)/?$ pages/courses.html?mod=$1&curso=$2 [NC]

  RewriteRule ^curso/([^/]+)?/?$ pages/info.html [NC]
  RewriteRule ^curso/(online|presencial)/([^/]+)/?$ pages/info.html?mod=$1&curso=$2 [NC]
  
  RewriteRule ^institucional/?$ pages/institucional.html [NC]
  RewriteRule ^institucional/([^/]+)?/?([^/]+)?/?([^/]+)?$ pages/institucional.html [NC,L]
  
  RewriteRule ^aluno/?([^/]+)?/?$ pages/aluno.html [NC]
  RewriteRule ^aluno/(carrinho)/([^/]+)$ pages/aluno.html [NC]
  RewriteRule ^(login|cadastro|lembrete-de-senha)/?$ pages/aluno-sem-menu.html [NC]
  
  RewriteRule ^sugira/([^/]+)?/?$ pages/sugira.html?filter=$1 [NC]
  RewriteRule ^sugira/?$ pages/sugira.html [NC]
  RewriteRule ^(duvida|duvidas)/?$ pages/duvidas.html [NC]
  RewriteRule ^(carrinho)/?$ pages/carrinho.html [NC]
  RewriteRule ^(carrinho)/([^/]+)$ pages/carrinho.html [NC]
  RewriteRule ^(carrinho)/([^/]+)/([^/]+)$ pages/carrinho.html [NC]
  RewriteRule ^(certificacao-proficiencia)/?$ pages/certificacao-proficiencia.html [NC]