<!DOCTYPE html>
<html lang="pt_BR" class="no-js" ng-app="QiSatApp">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name=”fragment” content=”!”>
	<link rel="canonical" href="https://www.qisat.com.br">

	<title> QiSat | Cursos aplicados à engenharia e arquitetura </title>

	<meta name="description" content="Canal de cursos online focado em projetos prediais estruturais, elétricos, hidráulicos e agronômicos. Marca oficial de treinamento e desenvolvimento da empresa AltoQi.">

  	<meta name="keywords" content="qisat, curso projeto estrutural, curso software altoqi, projetos prediais, curso eberick, curso projetista eletrico, curso incendio, treinamento AltoQi, cursos AltoQi, cursos para Engenharia">

	<meta property="og:title" content="QiSat | Cursos aplicados à engenharia e arquitetura" />
	<meta property="og:url" content="http://www.qisat.com.br" />
	<meta property="og:description" content="Canal de cursos online focado em projetos prediais estruturais, elétricos, hidráulicos e agronômicos. Marca oficial de treinamento e desenvolvimento da empresa AltoQi." />

	<meta property="og:image" content="/images/QiSat.jpg" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="QiSat" />
	<meta name="twitter:card" content="1200" />
	<meta name="twitter:site" content="QiSat" />
	<meta name="twitter:title" content="QiSat | Cursos aplicados à engenharia e arquitetura" />
	<meta name="twitter:url" content="http://www.qisat.com.br" />
	<meta name="twitter:image" content="QiSat" />
	<meta name="twitter:image:src" content="/images/QiSat.jpg" />
	<meta name="google-site-verification" content="" />
	<meta name="msvalidate.01" content="" />

	<meta name="twitter:description" content="Canal de cursos online focado em projetos prediais estruturais, elétricos, hidráulicos e agronômicos. Marca oficial de treinamento e desenvolvimento da empresa AltoQi.">
	<meta property="fb:app_id" content="1781801858766348" />
	<link rel="publisher" href="https://plus.google.com/115163677173885846613" />
	<link rel="alternate" href="https://www.qisat.com.br/" hreflang="pt-br" />

	<link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
</head>

<body ng-controller="carrinhoController as buy"> 
	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap" ng-controller="modalController as modal">

			<!-- |||||||||||||||||||| MENU LATERAL |||||||||||||||||||||||||||| -->
			 <aside class="right-off-canvas-menu">
			   <ul class="off-canvas-list">
			     <li><label>Menu</label></li>
			     <li><a href="/" target="_self" >Home</a></li>
			     <li><a href="/cursos" target="_self" >Cursos</a></li>
				 <li><a href-portal target="_self" >Área do Aluno</a></li>
				 <li><a href="/institucional" target="_self" >Institucional</a></li>
			   </ul>
			 </aside>
			<!-- |||||||||||||||||||| END MENU LATERAL |||||||||||||||||||||||||||| -->

		 	<!-- |||||||||||||||||||||||| MENU PRINCIPAL |||||||||||||||||||||||||||| -->
			<header class="header-main">
				<div class="header-main__brand"> <a href="/" class="anchor header-main__logo" target="_self" > QiSat </a> </div>
				<nav class="header-main__nav">
					<ul class="header-main__ul">
						<li class="show-for-large-up header-main__list"> 
							<a class="anchor header-main__item header-main__list-current
							header-main__list-item-current" href="/" target="_self" >Home</a>
						</li>
						<li class="show-for-large-up header-main__list ">
							<a class="anchor header-main__item" href="/cursos" target="_self">Cursos</a>
						</li>
			 			<li class="show-for-large-up header-main__list"> 
			 				<a class="anchor header-main__item" href-portal target="_self">Área do Aluno</a>
			 			</li>
						<li class="show-for-large-up header-main__list"> 
							<a class="anchor header-main__item" href="/institucional" target="_self">Institucional</a>
						</li>
						<li class="hide-for-large-up header-main__list"> 
			              <a class="right-off-canvas-toggle menu-icon header-main__item"> 
			                <span><i class="material-icons">menu</i> Menu </span> </a>
			            </li>
			    		<li class="header-main__list header-main__list-cart" > 
			    			<a class="header-main__item header-main__item-cart" ng-click="buy.activeBuy()" analytics-on analytics-event="Carrinho Itens"  >
			    				<i class="material-icons">shopping_cart</i> <span class="cart_number" ng-if="buy.qtdItens" ng-cloak>{{buy.qtdItens}}</span>
			    			</a>
			    		</li>
					</ul>
				</nav>
			</header>
		 <!-- |||||||||||||||||||| END MENU PRINCIPAL |||||||||||||||||||||||||||| -->

		 <!-- |||||||||||||||||||||||| BLOCO CARRINHO  |||||||||||||||||||||||||||| -->
				<div id="cd-shadow-layer" ng-class="{ actived : buy.showBuy }" ng-click="buy.activeBuy()" analytics-on analytics-event="Carrinho close"></div>
				<div id="cd-cart" ng-class="{ actived : buy.showBuy }">
					<h2>Itens no carrinho</h2>
				<ul class="cd-cart-items">
					<li ng-repeat="item in buy.itens track by item.id">
						<span class="cd-qty">{{item.quantidade}}x</span> <span class="cd-price">{{item.precoFormat}}</span>
						<span class="cd-text" title="{{item.nome}}">{{item.modalidade}}: {{item.nomeLimit}}</span>
						<a class="cd-item-remove cd-img-replace" ng-click="buy.removeItemCarrinho(item.ecm_produto_id, true, item.ecm_curso_presencial_turma_id)" ><i class="material-icons">close</i></a>
					</li>

					<li ng-if="!buy.qtdItens">
						<span class="cd-text" >Nenhum item no carrinho.</span>
					</li>
				</ul>
				 
					<div class="cd-cart-total" ng-if="buy.valorTotal">
						<p><strong>Total <span>{{buy.totalCarrinho}} </span> </strong></p>
					</div> <!-- cd-cart-total -->
				 
					<a href="/carrinho" class="checkout-btn" ng-if="buy.valorTotal" target="_self">Finalizar compra</a>
					<p class="cd-go-to-cart" ng-click="buy.activeBuy()" analytics-on analytics-event="Carrinho close" ><a>Continuar comprando</a></p>
				</div> <!-- cd-cart -->
		 <!-- |||||||||||||||||||||||| END CARRINHO |||||||||||||||||||||||||||| -->


			<main class="content-main">

				<div class="hero-home">
					<div class="row">

					<!-- 	<video id="banner-home-video-1_html5_api" class="vjs-tech" poster="http://drupal8.altoqi.com.br/themes/custom/altoqi/assets/videos/banners/01.jpg" src="themes/custom/altoqi/assets/videos/banners/01.mp4" loop="">
			                   <source src="http://drupal8.altoqi.com.br/themes/custom/altoqi/assets/videos/banners/01.mp4" type="video/mp4">
			            </video>
			         -->    	
						<span class="hero-home__intro">invista em você</span>
						<h1 class="hero-home__title">Construa uma carreira de sucesso</h1>
						<h3 class="hero-home__subtitle"> Aprimore suas habilidades e amplie seu conhecimento <br> sobre Engenharia. </h3>
		 				<a href="/cursos" class="button-line--light"> Conheça nossos cursos 
		 					<i class="material-icons">keyboard_arrow_right</i>
		 				</a>


		 			

					</div> <!-- ///row -->
				</div><!-- //hero-home -->

				<!-- |||||||||||||||||||| SHORTCUT-COURSES |||||||||||||||||||||||||||| -->
				<div class="shortcut-courses">

					<div class="row">
				    	<h1 class="shortcut-courses__title">Escolha a melhor opção para elevar a sua carreira</h1>
				    	<p class="shortcut-courses__subtitle"> Mais de 50 opções de cursos online e presenciais com certificado digital.</p>
				  	</div> <!-- ///row -->

			    	<div class="row">
			    		<div class="small-12 columns">

							<ul data-equalizer class="shortcut-courses__list-first small-block-grid-1 medium-block-grid-2 large-block-grid-5">
							 <li>
							  	 <a href="/cursos/online/teorico">
							  		<div data-equalizer-watch class="shortcut-courses__cursos-teorico">
							 			<h4> <span>Cursos</span> Teóricos</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
							 	</a>
							  </li>

							  <li>
							  	 <a href="/cursos/online/software">
							  		<div  data-equalizer-watch  class="shortcut-courses__cursos-software">
							 			<h4> <span>Cursos de</span> Software</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
							 	</a>
							  </li>

							  <li>
							  	 <a href="/cursos/online/gratuito">
							  		<div  data-equalizer-watch  class="shortcut-courses__solutions-free">
							 			<h4> <span>Cursos</span> gratuitos</h4>
							 			<span class="action">Saiba mais. <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
							 	</a>
							  </li>

							  <li>
							  	 <a href="/cursos/presenciais">
							  		<div  data-equalizer-watch  class="shortcut-courses__solutions-business">
							 			<h4> <span>Cursos</span> presenciais</h4>
							 			<span class="action">Saiba mais. <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
							 	</a>
							  </li>

							  <li>
							  	 <a href="/cursos/online/serie">
							 		<div data-equalizer-watch class="shortcut-courses__serie-conteudos">
							 				<h4><span>Séries de</span>Capítulos</h4>
								 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
							 	</a>
							  </li>
							</ul>

							<ul class="shortcut-courses__list-second small-block-grid-2 medium-block-grid-2 large-block-grid-5">
							<li>
							  	 <a href="/cursos/online/estrutural">
							  	  		<div class="shortcut-courses__categoria-estrutural">
							 			<em>Área</em>
							 			<h4>Estrutural</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
							 	</a>
							  </li>
							<li>
							  	 <a href="/cursos/online/eletrica">
							  	  		<div class="shortcut-courses__categoria-eletrica">
							 			<em>Área</em>
							 			<h4> Elétrica</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
								</a>
							</li>
							<li>
							  	 <a href="/cursos/online/hidraulica">
							  	  		<div class="shortcut-courses__categoria-hidrossanitaria">
							 			<em>Área</em>
							 			<h4> Hidráulica</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
								</a>
							</li>
							  <li>
							  	 <a href="/cursos/online/arquitetonica">
							  	  		<div class="shortcut-courses__categoria-arquitetonica">
							 			<em>Área</em>
							 			<h4> Arquitetônica</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
							     </a>
							  </li>
							<li>
							  	 <a href="/cursos/online/agronomica">
							  	  		<div class="shortcut-courses__categoria-agronomica">
							 			<em>Área</em>
							 			<h4> Agronômica e Ambiental </h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // shortcut-courses__cards -->
							     </a>
							  </li>
							</ul>

							<ul class="shortcut-courses__list-third small-block-grid-2 medium-block-grid-3 large-block-grid-5">
							<li>
							  	 <a href="/curso/online/eberick-v10">
							  	  		<div class="shortcut-courses__categoria-eberick">
							 			<em>Curso software</em>
							 			<h4> Eberick</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // -->
								</a>
							</li>


							<li>
							  	 <a href="/curso/online/qibuilder-cad">
							  	  		<div class="shortcut-courses__categoria-qibuilder">
							 			<em>Curso software</em>
							 			<h4> QiBuilder</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // -->
								</a>
							</li>

							<li>
							  	 <a href="/curso/online/qieletrico">
							  	  		<div class="shortcut-courses__categoria-qieletrico">
							 			<em>Curso software</em>
							 			<h4> QiElétrico</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // -->
								</a>
							</li>

							<li>
							  	 <a href="/curso/online/qihidrossanitario">
							  	  		<div class="shortcut-courses__categoria-qihidrossanitario">
							 			<em>Curso software</em>
							 			<h4> QiHidrossanitário</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // -->
								</a>
							</li>

							<li>
							  	 <a href="/curso/online/qiincendio">
							  	  		<div class="shortcut-courses__categoria-qiincendio">
							 			<em>Curso software</em>
							 			<h4> QiIncêndio</h4>
							 			<span class="action">Conheça <i class="material-icons">&#xE315;</i> </span>
							        </div> <!-- // -->
								</a>
							</li>
							</ul>


				        </div><!-- //large-12 columns -->
			        </div><!-- //row collapse-->
				</div><!-- //shortcut-courses__cards -->
				<!-- |||||||||||||||||||| END SHORTCUT-COURSES  |||||||||||||||||||||||| -->


				<!-- |||||||||||||||||||| TOP-COURSES  |||||||||||||||||||||||| ng-non-bindable -->
				<section class="home__section-topcourses" ng-controller="TopCoursesController">
					<div class="row" > 
							<div class="small-12 medium-3 columns">
									<div class="home_panel_titles--topcourses">
										<h2 class="section__title--dark">Top Cursos</h2>
			  							<a href="/cursos" class="button-line--dark"> Todos os cursos <i class="material-icons">keyboard_arrow_right</i></a>
									</div> <!-- //home_panel_titles -->
							</div>  <!-- // large-12 columns -->

							<div class="small-12 medium-9 columns">
									<ul class="block-grid__courses small-block-grid-1 medium-block-grid-2 large-block-grid-3" >
											<li class="block-grid__courses__item" ng-repeat="course in ::topCourses track by course.id"> 
												<div class="list-filter__inner"> 
													<div class="card-format-ever-block">
														
														<div class="card-course-inner">
															<a ng-href="{{::course.info.url}}" target="_self">
																<span class="card-course--litle-play"></span> 
																<div class="card-course-header" back-img="{{::course.imgSrc}}" ></div> 
															</a>
															<div class="card-course--content">
																<a ng-href="{{::course.info.url}}" target="_self">  
																	<span data-reveal-id="modal__trailer" data-tooltip="" aria-haspopup="true" title="Assista o trailer" data-options="disable_for_touch:true" class="has-tip tip-top card-course__play"></span>
																	<span class="card-course__modality">{{::course.modalidade}}</span>
																	<span class="card-course__name" title="{{::course.nome}}">{{::course.nomeLimit}}</span>
																</a>


																<a class="card-course__button  has-price_popover" ng-click="buy.addItemCarrinho(course.id)" ng-if="course.isPack||course.isLecture||course.isOnline||course.isSerie" analytics-on analytics-event="addItem" >{{::course.preco}}
										   						<span class="card-course__icon-cart">
										   							<!-- <i class="material-icons">add_shopping_cart</i> -->
										   							<div class="price_popover" ng-if="::course.promocaoDateend">
										   								<div class="price_popover__header">
										   									<p class="price_popover__header__info"> <s>de {{::course.precoTotal}}</s> <strong>para {{::course.preco}}</strong> Até {{::course.promocaoDateend}} </p>
										   								</div> <!-- //price_popover__header -->
										   								<div class="price_popover__footer" > Adicionar ao carrinho </div> <!-- //price_popover__footer -->
										   							</div> <!-- //price_popover -->
										   						</span>
									   							</a>

									   							<a class="card-course__button has-price_popover" ng-click="modal.interesse(course)" ng-if="course.isIndividual||course.isClassroom" analytics-on analytics-event="addInteresse" >	{{::course.preco}}
													             	
												             		<span class="cart">
												             			<i class="material-icons">playlist_add_check</i>
												             		 </span>
													             	
														            <span class="card-course__icon-cart">
														                <div class="price_popover" >
														                  <div class="price_popover__footer" > Registro de Interesse </div>
														                </div>
														            </span>
													            </a>


													            <a class="card-course__button has-price_popover" ng-click="inscricao(course.id)" ng-if="course.isFree" analytics-on analytics-event="addInscricao" >	
													             	
												             		<span class="cart">
												             			<i class="material-icons">school</i>
												             		 </span>
													             	
														            <span class="card-course__icon-cart">
														                <div class="price_popover" >
														                  <div class="price_popover__footer" > Inscrever-se </div>
														                </div>
														            </span>
													            </a>

															</div> 
														</div>
													</div>
												</div> <!-- //list-filter__inner -->
											</li>
									</ul>
							</div> <!-- //small-12 medium-6 large-6 columns -->
					</div> <!-- ///row -->
				</section>
				<!-- |||||||||||||||||||| END TOP-COURSES  |||||||||||||||||||||||| -->

				<!-- |||||||||||||||||||| SECTION-INSTRUCTORS  ||||||||||||||||||||||||   -->
				<section class="home__section-instructors" > 
					<div class="row">

						<div class="small-12 medium-4 large-3 large-push-9 columns ">
							<div class="home_panel_titles--instructors">
								<h2 class="section__title--dark">Instrutores</h2>
								<a href="/institucional/instrutores-e-professores" class="button-line--dark"> Todos os Instrutores <i class="material-icons">keyboard_arrow_right</i></a>
							</div> <!-- //home_panel_titles -->
						</div>  <!-- //small-12 medium-6 large-3 columns -->

						<div class="small-12 medium-8 large-9 large-pull-3  columns"  ng-controller="instructorsIndexController" >
	 
								<ul class="home__instructors small-block-grid-2 medium-block-grid-3 large-block-grid-5">

											<li class="home__instructors__item" ng-repeat="instructor in ::instructors" >

												<div class="home__instructors__card" >
													<div class="home__instructors__card-header" back-img="{{instructor.imagem}}">
														 <a href="{{::instructor.linkedin.link}}" class="home__instructors__linkedin" title="Visite o linkedin de {{::instructor.nome}}" ng-show="{{::instructor.linkedin}}" target="_blank">Linkedin</a>	
													</div> <!-- //home__instructors__image -->

													<div class="home__instructors__card-footer">
														<strong class="home__instructors__name">{{::instructor.nome}}</strong>
														<span class="home__instructors__profession">&nbsp{{::instructor.formacao}}</span>
													</div> <!-- //home__instructors__card-footer -->
	 											</div> <!-- //home__instructors__card -->
											</li>
									</ul>
						</div>  <!-- //small-12 medium-6 large-3 columns -->

					</div> <!-- ///row -->
				</section>
				<!-- |||||||||||||||||||| END SECTION-INSTRUCTORS  |||||||||||||||||||||||| -->

				<!-- ||||||||||||||||||||  SECTION-NUMBERS  |||||||||||||||||||||||| -->
				<section class="home__section-numbers">
					<div class="row">
						<ul class="home__section-numbers--list small-block-grid-2 medium-block-grid-4 large-block-grid-4">
							<li class="home__section-numbers--list-item"> <strong>20 anos</strong> <span>de mercado</span> </li>
							<li class="home__section-numbers--list-item"> <strong><em>+ de </em> 60</strong> <span>Cursos</span> </li>
							<li class="home__section-numbers--list-item"> <strong><em>+ de </em> 23 Mil</strong> <span>Alunos</span> </li>
							<li class="home__section-numbers--list-item"> <strong><em>+ de </em> 51 mil</strong> <span>Matrículas</span> </li>
							<!--<li class="home__section-numbers--list-item"> <strong><em>+</em> 12 mil</strong> <span>Clientes</span></li>-->
						</ul>
			 		</div> <!-- ///row -->
				</section>
				<!-- |||||||||||||||||||| END SECTION-NUMBERS  |||||||||||||||||||||||| -->

				<!-- |||||||||||||||||||| SECTION-TESTIMONIALS  |||||||||||||||||||||||| -->
  				<section class="home__section-testimonials">
					<div name="owl-carousel-testimonials-home" class="owl-carousel owl-theme owl-carousel-testimonials-home" owl-sync>
                            <div class="item testimonial__item testimonial__background">
                                <div class="testimonial__container" >
                                    <p class="testimonial__quote"> "A AltoQi e o QiSat estão de parabéns pela competência e seriedade no desenvolvimento dos sistemas e cursos, proporcionando o engrandecimento da engenharia brasileira." </p>
                                    <p class="testimonial__name"> <strong>W. S. S.</strong><br> Eng. Civil</p>
                                    <a href="#" class="play" rel="nofollow"></a>
                                </div>
                            </div>
                            <div class="item testimonial__item testimonial__background">
                                <div class="testimonial__container" >
                                    <p class="testimonial__quote"> "De modo geral estão todos de parabéns por elaborar software e cursos para sermos mais capacitados, com objetivo de melhorar cada vez mais a execução de nossos trabalhos disponibilizando ferramentas muito uteis e de grande necessidade para um mercado competitivo. Tendo como beneficio principal o aproveitamento melhor do tempo nas realizações das tarefas e o reconhecimento profissional. Parabéns a equipe Qisat e AltoQi." </p>
                                    <p class="testimonial__name"> <strong>N. L. B.</strong><br> Eng. Elétrica</p>
                                    <a href="#" class="play" rel="nofollow"></a>
                                </div>
                            </div>
							<div class="item testimonial__item testimonial__background">
                                <div class="testimonial__container" >
                                    <p class="testimonial__quote"> "Queria agradecer em primeiro lugar pela oportunidade de participar deste curso. Eu já trabalho há alguns anos com programas da AltoQi e tem nos ajudado muito na elaboração de vários projetos, agora com estes cursos do QiSat fica a certeza de que podemos nos aprofundar bem mais nestes assuntos de engenharia. Parabéns pelo trabalho de todos vocês da AltoQi e QiSat. E até o proximo curso!" </p>
                                    <p class="testimonial__name"> <strong>R. M. F.</strong><br> Eng. Civil</p>
                                    <a href="#" class="play" rel="nofollow"></a>
                                </div>
                            </div>

                            <div class="item testimonial__item testimonial__background">
                                <div class="testimonial__container" >
                                    <p class="testimonial__quote"> "Quanto ao atendimento comercial, principalmente em função da divulgação de outros cursos relacionados, parabenizo a equipe do qisat pelo excelente trabalho, que busca compartilhar estas informações bem como difundir o conhecimento pertinente na área." </p>
                                    <p class="testimonial__name"> <strong>V. R. C.</strong><br> Eng. Civil</p>
                                    <a href="#" class="play" rel="nofollow"></a>
                                </div>
                            </div>

 							<div class="item testimonial__item testimonial__background">
                                <div class="testimonial__container" >
                                    <p class="testimonial__quote"> "Parabéns pelo trabalho, esforço e exemplo de como as empresas no Brasil deveriam agir e contribuir para a evolução da nossa capacidade tecnológica." </p>
                                    <p class="testimonial__name"> <strong>T. M. P.</strong><br> Eng. Civil</p>
                                    <a href="#" class="play" rel="nofollow"></a>
                                </div>
                            </div>

 							<div class="item testimonial__item testimonial__background">
                                <div class="testimonial__container" >
                                    <p class="testimonial__quote"> "A QiSat tem uma excelente plataforma de ensino, ótima interatividade, boa interface com usuário." </p>
                                    <p class="testimonial__name"> <strong>R. M. G.</strong><br> Eng. Civil</p>
                                    <a href="#" class="play" rel="nofollow"></a>
                                </div>
                            </div>

 					</div>
      			</section>
				<!-- |||||||||||||||||||| END SECTION-TESTIMONIALS  |||||||||||||||||||||||| -->
			</main> <!--// main-content -->
			<!-- ########################## END MAIN ########################## -->


				<!-- ########################## FOOTER ########################## -->
					<footer class="footer-main">

						<div class="footer-primary">
							<div class="row">

										<ul class="footer-primary__columns small-block-grid-2 medium-block-grid-3 large-block-grid-6">

											<li class="footer-primary__columns--item">
											 		<ul class="footer-primary__list">
														<li class="footer-primary__title">Sobre o QiSat</li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/sobre-a-empresa" title="Institucional"   target="_self"> Institucional </a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/linha-do-tempo" title="Linha do Tempo"   target="_self"> Linha do Tempo </a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/convenios-e-parceiros" title="Convênios e Parceiros"  target="_self">Convênios e Parceiros</a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/instrutores-e-professores" title="Instrutores e Professores"  target="_self">Instrutores e Professores</a></li>
													</ul>
											</li>

											<li class="footer-primary__columns--item">
											 	<ul class="footer-primary__list">
													<li class="footer-primary__title"> Páginas </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/cursos" title="Todos os Cursos"  target="_self">Cursos</a></li>				 		
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/aluno" title="Cursos"  target="_self">Área do Aluno</a></li>
											 		<!-- <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/duvidas" title="Dúvidas Frequentes"  target="_self">Dúvidas Frequentes</a></li> -->
									 		 	</ul>
											</li> <!-- // -->

											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list">
													 <li class="footer-primary__title"> Contato</li>
													<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" title="Ligamos para você" target="_self" ng-click="modal.call()" analytics-on analytics-event="callme" >Ligamos para você</a></li>
													<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/contatos" title="Mensagem" target="_self">Mensagem</a></li>
												</ul>
											</li>  

										 	<li class="footer-primary__columns--item">
												<ul class="footer-primary__list"> 
													<li class="footer-primary__title"> Blogs </li>
													
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="http://maisengenharia.altoqi.com.br/" title="Blog Mais Engenharia" target="_blank" >Blog Mais Engenharia </a></li>

											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="http://eberick.com.br/" title="Blog Eberick" target="_blank"> Blog Eberick </a></li>

											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="http://www.qibuilder.com.br/" title="Blog QiBuilder" target="_blank" > Blog QiBuilder </a></li>

											 		</ul>
											</li> 

											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list">
											 		<li class="footer-primary__title"> Social </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.facebook.com/qisat" title="Facebook" target="_blank" >Facebook</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.linkedin.com/in/qisat" title="Linkedin" target="_blank" >Linkedin</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.instagram.com/qisat/" title="Instagram" target="_blank" >Instagram</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.youtube.com/user/qisat" title="YouTube" target="_blank" >YouTube</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://twitter.com/QiSat" title="Twitter" target="_blank" >Twitter</a></li>

											 	</ul>
											</li>

											<li class="footer-primary__columns--item">
												<img class="footer-primary__list__item--brand-qisat" src="/images/brand/brand_small-light.svg" alt="Brand QiSat Light">
											</li> <!-- //  -->
									</ul>

							</div> <!-- ///row -->
						</div> <!-- // footer-primary -->




						<div class="footer-secondary">
								<div class="row">
										<ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
											<li>
													<ul class="footer-secondary__list">
														<li class="footer-secondary__list__item">
															<a class="footer-secondary__list__item--link" ng-click="modal.termo()" target="_self" >Termos de uso</a>
														</li>
														<li class="footer-secondary__list__item">
															<a class="footer-secondary__list__item--link" ng-click="modal.politica()" target="_self" >Política de Privacidade</a>
														</li>
													</ul>
										    </li>

										    <li>
													<ul class="footer-secondary__list footer-secondary__list--email ">
														<li class="footer-secondary__list__item"><a href="mailto:inscricoes@qisat.com.br" class="footer-secondary__list__item--link">QiSat | Cursos aplicados à engenharia e arquitetura <strong>inscricoes@qisat.com.br</strong></a></li>
													</ul>
										   	</li>

											<li>
												<ul class="footer-secondary__list">
														<li class="footer-secondary__list__item">
															<span class="footer-secondary__list__item--brand-text">Uma empresa</span>
															<a href="http://www.altoqi.com.br" class="footer-secondary__list__item--brand" target="_blank" alt="AltoQi" title="AltoQi" ><img class="footer-secondary__list__item--brand-image" src="/images/brand/brand_altoqi-small-light.svg" alt="AltoQi" title="AltoQi" ></a>
														</li>
												 </ul>
											</li>
										</ul>
						 		</div> <!-- ///row -->
						</div> <!-- footer-secondary -->

					</footer> <!-- footer-container -->
					<!-- ########################## END FOOTER ########################## -->
			<!-- exit-off-canvas -->
			<a class="exit-off-canvas"></a>
		</div> <!-- //inner-wrap -->
	 </div><!-- //off-canvas-wrap -->

    <!--[if IE 9]>
            <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
            <script src="//cdn.rawgit.com/jpillora/xdomain/0.7.4/dist/xdomain.min.js"></script>
    <![endif]-->

	<!-- GLOBAL -->
		<script async defer src="/bower_components/modernizr/modernizr.js"></script> <!-- Modernizr -->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>  <!-- Resource jQuery -->
		<script defer src="/bower_components/foundation/js/foundation.min.js"></script> <!-- script foundation -->
		<script defer src="/js/libs/angular.min.js"></script>  <!-- defern erro chrome unmindecode -->
		<script defer src="/bower_components/angular-foundation/mm-foundation-tpls.js"></script>
		<script defer src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
		<!-- // GLOBAL -->

		<!-- EXECUTA SCRIPTS QISAT -->
		<script defer src="/js/libs/moment.min.js"></script>
		<script defer src="/js/libs/moment-with-locales.min.js"></script>
		<script defer src="/js/libs/humanize-duration.js"></script>

		<script defer src="/js/libs/angular-locale_pt-br.js"></script>
		<script defer src="/js/libs/angular-cookies.min.js"></script>
	    <script defer src="/js/libs/angular-route.min.js"></script>
	    <script defer src="/js/libs/angular-resource.min.js"></script>
	    <script defer src="/js/libs/ngMask.min.js"></script>
	    <script defer src="/js/libs/ui-masks.js"></script>
	    <script defer src="/js/libs/angular-timer.min.js"></script>
    	<script defer src="/js/libs/ng-infinite-scroll.min.js"></script>	    
	    <script defer src="/js/libs/angulartics.min.js"></script>
    	<script defer src="/js/libs/angulartics-ga.min.js"></script>
    	<script defer src="/js/libs/angular-loading-bar.js"></script>  
	    
		<script defer src="/js/QiSatApp.js"></script>
		<script defer src="/js/config/value.js"></script>
		<script defer src="/js/config/interceptors.js"></script>
		<script defer src="/js/filters/filters.js"></script>
		<script defer src="/js/directive/backImg.js"></script>
		<script defer src="/js/directive/owlSync.js"></script>
		<script defer src="/js/directive/hrefPortal.js"></script>
		<script defer src="/js/controllers/instructorsIndexController.js"></script>
		<script defer src="/js/controllers/TopCoursesController.js"></script>
		<script defer src="/js/controllers/modalController.js"></script>
		<script defer src="/js/controllers/carrinhoController.js"></script>
		<script defer src="/js/services/QiSatAPI.js"></script>
		<script defer src="/js/services/authService.js"></script>
		<script defer src="/js/services/carrinho.js"></script>
		<script defer src="/js/run/foundation.js"></script>
		<script defer src="/js/app.js"></script>

	    <script defer src="/js/app.js"></script>

		<script > 
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','/js/libs/analytics.js','ga');
			  ga('create', 'UA-98371985-1', 'none'); 
		</script>   

</body>
</html>
<link rel="stylesheet" href="/stylesheets/app.css" >