<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="block hotlinks files" stopProcessing="true">
                    <match url="\.(jpg|jpeg|png|gif)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_REFERER}" pattern="^$" ignoreCase="false" negate="true" />
                        <add input="{HTTP_REFERER}" pattern="^http(s)?://newsite.qisat.com" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Redirect assets" stopProcessing="true">
                    <match url="^(css|images|js|stylesheets)/(.*)$" />
                    <action type="Rewrite" url="/assets/{R:1}/{R:2}" />
                </rule>
                <rule name="Page Courses">
                    <match url="^cursos/?$" />
                    <action type="Rewrite" url="pages/courses.html" />
                </rule>
                <rule name="Page Courses - Filter 1">
                    <match url="^cursos/(lancamentos|gratuitos|destaques)?/?$" />
                    <action type="Rewrite" url="pages/courses.html?filter1={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Page Courses - Filter Modality">
                    <match url="^cursos/(online|presenciais)/?$" />
                    <action type="Rewrite" url="pages/courses.html?mod={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Page Courses - Filter Modality + Filter 1">
                    <match url="^cursos/(online|presenciais)/(lancamentos|gratuitos|destaques)/?$" />
                    <action type="Rewrite" url="pages/courses.html?mod={R:1}&amp;filter1={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Page Courses - Online + Filter Area">
                    <match url="^cursos/(online)/(estrutural|eletrica|hidraulica|arquitetonica|agronomica|cad)/?$" />
                    <action type="Rewrite" url="pages/courses.html?mod={R:1}&amp;filter2={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Page Courses - Online + Filter Tipo">
                    <match url="^cursos/(online)/(teorico|software)/?$" />
                    <action type="Rewrite" url="pages/courses.html?mod={R:1}&amp;filter3={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Page Courses - Online + Filter Produto">
                    <match url="^cursos/(online)/(pacotes|series)/?$" />
                    <action type="Rewrite" url="pages/courses.html?mod={R:1}&amp;filter4={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Page Courses - Presenciais + Filter Area">
                    <match url="^cursos/(presenciais)/(estrutural|eletrica|hidraulica|cad)/?$" />
                    <action type="Rewrite" url="pages/courses.html?mod={R:1}&amp;filter2={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Page Courses - Presenciais + Filter tipo">
                    <match url="^cursos/(presenciais)/(teorico|software)/?$" />
                    <action type="Rewrite" url="pages/courses.html?mod={R:1}&amp;filter3={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^cursos/(online|presenciais)/([^/]+)/?$" />
                    <action type="Rewrite" url="pages/courses.html?mod={R:1}&amp;curso={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^curso/([^/]+)?/?$" />
                    <action type="Rewrite" url="pages/info.htmlhtml" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^curso/(online|presencial)/([^/]+)/?$" />
                    <action type="Rewrite" url="pages/info.html?mod={R:1}&amp;curso={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Page Institucional">
                    <match url="^institucional/?$" />
                    <action type="Rewrite" url="pages/institucional-sobre-a-empresa.html" />
                </rule>
                <rule name="Page Institucional + SubPage">
                    <match url="^institucional/([^/]+)/?$" />
                    <action type="Rewrite" url="pages/institucional-{R:1}.html" />
                </rule>
                <rule name="Page Aluno">
                    <match url="^aluno/?$" />
                    <action type="Rewrite" url="pages/area-do-aluno.html" />
                </rule>
                <rule name="Page Aluno + Perfil">
                    <match url="^aluno/perfil/?$" />
                    <action type="Rewrite" url="pages/aluno-perfil.html" appendQueryString="false" />
                </rule>
                <rule name="Page Aluno + Cursos">
                    <match url="^aluno/cursos/?$" />
                    <action type="Rewrite" url="pages/aluno-cursos.html" appendQueryString="false" />
                </rule>
                <rule name="Page Aluno + Certificado">
                    <match url="^aluno/certificados/?$" />
                    <action type="Rewrite" url="pages/aluno-certificados.html" appendQueryString="false" />
                </rule>
                <rule name="Page Aluno + Financeiro">
                    <match url="^aluno/financeiro/?$" />
                    <action type="Rewrite" url="pages/aluno-financeiro.html" appendQueryString="false" />
                </rule>
                <rule name="Page Aluno + Desempenho">
                    <match url="^aluno/desempenho/?$" />
                    <action type="Rewrite" url="pages/aluno-desempenho.html" appendQueryString="false" />
                </rule>
                <rule name="Page Aluno + Subpath">
                    <match url="^aluno/([^/]+)?/?$" />
                    <action type="Rewrite" url="pages/area-do-aluno.html" appendQueryString="false" />
                </rule>
                <rule name="Page Login">
                    <match url="^login/?$" />
                    <action type="Rewrite" url="pages/login.html" />
                </rule>
                <rule name="Page Cadastro">
                    <match url="^cadastro/?$" />
                    <action type="Rewrite" url="pages/cadastro.html" />
                </rule>
                <rule name="Page Senha">
                    <match url="^lembrete-de-senha/?$" />
                    <action type="Rewrite" url="pages/lembrete-de-senha.html" />
                </rule>
                <rule name="Page Sugira + subpath">
                    <match url="^sugira/([^/]+)?/?$" />
                    <action type="Rewrite" url="pages/sugira.html?filter={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Page Sugira">
                    <match url="^sugira/?$" />
                    <action type="Rewrite" url="pages/sugira.html" />
                </rule>
                <rule name="Page Duvidas">
                    <match url="^(duvida|duvidas)/?$" />
                    <action type="Rewrite" url="pages/duvidas.html" />
                </rule>
                <rule name="Page Carrinho">
                    <match url="^(carrinho)/?$" />
                    <action type="Rewrite" url="pages/carrinho.html" />
                </rule>
                <rule name="Page Proficiencia">
                    <match url="^(certificacao-proficiencia)/?$" />
                    <action type="Rewrite" url="pages/certificacao-proficiencia.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
