<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^(cursos|curso)/?$" />
                    <action type="Rewrite" url="courses.html" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^cursos/(lancamentos|gratuitos|destaques)?/?$" />
                    <action type="Rewrite" url="courses.html?filter1={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^cursos/(online|presencial)/?$" />
                    <action type="Rewrite" url="courses.html?mod={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^cursos/(online|presencial)/(lancamentos|gratuitos|destaques)/?$" />
                    <action type="Rewrite" url="courses.html?mod={R:1}&amp;filter1={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^cursos/(online)/(estrutural|eletrica|hidraulica|arquitetonica|agronomica|cad)/?$" />
                    <action type="Rewrite" url="courses.html?mod={R:1}&amp;filter2={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^cursos/(online)/(teorico|software)/?$" />
                    <action type="Rewrite" url="courses.html?mod={R:1}&amp;filter3={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^cursos/(online)/(pacotes|series)/?$" />
                    <action type="Rewrite" url="courses.html?mod={R:1}&amp;filter4={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^cursos/(presencial)/(estrutural|eletrica|hidraulica|cad)/?$" />
                    <action type="Rewrite" url="courses.html?mod={R:1}&amp;filter2={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^cursos/(presencial)/(teorico|software)/?$" />
                    <action type="Rewrite" url="courses.html?mod={R:1}&amp;filter3={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^cursos/(online|presencial)/([^/]+)/?$" />
                    <action type="Rewrite" url="info.html?mod={R:1}&amp;curso={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^(cursos|curso)/([^/]+)?/?$" />
                    <action type="Rewrite" url="courses.html" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^institucional/?$" />
                    <action type="Rewrite" url="institucional.html" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^institucional/([^/]+)?/?$" />
                    <action type="Rewrite" url="institucional.html?filter={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^aluno/?$" />
                    <action type="Rewrite" url="aluno.html" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^aluno/([^/]+)?/?$" />
                    <action type="Rewrite" url="aluno.html?filter={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^(contato|contatos)/?$" />
                    <action type="Rewrite" url="contato.html" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^contatos/([^/]+)?/?$" />
                    <action type="Rewrite" url="contato.html?filter={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^sugira/?$" />
                    <action type="Rewrite" url="sugira.html" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^sugira/([^/]+)?/?$" />
                    <action type="Rewrite" url="sugira.html?filter={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^(duvida|duvidas)/?$" />
                    <action type="Rewrite" url="duvidas.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
