// .admin_main{
//     background-color: #494949;
//     display: inline-block;
//     width: 100%;
//     float: left;
//     }



// .admin_sidebar{    display: inline-block;}
// .admin_content{    display: inline-block;
// 	background-color: #dfdfdf;
// 	h1{}
// 	h2{}
// }




/* grid ---------------------------------------- */

 .admin_main__container {  max-width: 100%;}

.admin_sidebar {
z-index: 1;
position: absolute;
width: 250px;
margin-top: 10px;




}

.admin_content {
	position: inherit;
	margin: 0 0 0 250px;
	padding: 20px 30px;
	border-left: 1px solid #e7e7e7;
	min-height:  calc(100vh - 100px);
	background-color: #dfdfdf;
	box-shadow: -4px 0px 6px 0 rgba(0, 0, 0, 0.2) !important;
	z-index: 1;
  transition: all 0.5s;

  @media only screen and (max-width: 40em) {
    margin: 0 0 0 45px;
    padding: 20px;
    // &:hover{margin: 0 0 0 190px;}
   } /* max-width 640px, mobile-only styles, use when QAing mobile issues */


}

/* grid ---------------------------------------- */



.admin_main { 
    position: relative;
    // display: inline-block;
    background-color: #494949;
    margin-top: 60px;
  }

 

.admin__menu{
	list-style: none;  margin: 0;
	.item{
 		&.active{background: rgba(0, 0, 0, 0.3);  color: rgba(255, 255, 255, 1);}
	}

	.link{
		padding: 20px 10px; transition: all 0.5s;  vertical-align: middle;  display: inline-block;    width: 100%;     color: rgba(255, 255, 255, 0.6);
		&:hover{ background: rgba(0, 0, 0, 0.16);  color: rgba(255, 255, 255, 1);}
		i{ margin-right: 10px;  vertical-align: bottom;}



	}
}

.admin__heading{
  margin-bottom: 10px;
  padding: 15px 0;

	.title{
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    color: #494949;
  }

	.subtitle{
	    font-size: 18px;
	    color: rgba(0, 0, 0, 0.47);
	    margin: 0 0 -7px 0;
	}
}

.signup {
  // margin-top: 50px;

  .thumb {
    margin-right: 20px;
  }

  .signup__content {
    margin: 50px auto 40px auto;

    @media only screen and (min-width: 40em) {
      max-width: 80%;

      &.login {
        max-width: 370px;
        margin-top: 100px;
      }

      &.financeiro {
        max-width: 100%;
        margin-top: 0;
      }

      &.cadastro {
        max-width: 750px;
        margin-top: 100px;
      }

      &.edit {
        margin-top: 0;
      }
    }

  }

  input[type='checkbox'] {
    margin: 0;
  }

  .privacy label {
    display: block;
    margin-bottom: 15px;
  }

  .admin__heading {
    margin: 0 auto;
    // @media only screen and (min-width: 40em) {
      // max-width: 50%;
    // }

    h1 {
      font-size: 36px;
      font-weight: 900;
      color: #494949;
    }
  }

  #dashboard {
    background-color: #FFF;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 15px;

    @media only screen and (min-width: 40em) {
      padding: 30px;
    }

    p.title {
      font-size: 25px;
    }

    label {
        padding-bottom: 5px;

        strong {
          color: #c00;
        }
      }

    .form-group {
      margin: 15px 0;

      input {
        margin-bottom: 5px;
      }

      label {
        padding-bottom: 5px;

        strong {
          color: #c00;
        }
      }

      .has-tip {
        font-weight: normal;
      }

    }
  }
}


.btn-password {
  margin-bottom: 20px;
  
  @media only screen and (max-width: 40em) {
    display: block !important;
    width: 100%;
  }
}

.etapas{
  padding: 20px 0px 40px 0px;
  border-bottom: 1px solid #e6e6e6; 
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 12px;

  .etapa{
    width: 33.33%;
    float: left;

    i{
      cursor: default;
      font-size: 16px;
      padding: 3px;
    }
  }

}
