body.cart-page {
  background-color: #fff;
}

#cd-cart {

	   box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.37) !important;

	position: fixed;
	top: 0;
 right: -320px;
  background: #FFF;
	height: 100%;
	width: 320px;
 
     z-index: 2;

	/* header height */
	padding-top: 63px;
 
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
 
	transition: right 0.3s;
 
	&.actived {
		right: 0;
	}

	> * {
	  padding: 0 1em;
	}

	// h2 {
	//   font-size: 14px;
	//   font-size: 0.875rem;
	//   font-weight: bold;
	//   text-transform: uppercase;
	//   margin: 1em 0;
	// }

	h2{
	font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #005285;
    margin: 0;
    color: #fff;
	}

	.cd-cart-items { padding: 0; margin: 0; list-style: none;

		  li {
		  position: relative;
		  padding: 1em;
		  border-top: 1px solid #e0e6ef;
		  transition: all 0.5s;

		  &.remove {
			    opacity: 0;
			    padding: 0;
			    overflow: hidden;
			    height: 0;
			}

		  &:last-child {border-bottom: 1px solid #e0e6ef;}
		}
	}

	.cd-qty, 
    .cd-price { color: #a5aebc; }
    .cd-price { }
    .cd-text  { font-size: 13px; width: 100%; display: inline-block;}
}


   #cd-shadow-layer{
   	position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 2;
    display: none;

   		&.actived{     display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;  }
   }
 
 
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
 }
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  #cd-cart > * {
    padding: 0 2em;
  }
  #cd-cart .cd-cart-items li {
    padding: 1em 2em;
  }
  #cd-cart .cd-item-remove {
    right: 2em;
  }
}


.cart-page {
  .wizard {
    margin-left: 30px;
    position: relative;
    
    .v-line {
      width: 2px;
      background-color: #003350;
      position: absolute;
      margin-left: -22px;
      margin-top: 20px;
      height: 130px;
    }
    .step {
      padding: 10px 0;
      position: relative;
      color: #777;

      &:before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 20px;
        background-color: #003350;
        position: absolute;
        margin-left: -30px;
        top: 14px;
      }

      &.active {
        font-weight: bold;
        color: #003350;

        &:before {
          background-color: #ff696e;
        }
      }
    }
  }

  #loginModal {
    h2 {
      margin-top: 30px;
      color: #494949;
      font-size: 20pt;
      text-align: center;
    }

    button[type='submit'] {
      width: 100%;
    }

    form {
      input {
        text-align: center;
      }
      margin: 30px 0 20px 0;
    }

    .not-member {
      margin-top: 30px;

      p {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
      }

      .button {
        margin-bottom: 0;
      }

      padding: 15px;
      border-radius: 5px;
      background-color: #eee;
    }
  }
}

.table-cart {
  border: 0;
  color: #666;

  .total {
    text-transform: uppercase;
  }

  .quantity {
    max-width: 60px;
    float: left;
    display: inline;
    width: auto;
    margin: 0 4px;
  }

  .material-icons {
    margin-top: 5px;
  }

  .oldPrice {
    text-decoration: line-through;
    text-align: center;
    display: block;
  }
  .newPrice {
    font-size: 16px;
    color: #666;
    text-align: center;
    display: block;
  }
  .discount {
    display: block;
    padding: 5px 0;
    opacity: 0.5;
    color: #f00;
    font-size: 11px;
    text-align: center;
  }

  img {
    margin-right: 10px;
  }

  .inline-list>li {
    float: none;

    @media only screen and (min-width: 40em) {
      float: left;
    }
  }

  .muted {
    color: #999;
  }

  thead th {
    padding: 15px;
    padding-top: 20px;
    color: #b0c2c8;
    background-color: #003350;
    text-transform: uppercase;
  }
  td, td {
    padding: 1rem;
  }
}