.grid-sidebar-left{
  @media only screen and (min-width: 64.063em) {padding-right: 0; } /* min-width 1025px, large screens */
}
.grid-sidebar-right{
  @media only screen and (min-width: 64.063em) {padding-left: 0; } /* min-width 1025px, large screens */
}



.page_content, .widget_content{   @extend .z-1; width: 100%; display: inline-block; background-color: #fff; padding: 20px;   border-radius:	$global-radius; }

.page_content{ margin-bottom:40px;}
.widget_content{
  margin-bottom:10px;
  p{    font-size: 0.9em; margin-bottom: 9px;}
  &--slim{ padding:0}

  &__title{ margin-bottom: 20px; text-transform: uppercase; font-size: 15px; font-weight: 600; color: #979797; letter-spacing: 1px;}
        &__list{
          list-style: none; margin: 0;
          &__item{  margin-bottom: 10px;
                a{}
                strong{
                  font-size: 11px;
                  font-weight: 600;
                  color: #979797;
                  text-transform: uppercase;
                  display: block;
                  line-height: 1;
                  }
              }
        }


       .accordion .accordion-navigation>a, .accordion dd>a {
          background: #fff;
          display: block;
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600;
          color: #979797 !important;
      }
      .accordion .accordion-navigation>.content, .accordion dd>.content { padding: .9375rem 20px;}
      .accordion .accordion-navigation>.content.active, .accordion dd>.content.active { background: #444; color: rgba(255, 255, 255, 0.61); }
      .accordion .accordion-navigation, .accordion dd { border-bottom: 1px solid #eee;}

}







/* 'gallery-sync
========================================= */

.gallery-sync{ }
.gallery-sync_caption{
  background: rgba(0, 91, 148, 0.56);
      margin: 0;
      font-size: 14px;
      letter-spacing: 0.5px;
      font-weight: 300;
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
}

#gallery-sync_bigger {
  @extend .z-1; background-color: $primary-color-dark;
  .item {
    padding: 0;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    img{   border-radius: $global-radius $global-radius 0 0;}
  }
}

#gallery-sync_thumb {
  background-color: $primary-color-dark;

  .item {
    background-color: $primary-color-dark;
    padding: 0px;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    h1 {   font-size: 18px;   }
    img{  background-blend-mode: multiply;}
  }
  .current .item{
    background-color: #0c83e7;
    opacity: 1;
  }
}



.owl-theme {
  .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
    margin: 0 !important;
    [class*='owl-'] {
      transition: all .3s ease;
      &.disabled:hover {
       background-color: #D6D6D6;
      }
    }

  }
}

//arrows on first carousel
#gallery-sync_bigger.owl-theme {
  position: relative;
  .owl-next, .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
  }
  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: 10px;
  }
  //.owl-prev.disabled{display: none}
}


/* 'end gallery-sync
========================================= */







.container-timeline{ padding: 0 20px; background-color: #fff;     @extend .z-1;}







.timeline__list-group{
  list-style: none;
    margin: 0;
    padding: 20px;
    background-color: #EFEFEF;
    display: inline-block;

  .list-group-item{
    @extend .z-1;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    float: left;
    transition: all 0.5s;
    cursor: pointer;
    &:hover { background-color: #eee;}
    &.active{
      background-color: #25373A;
      .list-group-item-date{   background: #fff; color: #25373A; }
      .title{color:#fff}
      .subtitle{color:#fff}
    }
    .title{    display: block; }
    .subtitle { opacity: 0.5; font-weight: 300;}
    .list-group-item-date{
      background: #25373A;
      width: 50px;
      float: left;
      height: 50px;
      border-radius: 50%;
      display: inline-block;
      font-size: 12px;
      line-height: 4;
      text-align: center;
      color: #fff;
      font-weight: 800;
      margin-right: 20px;
    }

    &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

  }
}



.timeline__post{ padding: 0 20px; background-color: #25373A; }
