.menu-horizontal{
    &__list{ list-style: none; margin: 0; background-color: #fff; border-radius:	$global-radius; list-style: none;   margin-bottom: 5px; margin-top: 10px; display: inline-block; width: 100%; @extend .z-1;}
    &__item{  display: inline-block; float: left; text-align: center;
    .menu-horizontal__item--current{ }

          // Small screens
          @media only screen {
            &--4, &--3, &--2,&--1{ width: 100%; padding-left: 10px; text-align: left;}
            &__link { padding: 10px 15px; width: 100%; float: left; }
          } /* Define mobile styles */

          // Medium screens
          @media only screen and (min-width: 40.063em) {
            &--4, &--3, &--2,&--1{ text-align: center;}
            &--4{ width: 25%;}
            &--3{ width: 33.3%;}
            &--2{ width: 50%;}
            &--1{ width: 100%;}
          } /* min-width 641px, medium screens */

    }
}




.grid-sidebar{
   @media only screen and (min-width: 64.063em) {padding-left: 0; } /* min-width 1025px, large screens */
}

.page_content, .widget_content{   @extend .z-1; width: 100%; display: inline-block; background-color: #fff; padding: 20px;   border-radius:	$global-radius; }

.page_content{ margin-bottom:40px;}
.widget_content{  margin-bottom:10px;}
