.shortcut-courses{background-color: #062235; display: inline-block; width: 100%; padding: 70px 0;}

.shortcut-courses__title{
  @extend .section__title;
  text-align: center;
  color: #fff;
}

.shortcut-courses__subtitle{  @extend .section__subtitle;  color: #aaa;  text-align: center; }
 

.shortcut-courses__cards{  @extend .z-1; position: relative; transition: all 0.5s}
.shortcut-courses__cards--item{   border: 2px solid rgba(0, 0, 0, 0);    position: relative; }
.shortcut-courses__cards--item-title{    position: absolute; right: 10px; bottom: 10px; text-align: right;     line-height: 1;}
.shortcut-courses__cards--item-title-link{ opacity: 0.9; color: #fff}
.shortcut-courses__cards--item-title-link:hover{  opacity: 1; color: #fff}
.shortcut-courses__cards--item-image{}
