
/* 'BRAND
========================================= */
 .brand-qisat-small{
          background-repeat: no-repeat;
          background-position: center center;
          width: 188px;
          height: 54px;
          display: inline-block;
          background-size: cover;
     &.brand-qisat-small-light{ 
        background-image: url("../images/brand/brand_small-light.svg");

      }
     &.brand-qisat-small-dark{ background-image:url("../images/brand/brand_small.svg") }
}


