 
.button{
 	background-color:$primary-color;
	&:hover{background-color:$primary-color-hover;}

	.secondary{background-color:$secondary-color-hover;}
	.success{background-color:$secondary-color;}
	.alert{}
	.info{}
}
 

