.home__section-testimonials{ padding: 70px 0;}
.home__section-testimonials__title{
  font-size: 22px;
   color: #fff;
}

.home__section-testimonials__subtitle{  
  font-size: 22px; color: #aaa;    }
.home__section-testimonials__buttom{ }



.home__section-testimonials-info{

       // Medium screens
        @media only screen and (min-width: 40.063em) {
           margin-top: 60px;
        } /* min-width 641px, medium screens */


        // Large screens
        @media only screen and (min-width: 64.063em) {
           margin-top: 110px;
         } /* min-width 1025px, large screens */


}

.home__section-testimonials--grid-item{
     // Medium screens
      @media only screen and (min-width: 40.063em) {
          float: right;
       } /* min-width 641px, medium screens */
}

.home__section-testimonials--grid-info{}
