// .admin_main{
//     background-color: #494949;
//     display: inline-block;
//     width: 100%;
//     float: left;
//     }



// .admin_sidebar{    display: inline-block;}
// .admin_content{    display: inline-block;
// 	background-color: #dfdfdf;
// 	h1{}
// 	h2{}
// }

.scholl {
    color: $primary-color;
    margin: 4px 0 3px 25px;
    font-size: 6.5rem !important;
}

.scholl-big {
    color: #777 !important;
    text-align: center;
    width: 94%;
    margin-top: 49px;
    font-size: 7.2rem !important;
}

/* grid ---------------------------------------- */

 .admin_main__container {  max-width: 100%;}

.admin_sidebar {
z-index: 1;
position: absolute;
width: 250px;
margin-top: 10px;

}

.admin_content {
	position: inherit;
	margin: 0 0 0 250px;
	padding: 20px 30px;
	border-left: 1px solid #e7e7e7;
	min-height:  calc(100vh - 100px);
	background-color: $body-bg;
	box-shadow: -4px 0px 6px 0 rgba(0, 0, 0, 0.2) !important;
	z-index: 1;
  transition: all 0.5s;
  overflow: auto;

  @media only screen and (max-width: 40em) {
    margin: 0 0 0 45px;
    padding: 10px 10px 120px 10px;
    // &:hover{margin: 0 0 0 190px;}
   } /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  
}

/* grid ---------------------------------------- */



.admin_main { 
    position: relative;
    // display: inline-block;
    background-color: #494949;
    margin-top: 60px;
  }

 

.admin__menu{
	list-style: none;  margin: 0;
	.item{
 		&.active{background: rgba(0, 0, 0, 0.3);  color: rgba(255, 255, 255, 1);}
	}

	.link{
		padding: 20px 10px; transition: all 0.5s;  vertical-align: middle;  display: inline-block;    width: 100%;     color: rgba(255, 255, 255, 0.6);
		&:hover{ background: rgba(0, 0, 0, 0.16);  color: rgba(255, 255, 255, 1);}
		i{ margin-right: 10px;  vertical-align: bottom;}

	}
}

.admin__heading{
  margin-bottom: 10px;
  padding: 15px 0;
  
	.title{
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    color: #494949;
   }

  .title_cursos{
    font-family:  'Titillium Web', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 5px;
    padding:  0 2rem;
    color: #1E7AC9;
    text-transform: uppercase;
  }

	.subtitle{
	    font-size: 18px;
	    color: rgba(0, 0, 0, 0.47);
	    margin: 0 0 -7px 0;
	}
}

.signup {
  // margin-top: 50px;

  .thumb {
    margin-right: 20px;
  }

  .signup__content {
    margin: 50px auto 40px auto;

    @media only screen and (min-width: 40em) {
      max-width: 80%;

      &.login {
        max-width: 370px;
        margin-top: 100px;
      }

      &.financeiro {
        max-width: 100%;
        margin-top: 0;
      }

      &.cadastro {
        max-width: 750px;
        margin-top: 100px;
      }

      &.edit {
        margin-top: 0;
      }
    }

  }

  input[type='checkbox'] {
    margin: 0;
  }

  .privacy label {
    display: block;
    margin-bottom: 15px;
  }

  .admin__heading {
    margin: 0 auto;
    // @media only screen and (min-width: 40em) {
      // max-width: 50%;
    // }

    h1 {
      font-size: 36px;
      font-weight: 900;
      color: #494949;
    }
  }

  #dashboard {
    background-color: #FFF;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 15px;

    @media only screen and (min-width: 40em) {
      padding: 30px;
    }

    p.title {
      font-size: 25px;
    }

    label {
        padding-bottom: 5px;

        strong {
          color: #c00;
        }
      }

    .form-group {
      margin: 15px 0;

      input {
        margin-bottom: 5px;
      }

      label {
        padding-bottom: 5px;

        strong {
          color: #c00;
        }
      }

      .has-tip {
        font-weight: normal;
      }

    }
  }
}


.btn-password {
  margin-bottom: 20px;
  
  @media only screen and (max-width: 40em) {
    display: block !important;
    width: 100%;
  }
}

.etapas{
  padding: 20px 0px 40px 0px;
  border-bottom: 1px solid #e6e6e6; 
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 12px;

  .etapa{
    width: 50%;
    float: left;

    i{
      cursor: default;
      font-size: 16px;
      padding: 3px;
    }
  }

}

.container_card-escolha {
    padding: 3rem;

  .card-escolha {
      width: 100% !important;
      text-align: center;
      margin: 0 auto;
      vertical-align: middle;
      text-align: center;

      svg{
        margin: 0 auto;
        vertical-align: middle;
        text-align: center;
      }

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 2.3rem;
    }
  }

  a {
    color: #494949;

    &:hover{
      color: #494949;
    }
  }
}
@media only screen and (max-width: 890px) {
    .container_card-escolha {
        padding: 1rem;
    }
}


.lab-main-menu_container {

     div.medium-10.columns {
          padding: 0;
      }

    .lab-title {
        text-transform: uppercase;
        font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 2rem;
        margin-top: 5px;
        padding: 0 2rem;
        color: $primary-color-dark;
    }

    .title {
        text-transform: uppercase;
        font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
        font-weight: bold;
        margin-top: 15px;
        padding: 0 1rem;
        margin-left: 1rem;
    }

    .green-bg {
        background: #35AE7B;
    }
    
    .main-menu_lab {
      box-shadow: none;
      display: block;
      border: none;
    }

    .menu-horizontal__item{
      border: none;
      border-left: 1px solid white;
      padding: 0;
      cursor: pointer;
      background: $primary-color;
      font-weight: bold;
      color: $body-bg;
    }

    .menu-horizontal__item--current {
        color: #fff !important;
        background-color: $primary-color-dark;        
    }

    .menu-horizontal__item:hover {
      font-weight: bold;
    }
}

.lab-submenu_container{
    background: transparent;
    padding-bottom: 18px;

    div.medium-12.columns {
        padding: 0;
    }

    .menu-horizontal__list {
        background-color: transparent;
        box-shadow: none !important;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        display: block !important;

        &.main-menu_lab {
            margin-bottom: 0;
        }
    }

    li.menu-horizontal__item {
        border-bottom: 5px solid #fff !important;
        background: #fff;
    }

     li.menu-horizontal__item--current {
        padding-top: 5px;
        border-top: none;
        border-bottom: 5px solid #1E7AC9 !important;
        padding-left: 0 !important;

        @media only screen and (max-width: 40em) {
           background:#f1f1f1;
            }

        a {
          color: $primary-color !important;
          font-weight: bold;
        }
    }

    a.menu-horizontal__link {
        color: #222;
        font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
        font-size: 1rem;
        padding: 20px;
    }

}

.lab-content_container {
    background: #FFF;
    padding: 2rem;
    max-width: 75rem;
    margin: 0 auto;

    h4.title{
      font-size: 20px;
      font-weight: 700;
    }

    @media only screen and (max-width: 480px) {
        padding: 2rem 1rem;
        text-align: center;
    }
}

.lab-etapa {
    background: #FFF !important;
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
    font-size: 1.25rem !important;
    font-weight: bold;
    transition: .3s;
}
.lab-etapa:hover {
    background: rgba(0, 0, 0, 0.05) !important;
}
@media only screen and (max-width: 480px) {
    .accordion-component .accordion-navigation> .content.active,
    .accordion dd>.content.active {
        padding: 0 !important;
    }
}
.lab-curso_lista {
    list-style: none;
}
.lab-curso_item {
    padding: 0.5rem;
    transition: .3s;

    .progress {
      margin-top: .5rem;
      padding: .125rem;
      border: 1px solid #b7b7b7;
      text-align: center;
      vertical-align: middle;
      margin: 0 auto;
      width: 100%;

    }
    .progress .meter {
        background: $primary-color;

    }
}
.lab-curso_item:hover {
    background: rgba(0, 0, 0, 0.05)
}
.lab-curso_lista a {
    color: #222;
}
.lab-curso_icon {
    margin-right: 1rem;
}
.lab-curso_numero {
    font-weight: bold;
}
.lab-etapa span {
    margin-right: 2rem;
}
.container-desempenho {
    background: #FFF;
    padding: 2rem 1rem;
    border: 1px solid #8d8d8d;
    margin: 0 0 1rem 0;
}
.container-desempenho p {
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.7rem;
}
.desempenho_count {
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 1;
    color: $primary-color;
}
.ranking_list {
    list-style: none;
    margin: 0;
    text-align: left;

  .ranking_item {
      display: block;
      margin: 10px 0;

      span#ranking-numero {
          float: right;
          color: $primary-color;
          font-weight: bold;
      }
      span#cursos-conclusao_count {
          color: $primary-color;
      }
  }

  .ranking_item:first-child {
      span#ranking-nome, span#ranking-numero{
        font-weight: bold;
        color: #222;
      }
  }
}
