<div class="admin__heading">
			<h2 class="subtitle"> CArrinho </h2>
			<h1 class="title"> Portal do Aluno  </h1>
		</div>


		<section id="dashboard">
			<div class="row">

				<div class="small-12 columns">

					<h2 class="subtitle"> Detalhes </h2>
					<table>
					  <thead>
					    <tr>
					      <th width="100">Número do Pedido</th>
					      <th width="175">Data de criação do Carrinho</th>
					      <th width="100">Status do Carrinho</th>
					      <th width="100">Total</th>
					      <th width="350">Forma Pagamento</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>{{::dadosCarrinho.pedido}}</td>
					      <td>{{::dadosCarrinho.dataFormat}}</td>
					      <td>{{::dadosCarrinho.status_carrinho}}</td>
					      <td>{{::dadosCarrinho.total}}</td>
					      <td>{{::dadosCarrinho.dadosPagamento}}</td>
					    </tr>
					  </tbody>
					</table>

					<div ng-if="::dadosCarrinho.products.length">
						<h2 class="subtitle"> Produtos </h2>
						<table>
						  <thead>
						    <tr>
						      <th width="150">Imagem</th>
						      <th width="300">Produto</th>
						      <th width="50">Quantidade</th>
						      <th width="50">Status</th>
						      <th width="150">Valor Unitário</th>
						      <th width="100">Valor</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr ng-repeat="products in dadosCarrinho.products track by products.id">
						      <td></td>
						      <td>{{::products.nome}}</td>
						      <td>{{::products.quantidade}}</td>
						      <td>{{::products.status}}</td>
						      <td>{{::products.preco}}</td>
						      <td>{{::products.total}}</td>
						    </tr>
						  </tbody>
						</table>
					</div>

					<div ng-if="::dadosCarrinho.promotions.length">		
						<h2 class="subtitle"> Promoção </h2>
						<table>
						  <thead>
						    <tr>
						      <th width="300">Promoção</th>
						      <th width="100">Início</th>
						      <th width="100">Fim</th>
						      <th width="100">Desconto</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr ng-repeat="promotions in dadosCarrinho.promotions track by promotions.id">
						      <td>{{::promotions.descricao}}</td>
						      <td>{{::promotions.datainicioFormat}}</td>
						      <td>{{::promotions.datafimFormat}}</td>
						       <td>{{::promotions.desconto}}</td>
						    </tr>
						  </tbody>
						</table>
					</div>
		 		</div>
			</div> <!-- //row -->
		</section>

