		<div class="admin__heading">
			<h2 class="subtitle"> Editar Perfil </h2>
			<p> Bem vindo, <b>{{user.firstname}}</b></p>
		</div>

		<section id="dashboard">

			<div class="row">
		 		<div class="large-12 columns">
			      	<div ui-alert type="{{typeMsgEdit}}" close="true" >
			      		{{msgEdit}}
			    	</div>
				 </div>
			</div>

			<div class="row">
				<div class="large-6 columns">
				  <fieldset>
				    <legend> Alterar Imagem </legend>
						<div class="row">
					 		<div class="large-6 columns">

						   	<img src="images/aluno/home-user-icon.png" alt="user">

						</div>

						<div class="large-6 columns">
							<button type="button" id="fileUpdate" ng-click="fileUpdate()" > Alterar Imagem »</button>
						</div>
						
					</div>
				</fieldset>
				</div>
				 <div class="large-6 columns">
					<form name="passwordForm" id="passwordForm" autocomplete="off" novalidate>
					  <fieldset>
					    <legend> Alterar Senha </legend>

					    	
					    <div class="row">
					 		<div class="large-12 columns">
						      	<div ui-alert type="{{typeMsgEditPass}}">
						      		{{msgEditPass}}
						    	</div>
							 </div>
						</div>

		  				<div class="row">
						 		<div class="large-6 columns">

							    <label for="currentPassword"> Senha Atual </label>
							    <input type="password" name="currentPassword" id="currentPassword" placeholder="Digite a sua senha Atual" ng-model="currentPassword" ng-required="true" autocomplete="off" >

							    <div ng-show="passwordForm.currentPassword.$dirty && passwordForm.currentPassword.$invalid">
							      <span class="error" ng-show="passwordForm.currentPassword.$error.required">Informe sua Atual Senha!</span>
							    </div>
							</div>

							<div class="large-6 columns">
								<br><a href="/lembrete-de-senha"> Esqueci a minha senha! </a>
				    		</div>
							
						</div>

		  				<div class="row">
		  					<br>
					 		<div class="large-6 columns">
					 			<label for="newpassword"> Nova Senha </label>
							    <input type="password" name="newpassword" id="newpassword" placeholder=" Digite a nova senha" ng-model="newpassword" ng-required="true" autocomplete="off" >

						   		 <div ng-show="passwordForm.newpassword.$dirty && passwordForm.newpassword.$invalid">
							      <span class="error" ng-show="passwordForm.newpassword.$error.required">Informe a nova Senha!</span>
							    </div>
							</div>

							<div class="large-6 columns">
								<label for="repassword"> Confirme a Senha </label>
							    <input type="password" name="repassword" id="repassword" placeholder="Confirme a senha nova" ng-model="repassword" ng-required="true" pw-check="newpassword" autocomplete="off" >

							     <div ng-show="passwordForm.repassword.$dirty && passwordForm.repassword.$invalid">
							      <span class="error" ng-show="passwordForm.repassword.$error.required">Confirme a nova Senha!</span>


							      <span class='error' ng-show='passwordForm.repassword.$error.pwmatch'>
								    Senhas não correspondem.
								  </span>
							    </div>

				    		</div>
						</div>

						<div class="row">
							<div class="large-6 large-centered columns">
		  						<button type="button" id="editPassword" ng-click="editPassword()" > Alterar Senha »</button>
		  					</div>
						</div>

						</fieldset>
				 	</form>
		  	  </div>
			</div>
			<div class="row">
				<form name="editForm" id="editForm" novalidate>
					<div class="large-6 small-12 columns">
						<div class="row">
   						 <div class="large-12 columns">
						  <fieldset>
						    <legend>Dados Pessoais </legend>
			  				<div class="row">
   						 		<div class="large-6 columns">

								    <input type="text" name="name" id="name" placeholder="Seu Nome" ng-model="user.firstname" ng-required="true" ng-disabled="!confirm" >

								    <div ng-show="editForm.name.$dirty && editForm.name.$invalid">
								      <span class="error" ng-show="editForm.name.$error.required">Nome é Obrigatório!</span>
								    </div>

								</div>
								<div class="large-6 columns">
								   
								    <input type="text" name="lastname" id="lastname" placeholder="Seu Sobrenome" ng-model="user.lastname" ng-required="true" ng-disabled="!confirm" >

								    <div ng-show="editForm.lastname.$dirty && editForm.lastname.$invalid">
								      <span class="error" ng-show="editForm.lastname.$error.required">Sobrenome é Obrigatório!</span>
								    </div>
								 
					    		</div>
							</div>
	
			  				<div class="row">
			  					<br> 
						 		<div class="large-6 columns">
								    <input type="text" name="email" id="email" placeholder="Digite Email válido" ng-model="user.email" ng-required="true" ng-disabled="(!confirm) || (confirm && notEmail )" ng-pattern="emailFormat" >

								    <div ng-show="editForm.email.$dirty && editForm.email.$invalid">
								      <span class="error" ng-show="editForm.email.$error.required">Email é Obrigatório!</span>
								    </div>

								    <div ng-show="editForm.email.$dirty && editForm.email.$error.pattern">
								      <span class="error" >Formato de Email incorreto!<!</span>
								    </div>
								</div>
								<div class="large-6 columns">
								    <input type="text" name="phone" id="phone" placeholder="Digite Telefone" ng-model="user.phone1" ng-required="true" ng-disabled="!confirm" ui-br-phone-number >

								    <div ng-show="editForm.phone.$dirty && editForm.phone.$invalid">
								      <span class="error" ng-show="editForm.phone.$error.required">Telefone é Obrigatório!</span>

								       <div ng-show="editForm.phone.$invalid">
								      		<span class="error" >Formato inválido!<!</span>
								    	</div>

								    </div>
					    		</div>
							</div>

							<div class="row">
						 		<div class="large-6 columns">
								     <input type="text" name="cpfcnpj" id="cpfcnpj" placeholder="Digite CPF ou CNPJ" ng-model="user.cpfcnpj"  ui-br-cpfcnpj-mask ng-required="true"  ng-disabled="(!confirm) || (confirm && notCPF )" model-view-value="true">

								    <div ng-show="editForm.cpfcnpj.$dirty && editForm.cpfcnpj.$invalid">
								      <span class="error" ng-show="editForm.cpfcnpj.$error.required">CPF/CNPJ é Obrigatório!</span>
								    </div>

								    <div ng-show="editForm.cpfcnpj.$dirty && (editForm.cpfcnpj.$error.cpf || editForm.cpfcnpj.$error.cnpj)">
								      <span class="error" >CPF/CNPJ inválido!<!</span>
								    </div>
								</div>
								<div class="large-6 columns">
								     <input type="text" name="crea" id="crea" placeholder="Digite CREA" ng-model="user.numero_crea" ng-disabled="!confirm" >
					    		</div>
							</div>

							</fieldset>
					  	  </div>
					  	</div>

					  	<div class="row">
   						 <div class="large-12 columns">
						  <fieldset>
						    <legend> Privacidade </legend>
			  				<div class="row">
   						 		 <label>Autorizo receber e-mails, quando:</label>
   						 		 	<div class="large-12 columns">

								      <input id="checkbox1" type="checkbox" checked>
								      		<label for="checkbox1">Houver ofertas e lançamentos do QiSat.</label>
							        </div>

									<div class="large-12 columns">

								      <input id="checkbox2" type="checkbox" checked>
								      		<label for="checkbox2">Forem relacionados ao andamento de meus cursos</label>
								     </div>
							      
							      <div class="large-12 columns">
								      <input id="checkbox3" type="checkbox" checked>
								      		<label for="checkbox3">Receber uma mensagem privada em minha conta</label>
								  </div>

								  <div class="large-12 columns">
								   <input id="checkbox4" type="checkbox" checked>
						      			<label for="checkbox4">Eu ficar muito tempo sem acessar meu curso</label>
						      	   </div>

						      	   <div class="large-12 columns">
						      		<input id="checkbox5" type="checkbox" checked>
						      			<label for="checkbox5">Quando o instrutor me responder no suporte</label>
									</div>

							</div>
	
			  				<div class="row">
			  					 <label>Autorizo receber ligações, quando:</label>
   						 		 	<div class="large-12 columns">

								      <input id="checkbox1" type="checkbox" checked>
								      		<label for="checkbox1">Houver lançamentos relacionados a cursos que já fiz</label>
							        </div>

									<div class="large-12 columns">

								      <input id="checkbox2" type="checkbox" checked>
								      		<label for="checkbox2">Tiver algum pagamento em aberto</label>
								     </div>
							      
							</div>

							<div class="row">

								 <label>Autorizo receber SMS, quando:</label>
   						 		 	<div class="large-12 columns">

								      <input id="checkbox1" type="checkbox" checked>
								      		<label for="checkbox1">Houver informações importantes relacionadas ao meu curso</label>
							        </div>

									<div class="large-12 columns">

								      <input id="checkbox2" type="checkbox" checked>
								      		<label for="checkbox2">Houver lançamentos relacionados a cursos que já fiz</label>
								     </div>
						 		
							</div>

							</fieldset>
					  	  </div>
					  	</div>

					  	

		   			</div>

					<div class="large-6 small-12 columns">
						<div class="row">
   						 <div class="large-12 columns">
						  <fieldset>
						    <legend>Endereço</legend>
   						 		<div class="large-12 columns">
								   
								      <input type="text" name="cep" id="cep" placeholder="Digite CEP" ng-model="endereco.cep" ng-required="true" ng-disabled="!confirm" ng-blur="buscaCEP(endereco.cep)"  ui-br-cep-mask >

								    <div ng-show="editForm.cep.$dirty && editForm.cep.$invalid">
								      <span class="error" ng-show="editForm.cep.$error.required">Informe o CEP</span>
								    </div>

								</div>
								<div class="large-12 columns">
								    <label>País
							         <select name="selectCountry" id="selectCountry" class="selectCountry" ng-options="option.pais for option in country track by option.sigla" ng-model="endereco.selectCountry" ng-disabled="!confirm">
	 										<option value=""> Selecione o País </option>
								        </select>

							      </label>
					    		</div>
	
								<div class="large-12 columns">
								    <label>Selecione o Estado 
								        <select name="selectStates" id="selectStates" class="selectStates" ng-options="option.local for option in states track by option.uf" ng-model="endereco.selectStates" ng-disabled="!confirm">
	 										<option value=""> Selecione o Estado </option>
								        </select>
							      </label>
					    		</div>
		
								<div class="large-12 columns">
									<br>
								    <input type="text" name="cidade" id="cidade" placeholder="Digite a Cidade" ng-model="endereco.cidade" ng-required="true" ng-disabled="!confirm" >

								    <div ng-show="editForm.cidade.$dirty && editForm.cidade.$invalid">
								      <span class="error" ng-show="editForm.cidade.$error.required">Informe a Cidade!</span>
								    </div>
								</div>

								<div class="large-12 columns">
								     <input type="text" name="bairro" id="bairro" placeholder="Digite o Bairro" ng-model="endereco.bairro" ng-required="true" ng-disabled="!confirm" >

								    <div ng-show="editForm.bairro.$dirty && editForm.bairro.$invalid">
								      <span class="error" ng-show="editForm.bairro.$error.required">Informe o Bairro!</span>
								    </div>
								</div>

								<div class="large-10 columns">
								    <input type="text" name="logradouro" id="logradouro" placeholder="Digite o Endereço" ng-model="endereco.logradouro" ng-required="true" ng-disabled="!confirm" >

								    <div ng-show="editForm.logradouro.$dirty && editForm.logradouro.$invalid">
								      <span class="error" ng-show="editForm.logradouro.$error.required">Informe o Logradouro!</span>
								    </div>
								</div>
								<div class="large-2 columns">
								      <input type="text" name="numero" id="numero" placeholder="Número" ng-model="endereco.numero" ng-disabled="!confirm" >
								    </label>
					    		</div>

					    		<div class="large-12 columns">
							      	<input type="text" name="complemento" id="complemento" placeholder="Complemento" ng-model="endereco.complemento" ng-disabled="!confirm" >
								</div>

							</fieldset>
					  	  </div>
					  	</div>

					  	<div class="row">
					  		<br>
				 			<div class="large-10 large-centered columns">
					
							<button id="edit" type="button" ng-click="enableInputs()" ng-show="!confirm" > Alterar Dados »</button>
							<button id="salve" type="button" ng-disabled="editForm.$invalid" ng-hide="!confirm" ng-click="update()"> Salvar »</button>
							<button id="cancel" type="button" ng-click="cancel()" ng-hide="!confirm"> Cancelar </button>

							</div>
						</div>
	
	<br>
						<div class="row" ng-show="checkPassword" >
							 <div class="large-12 columns">
							  <fieldset>
							    <legend> Confirmar Senha de Acesso </legend>
				  				<div class="row">
								 		<div class="large-6 columns">

									    <label for="checkPassword"> Informe sua Senha Atual </label>
									    <input type="password" name="checkPassword" id="checkPassword" placeholder="Digite a sua senha Atual" ng-model="checkPassword" ng-required="true" autocomplete="off" >

									    <div ng-show="passwordForm.checkPassword.$dirty && passwordForm.checkPassword.$invalid">
									      <span class="error" ng-show="passwordForm.checkPassword.$error.required">Informe sua Atual Senha!</span>
									    </div>

									     <div ui-alert type="{{typeMsgEditConfirm}}">
								      		{{msgEditConfirm}}
								    	</div>


									</div>

									<div class="large-6 columns">
				  						<button type="button" id="confirmPassword" ng-click="verifyPassword(checkPassword)" > Confirmar Senha »</button>
				  					</div>

				  					
									
								</div>

								</fieldset>
						  	  </div>
					  	</div>

					  	
					</div>
				</form>
			</div> <!-- //row -->

			<div class="row">

		  	</div>

			



		
		</section>
