<main class="admin_main" >   
	<div class="admin_sidebar" ng-controller="alunoController" >

 		<ul class="metismenu admin__menu">

 				 <li class="item"> <a href="/aluno/perfil" class="link" analytics-on > <i class="material-icons">person</i> Perfil </a>  </li>
	            <li class="item"> <a href="/aluno/cursos" class="link" analytics-on > <i class="material-icons">school</i> Meus Cursos  </a>  </li>
	            <li class="item"> <a href="/aluno/certificados" class="link" analytics-on > <i class="material-icons">stars</i> Certificados </a>  </li>
	            <li class="item"> <a href="/aluno/financeiro" class="link" analytics-on > <i class="material-icons">attach_money</i> Financeiro </a>  </li>


				<div ng-if="showliks" >
	 				<li class="item"> <a ng-href="{{showliks.plataforma}}" class="link"> <i class="material-icons">school</i> Plataforma </a>  </li>

	 				<li class="item"> <a ng-href="{{showliks.eCommerce}}"  class="link"> <i class="material-icons">settings</i> E-commerce </a>  </li>

	 				<li class="item"> <a ng-href="{{showliks.intranetQiSat}}" class="link"> <i class="material-icons">home</i> Intranet QiSat</a>  </li>

	 				<li class="item"> <a ng-href="{{showliks.intranetAltoQi}}" class="link"> <div class="icon-AltoQi"></div>Intranet AltoQi </a>  </li>
	 			</div>


	            <li class="item"> <a href="/login" class="link" ng-click="logout()" analytics-on>  <i class="material-icons">remove_circle_outline</i> Sair </a>  
	            </li>
        </ul>

 	</div> 
	 <div class="admin_content ng-cloak">

		<div class="signup">

		    <div class="financeiro">

		    <div class="admin__heading">
		      <h1 class="title" ng-if="compras.length">Minhas Compras</h1>
		      <h1 class="title" ng-if="compras&&!compras.length">Nenhuma venda registrada.</h1>
		    </div>

				<section id="dashboard" ng-if="compras.length">
					<div class="row">
						<div class="small-12 columns">

						<table width="100%" class="responsive" >
						  <thead>
						    <tr>
						      <th width="100">Venda</th>
						      <th width="175">Data</th>
						      <th width="100">Valor</th>
						      <th width="75">Status</th>
						      <th width="150">Forma Pagamento</th>
						      <th width="50">Ação</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr ng-repeat="venda in compras | limitTo:itemsPerPage:startPage track by venda.id " >
						      <td class="text-center"><strong>{{::venda.pedido}}</strong></td>
						      <td>{{::venda.dataFormat}}</td>
						      <td>{{::venda.valor}}</td>
						      <td>{{::venda.status}}</td>
						      <td>{{::venda.forma_pagamento}}</td>
						      <td>
						      		<button type="button" ng-click="viewCarrinho(venda.id)" title="Detalhes da Compra" > 
						      			<i class="material-icons">zoom_in</i>
						      		</button> 
						      		<a class="button" ng-href="{{::venda.boleto}}" target="_blank" ng-if="venda.boleto" title="Visualizar boleto">
						      			<i class="material-icons">print</i>
						      		</a> 

						      </td>
						    </tr>
						  </tbody>
						</table>

						 <pagination boundary-links="true" total-items="totalItems" page="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-click="onSelectPage(currentPage)"></pagination>
								
				 		</div>
					</div> <!-- //row -->
				</section>
		  </div>
		</div>

	    <div class="custom-loading" ng-if="loading">
	      <i class="material-icons">hdr_weak</i>
	      <span class="text" >Carregando informações...</span>
	    </div>

 	</div>
</main>  <!--// main-content -->
