	<div class="admin__heading">
		<h1 class="title" ng-if="certificados.length">Meus certificados</h1>
		<h1 class="title" ng-if="certificados&&!certificados.length">Nenhum curso concluído.</h1>
	</div>

	<section id="dashboard" class="page-certificates">

		<div class="cards">
		    <div ng-repeat="dados in ::certificados" class="card">
         
         	<a ng-href="{{dados.link}}" ng-click="linkCertify(dados.link)" > <img ng-src="{{dados.imagem}}"> </a>

          <div class="content">
	          <a ng-href="{{dados.link}}" ng-click="linkCertify(dados.link)" >
			
	          	  <i class="material-icons left">stars</i>
			      <p>{{::dados.certificate_name}}</p>
			      <span class="details date">Solicitação em {{::dados.datasolicitacaoFormat}}</span>
	          </a>
          </div>

		    </div>
		</div>

    <hr class="clearfix">

	</section>
