	<div class="admin__heading">
		<h1 class="title">Certificados</h1>
		<p> Bem vindo, <b>{{user.firstname}}</b></p>
	</div>

	<section id="dashboard">
		<div class="row">
			<div class="small-12 columns">

				<table>
				  <thead>
				    <tr>
				      <th width="400">Curso</th>
				      <th width="100">Sigla</th>
				      <th width="150">Data Solicitação</th>
				      <th width="50">Link</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="dados in certificados.return track by dados.id" >
				      <td>{{::dados.certificate_name}}</td>
				      <td>{{::dados.shortname}}</td>
				      <td>{{::dados.datasolicitacaoFormat}}</td>
				      <td>
							<form action="{{linkCertify(dados.link)}}" method="POST" target="_blank" >
								<input type="hidden" id="nome_aluno" name="nome_aluno" value="{{::user.nome}}">
								<input type="hidden" id="nome_curso" name="nome_curso" value="{{::dados.certificate_name}}">
								<input type="hidden" id="carga_horaria" name="carga_horaria" value="{{::dados.cargahoraria}}">
								<input type="hidden" id="fundo" name="fundo" value="1">
								<input type="hidden" id="data_inicio" name="data_inicio" value="{{::dados.timestartFormat}}">
								<input type="hidden" id="data_fim" name="data_fim" value="{{::dados.datasolicitacaoFormat}}">
								<input type="hidden" id="token" name="token" value="{{::dados.token}}">
								<input type="hidden" id="nota" name="nota" value="{{::dados.nota}}">
								<button type="submit" >Vizualizar </button></td>
							</form>
				    </tr>
				  </tbody>
				</table>
				
	 		</div>


		</div> <!-- //row -->
	</section>
