 <main class="admin_main" >   
   <div class="admin_sidebar" ng-controller="alunoController" >
    <ul class="metismenu admin__menu">

         <li class="item"> <a href="/aluno/perfil" class="link" analytics-on > <i class="material-icons">person</i> Perfil </a>  </li>


            <li class="item"> 
              <a href="/aluno/altoqi-lab" class="link" analytics-on > <div class="icon-AltoQi-lab"> </div> AltoQi Lab</a> 
            </li>

              <li class="item"> <a href="/aluno/cursos" class="link" analytics-on > <i class="material-icons">school</i> Meus Cursos  </a>  </li>
              <li class="item"> <a href="/aluno/certificados" class="link" analytics-on > <i class="material-icons">stars</i> Certificados </a>  </li>
              <li class="item"> <a href="/aluno/financeiro" class="link" analytics-on > <i class="material-icons">attach_money</i> Financeiro </a>  </li>


        <div ng-if="showliks" >
          <li class="item"> <a ng-href="{{showliks.plataforma}}" class="link"> <i class="material-icons">school</i> Plataforma </a>  </li>

          <li class="item"> <a ng-href="{{showliks.eCommerce}}"  class="link"> <i class="material-icons">settings</i> E-commerce </a>  </li>

          <li class="item"> <a ng-href="{{showliks.intranetQiSat}}" class="link"> <i class="material-icons">home</i> Intranet QiSat</a>  </li>

          <li class="item"> <a ng-href="{{showliks.intranetAltoQi}}" class="link"> <div class="icon-AltoQi"></div>Intranet AltoQi </a>  </li>
        </div>


              <li class="item"> <a href="/login" class="link" ng-click="logout()" analytics-on>  <i class="material-icons">remove_circle_outline</i> Sair </a>  
              </li>
        </ul>
  </div> 
   <div class="admin_content">
     <section class="page-certificates">
       <div class="cards">
         <div class="small-12 medium-6 columns container_card-escolha">
           <a href="/aluno/cursos">
             <div class="card card-escolha" src="">
               <div class="opcao-cursos" > </div>
               <h1 class="aluno-escolha-title">Cursos</h1>
             </div>
           </a>
         </div>
         <div class="small-12 medium-6 columns container_card-escolha">
           <a href="/aluno/altoqi-lab">
             <div class="card card-escolha">
               <div class="opcao-lab"> </div>
               <h1 class="aluno-escolha-title">AltoQi LAB</h1>
             </div>
           </a>
         </div>
       </div>
     </section>
  </div>
</main>  <!--// main-content -->