<main class="content-main">

  <header class="hero-pages hero-pages__cart">
     <div class="row">
         <div class="medium-12 columns">
           <h1 class="hero-pages__title">Checkout</h1>
         </div> <!-- //large-12-->
     </div> <!-- ///row -->
  </header>

  <div class="row">
    <div class="large-3 columns">
      <div class="widget_content" menu-carrinho-active>
        <div class="wizard">
          <div class="v-line"></div>
          <div class="step step1">
            <span>Carrinho</span>
          </div>
          <div class="step step2">
            <span>Pagamento</span>
          </div>
          <div class="step step3">
            <span>Confirmação de compra</span>
          </div>
        </div>
      </div>
    </div>

    <div class="large-9 columns">

      <form name="pagamentoForm" id="pagamentoForm" novalidate>

          <div class="widget_content no-padding carrinho" ng-if="buy.qtdItens||(!buy.hasTrilha&&!buy.qtdItens)">
            <table width="100%" class="table-cart tableResponsive">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th class="text-center">Quant. Inscrições</th>
                  <th class="text-center">Valor unitário</th>
                  <th class="text-center">Valor</th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="item in buy.itens track by item.id">
                  <td >
                    <span ng-show="item.modalidade"> {{item.modalidade}}:&nbsp</span> {{item.nome}} 
                  </td>
                  <td class="muted qtd">
                      <span class="newPrice">{{item.quantidade}}</span>
                  </td>
                  <td class="muted text-center">
                    <div ng-if="!item.ecm_promocao">
                      <span class="muted">{{item.valorFormat}}</span>
                    </div>
                    <div ng-if="item.ecm_promocao">
                      <span class="oldPrice">{{item.valorFormat}}</span>
                      <span class="discount">Desconto promocional: -{{item.valorPromocaoFormat}}</span>
                      <span class="newPrice">por {{item.precoFormat}}</span>
                    </div>
                  </td>
                  <td class="muted" >{{item.totalFormat}}</td>

                </tr>
               
                <tr ng-if="buy.qtdItens" class="rowTotal">
                    <td class="text-right" colspan="3"> <strong> Total da Compra:</strong></td>
                    <td class="text-center"><strong>{{buy.totalCarrinho}}</strong></td>
                </tr>

              </tbody>
            </table>
          </div>


          <div class="widget_content" ng-if="!buy.transacaoOpen" >
            <p class="title">Forma de pagamento</p>
            <table width="100%" class="table-cart tablePagamento">
              <tr ng-show="buy.showContract">
                <th>Termos de contrato</th>
                <td>
                  <label>
                    <input id="contrato" name="contrato" type="checkbox" ng-required="buy.showContract" ng-model="vm.contrato" > <a ng-click="vm.modalcontrato()">Eu aceito termos do CONTRATO ON-LINE DE PRESTAÇÃO DE SERVIÇOS</a>

                    <div ng-show="vm.submitted && pagamentoForm.contrato.$invalid">
                        <span class="error" ng-show="pagamentoForm.contrato.$error.required">Favor ler e aceitar o Contrato.</span>
                    </div>
                  </label>
                </td>
              </tr>
              <tr>
                <th>Selecione a Forma de Pagamento </th>
                <td>
                  <div class="row">
                    <div ng-repeat="forma in ::vm.formasPagamentos" ng-class="{'medium-3 small-12 columns end' : !forma.isCard, 'medium-7 small-12 columns' : forma.isCard }">
                      <p>{{forma.pagamento}}</p>
                      <ul class="inline-list">
                        <li ng-repeat="operadora in forma.operadoras">
                          <label>
                              <input id="pagamento" name="pagamento" type="radio" ng-required="true" ng-click="vm.selectForma(forma,operadora.index)" > <img ng-src="{{operadora.img.src}}" alt="{{operadora.img.nome}}" >
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="row">
                    <div ng-show="vm.submitted && !vm.pagamento" class="medium-12 small-12 columns">
                          <span class="error" >Selecione a Forma de Pagamento!</span>
                    </div>
                  </div>

                </td>
              </tr>
              
              <tr ng-show="vm.forma.isCard">
                <th>Selecione o valor das parcelas</th>
                <td>
                     <select name="parcelas" id="parcelas" ng-required="(vm.forma.tipo!='boleto')" ng-options="parcela as parcela.label for parcela in vm.parcelas track by parcela.qtd" ng-model="vm.nparcelas" >
                        <option value="">Número de Parcelas</option> 
                      </select>

                      <div ng-show="( pagamentoForm.parcelas.$dirty || vm.submitted) && pagamentoForm.parcelas.$invalid">
                          <span class="error" >Numero de Parcelas é obrigatório!</span>
                      </div>
                </td>
              </tr>

              <tr ng-show="vm.forma.tipo=='cartao_recorrencia'">
                <th>Dados do Cartão</th>
                <td>

                    <div class="row">
                        <div class="large-12 columns"> 
                          
                          <input type="text" name="nome" id="nome" placeholder="Nome impresso no cartão" ng-model="vm.cartao.nome" ng-required="true" >

                          <div ng-show="( pagamentoForm.nome.$dirty || vm.submitted) && pagamentoForm.nome.$invalid">
                            <span class="error" >Nome obrigatório!</span>
                          </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns"> 
                          <input type="tel" inputmode="numeric" pattern="[0-9]*" id="card-number" class="credit-card" placeholder="Número do cartão" maxlength="16"  cc-number cc-type="cardType" name="ccNumber" ng-model="vm.cartao.numero" ng-required="true" 

                            ng-class="{ 'card-number': ! pagamentoForm.ccNumber.$ccType, 'master-card': pagamentoForm.ccNumber.$ccType == 'MasterCard', 'visa': pagamentoForm.ccNumber.$ccType == 'Visa',
                            'card-notvalid': ( pagamentoForm.ccNumber.$ccType && pagamentoForm.ccNumber.$ccType != 'Visa' && 
                            pagamentoForm.ccNumber.$ccType != 'MasterCard' ) }"
                          >

                          <div ng-show="(pagamentoForm.ccNumber.$dirty || vm.submitted) && pagamentoForm.ccNumber.$invalid">
                            <span class="error" >Numero do cartão obrigatório! </span>
                           </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="large-4 columns">
                              <label for="mesSelect">Vencimento
                                  <select name="mesSelect" id="mesSelect" ng-model="vm.cartao.mesSelect" ng-required="true" >
                                        <option value="">Mês</option>
                                        <option ng-repeat="option2 in vm.mesVencimento" value="{{option2}}">{{option2}}</option>
                                  </select>
                              </label>

                               <div ng-show="(pagamentoForm.mesSelect.$dirty || vm.submitted) && pagamentoForm.mesSelect.$invalid">
                                <span class="error" > Selecione o MÊS de Vencimento do Cartão </span>
                              </div>
                        </div>

                        <div class="large-4 columns">
                              <label for="anoSelect">&nbsp
                                <select name="anoSelect" id="anoSelect" ng-model="vm.cartao.anoSelect" ng-required="true" > 
                                    <option value="">Ano</option>
                                    <option ng-repeat="option1 in vm.anoVencimento" value="{{option1}}">{{option1}}</option>
                                </select>
                              </label>

                               <div ng-show="(pagamentoForm.anoSelect.$dirty || vm.submitted) && pagamentoForm.anoSelect.$invalid">
                                <span class="error" > Selecione o ANO de Vencimento do Cartão </span>
                              </div>
                        </div>

                        <div class="large-3 columns">
                              <label for="cod">Código Seguraça
                                <input type="tel" inputmode="numeric" pattern="[0-9]*" id="cod" name="cod" placeholder="3 Dígitos" maxlength="4" ng-model="vm.cartao.codigo" ng-required="true" >
                              </label>
                              <span class="card-cod"></span>
                               <div ng-show="(pagamentoForm.cod.$dirty || vm.submitted) && pagamentoForm.cod.$invalid">
                                <span class="error" > Informe o Código de Segurança do Cartão </span>
                              </div>
                        </div>
                    </div>
                </td>
              </tr>

              <tr ng-show="vm.loading" >
                <td colspan="5" class="text-center"> 
                  <div class="custom-loading" >
                    <i class="material-icons">hdr_weak</i>
                    <span class="text" >Processando</span>
                  </div>
                </td>
            </tr>
            </table>
          </div>

          <div class="widget_content" ng-if="vm.redirect">
            <p class="title">Realizar Pagamento</p>

            <table width="100%" class="table-cart">
              <tr>
                <td><i class="material-icons">launch</i></td>
                <td>Para efetuar o pagamento e finalizar sua compra, você será redirecionado para uma página segura de pagamento onde deve informar os dados do seu cartão!</td>
              </tr>

              <tr class="text-center">
                <td colspan="2">
                  <div class="row">
                      <div class="small-6 small-centered columns">   

                          <span>Clique em Finalizar Pagamento ou Aguarde!</span> <br>
                     
                          <timer countdown="1000" interval="1000" >
                            <span ng-show="seconds"> Redirecionamento Automático em: {{sseconds}} Segundo{{secondsS}}. </span>
                          </timer>
              
                      </div>
                  </div>
                </td>
              </tr>
            </table>

            <div class="row">
              <div class="small-12 large-3 large-centered columns">        
                  <a ng-href="{{vm.redirect}}" class="button success text-center" analytics-on analytics-event="carrinho finalizar cartao" >Finalizar Pagamento</a>
              </div>
            </div>
          </div>

        <div class="row" ng-if="!vm.redirect && !buy.transacaoOpen">
          <div class="small-6 medium-6 large-6 columns">
            <a href="/carrinho" class="button secondary" ng-hide="vm.loading"><i class="material-icons">keyboard_arrow_left</i> Voltar</a>
          </div>
          <div class="small-6 medium-6 large-6 columns">
              <button id="salve" type="submit" class="button success right" ng-click="vm.nextPagamento(pagamentoForm)" ng-hide="vm.loading" analytics-on analytics-event="carrinho comprar">Realizar Compra <i class="material-icons">keyboard_arrow_right</i></button>
          </div>
        </div>

      <!-- HTML COPY PAGE CARRINHO-PAGAMENTO.HTML AND CARRINHO-MONTAR.HTML -->
      <div class="widget_content text-center" ng-if="buy.transacaoOpen">
              <p class="title">Pagamento não Finalizado!</p>

              <div class="row">
                  <div class="small-12 large-6 large-centered columns text-center">  
                      <span class="error">Sua compra possui uma transação não finalizada, favor conclua o pagamento  ou selecione outra forma de pagamento.</span><br>
                  </div>
              </div>

              <div class="row">
                  <div class="small-12 large-6 large-centered columns text-center">  
                      <p> Forma de Pagamento: <strong> {{buy.transacaoOpen.forma_pagamento}} </strong> <br>
                          Operadora: <strong>{{buy.transacaoOpen.operadora}}</strong> <br>
                          Parcelas : <strong>{{buy.transacaoOpen.parcelas}}</strong>
                      </p>
                  </div>
              </div>

              <div class="row">
                  <div class="small-11 large-4 large-centered small-centered  columns texte-center">  
                        <button class="button" ng-click="vm.cancelTransacao()" analytics-on analytics-event="carrinho cancel" >Alterar</button>
                          &nbsp
                        <a ng-href="{{buy.transacaoOpen.url}}" class="button success" analytics-on analytics-event="carrinho pagar transacao">Finalizar</a>
                  </div>
              </div>
      </div>
      </form>
    </div>
  </div>
</main>