<main class="content-main">

  <header class="hero-pages hero-pages__cart">
     <div class="row">
         <div class="medium-12 columns">
           <h1 class="hero-pages__title">Checkout</h1>
         </div> <!-- //large-12-->
     </div> <!-- ///row -->
  </header>

  <div class="row">
    <div class="large-3 columns">
      <div class="widget_content" menu-carrinho-active>
        <div class="wizard">
          <div class="v-line"></div>
          <div class="step step1">
            <span>Carrinho</span>
          </div>
          <div class="step step2">
            <span>Pagamento</span>
          </div>
          <div class="step step3">
            <span>Confirmação de compra</span>
          </div>
        </div>
      </div>
    </div>

    <div class="large-9 columns">


        <div class="widget_content text-center" ng-if="buy.hasTrilha">
            <p class="title">Informações de compra


          </p>
            <span ng-if="buy.qtdItens">Seu carrinho possui produtos pagos separadamentes. Para finalizar sua compra escolha o produto! </span>

            <br><br>

            <table width="100%" class="table-cart tableResponsive" ng-repeat="item in buy.trilhas track by item.id" >
            <thead>
              <tr>
                <th>Produto</th>
                <th class="text-center">Valor</th>
                <th> Ação </th>
              </tr>
            </thead>
            <tbody>


              <tr >
                <td >
                  <span ng-show="item.modalidade"> {{item.modalidade}}:&nbsp</span> {{item.nome}} 
                </td>

                <td class="muted text-center">
                  <div ng-if="!item.ecm_promocao">
                    <span class="muted">{{item.parcelas}} x {{item.precoParcelado}}</span>
                  </div>
                  <div ng-if="item.ecm_promocao">
                    <span class="oldPrice">{{item.valorFormat}}</span>
                    <span class="discount">Desconto promocional: -{{item.valorPromocaoFormat}}</span>
                    <span class="newPrice">por {{item.precoFormat}}</span>
                  </div>
                </td>
                <td width="5%" class="muted text-center">
                   <div ng-if="!buy.transacao" >
                      <a ng-click="buy.removeItemCarrinho(item.ecm_produto_id,true, item.ecm_curso_presencial_turma_id)" ng-hide="buy.loading" title="Remove" > <i class="material-icons del">delete_forever</i> </a>
                    </div>
                </td>
              </tr>

              <tr >
                  <td colspan="3" > 
                    <a class="button success right buyCarrinho" ng-click="buy.trilha({ id: item.ecm_produto_id })" analytics-on analytics-event="compra trilha avanca" >Comprar produto &nbsp  <i class="material-icons">credit_card</i></a>
                  </td>
              </tr>

            </tbody>
          </table>

        </div>


        <div class="widget_content no-padding carrinho" ng-if="buy.qtdItens||(!buy.hasTrilha&&!buy.qtdItens)">
          <table width="100%" class="table-cart tableResponsive">
            <thead>
              <tr>
                <th>Produto</th>
                <th class="text-center">Quant. Inscrições</th>
                <th class="text-center">Valor unitário</th>
                <th class="text-center">Valor</th>
                <th>Ãção</th>
              </tr>
            </thead>
            <tbody>


              <tr ng-repeat="item in buy.itens track by item.id">
                <td >
                  <span ng-show="item.modalidade"> {{item.modalidade}}:&nbsp</span> {{item.nome}} 
                </td>
                <td class="muted qtd">

                  <div ng-show="!item.isSetup">
                    <a ng-click="buy.removeItemCarrinho(item.ecm_produto_id, false, item.ecm_curso_presencial_turma_id)" ng-hide="buy.loading" ng-if="!buy.transacao" class="item-action"><i class="material-icons left">remove_circle</i></a>
                    <input type="text" name="" class="quantity" placeholder="{{item.quantidade}}" value="{{item.quantidade}}">
                    <a ng-click="buy.addItemCarrinho(item.ecm_produto_id, false, item.ecm_curso_presencial_turma_id)" ng-hide="buy.loading" ng-if="!buy.transacao" class="item-action"><i class="material-icons left">add_circle</i></a>
                  </div>

                </td>
                <td class="muted text-center">
                  <div ng-if="!item.ecm_promocao">
                    <span class="muted">{{item.valorFormat}}</span>
                  </div>
                  <div ng-if="item.ecm_promocao">
                    <span class="oldPrice">{{item.valorFormat}}</span>
                    <span class="discount">Desconto promocional: -{{item.valorPromocaoFormat}}</span>
                    <span class="newPrice">por {{item.precoFormat}}</span>
                  </div>
                </td>
                <td class="muted" >{{item.totalFormat}}</td>
                <td width="5%" class="muted text-center">
                   <div ng-if="!buy.transacao" >
                      <a class="cinza" ng-click="buy.removeItemCarrinho(item.ecm_produto_id,true, item.ecm_curso_presencial_turma_id)" ng-hide="buy.loading" ><i class="material-icons del">delete_forever</i></a>
                    </div>
                </td>
              </tr>
             
              <tr ng-if="buy.qtdItens" class="rowTotal">
                  <td class="text-right"> <strong> Total da Compra:</strong></td>
                  <td class="text-center"><strong>{{buy.totalCarrinho}}</strong></td>
                  <td colspan="3" >
                      <a class="button success right buyCarrinho" ng-click="vm.nextCompra()" ng-if="buy.hasTrilha" analytics-on analytics-event="carrinho avanca" >Comprar produto <span ng-show="buy.qtdItens>1">s</span>
                      &nbsp <i class="material-icons">credit_card</i></a>
                  </td>
              </tr>

              <tr ng-if="!buy.qtdItens && !buy.loading && !buy.hasTrilha" ng-cloak>
                  <td colspan="5" class="text-center"> <strong>Nenhum item no carrinho.</strong></td>
              </tr>

              <tr ng-show="buy.loading">
                  <td colspan="5" class="text-center"> 
                    <div class="custom-loading" >
                      <i class="material-icons">hdr_weak</i>
                      <span class="text" >Atualizando</span>
                    </div>
                  </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="row" ng-if="!buy.transacao">
          <div class="column small-6">
            <a href="/cursos" class="button secondary" ><i class="material-icons">keyboard_arrow_left</i> Acrescentar curso</a>
          </div>
          <div class="column small-6">
            <a class="button success right" ng-click="vm.nextCompra()" ng-hide="!buy.qtdItens||buy.hasTrilha" analytics-on analytics-event="carrinho avanca" >Avançar <i class="material-icons">keyboard_arrow_right</i></a>
          </div>
        </div>

        <div class="widget_content text-center" ng-if="buy.promocaoTheend.length">
          <p class="title">Encerramento de Promoção</p>

          <table width="100%" class="table-cart">
            <tr class="text-center">
              <td class="text-center">
                <span class="error">Sua compra possui promoção preste a encerrar, favor conclua sua compra antes do encerramento do tempo. Caso contrário valor do produto/compra será atualizado!</span>
               
               <span ng-repeat="promocao in buy.promocaoTheend"><br>{{promocao.descricao}}: <strong> <timer countdown="promocao.dataTheend" interval="1000" >
                    <span ng-show="hours"> {{hhours}} Hora{{hhoursS}}, </span>
                    <span ng-show="minutes"> {{mminutes}} Minuto{{minutesS}},  </span>
                    <span ng-show="seconds"> {{sseconds}} Segundo{{secondsS}}. </span>
                  </timer></strong></span>
              </td>
            </tr>
          </table>
        </div>



        <!-- HTML COPY PAGE CARRINHO-PAGAMENTO.HTML AND CARRINHO-MONTAR.HTML -->
        <div class="widget_content text-center" ng-if="buy.transacao">
                <p class="title">Pagamento não Finalizado!</p>

                <div class="row">
                    <div class="small-12 large-6 large-centered columns text-center">  
                        <span class="error">Sua compra possui uma transação não finalizada, favor conclua o pagamento  ou selecione outra forma de pagamento.</span><br>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 large-6 large-centered columns text-center">  
                        <p> Forma de Pagamento: <strong> {{buy.transacao.forma_pagamento}} </strong> <br>
                            Operadora: <strong>{{buy.transacao.operadora}}</strong> <br>
                            Parcelas : <strong>{{buy.transacao.parcelas}}</strong>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="small-11 large-4 large-centered small-centered  columns texte-center">  
                          <button class="button" ng-click="vm.cancelTransacao()" analytics-on analytics-event="carrinho cancel">Alterar</button>
                          <a ng-href="{{buy.transacao.url}}" class="button success " analytics-on analytics-event="carrinho pagar cartao" >Finalizar</a>
                    </div>
                </div>
        </div>

    </div>
  </div>
</main>