    <div class="widget_content">
      <p class="title">Forma de pagamento</p>
      <table width="100%" class="table-cart">
        <tr>
          <th>Termos de contrato</th>
          <td>
            <label>
              <input type="checkbox"> Eu aceito termos do CONTRATO ON-LINE DE PRESTAÇÃO DE SERVIÇOS
            </label>
          </td>
        </tr>
        <tr>
          <th>Selecione a Forma de Pagamento</th>
          <td>
            <div class="row">
              <div class="column small-12 medium-3">
                <p>Boleto</p>
                <ul class="inline-list">
                  <li>
                    <label><input type="radio"> Boleto</label>
                  </li>
                </ul>
              </div>
              <div class="column small-12 medium-9">
                <p>Cartão de crédito</p>
                <ul class="inline-list">
                  <li>
                    <label>
                      <input type="radio"> <img src="images/cart/icon-visa.png" alt="Visa">
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="radio"> <img src="images/cart/icon-mastercard.png" alt="MasterCard">
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="radio"> <img src="images/cart/icon-elo.png" alt="Elo">
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Selecione o valor das parcelas</th>
          <td>
            <select>
              <option value="1">2x de R$255,00</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

<div class="row">
  <div class="column small-6">
    <a href="/carrinho" class="button secondary"><i class="material-icons">keyboard_arrow_left</i> Voltar</a>
  </div>
  <div class="column small-6">
    <a href="/carrinho/confirmacao" class="button success right">Efetuar pagamento <i class="material-icons">keyboard_arrow_right</i></a>
  </div>
</div>