<div class="widget_content no-padding">
  <table width="100%" class="table-cart">
    <thead>
      <tr>
        <th>Produto</th>
        <th class="text-center">Quant. Inscrições</th>
        <th class="text-center">Valor unitário</th>
        <th class="text-center">Valor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="40%">
          <img class="left thumbnail" src="http://placehold.it/60x60.jpg">
          Curso Alvenaria Estrutural para Construtoras
        </td>
        <td width="18%" class="muted">
          <a href="#"><i class="material-icons left">add_circle</i></a>
          <input type="text" name="" class="quantity" placeholder="1">
          <a href="#"><i class="material-icons left">remove_circle</i></a>
        </td>
        <td width="25%" class="muted">
          <span class="oldPrice">R$ 560,00</span>
          <span class="discount">Desconto promocional: -R$ 280,00</span>
          <span class="newPrice">por R$ 280,00</span>
        </td>
        <td width="12%" class="muted">R$ 280,00</td>
        <td width="5%" class="muted">
          <a href="#"><i class="material-icons">delete_forever</i></a>
        </td>
      </tr>
      <tr>
        <td width="40%">
          <img class="left thumbnail" src="http://placehold.it/60x60.jpg">
          Curso Alvenaria Estrutural para Construtoras
        </td>
        <td width="18%" class="muted">
          <a href="#"><i class="material-icons left">add_circle</i></a>
          <input type="text" name="" class="quantity" placeholder="1">
          <a href="#"><i class="material-icons left">remove_circle</i></a>
        </td>
        <td width="25%" class="muted">
          <span class="oldPrice">R$ 560,00</span>
          <span class="discount">Desconto promocional: -R$ 280,00</span>
          <span class="newPrice">por R$ 280,00</span>
        </td>
        <td width="12%" class="muted">R$ 280,00</td>
        <td width="5%" class="muted">
          <a href="#"><i class="material-icons">delete_forever</i></a>
        </td>
      </tr>
      <tr>
        <td width="40%">
          <img class="left thumbnail" src="http://placehold.it/60x60.jpg">
          Curso Alvenaria Estrutural para Construtoras
        </td>
        <td width="18%" class="muted">
          <a href="#"><i class="material-icons left">add_circle</i></a>
          <input type="text" name="" class="quantity" placeholder="1">
          <a href="#"><i class="material-icons left">remove_circle</i></a>
        </td>
        <td width="25%" class="muted">
          <span class="oldPrice">R$ 560,00</span>
          <span class="discount">Desconto promocional: -R$ 280,00</span>
          <span class="newPrice">por R$ 280,00</span>
        </td>
        <td width="12%" class="muted">R$ 280,00</td>
        <td width="5%" class="muted">
          <a href="#"><i class="material-icons">delete_forever</i></a>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>

<div class="row">
  <div class="column small-6">
    <a href="/cursos" class="button secondary"><i class="material-icons">keyboard_arrow_left</i> Acrescentar outro curso</a>
  </div>
  <div class="column small-6">
    <a href="#" class="button success right"ng-click="vm.modallogin()" >Avançar <i class="material-icons">keyboard_arrow_right</i></a>
  </div>
</div>