<div class="reveal-modal-qisat">
  <header class="reveal-modal-header">
    <a class="close-reveal-modal" aria-label="Close" ng-click="trilhaCtr.cancel()" >×</a>
    <span class="brand-qisat-small brand-qisat-small-light"></span>
  </header>

    <form id="trilhaForm"  name="trilhaCtr.trilhaForm" novalidate >

    <div class="row">
      <div class="large-10 large-centered columns">
            <br>
            <div class="widget_content" >
              <p class="title">Pagamento</p>
              <table width="100%" class="table-cart tablePagamento">

                <tr ng-show="trilhaCtr.item">
                  <th>Produto <br> Valor</th>
                  <td> {{trilhaCtr.item.modalidade}}: {{trilhaCtr.item.nome}} <br> <strong>{{trilhaCtr.item.valor}}</strong> </td>
                </tr>

                <tr>
                  <th>Termos de contrato</th>
                  <td>
                    <label>
                      <input id="contrato" name="contrato" type="checkbox" ng-required="true" ng-model="trilhaCtr.contrato" > <a ng-click="trilhaCtr.modalContratoLab( ((trilhaCtr.item.isLab1) ? 1 : 2) )">Eu aceito termos do CONTRATO PARA PRESTAÇÃO DE SERVIÇO </a>

                      <div ng-show="(!trilhaCtr.contrato && trilhaCtr.submitted)">
                          <span class="error">Favor ler e aceitar o Contrato.</span>
                      </div>

                    </label>
                  </td>
                </tr>
                <tr>
                  <th>Selecione a Forma de Pagamento</th>
                  <td>
                    <div class="row">
                      <div ng-repeat="forma in trilhaCtr.formasPagamentos" ng-class="{ 'medium-3 small-12 columns end' : !forma.isCard, 'medium-7 small-12 columns' : forma.isCard }">
                        <p>{{forma.pagamento}}</p>
                        <ul class="inline-list">
                          <li ng-repeat="operadora in forma.operadoras">
                            <label><input id="pagamento" name="pagamento" type="radio" ng-click="trilhaCtr.selectForma(forma,operadora.index)" ng-required="true" > <img ng-src="{{operadora.img.src}}" alt="{{operadora.img.nome}}" ></label>
                          </li>
                        </ul>
                       
                      </div>

                      <div class="row">
                              <div class="large-12 columns"> 
                                    <div ng-show="(!trilhaCtr.pagamento && trilhaCtr.submitted)">
                                      <span class="error" >Selecione a Forma de Pagamento!</span>
                                    </div>
                              </div>
                      </div>

                    </div>
                  </td>
                </tr>

                <tr ng-show="trilhaCtr.forma.isCard">
                  <th>Selecione as parcelas</th>
                  <td>
                   <select ng-options="parcela as parcela.label for parcela in trilhaCtr.forma.parcelas track by parcela.qtd"  ng-model="trilhaCtr.nparcelas" id="parcelas" name="parcelas" ng-required="true" >
                        <option value="">Selecionar parcelas para esta compra</option>
                    </select>
                      
                    <div ng-show="(trilhaCtr.forma.tipo!='boleto' && (trilhaCtr.submitted || trilhaCtr.trilhaForm.parcelas.$dirty )) && trilhaCtr.trilhaForm.parcelas.$invalid ">
                     <span class="error" >Numero parcelas obrigatório!</span>
                    </div>

                  </td>
                </tr>

                <tr ng-show="trilhaCtr.forma.tipo=='cartao_recorrencia'">
                  <th>Dados do Cartão</th>
                  <td>

                      <div class="row">
                          <div class="large-12 columns"> 
                            
                            <input type="text" name="nome" id="nome" placeholder="Nome impresso no cartão" ng-model="trilhaCtr.cartao.nome" ng-required="true" >

                            <div ng-show="(trilhaCtr.trilhaForm.nome.$dirty || trilhaCtr.submitted) && trilhaCtr.trilhaForm.nome.$invalid">
                              <span class="error" >Nome obrigatório!</span>
                            </div>

                          </div>
                      </div>

                      <div class="row">
                          <div class="large-12 columns"> 
                            <input type="tel" inputmode="numeric" pattern="[0-9]*" id="card-number" class="credit-card" placeholder="Número do cartão" maxlength="16"  cc-number cc-type="cardType" name="ccNumber" ng-model="trilhaCtr.cartao.numero" ng-required="true" 

                              ng-class="{ 'card-number': !trilhaCtr.trilhaForm.ccNumber.$ccType, 'master-card': trilhaCtr.trilhaForm.ccNumber.$ccType == 'MasterCard', 'visa': trilhaCtr.trilhaForm.ccNumber.$ccType == 'Visa',
                              'card-notvalid': ( trilhaCtr.trilhaForm.ccNumber.$ccType && trilhaCtr.trilhaForm.ccNumber.$ccType != 'Visa' && 
                              trilhaCtr.trilhaForm.ccNumber.$ccType != 'MasterCard' ) }"

                            >

                            <div ng-show="(trilhaCtr.trilhaForm.ccNumber.$dirty || trilhaCtr.submitted) && trilhaCtr.trilhaForm.ccNumber.$invalid">
                              <span class="error" >Numero do cartão obrigatório! </span>
                             </div>

                            <br>
                          </div>
                      </div>

                      <div class="row">

                          <div class="large-4 columns">
                              <label for="mesSelect">Vencimento 
                              <select name="mesSelect" id="mesSelect" ng-model="trilhaCtr.cartao.mesSelect" ng-required="true" >
                                    <option value="">Mês</option>
                                    <option ng-repeat="option2 in trilhaCtr.mesVencimento" value="{{option2}}">{{option2}}</option>
                                </select>

                                 <div ng-show="(trilhaCtr.trilhaForm.mesSelect.$dirty || trilhaCtr.submitted) && trilhaCtr.trilhaForm.mesSelect.$invalid">
                                  <span class="error" > Selecione o MÊS de Vencimento do Cartão </span>
                                </div>
                          </div>

                          <div class="large-4 columns">
                                <label for="anoSelect">&nbsp 
                                  <select name="anoSelect" id="anoSelect" ng-model="trilhaCtr.cartao.anoSelect" ng-required="true" > 
                                      <option value="">Ano</option>
                                      <option ng-repeat="option1 in trilhaCtr.anoVencimento" value="{{option1}}">{{option1}}</option>
                                  </select>
                                </label>

                                 <div ng-show="(trilhaCtr.trilhaForm.anoSelect.$dirty || trilhaCtr.submitted) && trilhaCtr.trilhaForm.anoSelect.$invalid">
                                  <span class="error" > Selecione o ANO de Vencimento do Cartão </span>
                                </div>
                          </div>

                          <div class="large-4 columns">
                                <label for="cod">Código Seguraça
                                <input type="tel" inputmode="numeric" pattern="[0-9]*" id="cod" name="cod" placeholder="3 Dígitos" maxlength="4" ng-model="trilhaCtr.cartao.codigo" ng-required="true" >
                                </label>
                                <span class="card-cod"></span>

                                 <div ng-show="(trilhaCtr.trilhaForm.cod.$dirty || trilhaCtr.submitted) && trilhaCtr.trilhaForm.cod.$invalid">
                                  <span class="error" > Informe o Código de Segurança do Cartão </span>
                                </div>
                          </div>
                      </div>
                  </td>
                </tr>

                <tr ng-show="trilhaCtr.loading||trilhaCtr.error" >
                  <td colspan="5" class="text-center"> 
                    <div class="custom-loading"  ng-show="trilhaCtr.loading" >
                      <i class="material-icons">hdr_weak</i>
                      <span class="text" >Pagamento...</span>
                    </div>

                    <div ng-show="trilhaCtr.error" >

                        <span class="section-call__done--title" > Falha ao processar pagamento! </span>
                        <span class="section-call__done--title" ng-if="trilhaCtr.mensagem"> {{trilhaCtr.mensagem}}</span>
                        <span class="section-call__done--subtitle" > Caso o problemas persista entre em contato com nossa Central de Inscrições.
                            <p class="text-center" > 
                              <br> <strong> Fone:&nbsp </strong> (48) 3332-5000 
                              <br> <strong> Whats:&nbsp </strong> (48) 99815-1222 
                              <br> <strong> Email:&nbsp </strong> qisat@qisat.com.br
                              <br> <a ng-click="trilhaCtr.showZopim()" analytics-on analytics-event="carrinho zopim">Solicite ajuda pelo chat</a>
                            </p>
                        </span>

                    </div>
                  </td>
                </tr>

              </table>

                    <div class="row" >
                        <div class="column large-12 small-12">
                          <button class="button success right" ng-click="trilhaCtr.nextPagamento()" analytics-on analytics-event="buyTrilha avanca" >Enviar <i class="material-icons">keyboard_arrow_right</i></button>
                        </div>
                    </div>
            </div>

      </div>
      </div>
    </form>
  <br>
</div>
