<footer class="footer-main ">

	<div class="footer-primary">
		<div class="row">

					<ul class="footer-primary__columns small-block-grid-1 medium-block-grid-3 large-block-grid-6">

						<li class="footer-primary__columns--item">
						 		<ul class="footer-primary__list">
									<li class="footer-primary__title">Sobre o QiSat</li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/sobre-a-empresa" title="Institucional" > Institucional </a></li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/linha-do-tempo" title="Linha do Tempo" > Linha do Tempo </a></li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/convenios-e-parceiros" title="Convênios e Parceiros">Convênios e Parceiros</a></li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/instrutores-e-professores" title="Instrutores e Professores">Instrutores e Professores</a></li>
								</ul>
						</li>

						<li class="footer-primary__columns--item">
						 	<ul class="footer-primary__list">
								<li class="footer-primary__title"> Páginas </li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/cursos" title="Todos os Cursos">Cursos</a></li>				 		
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/aluno" title="Cursos">Área do Aluno</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/duvidas" title="Dúvidas Frequentes">Dúvidas Frequentes</a></li>
				 		 	</ul>
						</li> <!-- // -->


						<li class="footer-primary__columns--item">
							<ul class="footer-primary__list"> 
								<li class="footer-primary__title"> Soluções </li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/curso" title="Pós-graduação">Sugira um Curso </a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/nova-turma" title="Pós-graduação">Sugira uma nova Turma </a></li>		
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/funcionalidade" title="Pós-graduação">Sugira uma Funcionalidade </a></li>
						 		</ul>
						</li>

						<li class="footer-primary__columns--item">
							<ul class="footer-primary__list">
								 <li class="footer-primary__title"> Contato</li>
								<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Ligamos para você">Ligamos para você</a></li>
								<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Mensagem">Mensagem</a></li>
							</ul>
						</li>   

						<li class="footer-primary__columns--item">
							<ul class="footer-primary__list">
						 		<li class="footer-primary__title"> Social </li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.facebook.com/qisat" title="Facebook" target="_blank" >Facebook</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.linkedin.com/in/qisat" title="Linkedin" target="_blank" >Linkedin</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.instagram.com/qisat/" title="Instagram" target="_blank" >Instagram</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.youtube.com/user/qisat" title="YouTube" target="_blank" >YouTube</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://twitter.com/QiSat" title="Twitter" target="_blank" >Twitter</a></li>

						 	</ul>
						</li>

						<li class="footer-primary__columns--item">
							<img class="footer-primary__list__item--brand-qisat" src="images/brand/brand_small-light.svg" alt="Brand QiSat Light">
						</li> <!-- //  -->

		</div> <!-- ///row -->
	</div> <!-- // footer-primary -->

	<div class="footer-secondary">
			<div class="row">
					<ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
						<li>
								<ul class="footer-secondary__list">
									<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Termos de uso</a></li>
									<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Política de privacidade</a></li>
								</ul>
					    </li>

					    <li>
								<ul class="footer-secondary__list footer-secondary__list--email ">
									<li class="footer-secondary__list__item"><a href="mailto:qisat@qisat.com.br" class="footer-secondary__list__item--link">QiSat | Cursos aplicados à engenharia e Arquitetura : <strong>qisat@qisat.com.br</strong></a></li>
								</ul>
					   	</li>

						<li>
							<ul class="footer-secondary__list">
									<li class="footer-secondary__list__item">
										<span class="footer-secondary__list__item--brand-text">Uma empresa</span>
										<a href="#" class="footer-secondary__list__item--brand"><img class="footer-secondary__list__item--brand-image" src="" alt="">	<img src="images/brand/brand_altoqi-small-light.svg" alt="AltoQi"></a>
									</li>
							 </ul>
						</li>
	 		</div> <!-- ///row -->
	</div> <!-- footer-secondary -->
</footer> <!-- footer-container -->

