<header class="header-main">
	   <div class="header-main__brand"> <a href="/" class="header-main__logo"> QiSAT</a></div>

		<nav class="header-main__nav">
		<ul class="header-main__ul">
			<li class="show-for-large-up header-main__list"> <a class="header-main__item" href="/">Home</a></li>
			<li class="show-for-large-up header-main__list header-main__list-current  header-main__list__has--submenu">
				<a class="header-main__item header-main__list-item-current" href="/cursos" >Cursos</a>
				<ul class="header-main__list__submenu">
					<li class="header-main__list__submenu--item"><a class="header-main__list__submenu--item-link" href="course-ead.html">Curso EAD</a></li>
					<li class="header-main__list__submenu--item"><a class="header-main__list__submenu--item-link" href="course-presential.html">Curso Presencial</a></li>
				</ul>
			</li>
 			<li class="show-for-large-up header-main__list"> <a class="header-main__item" href="/aluno">Área do Aluno</a></li>
			<li class="hide-for-large-up header-main__list"> <a class="menu-trigger header-main__item clickhash" href="#menu"  > <i class="material-icons">menu</i> Menu</a></li>
			<li class="show-for-large-up header-main__list"> <a class="header-main__item" href="/institucional">Institucional</a></li>
			<li class="show-for-large-up header-main__list"> <a class="header-main__item clickhash" href="#teste">Teste</a></li>
    		<li class="header-main__list header-main__list-cart"> <a class="header-main__item header-main__item-cart" href="/carrinho.html"><i class="material-icons">shopping_cart</i></a></li>
		</ul>
	</nav>
</header>