
<main class="content-main" ng-if="::vm.info">

 	<header class="hero-course" back-img="{{::vm.info.imgtop.link}}">
		<div class="row">
				<div class="medium-8 columns">
					<h1 class="hero-course__title"><span>{{::vm.info.modalidade}}</span>{{::vm.info.titulo}}</h1>
					<p class="hero-course__resume">{{::vm.info.chamada}}</p>

					<ul class="button-group radius hero-course__buttons-group" ng-cloak>


						<li class="hero-course__buttons-group--item"> <a class="button buttom-call has-tip tip-top" anchor-link data-tooltip aria-haspopup="true" data-options="show_on:large" title="Ligamos para você" ng-click="modal.call()" > <i class="material-icons">call</i></a> </li>


						<li class="hero-course__buttons-group--item"> <a href="#" class="button buttom-favorite has-tip tip-top" anchor-link data-tooltip aria-haspopup="true" data-options="show_on:large" title="Favoritar"><i class="material-icons" >favorite</i></a></li>


			            <li class="hero-course__buttons-group--item" ng-if="vm.info.isPack||vm.info.isLecture||vm.info.isOnline||vm.info.isSerie||vm.info.packCert||vm.info.testCert" ><a class="button buttom-price has-price_popover card-course__button" anchor-link ng-click="buy.addItemCarrinho(vm.info.produto.id)" >{{::vm.info.preco}} <span class="cart"><i class="material-icons">shopping_cart</i></span>
			              <span class="card-course__icon-cart">
			                <div class="price_popover" ng-if="::vm.info.promocaoDateend" >
			                  <div class="price_popover__header">
			                    <p class="price_popover__header__info"> <s>de {{::vm.info.precoTotal}}</s> <strong>para {{::vm.info.preco}}</strong> Até {{::vm.info.promocaoDateend}} </p>
			                  </div> <!-- //price_popover__header -->
			                  <div class="price_popover__footer"> Adicionar ao carrinho </div>
			                </div> <!-- //price_popover -->
			              </span>
			            </a></li>

			            <li class="hero-course__buttons-group--item" ng-if="vm.info.isIndividual||(vm.info.isClassroom&&!vm.turma)" ><a class="button buttom-price has-price_popover card-course__button" anchor-link ng-click="modal.interesse(vm.info)" >{{::vm.info.preco}} <span class="cart"><i class="material-icons">playlist_add_check</i></span>
			              <span class="card-course__icon-cart">
			                <div class="price_popover" >
			                  <div class="price_popover__footer">  Registro de Interesse </div>
			                </div> <!-- //price_popover -->
			              </span>
			            </a></li>

			            <li class="hero-course__buttons-group--item" ng-if="vm.info.isFree" >
			            	<a class="button buttom-price card-course__button" anchor-link ng-click="vm.inscricao(vm.info.produto.id)" > Inscrever-se <span class="cart"><i class="material-icons">school</i></span>
			              <span class="card-course__icon-cart">
			              </span>
			            </a></li>

			             <li class="hero-course__buttons-group--item" ng-if="vm.turma">

			             	<a class="button buttom-price has-price_popover card-course__button" anchor-link ng-click="modal.interesse(vm.turma)" ng-if="!vm.turma.vagas" >{{::vm.info.preco}} 
				             	<span class="cart">
				             		<i class="material-icons">playlist_add_check</i>
				             	</span>
					            <span class="card-course__icon-cart">
					                <div class="price_popover" >
					                  <div class="price_popover__footer" > Registro de Interesse </div>
					                </div>
					            </span>
				            </a>

							<a class="button buttom-price has-price_popover card-course__button" anchor-link ng-click="buy.addItemCarrinho(vm.info.ecm_produto_id, vm.turma.qtd, vm.turma.id)" ng-if="vm.turma.vagas" > {{::vm.info.preco}} 

			             	<span class="cart">
			             		<i class="material-icons">add_shopping_cart</i>
			             	</span>
				            
				            <span class="card-course__icon-cart">
				                <div class="price_popover" >
				                  <div class="price_popover__footer"> Adicionar ao carrinho</div>
				                </div>
				            </span>
			            	</a>
			            </li>
					</ul>

				</div> <!-- //large-8-->
				<div class="medium-4 columns">
					<div class="hero-course__play-container" ng-if="vm.info.videodemo" >
						<a class="hero-course__play" ng-click="vm.openPopupWindow(vm.info.videodemo.link)" anchor-link><img class="hero-course__play--image"  src="images/courses/card-thumb-play.png" alt="" ></a>
					</div> <!--//hero-course__play-container -->
					
				</div> <!-- //large-3-->
		</div> <!-- ///row -->

	</header><!-- //hero-home -->


<article class="course-page">
 <div class="row" data-equalizer>
				<div class="large-3 columns" data-equalizer-watch>
							<aside id="sidebar-styker" class="aside-pages-courses"  > 
										<div class="navigation_courses">
												<h4 class="navigation_courses__title">Navegação</h4>
												<nav class="navigation_courses__nav">
													
 								<ul class="navigation_courses__list" data-magellan-expedition >
									<li data-magellan-arrival="garanta-sua-vaga" class="navigation_courses__list-item" ng-if="::vm.info.isClassroom">
										<a class="navigation_courses__list-item--link"  href="#garanta-sua-vaga" anchor-link >Garanta sua Vaga</a>
									</li>
									
									<li data-magellan-arrival="publico-alvo" class="navigation_courses__list-item" ng-if="::vm.info.persona">
										<a class="navigation_courses__list-item--link" href="#publico-alvo" anchor-link>Público Alvo</a>
									</li>

									<li data-magellan-arrival="sobre-o-curso" class="navigation_courses__list-item">
										<a class="navigation_courses__list-item--link" href="#sobre-o-curso" anchor-link>Sobre o Conteúdo</a>
									</li>
									<li data-magellan-arrival="conteudo-programatico" class="navigation_courses__list-item" ng-if="::vm.info.conteudos.length">
										<a class="navigation_courses__list-item--link" href="#conteudo-programatico" anchor-link>Conteúdo Programático</a>
									</li>

									<li data-magellan-arrival="formato-do-curso" class="navigation_courses__list-item">
										<a class="navigation_courses__list-item--link" href="#formato-do-curso" anchor-link>Formato</a>
									</li>

									<li data-magellan-arrival="ministrante" class="navigation_courses__list-item" ng-if="vm.info.produto.instrutor.length"><a class="navigation_courses__list-item--link" href="#ministrante" anchor-link>
										<div ng-if="!vm.turma">Professor</div>
										<div ng-if="vm.turma" >Instrutor</div>
										</a>
									</li>

									<li data-magellan-arrival="proximas-turmas" class="navigation_courses__list-item" ng-if="::vm.info.isClassroom">
										<a class="navigation_courses__list-item--link" href="#proximas-turmas" anchor-link>Próximas Turmas</a>
									</li>

									<li data-magellan-arrival="perguntas-frequentes" class="navigation_courses__list-item" ng-if="::vm.info.faqs.length">
										<a class="navigation_courses__list-item--link" href="#perguntas-frequentes" anchor-link >Perguntas Frequentes</a>
									</li>

									<li data-magellan-arrival="cursos-relacionados" class="navigation_courses__list-item" ng-if="::vm.info.produtos.length"><a class="navigation_courses__list-item--link" href="#cursos-relacionados" anchor-link>Cursos Relacionados</a></li>
								</ul>

												</nav>
									 	</div>
										<!-- <a href="#" target="_blank" class="hide-for-medium-down"><img src="images/courses/banner-sidebar__product__eberick-9.png" alt="Imagem: Conheça o Software Eberick V9"></a> -->
							</aside>
			</div>  <!--//large-3 columns -->

	<div class="large-9 columns" data-equalizer-watch>

<!-- //////////////// BLOCO GARANTA SUA VAGA ////////////////////////// -->
	<a name="garanta-sua-vaga"></a>
	<section  data-magellan-destination="garanta-sua-vaga" id="garanta-sua-vaga" class="course-page__sections  course-page__sections--slim" ng-if="vm.turma">
		<h2 class="course-page__sections--title">Garanta sua Vaga</h2>
		
		<div class="section_gsv">
			 <div class="row collapse">
 			 	<div class="medium-6 large-8 columns">
 			 		<ul class="section_gsv__list">
		 			 		<li class="section_gsv__item-small">{{::vm.info.modalidade}}</li>
		 			 		<li class="section_gsv__item-title">{{::vm.info.titulo}}</li>
		 			 		<!-- <li class="section_gsv__item-subtitle">Aspectos de contratação, desenvolvimento e finalização</li> -->
		 			 	</ul>
						<ul class="section_gsv__list" >
		 			 		<li class="section_gsv__item-small">Datas</li>
		 			 		<div ng-repeat="data in vm.turma.datas track by $index">
		 			 			<li class="section_gsv__item-info">{{data}}</li>
							</div>
		 			 	</ul>

		 			 	<ul class="section_gsv__list" ng-repeat="local in vm.turma.lugar track by local.id">
		 			 		<li class="section_gsv__item-small">Local</li>
		 			 		<li class="section_gsv__item-title"><strong>{{local.nome}}</strong></li>
		 			 		<li class="section_gsv__item-info" ng-bind-html="local.endereco"></li>
		 			 		<li class="section_gsv__item-info">{{local.cidadeuf}}</li>
		 			 	</ul>

		 			 	<ul class="section_gsv__list">
		 			 		<li class="section_gsv__item-small">Investimento</li>
		 			 		<li class="section_gsv__item-title"><strong>{{vm.turma.preco}}</strong></li>
		 			 	</ul>

		 			 	<ul class="section_gsv__list">
		 			 		<li class="section_gsv__item-small">Número de Vagas</li>
		 			 		<li class="section_gsv__item-info">{{vm.turma.vagas_total}} vagas</li>
		 			 	</ul>
  			 	</div> <!-- medium-6 large-8 columns -->
			 	<div class="medium-6 large-4 columns section_gsv__black-colum">
					<div class="section_gsv__list">
						<div class="course__price-group">
							<span class="section_gsv__item-small" ng-if="vm.turma.vagas" >DIGITE O NÚMERO DE VAGAS</span>
 		 	 			 	<span class="section_gsv__item-title" ng-if="vm.turma.vagas"> <input class="section_gsv__item-input-numero-vagas" type="number" ng-model="vm.turma.qtd"  min="1" max="{{vm.turma.vagas}}" value="1" >  <span class="section_gsv__item-text-numero-vagas"> Vagas</span></span>
							<span class="section_gsv__item-line"> </span>
	 			 			<span class="course__price-group__total-text" ng-if="vm.turma.vagas">Total: {{vm.turma.qtd}} vaga</span>
	 			 			<span class="course__price-group__price"> <small>R$</small> <strong>{{vm.turma.valor}}</strong> </span>
	 	 			 		
	 	 			 		<div ng-if="vm.turma.vagas">
	 	 			 			<a class="course__price-group__button button small" ng-click="buy.addItemCarrinho(vm.info.ecm_produto_id, vm.turma.qtd, vm.turma.id)"> <i class="material-icons">add_shopping_cart</i> Adicionar ao carrinho</a>
	 	 			 		</div>

					
	 	 			 		<div ng-if="!vm.turma.vagas" >
	 	 			 			<a class="course__price-group__button button small" ng-click="modal.interesse(vm.turma)"> <i class="material-icons">playlist_add_check</i> Registro de Interesse </a>
	 	 			 		</div>

	 	 			 		<span class="course__price-group__remaining">Restam ainda {{vm.turma.vagas}} vagas</span>
		 			 	</div>
					</div>
 			 	</div> <!-- // medium-6 large-4 columns -->
			 </div> <!-- // row -->

 			 	<footer class="section_gsv__footer">
 			 		<div class="row collapse">
		 			 		<div class="medium-6 large-8 columns">
			 			 		<ul class="section_gsv__list">
				 			 		<li class="section_gsv__item-small">Informativo</li>
				 			 		<li class="section_gsv__item-p"><p>Caso o curso não obtenha o número mínimo de 15 inscritos, a empresa resguarda o direito de prorrogação do evento no período máximo de 90 dias.</p> </li>
				 			 	</ul>
		 			 		</div> <!-- //medium-6 large-8 columns -->

		 			 		<div class="medium-6 large-4 columns">
		 			 			<ul class="section_gsv__list"> 
				 			 		<li class="section_gsv__item-small"> </li>
			  		 			 	<span class="section_gsv__item-p"><p>Após adicionar ao carrinho você terá 2 horas para efetuar o pagamento.</p> </span>
				 			 	</ul>
		  			 		</div> <!-- //medium-6 large-4 columns -->
			 		</div> <!-- // row -->
 			 	</footer>

		</div> <!-- // section_gsv -->
	</section>
<!-- //////////////// FIM BLOCO GARANTA SUA VAGA ////////////////////////// -->


	<section class="course-page__sections" id="publico-alvo" data-magellan-destination="publico-alvo" ng-if="::vm.info.persona">
		<h2 class="course-page__sections--title">Público Alvo</h2>
		<div ng-bind-html="vm.info.persona"></div>
 	</section>

	<section class="course-page__sections" id="sobre-o-curso" data-magellan-destination="sobre-o-curso">
		<h2 class="course-page__sections--title">Sobre o Conteúdo</h2>

 		<div ng-bind-html="::vm.info.descricao"></div>

 		<div class="section__course-gallery" ng-if="::vm.info.imgdemo.length">
 			<h3 class="section__course-gallery--subtitle"> Imagens do curso</h3>

			<ul class="lightbox small-block-grid-6" lightbox>
			  <li ng-repeat="imgdemo in ::vm.info.imgdemo track by imgdemo.id"><a ng-href="{{::imgdemo.link}}" alt="{{::vm.info.seo.url}}" title="{{::vm.info.seo.url}}"><img data-caption="{{::vm.info.seo.title}}" title="{{::vm.info.seo.title}}" alt="{{::vm.info.seo.url}}" ng-src="{{::imgdemo.link}}"></a></li>
			</ul>
 		</div> <!-- //section__course-gallery -->
 	</section>

	<section data-magellan-destination="conteudo-programatico" class="course-page__sections course-page__sections--slim" id="conteudo-programatico" ng-if="vm.info.conteudos.length">
		<h2 class="course-page__sections--title">Conteúdo Programático</h2>
		<accordion class="accordion-component accordion">
			<accordion-group heading="{{conteudo.titulo}}" play-demo-modal="{{conteudo.demoplay}}" ng-repeat="conteudo in vm.info.conteudos" class="accordion-navigation tab-title" icon-carrinho="{{conteudo.dataValor.valor}}" add-carrinho="buy.addItemCarrinho(conteudo.dataValor.produto)" >
		      <div class="textexpand" ng-bind-html="conteudo.descricao"></div>
		      <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
		    </accordion-group>
		 </accordion>
 	</section>

	<a name="formato-do-curso"></a>
	<section data-magellan-destination="formato-do-curso" id="formato-do-curso" class="course-page__sections">
		<h2 class="course-page__sections--title">Formato</h2>
 		<ul class="formato-do-curso small-block-grid-2  medium-block-grid-3 large-block-grid-4">

			<li class="formato-do-curso__item" ng-if="vm.info.formato.aulas">
				<span class="formato-do-curso__item--top"> Quantidade  </span>
				<span class="formato-do-curso__item--middle">{{vm.info.formato.aulas}}</span>
				<span class="formato-do-curso__item--bottom">aulas</span>
			</li>


			<li class="formato-do-curso__item" ng-if="vm.info.formato.tempo_acesso">
				<span class="formato-do-curso__item--top">Prazo de Conclusão </span>
				<span class="formato-do-curso__item--middle">{{vm.info.formato.tempo_acesso}}</span>
				<span class="formato-do-curso__item--bottom">dias</span>
			</li>


			<li class="formato-do-curso__item" ng-if="vm.info.formato.tempo_aula">
				<span class="formato-do-curso__item--top">Tempo por Aula </span>
				<span class="formato-do-curso__item--middle">{{vm.info.formato.tempo_aula}}</span>
				<span class="formato-do-curso__item--bottom">horas</span>
			</li>

 
 			<li class="formato-do-curso__item" ng-if="vm.info.isFree||vm.info.isPack||vm.info.isOnline||vm.info.isSerie">
 				<span class="formato-do-curso__item--top">Disponível</span>
 				<span class="formato-do-curso__item--middle">24h</span>
 				<span class="formato-do-curso__item--bottom">por dia</span>
 			</li>


			<li class="formato-do-curso__item" ng-if="vm.info.formato.carga_horaria">
				<span class="formato-do-curso__item--top">Carga Horária</span>
				<span class="formato-do-curso__item--middle">{{vm.info.formato.carga_horaria}}</span>
				<span class="formato-do-curso__item--bottom">horas</span>
			</li>

			<!-- VERIFICAR SE ISSO REPRESENTA QUANTIDADE DE VAGAS PARA PRESENCIAL -->
			<li class="formato-do-curso__item" ng-if="vm.info.formato.disponibilidade"> 
				<span class="formato-do-curso__item--top"> Direcionamento  </span>
				<span class="formato-do-curso__item--middle">{{vm.info.formato.disponibilidade}}</span>
				<span class="formato-do-curso__item--bottom">profissionais</span>
			</li>


 			<li class="formato-do-curso__item" ng-if="vm.info.formato.metodologia">
 				<span class="formato-do-curso__item--top">Métodologia</span>
				<span class="formato-do-curso__item--icon"> <img src="/images/courses/metodologia-expositiva.svg" alt=""></span>
				<span class="formato-do-curso__item--bottom">{{vm.info.formato.metodologia}}</span>
			</li>

			<li class="formato-do-curso__item" ng-if="vm.info.formato.certificado_digital">
 				<span class="formato-do-curso__item--top">Certificado Digital</span>
				<span class="formato-do-curso__item--icon"> <img src="/images/courses/certificado.svg" alt=""></span>
				<span class="formato-do-curso__item--bottom">após conclusão</span>
			</li>

			<li class="formato-do-curso__item" ng-if="vm.info.formato.certificado_impresso">
 				<span class="formato-do-curso__item--top">Certificado Impresso</span>
				<span class="formato-do-curso__item--icon"> <img src="/images/courses/certificado.svg" alt=""></span>
				<span class="formato-do-curso__item--bottom">após conclusão</span>
			</li>

 			<li class="formato-do-curso__item" ng-if="vm.info.formato.material">
 				<span class="formato-do-curso__item--top">Material Didático</span>
				<span class="formato-do-curso__item--icon"> <img src="/images/courses/ic_insert_drive_file_black_24px.svg" alt=""></span>
  			</li>

	 		<li class="formato-do-curso__item" ng-if="vm.info.formato.forum">
	 				<span class="formato-do-curso__item--top">Fórum</span>
	 				<span class="formato-do-curso__item--icon"> <img src="/images/courses/ic_forum_black_24px.svg" alt=""></span>
	  	</li>

			<li class="formato-do-curso__item" ng-if="vm.info.formato.tira_duvidas">
	 				<span class="formato-do-curso__item--top">Tira Dúvidas</span>
	 				<span class="formato-do-curso__item--icon"><img src="/images/courses/ic_live_help_black_24px.svg" alt=""></span>
	  	</li>

 		</ul>
	</section>

	<section data-magellan-destination="ministrante" class="course-page__sections course-page__sections-about-instructor" id="ministrante" ng-if="vm.info.produto.instrutor.length">
		<h4 class="course-page__sections--title">
				<span ng-if="!vm.turma">Professor</span>
				<!-- <span ng-if="(vm.turma && vm.produto.instrutor.length>1)">Professores</span> -->
				<span ng-if="vm.turma" >Instrutor</span> 
		</h4>
		<div class="row" ng-repeat="instructor in vm.info.produto.instrutor" >
				<div class="medium-3 columns">
				<img class="course-page__sections-about-instructor--avatar" back-img="{{instructor.imagem.src}}" ng-src="{{instructor.imagem.src}}" alt="">
 				</div> <!-- //medium-3 columns -->

				<div class="medium-9 columns">
						<span class="navigation_courses__list-item--link">{{instructor.nome}}</span>
						<div ng-bind-html="instructor.descricao"></div>
				</div> <!-- //medium-9 columns -->
				<hr>
		</div> <!-- //row -->
 	</section>


	<section class="course-page__sections  course-page__sections--slim" id="perguntas-frequentes" ng-if="::vm.info.faqs.length">
		<h2 class="course-page__sections--title">Perguntas Frequentes</h2>
    <accordion class="accordion-component accordion">
			<accordion-group heading="{{faq.titulo}}" ng-repeat="faq in vm.info.faqs" class="accordion-navigation tab-title">
		      <div ng-bind-html="faq.descricao" class="textexpand"></div>
		      <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
		    </accordion-group>
		 </accordion>
 	</section>


 	<section class="course-page__sections course-page__sections--slim" id="cursos-relacionados" ng-if="::vm.info.produtos.length">
 			<h2 class="course-page__sections--title">Cursos Relacionados</h2>
			<div class="row">

						<div class="large-12 columns">
										<div class="card-course card-format-line card-format-line-static">
													<div class="card-course-inner">
															<div class="card-course--content" style="padding:0">
																	<table class="card-course--content__table" style="width:100%; margin:0; background-color: transparent">
																				<tr>
																						<td style="width:30px;" >
 																							 <span data-reveal-id="modal__trailer" data-tooltip aria-haspopup="true" title="Assista o trailer"  data-options="disable_for_touch:true" class="has-tip tip-top card-course__play"></span>
																						</td>
																						<td>
																								<span class="card-course__modality">{{course-modality}}</span>
											 													<span class="card-course__name">{{course-name}}</span>
																						</td>
																						<td>
																							  <a href="#" class="card-course__button">R$ 1.350,00</a>
																						</td>
																				</tr>
																  </table>
															</div> <!-- //card-course--content -->
 													</div> <!-- //card-course-inner -->
							 			 </div> <!-- //card-dourse -->
						</div>   <!-- //large-12 columns -->

			</div> <!-- //row -->
 	</section> <!-- //cursos-relacionados -->


	<!-- PROXIMAS TURMAS -->
	<a name="proximas-turmas"></a>
	<section data-magellan-destination="proximas-turmas" id="proximas-turmas" class="course-page__sections course-page__sections--slim" ng-if="vm.info.produto.eventos.length>1">
			<h2 class="course-page__sections--title">Próximas Turmas</h2>
			<ul class="list__courses">
				<li class="block-grid__courses__item" ng-repeat="edicao in vm.info.produto.eventos track by edicao.id" ng-if="!edicao.hide"> 
					<div class="card-format-ever-line">
						<div class="card-course-inner">
							<div class="card-course--content">
								<a href="#garanta-sua-vaga" class="anchor" ng-click="vm.viewTurma(edicao.id)" anchor-link> 
									<span class="card-course__modality">{{vm.info.modalidade}}</span> 
									<span class="card-course__name">{{vm.info.titulo}}</span>
									<span class="card-course__modality">{{edicao.datauf}}</span>
								</a><a class="card-course__button anchor" ng-click="vm.viewTurma(edicao.id)" href="#garanta-sua-vaga" anchor-link>Saiba mais</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
	</section>
</div>  <!--//large-9 columns -->
</div> <!-- // row -->
</article>
</main> <!--// main-content -->
<!-- ########################## END MAIN ########################## -->


<main ng-if="::!vm.info">
		<div class="row">
				<div class="columns large-12 text-center"> 
					<div class="admin__heading admin__heading_login">
						<span  class="title" > 404 - Não encontrado </span>
						<br>
						<span class="hero-course__title"  > Erro de cálculo! </span>
				    </div>
				</div>
		</div>
</main> 