<div class="small-12 medium-4 large-3 columns grid-sidebar-left">
  <div class="page_content">
    <h5 class="menu-filter-sidebars--title">Menu</h5>

    <ul class="menu-partners">
      <li class="active"><a href="/institucional/convenios/conselhos"><i class="material-icons right">expand_more</i>Convênios</a>
        <ul>
          <li><a href="/institucional/convenios/conselhos">Projeto Conselhos Regionais</a></li>
          <li><a href="/institucional/convenios/preduc/ensino"><i class="material-icons right">expand_more</i>Projeto Rede Educacional</a>
            <ul>
              <li><a href="/institucional/convenios/preduc/ensino">Instituição de Ensino</a></li>
              <li class="active"><a href="/institucional/convenios/preduc/entidade">Entidade de Classe</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/institucional/parceiros">Parceiros</a></li>
    </ul>
  </div>
</div>

     <div class="large-9 medium-8 columns">
          <div class="page_content">



            <div class="convenios">
              <div class="row entidades">
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/preduc/entidade" class="active"><i class="material-icons">insert_drive_file</i> CADASTRAR ENTIDADE</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/preduc/conveniadas"><i class="material-icons">business</i> ENTIDADES CONVENIADAS</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/preduc/descontos"><i class="material-icons">format_list_bulleted</i> TABELA DE DESCONTO</a>
                  </div>
                </div>
              </div>
            </div>

            <a href="/institucional/convenios/preduc/inscricao" class="button button-discount">Quero me inscrever com desconto</a>

            <div class="accordion-discount">
            <accordion class="accordion-component accordion">
              <accordion-group heading="Como fazer o convênio?" class="accordion-navigation tab-title">
                  <div>
                    <img src="http://placehold.it/500x100.jpg">
                  </div>
                </accordion-group>
             </accordion>
            <accordion class="accordion-component accordion">
              <accordion-group heading="Documentos para download" class="accordion-navigation tab-title">
                  <div>

                    <table>
                      <tr>
                        <td>Termo de Adesão.docx</td>
                        <td><a href="#" class="button">Baixar</a></td>
                      </tr>
                      <tr>
                        <td>Lista de associados.docx</td>
                        <td><a href="#" class="button">Baixar</a></td>
                      </tr>
                    </table>

                  </div>
                </accordion-group>
             </accordion>
             </div>


        <h1>Cadastro Entidade Classe</h1>
          
        <form name="cadastroEntidadeForm" id="cadastroEntidadeForm" data-abide>

          <div class="row">
            <div class="small-3 columns">
              <label for="nameEntidade" class="text-right middle"> Nome da Entidade <small>*</small> </label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="nameEntidade" id="nameEntidade" placeholder="Nome Completo" ng-model="entidade.name" required>
              <small class="error">Nome é Obrigatório!</small>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="nameResponsavelEntidade" class="text-right middle"> Nome do Responsável <small>*</small> </label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="nameResponsavelEntidade" id="nameResponsavelEntidade" placeholder="Nome Completo"  ng-model="entidade.responsavel" required>
              <small class="error">Nome é Obrigatório!</small>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="namePresidente" class="text-right middle"> Nome do Presidente <small>*</small> </label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="namePresidente" id="namePresidente" placeholder="Nome Completo"  ng-model="entidade.presidente" required>
              <small class="error">Nome é Obrigatório!</small>
            </div>
          </div>                  

          <div class="row">
            <div class="small-3 columns">
              <label for="emailEntidade" class="text-right middle ">E-mail para contato <small>*</small>
            </div>
            <div class="small-9 columns">
              <input type="email" name="emailEntidade" id="emailEntidade" placeholder="Digite seu E-mail"  ng-model="entidade.email" ng-pattern="emailFormat" required >
              <small class="error">Formato de Email incorreto!</small>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="phoneEntidade" class="text-right middle">Telefone para contato <small>*</small></label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="phoneEntidade" id="phoneEntidade" placeholder="Telefone com DDD" ng-model="entidade.phone" mask="(99) 9?9999-9999" required>
              <small class="error">Telefone é Obrigatório!</small>
            </div>
          </div>
          <br>
          <button class="button right" type="submit" ng-disabled="cadastroEntidadeForm.$invalid" ng-click="addInstitution(2)"> Enviar </button>
          <div class="row align-center">
              <div class="small-4 large-4 large-offset-4 columns">
                

                    <div data-alert class="alert-box info radius alert-2-ok" style="display: none;">
                    Mensagem Enviada com SUCESSO!
                  </div>

                  <div data-alert class="alert-box warning  radius alert-2-error" style="display: none;">
                    Falha no Envio da Mensagem!
                  </div>
              </div>
                <div class="small-6 large-4 columns"></div>
            </div>
        </form>
    </div> <!-- //large-8-->
