<main class="content-main">

  <header class="hero-pages hero-pages__insitucional" ng-controller="institucionalController as vm">
    <div class="row">
      <div class="medium-8 columns">
        <span class="hero-pages__label">Institucional</span>
        <h1 class="hero-pages__title">Conheça o QiSat</h1>
        <p class="hero-pages__tagline"> O maior portal de cursos para engenheiros e arquitetos</p>
      </div> <!-- //large-12-->
      <div class="medium-4 columns">
        <div class="hero-course__play-container">
          <a class="hero-course__play" ng-click="modal.trailer('https://www.youtube.com/embed/9eet_OEY6PI?rel=0&arp;autoplay=1
')" anchor-link analytics-event="Play" analytics-category="Videos Institucional"><img class="hero-course__play--image"
              src="images/courses/card-thumb-play.png" alt=""></a>
        </div>
        <!--//hero-course__play-container -->
      </div> <!-- //large-3-->
    </div> <!-- ///row -->
  </header><!-- //hero-home -->


  <div class="row">
    <div class="medium-12 columns">
      <nav class="menu-horizontal">
        <ul class="menu-horizontal__list" data-equalizer>
          <li data-equalizer-watch
            class="menu-horizontal__item menu-horizontal__item--5 menu-horizontal__item--current">
            <a class="menu-horizontal__link" href="/institucional/sobre-a-empresa" analytics-on>Sobre a empresa</a>
          </li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5">
            <a class="menu-horizontal__link" href="/institucional/linha-do-tempo" analytics-on>Linha do tempo</a>
          </li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5">
            <a class="menu-horizontal__link" href="/institucional/convenios-e-parceiros" analytics-on>Convênios e
              Parceiros</a>
          </li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5">
            <a class="menu-horizontal__link" href="/institucional/instrutores-e-professores" analytics-on>Instrutores e
              Professores</a>
          </li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5">
            <a class="menu-horizontal__link" href="/institucional/contatos" analytics-on>Entre em Contato</a>
          </li>
        </ul>
      </nav>
    </div> <!-- //large-12-->
  </div> <!-- ///row -->

  <div class="row">

    <div class="small-12 medium-3 large-3 grid-sidebar-left columns">
      <div class="widget_content">
        <h3 class="widget_content__title">Dados cadastrais</h3>
        <ul class="widget_content__list">
          <li class="widget_content__list__item"> <strong> Razão Social </strong>MN TECNOLOGIA E TREINAMENTO LTDA. </li>
          <li class="widget_content__list__item"> <strong> Nome Fantasia </strong>QISAT </li>
          <li class="widget_content__list__item"> <strong> CNPJ </strong>03.984.954/0001-74 </li>
          <li class="widget_content__list__item"> <strong> Inscrição Estadual </strong>255.019.815 </li>
          <li class="widget_content__list__item"> <strong> Inscrição Municipal </strong>409.600-2 </li>
          <li class="widget_content__list__item"> <strong> Data de Fundação </strong>01/03/2000 </li>
          <li class="widget_content__list__item"> <strong> Site </strong>www.qisat.com.br </li>
          <li class="widget_content__list__item"> <strong> Endereço Sede </strong>Av. Prefeito Osmar Cunha, 183 - Ed.
            Ceisa Center / sala 301 bloco C - Florianópolis/SC - CEP 88.015-100 </li>
          <li class="widget_content__list__item"> <strong> Telefone/Fax </strong>(48) 3332-5000/3332-5010 </li>
        </ul>
      </div> <!-- //page_widget -->

      <div class="widget_content widget_content--slim">
        <accordion>
          <accordion-group heading="Missão" is-open="true">
            <p>Fornecer conhecimento acessível para melhoria da construção civil, contribuindo na qualidade e
              sustentabilidade dos negócios, gerando valor aos acionistas, sociedade e ao meio ambiente.</p>
          </accordion-group>
          <accordion-group heading="Visão">
            <p>Ser reconhecida como uma escola de referência nos mercados da construção civil e áreas afins por meio da
              criação colaborativa.</p>
          </accordion-group>
          <accordion-group heading="Valores">
            <p>
              <ul style="font-size: 0.9rem">
                <li>Respeito</li>
                <li>Espírito de equipe</li>
                <li>Inovação</li>
                <li>Integridade</li>
                <li>Transparência</li>
                <li>Senso de pertencimento</li>
              </ul>
            </p>
          </accordion-group>

          <accordion-group heading="Competências">
            <p>
              <ul style="font-size: 0.9rem">
                <li>Conhecimento dirigido</li>
                <li>Foco em resultado</li>
                <li>Qualidade técnica no trabalho</li>
              </ul>
            </p>
          </accordion-group>

        </accordion>
      </div> <!-- //page_widget -->

      <div class="widget_content">
        <h3 class="widget_content__title">Download da identidade visual </h3>
        <p> Insira seu email para baixar a identidade visual.</p>
        <form name="visualForm" id="visualForm" novalidate>
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <input type="email" name="email" id="email" ng-model="email" placeholder="seu@email.com"
                    ng-pattern="emailFormat" ng-required="true">
                </div>
                <div class="small-2 columns">
                  <a class="button postfix" ng-href="{{isDisabled ? '': '/files/Manual da Marca QiSat.pdf'}}"
                    target="_self" download="Manual QiSat.pdf" ng-disabled="isDisabled" ng-click="solicitarIdentidade()"
                    analytics-on analytics-event="download identidade"><i class="material-icons">cloud_download</i></a>
                </div>
              </div>
              <div ng-show="visualForm.email.$dirty && visualForm.email.$invalid">
                <span class="error" ng-show="visualForm.email.$error.required">Email Obrigatório!</span>
              </div>

              <div ng-show="visualForm.email.$dirty && visualForm.email.$error.pattern">
                <span class="error">Formato de Email incorreto!</span>
              </div>
            </div>
          </div>
        </form>

      </div> <!-- //page_widget -->

    </div> <!-- //large-4-->

    <div class="small-12 medium-9 large-9 columns">
      <div class="owl-sync">
        <div id="gallery-sync_bigger" name="owl-carousel-institucional" class="owl-carousel owl-theme" owl-sync>
          <div class="item"> <img src="images/institucional/institucional_qisat1.jpg"
              alt="Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat, localizada em Florianópolis."
              title="Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat, localizada em Florianópolis." />
            <p class="gallery-sync_caption">Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat,
              localizada em Florianópolis.</p>
          </div>
          <div class="item"> <img src="images/institucional/institucional_qisat2.jpg"
              alt="QiSat, localizada em Florianópolis" title="QiSat, localizada em Florianópolis" />
            <p class="gallery-sync_caption"> <strong>QiSat</strong>, localizada em Florianópolis</p>
          </div>
          <div class="item"> <img src="images/institucional/institucional_qisat3.jpg"
              alt="A sede QiSat tem a originalidade, elegância e beleza no estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978."
              title="A sede QiSat tem a originalidade, elegância e beleza no estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978." />
            <p class="gallery-sync_caption"> <strong></strong> A sede QiSat tem a originalidade, elegância e beleza no
              estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978.</p>
          </div>
          <div class="item"> <img src="images/institucional/institucional_qisat4.jpg"
              alt="QiSat Centro de Florianópolis" title="QiSat Centro de Florianópolis" />
            <p class="gallery-sync_caption"> <strong></strong> Centro de Florianópolis.</p>
          </div>
          <div class="item"> <img src="images/institucional/institucional_qisat5.jpg"
              alt="Excelência em atendimento personalizado." title="Excelência em atendimento personalizado." />
            <p class="gallery-sync_caption"> <strong></strong> Excelência em atendimento personalizado.</p>
          </div>
          <div class="item"> <img src="images/institucional/institucional_qisat6.jpg"
              alt="Ambiente de trabalho sadio, agradável e repleto de pessoas dispostas a buscar evolução contínua."
              title="Ambiente de trabalho sadio, agradável e repleto de pessoas dispostas a buscar evolução contínua." />
            <p class="gallery-sync_caption"> <strong></strong> Ambiente de trabalho sadio, agradável e repleto de
              pessoas dispostas a buscar evolução contínua.</p>
          </div>
          <div class="item"> <img src="images/institucional/institucional_qisat7.jpg"
              alt="Pessoas dedicadas à realização de sonhos." title="Pessoas dedicadas à realização de sonhos." />
            <p class="gallery-sync_caption"> <strong></strong> Pessoas dedicadas à realização de sonhos.</p>
          </div>
        </div>

        <div id="gallery-sync_thumb" class="owl-carousel owl-theme">
          <div class="item"> <img src="images/institucional/institucional_qisat1.jpg"
              alt="Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat, localizada em Florianópolis."
              title="Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat, localizada em Florianópolis." />
          </div>
          <div class="item"> <img src="images/institucional/institucional_qisat2.jpg"
              alt="QiSat, localizada em Floriaópolis" title="QiSat, localizada em Floriaópolis" /> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat3.jpg"
              alt="A sede QiSat tem a originalidade, elegância e beleza no estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978."
              title="A sede QiSat tem a originalidade, elegância e beleza no estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978." />
          </div>
          <div class="item"> <img src="images/institucional/institucional_qisat4.jpg" alt="Centro de Florianópolis"
              title="Centro de Florianópolis" /> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat5.jpg"
              alt="Excelência em atendimento personalizado" title="Excelência em atendimento personalizado" /> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat6.jpg"
              alt="Equipe qualificada para lhe atender" title="Equipe qualificada para lhe atender" /> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat7.jpg"
              alt="Pessoas dedicadas à realização de sonhos." title="Pessoas dedicadas à realização de sonhos." />
          </div>
        </div>
      </div> <!-- /owl-sync -->

      <div class="page_content">
        <h1>Nossa história</h1>
        <p>A necessidade de ofertar capacitação aos usuários dos softwares, criou a oportunidade do desenvolvimento dos
          cursos que permitem levar conhecimento a todas as cidades brasileiras, através da internet e presencialmente.
        </p>
        <p>Por este motivo a QiSat foi fundada em março do ano 2000, como uma marca e canal de treinamento dos produtos
          &nbsp<a href="http://www.altoqi.com.br">AltoQi</a>, empresa líder nacional no mercado de software para
          projetos prediais em estruturas, elétrica, hidráulica e cad. </p>
        <p>A QiSat tem como principal negócio o desenvolvimento e comercialização de cursos presenciais e a distância
          aplicados a capacitação de tecnologia para profissionais liberais e empresas de Engenharia e Arquitetura.
          Possui em seu portfólio &nbsp<b>mais de 60 cursos abertos</b>&nbsp desenvolvidos e sua plataforma de ensino
          &nbsp<a href="http://www.qisat.com.br">www.qisat.com.br</a>&nbsp já ultrapassa &nbsp<b>23 mil alunos</b>,
          profissionais da Engenharia.</p>
      </div> <!-- //page_content -->
    </div> <!-- //large-8-->
  </div>
</main>
<!--// main-content -->