	 <div class="large-3 columns grid-sidebar-left">
        <div class="page_content">
            <div class="show-for-medium-down text-center show-filters">
              <a href="#"><i class="material-icons">filter_list</i> <span>Mostrar filtros</span></a>
            </div>
            <div class="menu-filter-sidebars" id="sidebar-styker">
              <form name="formFilters" id="formFilters">

                <div>

                    <div>
                      <h5 class="menu-filter-sidebars--title">Menu</h5>
                    </div>
                     <hr />
                    <div>
                      <h5 class="menu-filter-sidebars--title">Convênios</h5>
                      <ul class="menu-filter-sidebar-option-set">
                        <li class="menu-filter-sidebar-item" > <a href="/institucional/convenios/conselhos">Projeto Conselhos Regionais </a> </li>
                        <li class="menu-filter-sidebar-item" > Projeto Rede Educacional 
               <ul class="menu-filter-sidebar-option-set"> 
                 <li class="menu-filter-sidebar-item" >  <a href="/institucional/convenios/preduc/ensino"> &nbsp&nbsp&nbsp&nbsp&nbsp Instituição de Ensino </a> </li>
                 <li class="menu-filter-sidebar-item" > <a href="/institucional/convenios/preduc/entidade"> &nbsp&nbsp&nbsp&nbsp&nbsp Entidade de Classe </a> </li>
               </ul>
                        </li>
                      </ul>

                      <h5 class="menu-filter-sidebars--title"><a href="/institucional/parceiros">Parceiros</a></h5>
                    </div>
                  <hr />
                </div>
               </form> 
            </div> <!-- //menu-filter-sidebars -->
        </div>
    </div> <!-- //large-4-->
     <div class="large-9 medium-8 columns">
          <div class="page_content">
            <h1>Parcerias e convenios - Conselhos -Conveniados</h1>
            <img src="images/institucional/conselhos.png" alt="">

            <a href="/institucional/convenios/conselhos">cadastro</a> <br>
            <a href="/institucional/convenios/conselhos/conveniados">conveniados</a> <br>
            <a href="/institucional/convenios/conselhos/desconto">desconto</a>

            <div class="page_content "> 
              <h1>Lista Conselho - CREAS Convêniados</h1>

                <table border="0" cellspacing="0" cellpadding="0" width="705" align="center">
            <tbody>
              <tr>
                <td width="213"><a href="http://crea-ro.qisat.com.br/"> <img width="190" height="48" src="images/CREAS/logo-crea-ro.png" alt="logo-crea-ro"> </a></td>
              </tr>
              <tr>
                <td width="213"><a href="http://crea-to.qisat.com.br/"><img width="190" height="49" src="images/CREAS/logo-crea-to.png" alt="logo-crea-to"></a></td>
              </tr>
              <tr>
                <td width="213"><a href="http://crea-ba.qisat.com.br/"><img width="190" height="49" src="images/CREAS/logo-crea-ba.jpg" alt="logo-crea-ba"></a></p></td>
              </tr>
              <tr>
                <td width="213"><a href="http://crea-df.qisat.com.br/"><img width="190" height="49" src="images/CREAS/logo-crea-df.png" alt="logo-crea-df"></a></p></td>
              </tr>
               <tr>
                <td width="213"><a href="http://crea-sc.qisat.com.br/"><img width="190" height="49" src="images/CREAS/logo-crea-sc.png" alt="logo-crea-sc"></a></p></td>
              </tr>
               <tr>
                <td width="213"><a href="http://crea-ms.qisat.com.br/"><img width="190" height="49" src="images/CREAS/logo-crea-ms.png" alt="logo-crea-ms"></a></p></td>
              </tr>
             </tbody>
          </table>
          </div> <!-- //page_content -->

    </div> <!-- //large-8-->
