<div class="small-12 medium-4 large-3 columns grid-sidebar-left">
  <div class="page_content">
    <h5 class="menu-filter-sidebars--title">Menu</h5>

    <ul class="menu-partners">
      <li class="active"><a href="/institucional/convenios/conselhos"><i class="material-icons right">expand_more</i>Convênios</a>
        <ul>
          <li class="active"><a href="/institucional/convenios/conselhos">Projeto Conselhos Regionais</a></li></li>
          <li><a href="/institucional/convenios/preduc/conveniadas"><i class="material-icons right">chevron_right</i>Projeto Rede Educacional</a></li>
        </ul>
      </li>
      <li><a href="/institucional/parceiros">Parceiros</a></li>
    </ul>
  </div>
  
</div>

     <div class="large-9 medium-8 columns">
          <div class="page_text">

            <div class="convenios">
              <div class="row entidades">
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/conselhos/conveniados" ><i class="material-icons">business</i> ENTIDADES CONVENIADAS</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a class="active"><i class="material-icons">format_list_bulleted</i> TABELA DE DESCONTO</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a  href="/institucional/convenios/conselhos#cadastro" ><i class="material-icons">insert_drive_file</i> CADASTRAR ENTIDADE</a>

                  </div>
                </div>
              </div>
            </div>

            <h1>Tabela de Desconto dos Conselho - CREAS</h1>
            <h4>CURSOS DE SOFTWARE</h4>
            <table width="100%" class="tableCreasResponsive">
            <thead>
              <tr>
                <th nowrap><strong>CURSO</strong></th>
                <th width="14%"><strong>VALOR</strong></th>
                <th width="18%"><strong>VALOR PROMOCIONAL</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="curso in cursosSoftware track by curso.id">
                  <td> {{::curso.nome}} </td>
                  <td> {{::curso.preco}} </td>
                  <td> {{::curso.valorCREAs}} </td>
                </tr>
             </tbody>
          </table>

          <h4>CURSOS TEÓRICOS</h4>
          <table width="100%" class="tableCreasResponsive">
            <thead>
              <tr>
                <th ><strong>CURSO</strong></th>
                <th width="14%"><strong>VALOR</strong></th>
                <th width="18%"><strong>VALOR PROMOCIONAL</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="curso in cursosTeoricos track by curso.id">
                  <td> {{::curso.nome}} </td>
                  <td> {{::curso.preco}} </td>
                  <td> {{::curso.valorCREAs}} </td>
                </tr>
             </tbody>
          </table>


          </div> <!-- //page_content -->

    </div> <!-- //large-8-->
