<div class="small-12 medium-4 large-3 columns grid-sidebar-left">
  <div class="page_content">
    <h5 class="menu-filter-sidebars--title">Menu</h5>

    <ul class="menu-partners">
      <li class="active"><a href="/institucional/convenios/conselhos"><i class="material-icons right">expand_more</i>Convênios</a>
        <ul>
          <li class="active"><a href="/institucional/convenios/conselhos">Projeto Conselhos Regionais</a></li></li>
          <li><a href="/institucional/convenios/preduc/conveniadas"><i class="material-icons right">chevron_right</i>Projeto Rede Educacional</a></li>
        </ul>
      </li>
      <li><a href="/institucional/parceiros">Parceiros</a></li>
    </ul>
  </div>
  
</div>

     <div class="large-9 medium-8 columns">
          <div class="page_text">

            <div class="convenios">
              <div class="row entidades">
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/conselhos/conveniados" ><i class="material-icons">business</i> ENTIDADES CONVENIADAS</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/conselhos/desconto"><i class="material-icons">format_list_bulleted</i> TABELA DE DESCONTO</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="#cadastro" ng-click="vm.open()"><i class="material-icons">insert_drive_file</i> CADASTRAR ENTIDADE</a>

                  </div>
                </div>
              </div>
            </div>

            <h1>Projeto Conselhos Regionais</h1>
            <p>
             <p>A <strong>MN Tecnologia e Treinamento Ltda. (QiSat)</strong>, é uma empresa atuante nas áreas do conhecimento (educação), informática e tecnologia direcionada ao mercado da construção civil. 
Tem como principal negócio o desenvolvimento e comercialização de cursos presenciais e à distância aplicados ao treinamento de tecnologia para os profissionais liberais e empresas de engenharia que atuam no segmento de projetos das áreas estrutural, elétrica, hidráulica, arquitetônica e agronômica em todo o Brasil.</p>

<p>Através de contrato de exclusividade de prestação de serviços com a empresa <strong>AltoQi (S3 ENG Tecnologia Aplicada a Engenharia S/A)</strong> possui o compromisso de capacitação dos usuários das tecnologias desenvolvidas pela própria AltoQi.</p> 

<p>O presente projeto é uma proposição de convênio entre a <strong>QiSat (MN)</strong> e o <strong>Conselho</strong> que visa a implementação de cursos de aperfeiçoamento técnico para profissionais das áreas de engenharia e arquitetura, associados aos seus Conselhos através do Canal de Ensino a Distância QiSat, disponibilizados num canal de capacitação no site do Conselho.</p>

<p>O Projeto foi criado em 2011 e passou a vigorar em 2012 com a iniciativa do Conselho Regional de Engenharia e Agronomia de Rondônia na exprimentação de um projeto beta.</p>

<p><strong>AMEAÇAS E OPORTUNIDADES</strong><p>

<div class="content_align">Na concepção do projeto foram identificadas as seguintes ameaças e oportunidades decorrentes do cenário na época:<br><br>

<strong>Ameaças:</strong>
              <ul>
              <li>Importação de mão de obra na construção civil;</li>
              <li>As catástrofes geográficas e acidentes exigindo maior critério e disciplina técnica do profissional;</li>
              <li>A falta de tempo para atualização profissional.</li>
              </ul>
<strong>Oportunidades:</strong>
              <ul>
              <li>A crescente na construção civil;</li>
              <li>Educação continuada;</li>
              <li>A carência de profissionais com experiência prática em tecnologia.</li>
              </ul>
</div>
          
<p><strong>O PROJETO APRESENTA E FOMENTA</strong></p>
<div class="content_align"><strong>Ao Conselho:</strong>
              <ul>
              <li>Conhecimento e atualização técnica ao profissional registrado atuante no mercado de trabalho;</li>
              <li>Investimentos nas Entidades de Classes vinculadas ao Conselho como principais apoiadoras na capacitação dos profissionais associados;</li>
              <li>Promoção do associativismo e da organização das classes profissionais representadas;</li>
              <li>Apresenta ao mercado um canal de conhecimento que segue as normas técnicas brasileiras, com oportunidade contínua de lançamento de novos cursos e comunicação direta com o profissional;</li>
              <li>Contribui com as Entidades de Classe fomentando o cumprimento do seu estatuto quanto á representatividade do profissional.</li>
              </ul>
<strong>Ao QiSat:</strong>
            <ul>
            <li>Gera novas oportunidades de atualização técnica ao seu público alvo através do convênio institucional entre Empresa - Conselho - Entidade de Classe - Universidade;</li>
            <li>Fideliza o relacionamento institucional estabelecido com os órgãos e entidades representantes;</li>
            <li>Atende a demanda mercadológica reprimida pela desinformação da oportunidade de capacitação já existente.</li>
            </ul>
</div>     

<p><strong>RESPONSABILIDADES</strong></p>
<div class="content_align"><strong>Do Conselho:</strong>
            <ul>
            <li>Realizar a divulgação dos cursos e do convênio em seus canais de comunicação;</li>
            <li>Encaminhar vídeo com o Presidente lançando o convênio e benefícios;</li>
            <li>Brindar os registrados com acesso gratuito no lançamento (se for de interesse);</li>
            <li>Comprometer as Entidades de Classe à difusão do convênio para que os profissionais tenham acesso as oportunidades;</li>
            <li>Repassar ao QiSat as informações necessárias para implementação do projeto;</li>
            <li>Definir responsáveis pelas áreas: comunicação (difusão mensal) financeira (inadimplência) e tecnológica (acompanhamento das inscrições).</li>
            </ul>
<strong>Do QiSat:</strong>
            <ul>
            <li>Oferecer os cursos numa plataforma que possa ser implementada no site do Conselho;</li>
            <li>Desenvolver os cursos com qualidade e assumir os custos relacionados a isso;</li>
            <li>Fazer o acompanhamento (tutoria) dos alunos enquanto estes estiverem cursando os mesmos;</li>
            <li>Realizar o controle de matriculas dos registrados no Conselho nos cursos;</li>
            <li>Cumprir os descontos promovidos pelo Convênio no site do Conselho;</li>
            <li>Repassar relatório trimestral sobre os alunos inscritos e resultados obtidos.</li>
            </ul>
</div>          

<p><strong>BENEFÍCIOS DO PROJETO</strong></p>
<div class="content_align">O Projeto proporciona <strong>benefícios de descontos e participação sobre as vendas online</strong> para os Conselhos:
            <ul>
            <li><strong>Profissional registrado ao Conselho</strong> - Desconto de <strong>30%</strong> nas inscrições dos cursos a distância do canal;</li>
            <li><strong>Profissional e Conselho</strong> - Gerenciamento e vendas online QiSat - Participação percentual de <strong>5%</strong> nas vendas online do site Conselho destinado a elaboração de novos cursos QiSat, definidos em comum acordo com o Conselho;</li>
            <li><strong>Serviço Plataforma LMS</strong> - serviço sem ônus durante a vigência do contrato.</li>
            </ul>
    
</div>
<br>


            <div class="accordion-discount">
            
            <accordion class="accordion-component accordion" name="cadastro" id="cadastro">
              <accordion-group heading="Solicitar Cadastro de Conselho" class="accordion-navigation tab-title" is-open="vm.openAdd">
                  <div>
          
        <form name="vm.cadastroConselhoForm" id="cadastroConselhoForm" novalidate>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="nameConselho" class="middle"> Nome do Conselho <strong title="Campo Obrigatório">*</strong>
              </label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="nameConselho" id="nameConselho" placeholder="Nome Completo" ng-model="vm.conselho.nome_instituicao" ng-required="true">
              <div ng-show="vm.cadastroConselhoForm.nameConselho.$dirty && vm.cadastroConselhoForm.nameConselho.$invalid">
                  <span class="error" ng-show="vm.cadastroConselhoForm.nameConselho.$error.required">Conselho é obrigatório.</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="nameResponsavel" class="middle"> Nome do Responsável <strong title="Campo Obrigatório">*</strong> </label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="nameResponsavel" id="nameResponsavel" placeholder="Nome Completo"  ng-model="vm.conselho.nome_responsavel" ng-required="true">
              <div ng-show="vm.cadastroConselhoForm.nameResponsavel.$dirty && vm.cadastroConselhoForm.nameResponsavel.$invalid">
                  <span class="error" ng-show="vm.cadastroConselhoForm.nameResponsavel.$error.required">Responsável é obrigatório.</span>
              </div>
            </div>
          </div>  

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="emailResponsavel" class="middle">E-mail do Responsável <strong title="Campo Obrigatório">*</strong>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="email" name="emailResponsavel" id="emailResponsavel" placeholder="Digite o E-mail"  ng-model="vm.conselho.email" ng-pattern="vm.emailFormat" ng-required="true" ng-model-options="{ debounce: 1000 }" >

              <div ng-show="vm.cadastroConselhoForm.emailResponsavel.$dirty && vm.cadastroConselhoForm.emailResponsavel.$invalid">
                    <span class="error" ng-show="vm.cadastroConselhoForm.emailResponsavel.$error.required">Email é obrigatório.</span>
              </div>

              <div ng-show="vm.cadastroConselhoForm.emailResponsavel.$dirty && vm.cadastroConselhoForm.emailResponsavel.$error.pattern">
                <span class="error" >Formato de e-mail incorreto.</span>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="phoneResponsavel" class="middle">Telefone do Responsável <strong title="Campo Obrigatório">*</strong></label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="phoneResponsavel" id="phoneResponsavel" placeholder="Telefone com DDD" ng-model="vm.conselho.telefone" mask="(99) 9?9999-9999" ng-required="true">
             <div ng-show="vm.cadastroConselhoForm.phoneResponsavel.$dirty && vm.cadastroConselhoForm.phoneResponsavel.$invalid">
                  <span class="error" ng-show="vm.cadastroConselhoForm.phoneResponsavel.$error.required">Telefone é obrigatório.</span>
            </div>
            </div>
          </div>
          <br>

          <div class="text-right" style="clear: both">
            <button class="button" type="submit" ng-disabled="vm.cadastroConselhoForm.$invalid" ng-click="vm.addInstitution(3)"> Enviar </button>
          </div>

          <div class="row">
              <div class="small-3 large-3 columns">
                </div>

              <div class="small-4 large-4 columns">
                

                    <div data-alert class="alert-box info radius alert-3-ok" style="display: none;">
                    Mensagem enviada com SUCESSO! Aguarde que em breve entraremos em contato.
                  </div>

                  <div data-alert class="alert-box warning  radius alert-3-error" style="display: none;">
                    Falha no envio da mensagem.
                  </div>
              </div>
                
            </div>
        </form>

                  </div>
                </accordion-group>
            </accordion>
         
            </div>
    </div> <!-- //large-8-->
