<div class="small-12 medium-12 large-12 columns">
	<div class="row collapse container-timeline" >
			
			<div class="small-12 medium-5 large-5 columns timeline__list-group--background" >
					 <ul class="timeline__list-group" slick>
								 	
									<li class="list-group-item active" data-year="199x">
										<div class="list-group-item-date">199x</div>
										<div class="container-title">
											<span class="title"> 
												 Início das atividades - Depto de MKT AltoQi 
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="1997">
										<div class="list-group-item-date">1997</div>
										<div class="container-title">
											<span class="title">
												Primeiras edições de Cursos Presenciais
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="1998">
										<div class="list-group-item-date">1998</div>
										<div class="container-title">
											<span class="title">
												Criação do Canal de Cursos Presenciais AltoQi: QiTec
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="1999">
										<div class="list-group-item-date">1999</div>
										<div class="container-title">
											<span class="title">
												Treinamento e Credenciamento de Instrutores AltoQi
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2000">
										<div class="list-group-item-date">2000</div>
										<div class="container-title">
											<span class="title">
												Fundação da empresa QiSat
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2003">
										<div class="list-group-item-date">2003</div>
										<div class="container-title">
											<span class="title">
												Criação do Canal de Cursos a distância AltoQi: QiSat
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2004">
										<div class="list-group-item-date">2004</div>
										<div class="container-title">
											<span class="title">
												Lançamento do curso Marketing para Engenharia, Arquitetura e Agronomia via internet
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2005">
										<div class="list-group-item-date">2005</div>
										<div class="container-title">
											<span class="title">
												Nova área de conhecimento no canal: Hidráulica e Hidrossanitária
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2006">
										<div class="list-group-item-date">2006</div>
										<div class="container-title">
											<span class="title">
												Lançamento do primeiro curso de software na modalidade Ead
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
	
									<li class="list-group-item" data-year="2007">
										<div class="list-group-item-date">2007</div>
										<div class="container-title">
											<span class="title">
												Lançamento dos cursos da linha Lumine V4 e Hydros V4
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2009">
										<div class="list-group-item-date">2009</div>
										<div class="container-title">
											<span class="title">
												Área Elétrica se fortalece com cursos teóricos no canal de conhecimento QiSat
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2009-1">
										<div class="list-group-item-date">2009</div>
										<div class="container-title">
											<span class="title">
												Mudança de endereço
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2010">
										<div class="list-group-item-date">2010</div>
										<div class="container-title">
											<span class="title">
												Início do desenvolvimento do Projeto LMS - Plataforma Moodle QiSat
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2011">
										<div class="list-group-item-date">2011</div>
										<div class="container-title">
											<span class="title">
												Lançamento de cursos através de parcerias comerciais inovadoras
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2012-1">
										<div class="list-group-item-date">2012</div>
										<div class="container-title">
											<span class="title">Projeto Creas e Redes Sociais</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2012">
										<div class="list-group-item-date">2012</div>
										<div class="container-title">
											<span class="title">
												Projeto Política Antipirataria
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2013">
										<div class="list-group-item-date">2013</div>
										<div class="container-title">
											<span class="title">
												Mudança de endereço
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2014-1">
										<div class="list-group-item-date">2014</div>
										<div class="container-title">
											<span class="title">
												Projeto novos instrutores dos Software Builder AltoQi  - Plataforma Builder
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2014-2">
										<div class="list-group-item-date">2014</div>
										<div class="container-title">
											<span class="title">
												Projeto FAPESC
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2015">
										<div class="list-group-item-date">2015</div>
										<div class="container-title">
											<span class="title">
												Lançamento de cursos do Software Builder AltoQi
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
	
									<li class="list-group-item" data-year="2016-1">
										<div class="list-group-item-date">2016</div>
										<div class="container-title">
											<span class="title">
												Novo modelo pedagógico e comercial de cursos: Séries de Capítulos
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2016-2">
										<div class="list-group-item-date">2016</div>
										<div class="container-title">
											<span class="title">
												Nova área de conhecimento no canal: Agronomia
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2017-4">
										<div class="list-group-item-date">2017</div>
										<div class="container-title">
											<span class="title">
												Nova área de conhecimento no canal: Qualidade e Desempenho |  Administração
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2017-3">
										<div class="list-group-item-date">2017</div>
										<div class="container-title">
											<span class="title">
												Expansão comercial de cursos via AltoQi 
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

									<li class="list-group-item" data-year="2017-2">
										<div class="list-group-item-date">2017</div>
										<div class="container-title">
											<span class="title">
												Versão Mobile da Plataforma Moodle QiSat – Sistema  LMS 
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

								 	<li class="list-group-item" data-year="2017-1">
										<div class="list-group-item-date">2017</div>
										<div class="container-list">
											<span class="title">
												 Novo website QiSat 
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>

								 	<li class="list-group-item" data-year="2017">
										<div class="list-group-item-date">2017</div>
										<div class="container-list">
											<span class="title">
												 LINHA DO TEMPO QISAT 
											</span>
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
					 </ul>
		 		 </div> <!-- //large-5-->

          
		  	<div class="small-12 medium-7 large-7 columns timeline__post--background" data-equalizer-watch>

          		<div class="timeline__post year-2017" name="2017">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/temp3.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2017	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Linha do Tempo QiSat.</p>
 							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur. Sed doloribus quasi distinctio voluptate temporibus dolores totam iusto ducimus tempore placeat voluptatibus, maiores quae eius</p>
 							<P>Eesse et eligendi impedit repellat error amet. Voluptas est, corporis, voluptatibus quam, nulla iure ducimus illo illum provident eius, repellendus numquam. Odio in iusto iste impedit sunt, animi cupiditate, omnis perferendis voluptatibus ab quisquam fuga quidem repellendus, soluta dolores quasi! Voluptates, quisquam quis omnis ut tempora ea necessitatibus, ipsum sint quae amet.</p>
 							<P>repudiandae facilis laborum nulla numquam voluptatibus inventore, debitis vel. Minima laborum delectus accusamus, labore quae nostrum in neque necessitatibus distinctio vel! Molestias aperiam quaerat minus unde, dolore ad hic voluptas, id perferendis consectetur sequi ex exercitationem laboriosam? Quibusdam pariatur ipsa dignissimos aspernatur natus. </p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

          		<div class="timeline__post year-2017-1" name="2017-1">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2017	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Novo website QiSat.</p>
 							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur. Sed doloribus quasi distinctio voluptate temporibus dolores totam iusto ducimus tempore placeat voluptatibus, maiores quae eius</p>
 							<P>Eesse et eligendi impedit repellat error amet. Voluptas est, corporis, voluptatibus quam, nulla iure ducimus illo illum provident eius, repellendus numquam. Odio in iusto iste impedit sunt, animi cupiditate, omnis perferendis voluptatibus ab quisquam fuga quidem repellendus, soluta dolores quasi! Voluptates, quisquam quis omnis ut tempora ea necessitatibus, ipsum sint quae amet.</p>
 							<P>repudiandae facilis laborum nulla numquam voluptatibus inventore, debitis vel. Minima laborum delectus accusamus, labore quae nostrum in neque necessitatibus distinctio vel! Molestias aperiam quaerat minus unde, dolore ad hic voluptas, id perferendis consectetur sequi ex exercitationem laboriosam? Quibusdam pariatur ipsa dignissimos aspernatur natus. </p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

          		<div class="timeline__post year-2017-2" name="2017-2">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2017	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Versão Mobile da Plataforma Moodle QiSat – sistema  LMS.</p>
 							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur. Sed doloribus quasi distinctio voluptate temporibus dolores totam iusto ducimus tempore placeat voluptatibus, maiores quae eius</p>
 							<P>Eesse et eligendi impedit repellat error amet. Voluptas est, corporis, voluptatibus quam, nulla iure ducimus illo illum provident eius, repellendus numquam. Odio in iusto iste impedit sunt, animi cupiditate, omnis perferendis voluptatibus ab quisquam fuga quidem repellendus, soluta dolores quasi! Voluptates, quisquam quis omnis ut tempora ea necessitatibus, ipsum sint quae amet.</p>
 							<P>repudiandae facilis laborum nulla numquam voluptatibus inventore, debitis vel. Minima laborum delectus accusamus, labore quae nostrum in neque necessitatibus distinctio vel! Molestias aperiam quaerat minus unde, dolore ad hic voluptas, id perferendis consectetur sequi ex exercitationem laboriosam? Quibusdam pariatur ipsa dignissimos aspernatur natus. </p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
        
         		<div class="timeline__post year-2017-3" name="2017-3">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2017	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Expansão Comercial de Cursos via AltoQi.</p>
 							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur. Sed doloribus quasi distinctio voluptate temporibus dolores totam iusto ducimus tempore placeat voluptatibus, maiores quae eius</p>
 							<P>Eesse et eligendi impedit repellat error amet. Voluptas est, corporis, voluptatibus quam, nulla iure ducimus illo illum provident eius, repellendus numquam. Odio in iusto iste impedit sunt, animi cupiditate, omnis perferendis voluptatibus ab quisquam fuga quidem repellendus, soluta dolores quasi! Voluptates, quisquam quis omnis ut tempora ea necessitatibus, ipsum sint quae amet.</p>
 							<P>repudiandae facilis laborum nulla numquam voluptatibus inventore, debitis vel. Minima laborum delectus accusamus, labore quae nostrum in neque necessitatibus distinctio vel! Molestias aperiam quaerat minus unde, dolore ad hic voluptas, id perferendis consectetur sequi ex exercitationem laboriosam? Quibusdam pariatur ipsa dignissimos aspernatur natus. </p>
 							
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
          
          		<div class="timeline__post year-2017-4" name="2017-4">
 						 <div class="timeline__post__header">
 							<img src="images/institucional/linhadotempoQiSat2017-4-1.jpg" alt=""/> 		
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 							<div class="timeline__post__body__meta">  2017	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Nova área de conhecimento no canal: Qualidade e Desempenho | Administração.</p>
 							<p>O canal QiSat recebeu o curso da NBR 15575 que apresenta conceitos e aspectos normativos presentes na primeira parte da NBR 15575, onde são apresentados, através de uma abordagem geral, os requisitos e critérios relativos ao desempenho de edificações habitacionais.</p></div>
						<div class="timeline__post__header">
 							<img src="images/institucional/linhadotempoQiSat2017-4-2.jpg" alt=""/> 		
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 							<p class="lead">Nova área de conhecimento no canal: Administração.</p>
 							<P>Lançamento de cursos que permitem que os profissionais estudem, compreendam e apliquem marketing, técnicas de negociação e vendas em seus serviços.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

          		<div class="timeline__post year-2016" name="2016">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/linhadotempoQiSat2016.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2016	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Nova área de conhecimento no canal: Agronomia.</p>
 							<p>Através de pesquisas de mercado voltada para associados do CREA de 06 estados: Santa Catarina, Distrito Federal, Tocantins, Rondônia, Bahia e Mato Grosso do Sul, foi identificada demanda para essa área de conhecimento.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

          		<div class="timeline__post year-2016-1" name="2016-1">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2016	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Novo Modelo Pedagógico e Comercial de Cursos: Séries de Capítulos.</p>
 							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur. Sed doloribus quasi distinctio voluptate temporibus dolores totam iusto ducimus tempore placeat voluptatibus, maiores quae eius</p>
 							<P>Eesse et eligendi impedit repellat error amet. Voluptas est, corporis, voluptatibus quam, nulla iure ducimus illo illum provident eius, repellendus numquam. Odio in iusto iste impedit sunt, animi cupiditate, omnis perferendis voluptatibus ab quisquam fuga quidem repellendus, soluta dolores quasi! Voluptates, quisquam quis omnis ut tempora ea necessitatibus, ipsum sint quae amet.</p>
 							<P>repudiandae facilis laborum nulla numquam voluptatibus inventore, debitis vel. Minima laborum delectus accusamus, labore quae nostrum in neque necessitatibus distinctio vel! Molestias aperiam quaerat minus unde, dolore ad hic voluptas, id perferendis consectetur sequi ex exercitationem laboriosam? Quibusdam pariatur ipsa dignissimos aspernatur natus. </p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
 
          		<div class="timeline__post year-2015" name="2015">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2015	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Lançamento dos cursos Software Builder AltoQi.</p>
 							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur. Sed doloribus quasi distinctio voluptate temporibus dolores totam iusto ducimus tempore placeat voluptatibus, maiores quae eius</p>
 							<P>Eesse et eligendi impedit repellat error amet. Voluptas est, corporis, voluptatibus quam, nulla iure ducimus illo illum provident eius, repellendus numquam. Odio in iusto iste impedit sunt, animi cupiditate, omnis perferendis voluptatibus ab quisquam fuga quidem repellendus, soluta dolores quasi! Voluptates, quisquam quis omnis ut tempora ea necessitatibus, ipsum sint quae amet.</p>
 							<P>repudiandae facilis laborum nulla numquam voluptatibus inventore, debitis vel. Minima laborum delectus accusamus, labore quae nostrum in neque necessitatibus distinctio vel! Molestias aperiam quaerat minus unde, dolore ad hic voluptas, id perferendis consectetur sequi ex exercitationem laboriosam? Quibusdam pariatur ipsa dignissimos aspernatur natus. </p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

          		<div class="timeline__post year-2014" name="2014">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/linhadotempoQiSat2014.png" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2014	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Projeto FAPESC.</p>
 							<p>Projeto de desenvolvimento de ferramentas para planejamento de execução de obras, através de recursos de visualização tridimensional e impressão 3d em escala reduzida. 
							<p><strong>Período: 2014 – 2016.</strong></p>
							<p>O projeto teve como resultado o curso Impressão 3D – Maquetes de Projetos via internet.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
          
          		<div class="timeline__post year-2014-1" name="2014-1">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2014	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Projeto Novos Instrutores Software Builder AltoQi  - Plataforma Builder.</p>
 							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur. Sed doloribus quasi distinctio voluptate temporibus dolores totam iusto ducimus tempore placeat voluptatibus, maiores quae eius</p>
 							<P>Eesse et eligendi impedit repellat error amet. Voluptas est, corporis, voluptatibus quam, nulla iure ducimus illo illum provident eius, repellendus numquam. Odio in iusto iste impedit sunt, animi cupiditate, omnis perferendis voluptatibus ab quisquam fuga quidem repellendus, soluta dolores quasi! Voluptates, quisquam quis omnis ut tempora ea necessitatibus, ipsum sint quae amet.</p>
 							<P>repudiandae facilis laborum nulla numquam voluptatibus inventore, debitis vel. Minima laborum delectus accusamus, labore quae nostrum in neque necessitatibus distinctio vel! Molestias aperiam quaerat minus unde, dolore ad hic voluptas, id perferendis consectetur sequi ex exercitationem laboriosam? Quibusdam pariatur ipsa dignissimos aspernatur natus. </p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
          
          		<div class="timeline__post year-2013" name="2013-1">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/linhadotempoQiSat2013.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2013	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Mudança de endereço.</p>
 							<p>Em Novembro de 2013 a QiSat mudou-se do bairro Trindade para o Centro de Florianópolis, na Avenida Osmar Cunha n. 183, Bloco C, Sala 301 nas instalações do Edifício Ceisa Center sendo seu atual endereço.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
  
          		<div class="timeline__post year-2012" name="2012">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2012	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Projeto Política Antipirataria.</p>
 							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur. Sed doloribus quasi distinctio voluptate temporibus dolores totam iusto ducimus tempore placeat voluptatibus, maiores quae eius</p>
 							<P>Eesse et eligendi impedit repellat error amet. Voluptas est, corporis, voluptatibus quam, nulla iure ducimus illo illum provident eius, repellendus numquam. Odio in iusto iste impedit sunt, animi cupiditate, omnis perferendis voluptatibus ab quisquam fuga quidem repellendus, soluta dolores quasi! Voluptates, quisquam quis omnis ut tempora ea necessitatibus, ipsum sint quae amet.</p>
 							<P>repudiandae facilis laborum nulla numquam voluptatibus inventore, debitis vel. Minima laborum delectus accusamus, labore quae nostrum in neque necessitatibus distinctio vel! Molestias aperiam quaerat minus unde, dolore ad hic voluptas, id perferendis consectetur sequi ex exercitationem laboriosam? Quibusdam pariatur ipsa dignissimos aspernatur natus. </p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

          		<div class="timeline__post year-2012-1" name="2012-1">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2012	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Projeto Creas e Redes Sociais.</p>
 							<p>O presente projeto é uma proposição de convênio entre a QiSat (MN) e o CREA que visa a implementação de cursos de aperfeiçoamento técnico para profissionais das áreas da engenharia, associados ao CREA, através do Canal de Ensino a Distância QiSat, disponibilizados num canal de capacitação no site do CREA.</p>
							<p>Para QiSat o projeto tem três principais objetivos:</p>
							<p>
							- Viabilizar preço mais acessível aos profissionais registrados no sistema CREA, conveniados.<br>
							- Atender a demanda mercadológica reprimida pela desinformação da oportunidade de capacitação já existente.<br>
							- Gerar novas oportunidades de atualização técnica ao seu público-alvo através do convênio institucional entre Empresa - CREA - Entidade de Classe – Universidade.</p>
							<p>Atualmente participam do projeto os estados de SC, DF, BA, MS, TO e RO.</p>
							<p><a href="http://crea-sc.qisat.com.br" target="_blank" >http://crea-sc.qisat.com.br/</a><br>
							<a href="http://crea-df.qisat.com.br" target="_blank" >http://crea-df.qisat.com.br/</a><br>
							<a href="http://crea-ba.qisat.com.br" target="_blank" >http://crea-ba.qisat.com.br/</a><br>
							<a href="http://crea-ms.qisat.com.br" target="_blank" >http://crea-ms.qisat.com.br/</a><br>
							<a href="http://crea-ro.qisat.com.br" target="_blank" >http://crea-ro.qisat.com.br/</a><br>
							<a href="http://crea-to.qisat.com.br" target="_blank" >http://crea-to.qisat.com.br/</a></p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

         		<div class="timeline__post year-2011" name="2011">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2011	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Lançamento de cursos nas áreas de Acustica e Gestão através de Parcerias Comerciais inovadoras</p>
 							<p>A Empresa firmou parceria com empresas especializadas na produção de conteúdo EaD proporcionando maior variedade de cursos para seus alunos, fortalecendo o seu portfólio.
							<p>As empresas Anima Acústica - Tecnologia e Conhecimento e Complex Informática Ltda foram pioneiras junto a QiSat nesta iniciativa fomentando cursos na área de gestão, projeto acústico e normas para construção civil.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
  
 				<div class="timeline__post year-2010" name="2010">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2010	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Início do desenvolvimento do Projeto LMS Plataforma Moodle QiSat</p>
 							<p>A Empresa passou a investir na customização de aplicativo open source para criação de ambiente de aprendizagem virtual com gerenciamento, CRM e e-commerce de cursos via Internet e uso de recursos voltados para publicação de conteúdo, interatividade entre alunos via chat e fórum, avaliação do processo de ensino e aprendizagem e permissão de controle das atividades desenvolvidas pelos usuários via Internet.</p>
 							<p>O objetivo da ferramenta é a administração e gestão dos serviços QiSat, sistematizados e unificados nas demandas da própria Empresa, em especial do Aluno. O projeto representa até hoje independência tecnológica para avanço em ações estratégicas.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

				<div class="timeline__post year-2009-1" name="2019-1">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/linhadotempoQiSat2009-1.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2009	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Mudança de endereço</p>
 							<p>Em abril/2009 a QiSat mudou-se do Tecnópolis, bairro João Paulo, para Trindade, nas instalações da <strong>ACATE - Associação Catarinense de Empresas de Tecnologia</strong> em Florianópolis.</p>
							<p>A mudança de endereço permitiu à empresa maior engajamento com o setor de tecnologia e educação.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

				<div class="timeline__post year-2009" name="2019">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/linhadotempoQiSat2009.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2009	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Área Elétrica se fortalece com cursos teóricos no canal de conhecimento QiSat</p>
 							<p>Lançamento dos primeiros cursos teóricos de elétrica com os temas: instalações residenciais e prediais.</p>
							<p>A elaboração técnica e didática ocorreu através de serviços prestados pelo Sr. José Carlos Pontes relativo às aulas interpretativas dos cursos a seguir, publicados no portal:<br><br>
							- Curso de Instalações Elétricas Prediais, Telefonia e Infraestrutura de TV via internet<br> 
							- Curso Instalações Elétricas Residenciais via internet<br>
							- Curso Sistemas de Proteção Contra Descargas Atmosféricas via internet<br><br>
							Este trabalho foi uma iniciativa de cooperação técnica e cientifica junto ao INTEC - INSTITUTO TECNOLÓGICO E CIÊNTIFICO, firmado no dia 01 de maio de 2008.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

				<div class="timeline__post year-2007" name="2007">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2007	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Lançamento dos cursos da linha Lumine V4 e Hydros V4.</p>
 							<p>Lançamento dos cursos da linha Lumine V4 e Hydros V4 versão português e espanhol e nova versão do site.
							<p>O segmento de projetos complementares seguia crescente no mercado e os profissionais da engenharia passaram a investir mais na diversificação de seus produtos e serviços de projetos prediais. O QiSat acompanhou o desenvolvimento do software e além dos cursos em português desenvolveu também a versão espanhol no www.qisat.com junto com uma nova identidade para o www.qisat.com.br para atender este novo cenário mercadológico.</p>
							<p>Os cursos do software Lumine v4 e Hydros V4  possuem objetivos específicos de proporcionar aos profissionais engenheiros, arquitetos e técnicos que atuam diretamente na área de projetos elétricos e hidráulicos prediais, maior habilidade técnica e domínio dos recursos principais de lançamento, dimensionamento e acabamento dos desenhos de instalações elétricas e hidráulicas prediais utilizando o software Lumine V4 e Hydros V4, respectivamente. Além disso, possibilitar o atendimento das expectativas dos clientes quanto à oportunidade de participar o curso específico em qualquer tempo e de qualquer lugar, via internet.</p>
							<p><strong>O curso do Lumine V4 marcou a implementação da nova área de conhecimento para o canal: Elétrica.</strong></p>
							<p>Em 2007, além de atender a área de estruturas e hidrossanitária, a QiSat passou a atender também a área elétrica, abrangendo as principais áreas da Construção Civil brasileira. Após este marco, todos os segmentos de projetos complementares como incêndio, cabeamento, acústica, gestão, etc, passaram a ser objetivo e foco no QiSat.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

				<div class="timeline__post year-2006" name="2006">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/linhadotempoQiSat2006.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2006	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Lançamento do primeiro curso de Software na modalidade Ead.</p>
 							<p>Após diversos estudos de aplicação, a engenharia AltoQi e QiSat atingiram um protótipo ideal para a capacitação dos software AltoQi via internet. Foi desenvolvido e lançado o Curso Básico do Software Eberick Gold a distância. Este protótipo foi a viabilidade decisiva da capacitação EaD para todos os produtos AltoQi.</p>
							<p>O curso teve como objetivo proporcionar conhecimento sobre os principais recursos do AltoQi Eberick, software para elaboração de projetos estruturais em concreto armado, aos profissionais e estudantes de engenharia, arquitetura e técnicos de áreas relacionadas que atuam ou pretendem atuar na elaboração de projetos estruturais.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
				
				<div class="timeline__post year-2005" name="2005">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2005	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Nova área de conhecimento no canal: Hidráulica e Hidrossanitária.</p>
 							<p>Foram lançados cursos a distância teóricos sobre os temas: instalações hidrossanitárias prediais de água quente e fria; esgoto sanitário; e águas pluviais.</p>
							<p>A elaboração técnica e didática ocorreu através de serviços prestados pelo Sr. Sérgio Frederico Gnipper relativo as aulas interpretativas dos cursos:</p>
							<p>Instalações Prediais de Água Fria<br>
							Instalações Prediais de Água Quente<br>
							Instalações Prediais de Esgoto Sanitário<br>
							Instalações Prediais de Águas Pluviais<br>
							Instalações Prediais Hidráulicas de Combate a Incêndio<br>
							Instalações Prediais de Gás Combustível</p>
							<p>Este trabalho foi uma iniciativa complementar ao contrato firmado entre S3ENG EMPRESA DE INTELIGÊNCIA APLICADA À ENGENHARIA S/A e GNIPPER E ENGENHEIROS ASSOCIADOS S/C LTDA. através do INSTITUTO EUVALDO LODI – IEL SC no dia 28 de junho de 2004 originada pelo Projeto Pegaso.</p>
							<p>Nesse ano a QiSat além de atender área de e estruturas, passou a atender com maior foco a área hidrosanitária.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
				
				<div class="timeline__post year-2004" name="2004">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/linhadotempoQiSat2004.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2004	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Lançamento do curso Marketing para Engenharia, Arquitetura e Agronomia via internet.</p>
 							<p>Com a parceria estabelecida com o Eng. Ênio Padilha, o canal QiSat lança seu segundo curso no portal com objetivo de fortalecer o EaD e vencer os paradigmas do segmento e-learning.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

				<div class="timeline__post year-2003" name="2003">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2003	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Criação do canal de cursos a distância AltoQi: QiSat.</p>
 							<p>Lançamento do <strong>Canal QiSat</strong> www.qisat.com.br. Pioneiro em ensino a distância no Brasil, tem seu percurso pautado na qualidade técnica, responsabilidade, credibilidade e inovação. É a marca oficial de treinamento da <strong>AltoQi</strong> com a missão de disseminar conhecimento técnico para a Engenharia.</p> 

							<p>O canal de cursos QiSat se constituiu um portal de ensino a distância para engenharia com o lançamento do curso sobre a <strong>NBR 6118:2003 – Concreto Armado</strong>. Este por sua vez, teve como principal objetivo promover a atualização de todos os profissionais de engenharia do Brasil que trabalham com projeto e execução de estruturas, para a nova NBR 6118:2003. Contribuir para o estudo, compreensão e efetiva aplicação da nova Norma em todas as etapas da construção a partir da data de sua vigência (março de 2004), e também contribuir para a difusão dos recursos eletrônicos no ensino da Engenharia.</p>

							<p>O Curso foi desenvolvido pela AltoQi Tecnologia em Informática Ltda., e ainda hoje está disponível no canal e sempre é atualizado de acordo com as revisões da ABNT. Contou com a participação de renomados engenheiros e professores do país.</p>  

							<p>São eles:<br><br>

							Alexandre Jerônimo Vieira Rodrigues / SC<br>
							André Luiz Aquere de Cerqueira e Souza / DF<br>
							Daniel Domingues Loriggio / SC<br>
							Eduardo Klein / SC<br>
							Fernando Rebouças Stucchi / SP<br>
							Francisco Graziano / DF<br>
							Jano D’Araujo Coelho / SC<br>
							Juliana Sá Brito Stramandinoli / SC<br>
							Lauro Modesto dos Santos / SP<br>
							Libânio Miranda Pinheiro / SP<br>
							Marcos Fernando Carneiro Carnaúba / AL<br>
							Narbal Marcellino / SC<br>
							Ricardo Leopoldo e Silva França / SP<br>
							Rodrigo Broering Koerich / SC</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->
				
				<div class="timeline__post year-2000" name="2000">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/linhadotempoQiSat2000.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  2000	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Fundação da Empresa QiSat.</p>
 							<p>Fundada em 01/01/2000 a empresa MN TECNOLOGIA E TREINAMENTO LTDA caracterizada pela marca QiSat.
							Aliados a oportunidade de criar uma rede de relacionamento com os principais agentes da Engenharia; com potencial intelectual e tecnológico em eminência; e a demanda de capacitação no mercado de trabalho fundamos a Empresa que assumiu as responsabilidades operacionais do canal ensino presencial da AltoQi, o QiTec e mais a frente viria abraçar também o canal de ensino a distância da AltoQi, o QiSat.</p>
 						 </div> <!-- //timeline__post__body -->
 				</div> <!-- //timeline__post -->

			 	<div class="timeline__post year-1999" name="1999">
			            <div class="timeline__post__header">
			                   <img src="images/institucional/linhadotempoQiSat1999.jpg" alt=""/>
			            </div> <!--//timeline__post__header-->
			            <div class="timeline__post__body">
			               <div class="timeline__post__body__meta">  1999  </div> <!-- //timeline__post__meta -->
			               <p class="lead">Treinamento e Credenciamento de Instrutores AltoQi.</p>
			               <p>Implementado o Projeto para Treinamento e Credenciamento de Instrutores AltoQi. Este projeto além de atender o objetivo estratégico da AltoQi em “Capacitar e credenciar profissionais que possam difundir a imagem da empresa através da transferência de tecnologia em cursos, palestras e eventos padronizados em todo o Brasil” resguardou ao mercado a qualidade técnica dos software AltoQi, treinando mais 15 mil profissionais nestes 18 anos de efetividade do projeto. </p>

							<p>Instrutores Credenciados pelo Projeto:<br><br>

							1999 - André Luiz da Silveira Maia / MG<br>
							1999 - Elinor Dalla Lana / RS<br>
							1999 - Stéphanne Vannier neto /RJ<br>
							1999 - Rodrigo Nilson / SC<br>
							1999 - Alexandre J. Vieira Rodrigues / SC<br>
							1999 - Rodrigo Broering. Koerich / SC<br>
							1999 - Samuel Augusto Armstrong / PR<br>
							2001 - Carlos Alexander Santestevan Baigorria / SC<br>
							2001 - Jorge Mikaldo Junior / PR<br>
							2001 - Jussara Bacelar de Melo / BA<br>
							2001 - Carlos Wagne Ferreira de Souza Magalhães / PE<br>
							2001 - Walid Joseph Esper / GO<br>
							2001 - Stefan Luty Kossobudski / DF<br>
							2001 - Marcelo Salgado Athayde / PA<br>
							2001 - Julian Silva / SC<br>
							2001 - Francisco de Gonçalves Junior / SC<br>
							2001 - Cesar Augusto Rosário / SC<br>
							2004 - Daniela Bussolo / SC<br>
							2005 - Roger Eduardo Faria Costa / MG<br>
							2005 - André Puel / SC<br>
							2006 - Ronaldo Parisenti / SC<br>
							2011 - Adriano Pacheco / SC<br>
							2015 - Michele Mohr / SC<br>
							2015 - Paulo Cassias Pereira<br>
							2015 – Mateus Rodrigo de Souza / SC<br>
							2016 - Karine Cunha / SC</p>
		              	</div> <!-- //timeline__post__body -->
		        </div> <!-- //timeline__post -->

			 	<div class="timeline__post year-1998" name="1998">
			            <div class="timeline__post__header">
			                   <img src="images/institucional/temp3.jpg" alt=""/>
			            </div> <!--//timeline__post__header-->
			            <div class="timeline__post__body">
			               <div class="timeline__post__body__meta">  1998  </div> <!-- //timeline__post__meta -->
			               <p class="lead">Criação do canal de cursos presenciais AltoQi: QiTec</p>
			               <p>A programação anual contava com edições direcionadas para os doze maiores estados brasileiros.</p>
	              	</div> <!-- //timeline__post__body -->
		       </div> <!-- //timeline__post -->

			 	<div class="timeline__post year-1997" name="1997">
			            <div class="timeline__post__header">
			                   <img src="images/institucional/linhadotempoQiSat1997.jpg" alt=""/>
			            </div> <!--//timeline__post__header-->
			            <div class="timeline__post__body">
			               <div class="timeline__post__body__meta">  1997  </div> <!-- //timeline__post__meta -->
			               <p class="lead">Cursos Presenciais.</p>
			               <p>Realizado as primeiras experiências de cursos presenciais com edições do Curso Básico do software Eberick versão 32 bits em Florianópolis/SC e Porto Alegre/RS.</p>
	              	</div> <!-- //timeline__post__body -->
		        </div> <!-- //timeline__post -->

			 	<div class="timeline__post year-199x active" name="199x">
			            <div class="timeline__post__header">
			                   <img src="images/institucional/temp3.jpg" alt=""/>
			            </div> <!--//timeline__post__header-->
			            <div class="timeline__post__body">
			               <div class="timeline__post__body__meta">  199x  </div> <!-- //timeline__post__meta -->
			               <p class="lead">Departamento de marketing da empresa AltoQi.</p>
			               <p>Identificávamos a necessidade de criar soluções inovadoras que pudessem auxiliar na educação continuada dos engenheiros do Brasil. Pensando nisso, organizávamos eventos presenciais em parcerias com os CREAs (?) conduzidos pelo Eng. Jano.... com intuito de....</p>
	              	</div> <!-- //timeline__post__body -->
		        </div> <!-- //timeline__post -->

	</div> <!-- ///row -->
 </div> <!-- //class="medium-12 columns" --> 