<div class="small-12 medium-3 large-3 grid-sidebar-left columns">
    <div class="widget_content">
      <h3 class="widget_content__title">Dados cadastrais</h3>
      <ul class="widget_content__list">
        <li class="widget_content__list__item"> <strong> Razão Social </strong>MN TECNOLOGIA E TREINAMENTO LTDA. </li>
        <li class="widget_content__list__item"> <strong> Nome </strong>Fantasia QISAT </li>
        <li class="widget_content__list__item"> <strong> CNPJ </strong>03.984.954/0001-74 </li>
        <li class="widget_content__list__item"> <strong> Inscrição Estadual </strong>255.019.815 </li>
        <li class="widget_content__list__item"> <strong> Inscrição Municipal </strong>409.600-2 </li>
        <li class="widget_content__list__item"> <strong> Data de Fundação </strong>01/03/2000 </li>
        <li class="widget_content__list__item"> <strong> Responsável Legal </strong>Stella Maris Maciel Sebastião  </li>
        <li class="widget_content__list__item"> <strong> E-mail </strong>stella@qisat.com.br/ qisat@qisat.com.br </li>
        <li class="widget_content__list__item"> <strong> Site </strong>www.qisat.com.br </li>
        <li class="widget_content__list__item"> <strong> Endereço Sede </strong>Av. Prefeito Osmar Cunha, 183 - Ed. Ceisa Center / sala 301 bloco C - Florianópolis/SC - CEP 88.015-100 </li>
        <li class="widget_content__list__item"> <strong> Telefone/Fax </strong>(48) 3332-5000/3332-5010 </li>
      </ul>
  </div> <!-- //page_widget -->

   <div class="widget_content widget_content--slim">
         <accordion>
            <accordion-group heading="Missão" is-open="true">
               <p> Disseminar conhecimento técnico para a engenharia.</p>
            </accordion-group>
            <accordion-group heading="Visão">
               <p>Ser uma escola online direcionada a área da engenharia, nacionalmente reconhecida pela credibilidade técnica dos seus serviços até 2020.</p>
            </accordion-group>
            <accordion-group heading="Valores">
              <p><ul style="font-size: 0.9rem">
                  <li>Conhecimento dirigido;</li>
                  <li>Inovação constante;</li>
                  <li>Qualidade técnica nos trabalhos;</li>
                  <li>Integridade profissional e contábil;</li>
                  <li>Respeito ao cliente;</li>
                  <li>Qualificação;</li>
                  <li>Espírito de equipe;</li>
                  <li>Foco em resultados.</li></ul>
              </p>
            </accordion-group>
         </accordion>
   </div> <!-- //page_widget -->

   <div class="widget_content">
     <h3 class="widget_content__title">Download da identidade visual </h3>
     <p> Insira seu email para baixar a identidade visual, caso precise entre em contato conosto pelo e-mail design@qisat.com.br ou (48) 33325000.</p>
     <form name="visualForm" id="visualForm" novalidate>
          <div class="row">
             <div class="large-12 columns">
               <div class="row collapse">
                 <div class="small-10 columns">
                   <input type="email" name="email" id="email" ng-model="email"  placeholder="seu@email.com" ng-pattern="emailFormat" ng-required="true" ng-model-options="{ debounce: 1000 }"  >
                 </div>
                 <div class="small-2 columns">
                   <a class="button postfix" ng-href="{{isDisabled ? '': '/files/Manual da Marca QiSat.pdf'}}" target="_self" download="Manual QiSat.pdf" ng-disabled="isDisabled" ng-click="solicitarIdentidade()" ><i class="material-icons" >cloud_download</i></a>
                 </div>
               </div>
                  <div ng-show="visualForm.email.$dirty && visualForm.email.$invalid">
                    <span class="error" ng-show="visualForm.email.$error.required">Email Obrigatório!</span>
                  </div>

                  <div ng-show="visualForm.email.$dirty && visualForm.email.$error.pattern">
                    <span class="error" >Formato de Email incorreto!</span>
                  </div>
             </div>
           </div>
     </form>

   </div> <!-- //page_widget -->

</div> <!-- //large-4-->

<div class="small-12 medium-9 large-9 columns">
    <div class="owl-sync">
        <div id="gallery-sync_bigger" name="owl-carousel-institucional" class="owl-carousel owl-theme" owl-sync>
            <div class="item"> <img src="images/institucional/institucional_qisat1.jpg" alt="Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat, localizada em Florianópolis." title="Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat, localizada em Florianópolis." /> <p class="gallery-sync_caption">Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat, localizada em Florianópolis.</p></div>
            <div class="item"> <img src="images/institucional/institucional_qisat2.jpg" alt="QiSat, localizada em Florianópolis" title="QiSat, localizada em Florianópolis" /> <p class="gallery-sync_caption">  <strong>QiSat</strong>, localizada em Florianópolis</p></div>
            <div class="item"> <img src="images/institucional/institucional_qisat3.jpg" alt="A sede QiSat tem a originalidade, elegância e beleza no estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978." title="A sede QiSat tem a originalidade, elegância e beleza no estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978." /> <p class="gallery-sync_caption">  <strong></strong> A sede QiSat tem a originalidade, elegância e beleza no estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978.</p></div>
            <div class="item"> <img src="images/institucional/institucional_qisat4.jpg" alt="QiSat Centro de Florianópolis" title="QiSat Centro de Florianópolis" /> <p class="gallery-sync_caption">  <strong></strong> Centro de Florianópolis.</p></div>
            <div class="item"> <img src="images/institucional/institucional_qisat5.jpg" alt="Excelência em atendimento personalizado." title="Excelência em atendimento personalizado." /> <p class="gallery-sync_caption">  <strong></strong> Excelência em atendimento personalizado.</p></div>
            <div class="item"> <img src="images/institucional/institucional_qisat6.jpg" alt="Ambiente de trabalho sadio, agradável e repleto de pessoas dispostas a buscar evolução contínua." title="Ambiente de trabalho sadio, agradável e repleto de pessoas dispostas a buscar evolução contínua." /> <p class="gallery-sync_caption">  <strong></strong> Ambiente de trabalho sadio, agradável e repleto de pessoas dispostas a buscar evolução contínua.</p></div>
            <div class="item"> <img src="images/institucional/institucional_qisat7.jpg" alt="Pessoas dedicadas à realização de sonhos." title="Pessoas dedicadas à realização de sonhos." /> <p class="gallery-sync_caption">  <strong></strong> Pessoas dedicadas à realização de sonhos.</p></div>
        </div>

        <div id="gallery-sync_thumb" class="owl-carousel owl-theme">
          <div class="item"> <img src="images/institucional/institucional_qisat1.jpg" alt="Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat, localizada em Florianópolis." title="Inspiração e qualidade técnica são os frutos de tamanha beleza. QiSat, localizada em Florianópolis."/> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat2.jpg" alt="QiSat, localizada em Floriaópolis" title="QiSat, localizada em Floriaópolis"/> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat3.jpg" alt="A sede QiSat tem a originalidade, elegância e beleza no estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978." title="A sede QiSat tem a originalidade, elegância e beleza no estilo concreto aparente da imponente edificação Ceisa Center, inaugurada em 1978." /> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat4.jpg" alt="Centro de Florianópolis" title="Centro de Florianópolis" /> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat5.jpg" alt="Excelência em atendimento personalizado" title="Excelência em atendimento personalizado" /> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat6.jpg" alt="Equipe qualificada para lhe atender" title="Equipe qualificada para lhe atender" /> </div>
          <div class="item"> <img src="images/institucional/institucional_qisat7.jpg" alt="Pessoas dedicadas à realização de sonhos." title="Pessoas dedicadas à realização de sonhos." /> </div>
        </div>
    </div> <!-- /owl-sync -->

    <div class="page_content">
           <h1>Nossa história</h1>
          <p>Temos como principal negócio o desenvolvimento e comercialização de cursos presenciais e a distância aplicados à capacitação de tecnologia para os profissionais liberais e empresas de engenharia e arquitetura que atuam no segmento de projetos em todo o Brasil.</p>
          <p>A QiSat foi fundada em março do ano 2000, como uma marca de treinamento e desenvolvimento da AltoQi, desenvolvedora de tecnologia aplicada à engenharia. A AltoQi é líder no mercado nacional, consolidada no mercado há mais de 26 anos. Os principais produtos AltoQi são softwares para desenvolvimento de projetos estruturais, elétricos e hidráulicos. </p>
          <p>A necessidade de ofertar capacitação aos usuários dos softwares criou a oportunidade do desenvolvimento dos cursos a distância que permitem levar conhecimento a todas as cidades brasileiras através da internet.</p>
    </div> <!-- //page_content -->
</div> <!-- //large-8-->

