	 <div class="large-3 columns grid-sidebar-left">
        <div class="page_content">
            
            <div class="menu-filter-sidebars" id="sidebar-styker">
              <form name="formFilters" id="formFilters">

                <div>

                    <div>
                      <h5 class="menu-filter-sidebars--title">Menu</h5>
                    </div>



        <ul class="menu-partners">
          <li><a href="/institucional/convenios/conselhos"><i class="material-icons right">chevron_right</i>Convênios</a></li>
          <li class="active"><a href="/institucional/parceiros">Parceiros</a></li>
        </ul>


                </div>
               </form> 
            </div> <!-- //menu-filter-sidebars -->
        </div>
    </div> <!-- //large-4-->
     <div class="large-9 medium-8 columns">
          <div class="page_content">
            <div class="parceiros">
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="http://placehold.it/200x100.jpg">
                  <span>Conheça nosso parceiro</span>
                </a>
              </div>
            </div>
          </div> <!-- //page_content -->
    </div> <!-- //large-8-->
