<div class="large-12 columns page-professores">
    <div class="page_content">

          <a class="button" href="/institucional/instrutores-e-professores" title="Instrutores e Professores" ><i class="material-icons">keyboard_arrow_left</i> Voltar</a>

        <div class="professor-info">
            <div class="text-center">
              <img back-img="{{::instructor.imagem}}" ng-src="{{::instructor.imagem}}">
              <p class="name">{{::instructor.nome}}</p>
              <p>{{::instructor.formacao}}</p>
               <p class="name" ng-show="::instructor.redes_sociais.length"> 
                <ul class="text-center instrutorIcons">
                  <li ng-repeat="rede in ::instructor.redes_sociais track by $index"><a ng-href="{{::rede.link}}" target="_blank" title="{{::rede.descricao}}" alt="{{::rede.descricao}}"><img ng-src="{{::rede.img}}"  title="{{::rede.descricao}}" alt="{{::rede.descricao}}" width="24"></a></li>
                </ul> 
              </p>
            </div>
            <div class="perfil-text">
              <div ng-bind-html="::instructor.descricao"></div>
            </div>
        </div>

         <div class="professor-courses" ng-if="::instructor.produto.length">
           <div class="row">
              <div class="large-12 columns">
                <p class="subtitle">Cursos ministrados</p>

                  <div id="owl-carousel-produto" name="owl-carousel-instrutor-produto" class="owl-carousel owl-theme" owl-sync>

                    <div class="item owl-carousel-produto__item" ng-repeat="produto in ::instructor.produto track by $index">
                     <a ng-href="{{produto.url_info}}" target="_self" > <img class="thumbnail" ng-src="{{::produto.imagem}}" alt="{{::produto.nome}}" title="{{::produto.nome}}" ></a>
                    </div>
                  </div>

               </div>
              </div>   
          </div>

          <div class="professor-info professor-articles" ng-if="::instructor.artigos.length">
            <p class="subtitle">Artigos escritos</p>
            <div class="row">
              <div class="small-12 medium-12 large-6 columns" ng-repeat="artigo in ::instructor.artigos track by artigo.id">
                <a ng-href="{{::artigo.link}}" target="_blank" title="{{::artigo.titulo}}" >
                  <img ng-src="{{::artigo.imagem}}" class="right thumbnail" title="{{::artigo.titulo}}" alt="{{::artigo.tag}}">
                  <p>{{::artigo.tituloLimit}}</p>
                  <span>{{::artigo.data_format}}</span>
                </a>
              </div>
            </div>
          </div>

    </div> <!-- //page_content -->
</div> <!-- //large-8-->