	 <div class="large-3 columns grid-sidebar-left">

    </div> <!-- //large-4-->
     <div class="large-9 columns page-professores">
          <div class="page_content">
            <!-- <h1>Instrutores e professores</h1> -->

              <div class="professor-info">
                <div class="text-center">
                  <img back-img="{{::instructor.imagem}}" ng-src="{{::instructor.imagem}}">
                  <p class="name">{{::instructor.nome}}</p>
                  <p>{{::instructor.formacao}}</p>

                   <p class="name"> <ul class="text-center inline-list">
                      <li><a href="#"><img src="images/icons/facebook.png" alt="" width="24"></a></li>
                      <li><a href="#"><img src="images/icons/twitter.png" alt="" width="24"></a></li>
                      <li><a href="#"><img src="images/icons/linkedin.png" alt="" width="24"></a></li>
                      <li><a href="#"><img src="images/icons/instagram.png" alt="" width="24"></a></li>
                      <li><a href="#"><img src="images/icons/youtube.png" alt="" width="24"></a></li>
                    </ul> </p>

                </div>



                <div class="perfil-text">
                  <div ng-bind-html="::instructor.descricao"></div>
                </div>
              </div>


              <div class="professor-courses">
                <p class="subtitle">Cursos ministrados</p>
                <div class="row">
                  <div class="small-3 columns">
                    <img class="thumbnail" src="http://placehold.it/150x150.jpg">
                  </div>
                  <div class="small-3 columns">
                    <img class="thumbnail" src="http://placehold.it/150x150.jpg">
                  </div>
                  <div class="small-3 columns">
                    <img class="thumbnail" src="http://placehold.it/150x150.jpg">
                  </div>
                  <div class="small-3 columns">
                    <img class="thumbnail" src="http://placehold.it/150x150.jpg">
                  </div>
                </div>
              </div>

              <div class="professor-articles">
                <p class="subtitle">Artigos escritos</p>
                <div class="row">
                  <div class="small-3 columns">
                    <a href="#">
                      <img src="http://placehold.it/70x70.jpg" class="right thumbnail">
                      <p>Title</p>
                      <span>jan 19, 2016</span>
                    </a>
                  </div>
                  <div class="small-3 columns">
                    <a href="#">
                      <img src="http://placehold.it/70x70.jpg" class="right thumbnail">
                      <p>Title</p>
                      <span>jan 19, 2016</span>
                    </a>
                  </div>
                  <div class="small-3 columns">
                    <a href="#">
                      <img src="http://placehold.it/70x70.jpg" class="right thumbnail">
                      <p>Title</p>
                      <span>jan 19, 2016</span>
                    </a>
                  </div>
                  <div class="small-3 columns">
                    <a href="#">
                      <img src="http://placehold.it/70x70.jpg" class="right thumbnail">
                      <p>Title</p>
                      <span>jan 19, 2016</span>
                    </a>
                  </div>
                </div>
              </div>

              
              </div>
           <!-- //page_content -->
    </div> <!-- //large-8-->