	 <div class="large-3 columns grid-sidebar-left">
        <div class="page_content">
            <div class="show-for-small-down text-center show-filters">
              <a href="#" style="display: block;"><i class="material-icons">filter_list</i> <span>Mostrar filtros</span></a>
            </div>
            <div class="menu-filter-sidebars" id="sidebar-styker">
              <form name="formFilters" id="formFilters">

                <div>

                    <div>
                      <h5 class="menu-filter-sidebars--title">Buscar por nome {{search}}</h5>

                      <form name="formSearch" id="formSearch"> 
                        <input class="instructor-input-search" type="text" placeholder="Busca por nome" ng-model="searchName" >
                      </form>

                    </div>
  <hr />
                    <div>
                      <h5 class="menu-filter-sidebars--title">Formação</h5>
                      <ul class="menu-filter-sidebar-option-set">
                        <li class="menu-filter-sidebar-item" >
                          <input id="Arquiteto" name="Arquiteto" type="checkbox" value="Arquiteto" class="with-font" ng-model="formacao" ng-change="changeFormacao()" ng-true-value="'Arquiteto'"/> 
                          <label for="Arquiteto">Arquiteto</label>
                        </li>
                        <li class="menu-filter-sidebar-item" >
                          <input id="Agronomo" name="Agronomo" type="checkbox" value="Eng. Agronomo" class="with-font" ng-model="formacao" ng-change="changeFormacao()" ng-true-value="'Eng. Agronomo'"/> 
                          <label for="Agronomo">Eng. Agronomo</label> 
                        </li>
                        <li class="menu-filter-sidebar-item" >
                          <input id="Civil" name="Civil" type="checkbox" value="Eng. Civil" class="with-font" ng-model="formacao"  ng-change="changeFormacao()"  ng-true-value="'Eng. Civil'" /> 
                          <label for="Civil">Eng. Civil</label>
                        </li>
                        <li class="menu-filter-sidebar-item" >
                          <input id="Eletricista" name="Eletricista" type="checkbox" value="Eng. Eletricista" class="with-font" ng-model="formacao" ng-change="changeFormacao()"  ng-true-value="'Eng. Eletricista'" /> 
                          <label for="Eletricista">Eng. Eletricista</label> 
                        </li>
                        <li class="menu-filter-sidebar-item" >
                          <input id="Sanitarista" name="Sanitarista" type="checkbox" value="Eng. Sanitarista" class="with-font" ng-model="formacao" ng-change="changeFormacao()"  ng-true-value="'Eng. Sanitária'"/> 
                          <label for="Sanitarista">Eng. Sanitarista</label> 
                        </li>
                        <li class="menu-filter-sidebar-item" >
                          <input id="Outros" name="Outros" type="checkbox" value="" class="with-font" ng-model="formacao" ng-change="changeFormacao()" ng-true-value="'Outros'"/> 
                          <label for="Outros">Outros</label> 
                        </li>
                      </ul>
                    </div>

                    <div>
                      <hr>
                       <h5 class="menu-filter-sidebars--title">Área de atuação </h5> 
                       <ul class="menu-filter-sidebar-option-set">

                         <li class="menu-filter-sidebar-item">
                            <input name="estrutural" id="estrutural" type="checkbox" class="with-font filter-checkbox filter-types" ng-model="areas.estrutural" ng-true-value="1" ng-change="changeCheckbox()"/>
                            <label for="estrutural" >Estrutural</label> 
                        </li>
                        <li class="menu-filter-sidebar-item">
                            <input name="hidrossanitaria" id="hidrossanitaria" type="checkbox" class="with-font filter-checkbox filter-types" ng-model="areas.hidrossanitaria" ng-true-value="1" ng-change="changeCheckbox()" />
                            <label for="hidrossanitaria"> Hidrossanitária </label> 
                        </li>
                        <li class="menu-filter-sidebar-item">
                            <input name="eletrica"  id="eletrica" type="checkbox" class="with-font filter-checkbox filter-types" ng-model="areas.eletrica" ng-true-value="1" ng-change="changeCheckbox()" />
                            <label for="eletrica">Elétrica</label> 
                        </li>
                        <li class="menu-filter-sidebar-item">
                            <input name="arquitetonica" id="arquitetonica" type="checkbox" class="with-font filter-checkbox filter-types" ng-model="areas.arquitetonica"  ng-true-value="1" ng-change="changeCheckbox()"/>
                            <label for="arquitetonica">Arquitetonica</label> 
                        </li>
                        <li class="menu-filter-sidebar-item">
                            <input name="agronomia" id="agronomia" type="checkbox" class="with-font filter-checkbox filter-types" ng-model="areas.agronomia" ng-true-value="1" ng-change="changeCheckbox()" />
                            <label for="agronomia"> Agronomia </label> 
                        </li>
                    </div>
                  <hr />
                </div>
               </form> 
            </div> <!-- //menu-filter-sidebars -->
        </div>
    </div> <!-- //large-4-->
     <div class="large-9 columns page-professores">
          <!-- <div class="page_content"> -->
          <div class="cards">
            <div class="card" ng-repeat="instructor in instructors | filter:filterInstructor | filter:{nome:searchName} track by instructor.id" >
              <a href="/institucional/instrutor/{{::instructor.id}}">
                <img back-img="{{::instructor.imagem}}" ng-src="{{::instructor.imagem}}">
                <div>
                  <strong>{{::instructor.nome}}</strong>
                  <p>{{::instructor.formacao}}</p>
                </div>
              </a>
            </div>
          </div>
           <!-- //page_content -->
    </div> <!-- //large-8-->