
	<li class="home__instructors__item" ng-repeat="instructor in instructors" >
		<div class="home__instructors__card" >
			<div class="home__instructors__card-header">
				 <img class="home__instructors__image" ng-src="{{instructor.imagem}}" alt="{{instructor.imagem}}">
				 <a href="{{instructor.linkedin.link}}" class="home__instructors__linkedin" title="Visite o linkedin de {{instructor.nome}}" ng-show="{{instructor.linkedin}}">Linkedin</a>
			</div> <!-- //home__instructors__image -->

			<div class="home__instructors__card-footer">
				<strong class="home__instructors__name" ng-bind="instructor.nome" >{{instructor.nome}}</strong>
				<span class="home__instructors__profession" ng-bind="instructor.formacao" >{{instructor.formacao}}</span>
			</div> <!-- //home__instructors__card-footer -->
			</div> <!-- //home__instructors__card -->
	</li>
