<div class="small-12 medium-4 large-3 columns grid-sidebar-left">
  <div class="page_content">
    <h5 class="menu-filter-sidebars--title">Menu</h5>

    <ul class="menu-partners">
      <li class="active"><a href="/institucional/convenios/conselhos" analytics-on ><i class="material-icons right">expand_more</i>Convênios</a>
        <ul>
          <li><a href="/institucional/convenios/conselhos" analytics-on >Projeto Conselhos Regionais</a></li>
          <li><a href="/institucional/convenios/preduc/conveniadas" analytics-on ><i class="material-icons right">expand_more</i>Projeto Rede Educacional</a>
            <ul>
              <li class="active"><a href="/institucional/convenios/preduc/ensino" analytics-on >Instituição de Ensino</a></li>
              <li class="active"><a href="/institucional/convenios/preduc/entidade" analytics-on >Entidade de Classe</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/institucional/parceiros" analytics-on >Parceiros</a></li>
    </ul>
  </div>
  
</div>

     <div class="large-9 medium-8 columns">
          <div class="page_text">
            

            <div class="convenios">
              <div class="row entidades">
                <div class="column small-12 medium-6">
                  <div>
                    <a href="/institucional/convenios/preduc/conveniadas" class="active" analytics-on  ><i class="material-icons">business</i> ENTIDADES CONVENIADAS</a>
                  </div>
                </div>
                <div class="column small-12 medium-6">
                  <div>
                    <a href="/institucional/convenios/preduc/descontos" analytics-on ><i class="material-icons">format_list_bulleted</i> TABELA DE DESCONTO</a>
                  </div>
                </div>
              </div>
            </div>


              <h1>Instituições Conveniadas</h1>

              <div class="inst_filter">
                <form>
                <div class="row">
                  <div class="column small-3">
                    <label>Filtrar por Estado</label>
                    <select ng-options="estado as estado.nome for estado in states track by estado.id" ng-model="estado" >
                      <option value="">Todo o Brasil</option>
                    </select>
                  </div>
                  <div class="column small-9">
                    <i class="material-icons left">search</i>
                    <input type="text" placeholder="Procure por uma instituição de ensino" ng-model="search" >
                  </div>
                </div>
                </form>
              </div>

              <div class="inst_list">
                <ul>
                  <li ng-repeat="institution in institutions | filter:{ nome_instituicao : search, nome_estado : estado.nome } track by institution.id" >
                    <span>
                      <span class="xxx"></span>
                      <img ng-src="{{institution.logo}}" width="50px" height="50px" >
                      <strong>{{institution.nome_instituicao}}</strong>
                      Enceramento do Convênio em {{institution.dataFim}}
                    </span>
                  </li>
                </ul>
              </div>
          </div> <!-- //page_content -->
    </div> <!-- //large-8-->