<div class="small-12 columns">
	<div class="row collapse container-timeline"  data-equalizer>
			
			<div class="large-5 medium-6 columns timeline__list-group--background" data-equalizer-watch>
					 <ul class="timeline__list-group">
								 	<li class="list-group-item active" data-year="1997">
										<div class="list-group-item-date">1997</div>
										<div class="container-list">
											<span class="title">Cursos Presenciais</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="1998">
										<div class="list-group-item-date">1998</div>
										<div class="container-title">
											<span class="title">Criação do canal de cursos presenciais AltoQi: QiTec</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="1999">
										<div class="list-group-item-date">1999</div>
										<div class="container-title">
											<span class="title">Treinamento e Credenciamento de Instrutores AltoQi</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2003">
										<div class="list-group-item-date">2003</div>
										<div class="container-title">
											<span class="title">Criação do canal de cursos a distância AltoQi: QiSat</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2004">
										<div class="list-group-item-date">2004</div>
										<div class="container-title">
											<span class="title">Lançamento do curso Marketing para Engenharia, Arquitetura e Agronomia via internet</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2006">
										<div class="list-group-item-date">2006</div>
										<div class="container-title">
											<span class="title">Lançamento do primeiro curso de Software na modalidade Ead</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2007">
										<div class="list-group-item-date">2007</div>
										<div class="container-title">
											<span class="title">Lançamento dos cursos da linha Lumine V4 e Hydros V4</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2009">
										<div class="list-group-item-date">2009</div>
										<div class="container-title">
											<span class="title">Área Elétrica se fortalece com cursos teóricos no canal de conhecimento QiSat</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2009-b">
										<div class="list-group-item-date">2009</div>
										<div class="container-title">
											<span class="title">Mudança de sede</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2010">
										<div class="list-group-item-date">2010</div>
										<div class="container-title">
											<span class="title">Início do desenvolvimento do Projeto LMS Plataforma Moodle QiSat</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2011">
										<div class="list-group-item-date">2011</div>
										<div class="container-title">
											<span class="title">Lançamento de cursos nas áreas de Acustica e Gestão através de Parcerias Comerciais inovadoras</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2012">
										<div class="list-group-item-date">2012</div>
										<div class="container-title">
											<span class="title">Projeto Creas e Redes Sociais</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2012-b">
										<div class="list-group-item-date">2012</div>
										<div class="container-title">
											<span class="title">Projeto Política Anti Pirataria</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2013">
										<div class="list-group-item-date">2013</div>
										<div class="container-title">
											<span class="title">Mudança de sede</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2014">
										<div class="list-group-item-date">2014</div>
										<div class="container-title">
											<span class="title">Projeto Novos Instrutores Software Builder AltoQi  Familia Builder</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2014-b">
										<div class="list-group-item-date">2014</div>
										<div class="container-title">
											<span class="title">Projeto FAPESC</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2015">
										<div class="list-group-item-date">2015</div>
										<div class="container-title">
											<span class="title">Lançamento dos cursos Software Builder AltoQi</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2016">
										<div class="list-group-item-date">2016</div>
										<div class="container-title">
											<span class="title">Novo Modelo Pedagógico e Comercial de Cursos: Séries de Capítulos</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2016-b">
										<div class="list-group-item-date">2016</div>
										<div class="container-title">
											<span class="title">Nova área de conhecimento no canal: Agronomia</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2017">
										<div class="list-group-item-date">2017</div>
										<div class="container-title">
											<span class="title">Nova área de conhecimento no canal: Qualidade e Desempenho</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2017-b">
										<div class="list-group-item-date">2017</div>
										<div class="container-title">
											<span class="title">Nova área de conhecimento no canal: Administração</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2017-c">
										<div class="list-group-item-date">2017</div>
										<div class="container-title">
											<span class="title">Versão Mobile da Plataforma Moodle QiSat – sistema  LMS</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2017-d">
										<div class="list-group-item-date">2017</div>
										<div class="container-title">
											<span class="title">Expansão Comercial de Cursos via AltoQi</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
									<li class="list-group-item" data-year="2017-e">
										<div class="list-group-item-date">2017</div>
										<div class="container-title">
											<span class="title">Novo Site</span>
											<!-- <span class="subtitle">Secondary text</span> -->
										</div>
										<i class="material-icons arrow">arrow_forward</i>
									</li>
		  
					 </ul>
		 		 </div> <!-- //large-5-->


			 <div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-1997">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  1997  </div> <!-- //timeline__post__meta -->
               <p class="lead">Realizado as primeiras experiências de cursos presenciais com edições do Curso Básico do software Eberick versão 32 bits em Florianópolis/SC e Porto Alegre/RS.</p>
              
              </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->
 
 
 
          <div class="timeline__post year-1998" style="display: none;">
 						 <div class="timeline__post__header">
 							 		<img src="images/institucional/post-timeline.jpg" alt=""/>
 						 </div> <!--//timeline__post__header-->
 						 <div class="timeline__post__body">
 						 	<div class="timeline__post__body__meta">  1998	</div> <!-- //timeline__post__meta -->
 							<p class="lead">Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur.</p>
 							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex obcaecati veritatis, fuga explicabo nostrum repellat optio sunt consectetur. Sed doloribus quasi distinctio voluptate temporibus dolores totam iusto ducimus tempore placeat voluptatibus, maiores quae eius</p>
 							<P>Eesse et eligendi impedit repellat error amet. Voluptas est, corporis, voluptatibus quam, nulla iure ducimus illo illum provident eius, repellendus numquam. Odio in iusto iste impedit sunt, animi cupiditate, omnis perferendis voluptatibus ab quisquam fuga quidem repellendus, soluta dolores quasi! Voluptates, quisquam quis omnis ut tempora ea necessitatibus, ipsum sint quae amet.</p>
 							<P>repudiandae facilis laborum nulla numquam voluptatibus inventore, debitis vel. Minima laborum delectus accusamus, labore quae nostrum in neque necessitatibus distinctio vel! Molestias aperiam quaerat minus unde, dolore ad hic voluptas, id perferendis consectetur sequi ex exercitationem laboriosam? Quibusdam pariatur ipsa dignissimos aspernatur natus. </p>
 						 </div> <!-- //timeline__post__body -->
 					</div> <!-- //timeline__post -->
			


			<div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-1999">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  1999  </div> <!-- //timeline__post__meta -->
               <p class="lead">Implementado o Projeto para Treinamento e Credenciamento de Instrutores AltoQi. Este projeto além de atender o objetivo estratégico da AltoQi em “Capacitar e credenciar profissionais que possam difundir a imagem da empresa através da transferência de tecnologia em cursos, palestras e eventos padronizados em todo o Brasil” resguardou ao mercado a qualidade técnica dos software AltoQi, treinando mais 15 mil profissionais nestes 18 anos de efetividade do projeto.</p>
               <P>Instrutores Credenciados pelo Projeto:</p>
               <ul style="list-style-type:none;">
               	<li>1999 - André Luiz da Silveira Maia / MG</li>
               	<li>1999 - Elinor Dalla Lana / RS</li>
               	<li>1999 - Stéphanne Vannier neto /RJ</li>
               	<li>1999 - Rodrigo Nilson / SC</li>
               	<li>1999 - Alexandre J. Vieira Rodrigues / SC</li>
               	<li>1999 - Rodrigo Broering. Koerich / SC</li>
               	<li>1999 - Samuel Augusto Armstrong / PR</li>
               	<li>2001 - Carlos Alexander Santestevan Baigorria / SC</li>
               	<li>2001 - Jorge Mikaldo Junior / PR</li>
               	<li>2001 - Jussara Bacelar de Melo / BA</li>
               	<li>2001 - Carlos Wagne Ferreira de Souza Magalhães / PE</li>
               	<li>2001 - Walid Joseph Esper / GO</li>
               	<li>2001 - Stefan Luty Kossobudski / DF</li>
               	<li>2001 - Marcelo Salgado Athayde / PA</li>
               	<li>2001 - Julian Silva / SC</li>
               	<li>2001 - Francisco de Gonçalves Junior / SC</li>
               	<li>2001 - Cesar Augusto Rosário / SC</li>
               	<li>2004 - Daniela Bussolo / SC</li>
               	<li>2005 - Roger Eduardo Faria Costa / MG</li>
               	<li>2005 - André Puel / SC</li>
               	<li>2006 - Ronaldo Parisenti / SC</li>
               	<li>2011 - Adriano Pacheco / SC</li>
               	<li>2015 - Michele Mohr / SC</li>
               	<li>2015 - Paulo Cassias Pereira</li>
               	<li>2015 – Mateus Rodrigo de Souza / SC</li>
               	<li>2016 - Karine Cunha / SC</li>
               </ul>
              </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->


			
			<div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-2000">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  2000  </div> <!-- //timeline__post__meta -->
               <p class="lead">Fundada em 01/01/2000 a empresa MN TECNOLOGIA E TREINAMENTO LTDA caracterizada pela marca QiSat.</p>
               <p>Aliados a oportunidade de criar uma rede de relacionamento com os principais agentes da Engenharia; com potencial intelectual e tecnológico em eminência; e a demanda de capacitação no mercado de trabalho fundamos a Empresa que assumiu as responsabilidades operacionais do canal ensino presencial da AltoQi, o QiTec e mais a frente viria abraçar também o canal de ensino a distância da AltoQi, o QiSat.</p>
              </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->



		   
		   <div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-2003">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  2003  </div> <!-- //timeline__post__meta -->
               <p class="lead">Lançamento do Canal QiSat www.qisat.com.br. Pioneiro em ensino a distância no Brasil, tem seu percurso pautado na qualidade técnica, responsabilidade, credibilidade e inovação. É a marca oficial de treinamento da AltoQi com a missão de disseminar conhecimento técnico para a Engenharia.</p>
               <p>O Canal www.qisat.com.br se constituiu um portal de ensino a distância para engenharia com o lançamento do curso sobre a NBR 6118:2003 – Concreto Armado. Este por sua vez, teve como principal objetivo promover a atualização de todos os profissionais de Engenharia do Brasil que trabalham com projeto e execução de estruturas, para a nova NBR 6118:2003; contribuir para o estudo, compreensão e efetiva aplicação da nova Norma em todas as etapas da construção a partir da data de sua vigência (março de 2004); e também contribuir para a difusão dos recursos eletrônicos no ensino da Engenharia.</p>
               <p>O Curso foi desenvolvido pela AltoQi Tecnologia em Informática Ltda., e ainda hoje está disponível no canal e sempre é atualizado de acordo com as revisões da ABNT. Contou com a participação de renomados Engenheiros e Professores do País.  São eles:</p>
               <ul style="list-style-type:none;">
               	<li>Alexandre Jerônimo Vieira Rodrigues / SC</li>
               	<li>André Luiz Aquere de Cerqueira e Souza / DF</li>
               	<li>Daniel Domingues Loriggio / SC</li>
               	<li>Eduardo Klein / SC</li>
               	<li>Fernando Rebouças Stucchi / SP</li>
               	<li>Francisco Graziano / DF</li>
               	<li>Jano D’Araujo Coelho / SC</li>
               	<li>Juliana Sá Brito Stramandinoli / SC</li>
               	<li>Lauro Modesto dos Santos / SP</li>
               	<li>Libânio Miranda Pinheiro / SP</li>
               	<li>Marcos Fernando Carneiro Carnaúba / AL</li>
               	<li>Narbal Marcellino / SC</li>
               	<li>Ricardo Leopoldo e Silva França / SP</li>
               	<li>Rodrigo Broering Koerich / SC</li>
               </ul>
              </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->




           <div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-2005">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  2005  </div> <!-- //timeline__post__meta -->
               <p class="lead">Foram lançados cursos a distância teóricos sobre os temas: instalações hidrossanitárias prediais de água quente e fria; esgoto sanitário; e águas pluviais.</p>
               <p>A elaboração técnica e didática ocorreu através de serviços prestados pelo Sr. Sérgio Frederico Gnipper relativo à aulas interpretativas dos cursos:</p>
               <ol>
               	<li>“Instalações Prediais de Água Fria”</li>
               	<li>“Instalações Prediais de Água Quente”</li>
               	<li>“Instalações Prediais de Esgoto Sanitário”</li>
               	<li>“Instalações Prediais de Águas Pluviais”</li>
               	<li>“Instalações Prediais Hidráulicas de Combate a Incêndio”</li>
               	<li>“Instalações Prediais de Gás Combustível”</li>
               </ol>
               <p>Este trabalho foi uma iniciativa complementar ao contrato firmado entre S3ENG EMPRESA DE INTELIGÊNCIA APLICADA À ENGENHARIA S/A e GNIPPER E ENGENHEIROS ASSOCIADOS S/C LTDA. através do INSTITUTO EUVALDO LODI – IEL SC no dia 28 de junho de 2004 originada pelo Projeto Pegaso.</p>
               <p>Nesse ano a QiSat além de atender área de e estruturas, passou a atender com maior foco a área hidrosanitária.</p>
              </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->

			


			<div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-2006">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  2006  </div> <!-- //timeline__post__meta -->
               <p class="lead">Após diversos estudos de aplicação, a engenharia AltoQi e QiSat atingiram um protótipo ideal para a capacitação dos software AltoQi via internet. Foi desenvolvido e lançado o Curso Básico do Software Eberick Gold a distância. Este protótipo foi a viabilidade decisiva da capacitação EaD para todos os produtos AltoQi.</p>
               <p>O curso teve como objetivo proporcionar conhecimento sobre os principais recursos do AltoQi Eberick, software para elaboração de projetos estruturais em concreto armado, aos profissionais e estudantes de engenharia, arquitetura e técnicos de áreas relacionadas que atuam ou pretendem atuar na elaboração de projetos estruturais.</p>
              </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->



           <div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-2007">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  2007  </div> <!-- //timeline__post__meta -->
               <p class="lead">Lançamento dos cursos da linha Lumine V4 e Hydros V4 versão português e espanhol e nova versão do site.</p>
               <p>O segmento de projetos complementares seguia crescente no mercado e os profissionais da engenharia passaram a investir mais na diversificação de seus produtos e serviços de projetos prediais. O QiSat acompanhou o desenvolvimento do software e além dos cursos em português desenvolveu também a versão espanhol no www.qisat.com junto com uma nova identidade para o www.qisat.com.br para atender este novo cenário mercadológico.</p>
               <p>Os cursos do software Lumine v4 e Hydros V4  possui objetivos específicos de proporcionar aos profissionais engenheiros, arquitetos e técnicos que atuam diretamente na área de projetos elétricos e hidráulicos prediais, maior habilidade técnica e domínio dos recursos principais de lançamento, dimensionamento e acabamento dos desenhos de instalações elétricas e hidráulicas prediais utilizando o software Lumine V4 e Hydros V4, respectivamente. Além disso, possibilitar o atendimento das expectativas dos clientes quanto à oportunidade de participar do curso específico em qualquer tempo e de qualquer lugar, via internet.</p>
               <p>O curso do Lumine V4 marcou a implementação da nova área de conhecimento para o canal: Elétrica.</p>
               <p>Em 2007, além de atender área de estruturas e hidrossanitária, a QiSat passou a atender também a área elétrica, abrangendo as principais áreas da Construção Civil brasileira. Após este marco, todos os segmentos de projetos complementares como incêndio, cabeamento, acústica, gestão, etc, passaram a ser objetivo e foco no QiSat.</p>
              </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->




           <div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-2009">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  2009  </div> <!-- //timeline__post__meta -->
               <p class="lead">Foram lançados os primeiros cursos teóricos de elétrica com os temas: instalações residenciais e prediais.</p>
               <p>A elaboração técnica e didática ocorreu através de serviços prestados pelo Sr. José Carlos Pontes relativo às aulas interpretativas dos cursos a seguir, publicados no portal:</p>
               <ol>
               	<li>Curso de Instalações Elétricas Prediais, Telefonia e Infraestrutura de TV via internet</li>
               	<li>Curso Instalações Elétricas Residenciais via internet</li>
               	<li>Curso Sistemas de Proteção Contra Descargas Atmosféricas via internet</li>
               </ol>
               <p>Este trabalho foi uma iniciativa de cooperação técnica e cientifica junto ao INTEC - INSTITUTO TECNOLÓGICO E CIÊNTIFICO, firmado no dia 01 de maio de 2008.</p>
             </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->
		   


		   
		   <div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-2016-b">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  2016  </div> <!-- //timeline__post__meta -->
               <p class="lead">Identificamos a demanda para essa área de conhecimento através de pesquisas de mercado voltada para associados do CREA de 06 estados.</p>
             </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->




           <div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-2017">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  2017  </div> <!-- //timeline__post__meta -->
               <p class="lead">O canal QiSat recebeu o curso da NBR 15575 que apresenta conceitos e aspectos normativos presentes na primeira parte da NBR 15575, onde são apresentados, através de uma abordagem geral, os requisitos e critérios relativos ao desempenho de edificações habitacionais.</p>
             </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->




           <div class="large-7 medium-6 columns timeline__post--background" data-equalizer-watch>
 					<div class="timeline__post year-2017-b">
              <div class="timeline__post__header">
                   <img src="images/institucional/post-timeline.jpg" alt=""/>
              </div> <!--//timeline__post__header-->
              <div class="timeline__post__body">
               <div class="timeline__post__body__meta">  2017  </div> <!-- //timeline__post__meta -->
               <p class="lead">Foram lançados cursos que permitem que os profissionais estudem, compreendam e apliquem marketing, técnicas de negociação e vendas em seus serviços.</p>
             </div> <!-- //timeline__post__body -->
           </div> <!-- //timeline__post -->




	</div> <!-- ///row -->
 </div> <!-- //class="medium-12 columns" --> 