	 <div class="large-3 columns grid-sidebar-left">
        <div class="page_content">

          <h5 class="menu-filter-sidebars--title">Menu</h5>
          <ul class="menu-partners">
            <li class="active"><a href="/institucional/convenios/conselhos"><i class="material-icons right">expand_more</i>Convênios</a>
              <ul>
                <li><a href="/institucional/convenios/conselhos">Projeto Conselhos Regionais</a></li>
                <li><a style="background-color: #f6f6f6 !important;" href="/institucional/convenios/preduc/conveniadas"><i class="material-icons right">expand_more</i>Projeto Rede Educacional</a>
                  <ul>
                    <li><a href="/institucional/convenios/preduc/ensino">Instituição de Ensino</a></li>
                    <li><a href="/institucional/convenios/preduc/entidade">Entidade de Classe</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="/institucional/parceiros">Parceiros</a></li>
          </ul>

            
           
        </div>
    </div> <!-- //large-4-->
     <div class="large-9 medium-8 columns">
          <div class="page_content">


            <div class="convenios">
              <div class="row entidades">
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/preduc/conveniadas"><i class="material-icons">business</i> ENTIDADES CONVENIADAS</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/preduc/descontos"><i class="material-icons">format_list_bulleted</i> TABELA DE DESCONTO</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/preduc/entidade"><i class="material-icons">insert_drive_file</i> CADASTRAR ENTIDADE</a>
                  </div>
                </div>
              </div>
            </div>

            
              <h1>Solicitar Desconto</h1>
          
        <form name="descontoForm" id="descontoForm" novalidate>

         <div class="row">
            <div class="small-12 large-9 large-offset-3 column">
                 <select name="selectInstitution" id="selectInstitution" class="selectInstitution" ng-options="institution.nome_instituicao for institution in selectInstitution track by institution.id" ng-model="desconto.institution" ng-required="true" >
                    <option value="">  Selecione Instituição  </option>
             </select>
            </div>
          </div>
          <br>  

        <div class="row">
          <div class="small-12 medium-3 columns">
            <label for="name" class="middle"> Nome <strong title="Campo Obrigatório">*</strong> </label>
          </div>
          <div class="small-12 medium-9 columns">
            <input type="text" name="name" id="name" placeholder="Nome Completo"  ng-model="desconto.nome" ng-required="true">
            <div ng-show="descontoForm.name.$dirty && descontoForm.name.$invalid">
                <span class="error" ng-show="descontoForm.name.$error.required">Nome é Obrigatório!</span>
              </div>
          </div>
        </div>              

        <div class="row">
          <div class="small-12 medium-3 columns">
            <label for="email" class="middle ">E-mail <strong title="Campo Obrigatório">*</strong>
          </div>
          <div class="small-12 medium-9 columns">
            <input type="email" name="email" id="email" placeholder="Digite seu E-mail"  ng-model="desconto.email" ng-pattern="emailFormat" ng-required="true" ng-model-options="{ debounce: 1000 }" >
              <div ng-show="descontoForm.email.$dirty && descontoForm.email.$invalid">
                    <span class="error" ng-show="cadastroEntidadeForm.email.$error.required">Email é Obrigatório!</span>
              </div>

              <div ng-show="descontoForm.email.$dirty && descontoForm.email.$error.pattern">
                <span class="error" >Formato de Email incorreto!</span>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-3 columns">
            <label for="phone" class="middle">Telefone <strong title="Campo Obrigatório">*</strong></label>
          </div>
          <div class="small-12 medium-9 columns">
            <input type="text" name="phone" id="phone" placeholder="Telefone com DDD" ng-model="desconto.telefone" mask="(99) 9?9999-9999" ng-required="true">
            <div ng-show="descontoForm.phone.$dirty && descontoForm.phone.$invalid">
                 <span class="error" ng-show="descontoForm.phone.$error.required">Telefone é Obrigatório!</span>
            </div>
          </div>
        </div>
        <br>
        <button class="button right" type="submit" ng-disabled="descontoForm.$invalid" ng-click="institutionDiscount()"> Enviar </button>
        <div class="row align-center">
            <div class="small-4 large-4 large-offset-4 columns">
              

                  <div data-alert class="alert-box info radius alert-discount-ok" style="display: none;">
                  Mensagem Enviada com SUCESSO!
                </div>

                <div data-alert class="alert-box warning  radius alert-discount-error" style="display: none;">
                  Falha no Envio da Mensagem!
                </div>
            </div>
              <div class="small-6 large-4 columns"></div>
          </div>
      </form>

    </div> <!-- //large-8-->
