<div class="small-12 medium-4 large-3 columns grid-sidebar-left">
  <div class="page_content">
    <h5 class="menu-filter-sidebars--title">Menu</h5>

    <ul class="menu-partners">
      <li class="active"><a href="/institucional/convenios/conselhos"><i class="material-icons right">expand_more</i>Convênios</a>
        <ul>
          <li><a href="/institucional/convenios/conselhos">Projeto Conselhos Regionais</a></li>
          <li><a href="/institucional/convenios/preduc/conveniadas"><i class="material-icons right">expand_more</i>Projeto Rede Educacional</a>
            <ul>
              <li><a href="/institucional/convenios/preduc/ensino">Instituição de Ensino</a></li>
              <li class="active"><a href="/institucional/convenios/preduc/entidade">Entidade de Classe</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/institucional/parceiros">Parceiros</a></li>
    </ul>
  </div>

  <div class="page_content show-for-medium-up">
    <small>O <b>Projeto QiSat Rede Educacional Online</b> visa o intercâmbio de conhecimento entre Entidade de Classe e o QiSat - Cursos aplicados à engenharia e arquitetura, portal www.qisat.com.br, direcionado às áreas da Engenharia Civil, Elétrica, Sanitária, Agronômica e Arquitetura levando descontos especiais para o meio acadêmico nas inscrições de cursos de aperfeiçoamento técnico do canal QiSat.</small>
  </div>
</div>

     <div class="large-9 medium-8 columns">
          <div class="page_text">



            <div class="convenios">
              <div class="row entidades">
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/preduc/conveniadas"><i class="material-icons">business</i> ENTIDADES CONVENIADAS</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/preduc/descontos"><i class="material-icons">format_list_bulleted</i> TABELA DE DESCONTO</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="#cadastro" ng-click="vm.open()" ><i class="material-icons">insert_drive_file</i> CADASTRAR ENTIDADE</a>
                  </div>
                </div>
              </div>
            </div>

            <a href="/institucional/convenios/preduc/inscricao" class="button button-discount">Quero me inscrever com desconto</a>


<h1>Projeto Rede Educacional Online</h1>
            <p>O Projeto QiSat Rede Educacional Online visa o intercâmbio de conhecimento entre a Entidade de Classe e o QiSat - Cursos aplicados à engenharia e arquitetura, portal <a href="http://www.qisat.com.br"><i>www.qisat.com.br</i></a>, direcionado às áreas da Engenharia Civil, Elétrica, Sanitária, Agronômica e Arquitetura levando descontos especiais para o meio acadêmico nas inscrições de cursos de aperfeiçoamento técnico do canal QiSat.</p>

<p><strong>1) BENEFÍCIOS PROPOSTOS NO PERÍODO DE VIGÊNCIA DO TERMO DE ADESÃO</strong></p>

<div class="content_align"><strong>Desconto Associado</strong> - Desconto de 20% no valor normal da inscrição de curso QiSat, com parcelamento mínimo de R$ 100,00 via cartão de crédito, ao associado que comprovar no ato da compra, vínculo profissional na Entidade de Classe conveniada. Desconto não acumulativo, válido somente para compra através da Central de Inscrições pelo telefone (48) 3332-5000, email: qisat@qisat.com.br.<br><br>

<strong>Apoio Didático </strong> - Uma inscrição QiSat, sem ônus, em curso a distância dos softwares AltoQi para a entidade que adquirir software Eberick e/ou Plataforma QiBuilder na vigência do Termo de Adesão ao Projeto QiSat Rede Educacional Online.
</div><br>
          
<p><strong>2) ATRIBUIÇÕES</strong></p>
<div class="content_align">Para que a aliança se concretize a empresa estabelece as seguintes ações.<br><br>
        <strong>Da Entidade de Classe:</strong><br>
<strong>I.</strong> Efetuar no site QiSat o cadastro da Entidade de Classe.<br>
<strong>II.</strong> Preencher o Termo de Adesão e a Lista de Associados adimplentes.<br>
<strong>III.</strong> Enviar para o email qisat@qisat.com.br o Termo de Adesão devidamente assinado apresentando formalmente o nome e cargo da pessoa responsável pelo convênio e pela implementação das ações junto à Entidade de Classe e Lista de Associados adimplentes.<br>
<strong>IV.</strong> Zelar pela aquisição dos direitos da Entidade de Classe relativo aos benefícios aprovados, mediante comunicação eficiente e formal junto à Empresa, através da pessoa responsável pelo Projeto.<br>
<strong>V.</strong> Utilizar os Cursos QiSat como material didático de apoio junto a Entidade de Classe conveniada.<br>
<strong>VI.</strong> Realizar a difusão do convênio nos canais de comunicação da Entidade de Classe, destacando os descontos previstos no Termo de Adesão ao projeto.<br><br>

<strong>Do QiSat:</strong><br>
<strong>I.</strong> Conceder os benefícios previstos no Termo de Adesão via Central de Inscrições pelo telefone (48) 3332-5000, email: qisat@qisat.com.br, após o recebimento da Lista de Associados e do TERMO DE ADESÃO assinado pelo responsável perante a Entidade de Classe. <br>
<strong>II.</strong> Manter o Projeto QiSat Rede Educacional Online disponível no www.qisat.com.br identificando as Entidades de Classe conveniadas.
</div><br>     

<p><strong>3) PRAZO DO CONVÊNIO</strong></p>
<div class="content_align">Período de vinte e quatro meses (dois anos) a partir da data da assinatura do Termo de Adesão.
</div><br>

<p><strong>4) DISPOSIÇÕES GERAIS</strong></p>
<div class="content_align">Qualquer informação e orientação pertinente ao processo apresentado poderão ser obtidas sempre através do e-mail qisat@qisat.com.br e pelo telefone (48) 3332-5000.
            
</div>
<br>
            



            <div class="accordion-discount">
            <accordion class="accordion-component accordion">
              <accordion-group heading="Como fazer o convênio?" class="accordion-navigation tab-title">
                  <div class="row">
                    <div class="column small-4 text-center step-title">1ª Etapa</div>
                    <div class="column small-4 text-center step-title">2ª Etapa</div>
                    <div class="column small-4 text-center step-title">3ª Etapa</div>
                  </div>
                  <div class="text-center">
                    <img src="/assets/images/icons/passo-a-passo.png">
                  </div>

                  <div class="row">
                    <div class="column small-4 text-center step-desc"><div>Preencher o termo de adesão</div></div>
                    <div class="column small-4 text-center step-desc"><div>Preencher a lista de associados</div></div>
                    <div class="column small-4 text-center step-desc"><div>Enviar e-mail com s dois documentos para qisat@qisat.com.br</div></div>
                  </div>
                </accordion-group>
             </accordion>


            <accordion class="accordion-component accordion" name="cadastro" id="cadastro">
              <accordion-group heading="Preencher o termo de adesão" class="accordion-navigation tab-title" is-open="vm.openAdd">
                  <div>

        <form name="vm.cadastroEntidadeForm" id="vm.cadastroEntidadeForm" novalidate>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="nameEntidade" class="middle"> Nome da Entidade <strong title="Campo Obrigatório">*</strong> </label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="nameEntidade" id="nameEntidade" placeholder="Nome Completo" ng-model="vm.entidade.nome_instituicao" ng-required="true">
              <div ng-show="vm.cadastroEntidadeForm.nameEntidade.$dirty && vm.cadastroEntidadeForm.nameEntidade.$invalid">
                <span class="error" ng-show="vm.cadastroEntidadeForm.nameEntidade.$error.required">Entidade é Obrigatório!</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="nameResponsavelEntidade" class="middle"> Nome do Responsável <strong title="Campo Obrigatório">*</strong> </label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="nameResponsavelEntidade" id="nameResponsavelEntidade" placeholder="Nome Completo"  ng-model="vm.entidade.nome_responsavel" ng-required="true">
               <div ng-show="vm.cadastroEntidadeForm.nameResponsavelEntidade.$dirty && vm.cadastroEntidadeForm.nameResponsavelEntidade.$invalid">
                  <span class="error" ng-show="vm.cadastroEntidadeForm.nameResponsavelEntidade.$error.required">Responsável é Obrigatório!</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="namePresidente" class="middle"> Nome do Presidente <strong title="Campo Obrigatório">*</strong> </label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="namePresidente" id="namePresidente" placeholder="Nome Completo" ng-model="vm.entidade.nome_coordenador" ng-required="true">
              <div ng-show="vm.cadastroEntidadeForm.namePresidente.$dirty && vm.cadastroEntidadeForm.namePresidente.$invalid">
                <span class="error" ng-show="vm.cadastroEntidadeForm.namePresidente.$error.required">Presidente é Obrigatório!</span>
              </div>
            </div>
          </div>                  

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="emailEntidade" class="middle ">E-mail para contato <strong title="Campo Obrigatório">*</strong>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="email" name="emailEntidade" id="emailEntidade" placeholder="Digite seu E-mail"  ng-model="vm.entidade.email" ng-pattern="vm.emailFormat" ng-required="true" ng-model-options="{ debounce: 1000 }" >
              <div ng-show="vm.cadastroEntidadeForm.emailEntidade.$dirty && vm.cadastroEntidadeForm.emailEntidade.$invalid">
                    <span class="error" ng-show="vm.cadastroEntidadeForm.emailEntidade.$error.required">Email é Obrigatório!</span>
              </div>

              <div ng-show="vm.cadastroEntidadeForm.emailEntidade.$dirty && vm.cadastroEntidadeForm.emailEntidade.$error.pattern">
                <span class="error" >Formato de Email incorreto!</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="phoneEntidade" class="middle">Telefone para contato <strong title="Campo Obrigatório">*</strong></label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="phoneEntidade" id="phoneEntidade" placeholder="Telefone com DDD" ng-model="vm.entidade.telefone" mask="(99) 9?9999-9999" ng-required="true">
              <div ng-show="vm.cadastroEntidadeForm.phoneEntidade.$dirty && vm.cadastroEntidadeForm.phoneEntidade.$invalid">
                 <span class="error" ng-show="vm.cadastroEntidadeForm.phoneEntidade.$error.required">Telefone é Obrigatório!</span>
              </div>
            </div>
          </div>
          <br>
          <button class="button right" type="submit" ng-disabled="vm.cadastroEntidadeForm.$invalid" ng-click="vm.addInstitution(2)"> Enviar </button>
          <div class="row align-center">
              <div class="small-4 large-4 large-offset-4 columns">
                    <div data-alert class="alert-box info radius alert-2-ok" style="display: none;">
                    Mensagem Enviada com SUCESSO!
                  </div>

                  <div data-alert class="alert-box warning  radius alert-2-error" style="display: none;">
                    Falha no Envio da Mensagem!
                  </div>
              </div>
                <div class="small-6 large-4 columns"></div>
            </div>
        </form>
        
                  </div>
                </accordion-group>
             </accordion>


            <accordion class="accordion-component accordion">
              <accordion-group heading="Documentos para download" class="accordion-navigation tab-title">
                  <div>

                    <table>
                      <tr>
                        <td>Termo de Adesão.docx</td>
                        <td><a href="#" class="button">Baixar</a></td>
                      </tr>
                      <tr>
                        <td>Lista de associados.docx</td>
                        <td><a href="#" class="button">Baixar</a></td>
                      </tr>
                    </table>

                  </div>
                </accordion-group>
             </accordion>
             </div>
    </div> <!-- //large-8-->
