<div class="small-12 medium-4 large-3 columns grid-sidebar-left">
    <div class="page_content">
        <h5 class="menu-filter-sidebars--title">Menu</h5>

        <ul class="menu-partners">
          <li class="active"><a href="/institucional/convenios/conselhos" analytics-on ><i class="material-icons right">expand_more</i>Convênios</a>
            <ul>
              <li class="active"><a href="/institucional/convenios/conselhos" analytics-on >Projeto Conselhos Regionais</a></li>
              <li><a href="/institucional/convenios/preduc/conveniadas" analytics-on ><i class="material-icons right">chevron_right</i>Projeto Rede Educacional</a></li>
            </ul>
          </li>
          <li><a href="/institucional/parceiros" analytics-on >Parceiros</a></li>
        </ul>
  </div>
</div>

 <div class="large-9 medium-8 columns">
      <div class="page_text">
        <div class="convenios">
          <div class="row entidades">
            <div class="column small-12 medium-4">
              <div>
                <a href="/institucional/convenios/conselhos/conveniados" analytics-on ><i class="material-icons">business</i> ENTIDADES CONVENIADAS</a>
              </div>
              <div class="column small-12 medium-4">
                  <a href="/institucional/convenios/conselhos/desconto" analytics-on ><i class="material-icons">format_list_bulleted</i> TABELA DE DESCONTO</a>
              </div>
              <div class="column small-12 medium-4">
                  <a href="#cadastro" ng-click="vm.open()" ><i class="material-icons">insert_drive_file</i> CADASTRAR CONSELHO</a>
              </div>
          </div>
        </div>
      </div>

        <div class="row entidades">
            <div class="small-12 medium-12 large-12  columns">

            <h1>Projeto Conselhos Regionais</h1>
            <p>O Projeto QiSat - CREAs é uma proposição de convênio entre a <strong>MN TECNOLOGIA E TREINAMENTO LTDA, QiSat</strong> e <strong>CREA</strong>. Visa a implementação de cursos de aperfeiçoamento técnico para profissionais registrados através do Canal de Ensino a Distância QiSat, disponibilizado numa plataforma de capacitação no site do Conselho.</p>

            <p><strong>OBJETIVO DO PROJETO</strong></p>
            <div class="content_align">
            <p>Objetiva-se com o convênio que os <strong>Engenheiros</strong> possam melhorar o seu <strong>desempenho profissional</strong> oferecendo <strong>oportunidades de capacitação continuada,</strong> através da credibilidade técnica dos cursos QiSat e AltoQi.</p>
            </div>
            <p><strong>BENEFÍCIOS DO PROJETO</strong></p>
            <div class="content_align">
            <p>O Projeto proporciona <strong>benefícios de descontos e participação sobre as vendas online</strong> para os Conselhos:</p>
              <ul>
                <li>Desconto de <strong>30%</strong> nas inscrições dos cursos a distância para todos os profissionais registrados, adimplentes.</li>
                <li><strong>Serviço Plataforma LMS</strong> personalizado para o CREA conveniado.</li>
              </ul>
            </div>
            <p><strong>CONSELHOS REGIONAIS CONVENIADOS</strong></p>
            <div class="content_align">
              <p>O Projeto foi criado em 2011 e passou a vigorar em 2012 com a iniciativa do Conselho Regional de Engenharia e Agronomia de Rondônia, na experimentação de um projeto beta. Atualmente, o QiSat possui convênio com os seguintes Conselhos:</p>
            </div>
            <div class="content_align">
                        <ul>
                          <li>CREA-RO</li>
                          <li>CREA-TO</li>
                          <li>CREA-BA</li>
                          <li>CREA-DF</li>
                          <li>CREA-SC</li>
                          <li>CREA-MS</li>
                        </ul>
            </div>
            <p>Para ter acesso ao beneficio de 30% de desconto nos cursos QiSat, deixe aqui a sua solicitação para que o CREA de seu estado viabilize para Você este benefício através do Convênio.</p>

        </div>
      </div>

      <br>


      <div class="accordion-discount">
        <accordion class="accordion-component accordion" name="cadastro" id="cadastro">
          <accordion-group heading="Solicitar Cadastro de Conselho" class="accordion-navigation tab-title" is-open="vm.openAdd">
            <div>
          
        <form name="vm.cadastroConselhoForm" id="cadastroConselhoForm" novalidate>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="nameConselho" class="middle"> Nome do Conselho <strong title="Campo Obrigatório">*</strong>
              </label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="nameConselho" id="nameConselho" placeholder="Nome Completo" ng-model="vm.conselho.nome_instituicao" ng-required="true">
              <div ng-show="vm.cadastroConselhoForm.nameConselho.$dirty && vm.cadastroConselhoForm.nameConselho.$invalid">
                  <span class="error" ng-show="vm.cadastroConselhoForm.nameConselho.$error.required">Conselho é obrigatório.</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="nameResponsavel" class="middle"> Nome do Responsável <strong title="Campo Obrigatório">*</strong> </label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="nameResponsavel" id="nameResponsavel" placeholder="Nome Completo"  ng-model="vm.conselho.nome_responsavel" ng-required="true">
              <div ng-show="vm.cadastroConselhoForm.nameResponsavel.$dirty && vm.cadastroConselhoForm.nameResponsavel.$invalid">
                  <span class="error" ng-show="vm.cadastroConselhoForm.nameResponsavel.$error.required">Responsável é obrigatório.</span>
              </div>
            </div>
          </div>  

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="emailResponsavel" class="middle">E-mail do Responsável <strong title="Campo Obrigatório">*</strong></label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="email" name="emailResponsavel" id="emailResponsavel" placeholder="Digite o E-mail"  ng-model="vm.conselho.email" ng-pattern="vm.emailFormat" ng-required="true" ng-model-options="{ debounce: 1000 }" >

              <div ng-show="vm.cadastroConselhoForm.emailResponsavel.$dirty && vm.cadastroConselhoForm.emailResponsavel.$invalid">
                    <span class="error" ng-show="vm.cadastroConselhoForm.emailResponsavel.$error.required">Email é obrigatório.</span>
              </div>

              <div ng-show="vm.cadastroConselhoForm.emailResponsavel.$dirty && vm.cadastroConselhoForm.emailResponsavel.$error.pattern">
                <span class="error" >Formato de e-mail incorreto.</span>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-3 columns">
              <label for="phoneResponsavel" class="middle">Telefone do Responsável <strong title="Campo Obrigatório">*</strong></label>
            </div>
            <div class="small-12 medium-9 columns">
              <input type="text" name="phoneResponsavel" id="phoneResponsavel" placeholder="Telefone com DDD" ng-model="vm.conselho.telefone" mask="(99) 9?9999-9999" ng-required="true">
             <div ng-show="vm.cadastroConselhoForm.phoneResponsavel.$dirty && vm.cadastroConselhoForm.phoneResponsavel.$invalid">
                  <span class="error" ng-show="vm.cadastroConselhoForm.phoneResponsavel.$error.required">Telefone é obrigatório.</span>
            </div>
            </div>
          </div>
          <br>

           <div class="row">
              <div class="small-12 medium-3 large-12 columns">
                <button class="button right" type="submit" ng-disabled="vm.cadastroConselhoForm.$invalid||vm.send" ng-click="vm.addInstitution(3)" analytics-on analytics-event="Cadastro conselho" > Enviar </button>
              </div>
          </div>
        </form>

                  </div>
                </accordion-group>
            </accordion>
        </div>
     </div>
</div> <!-- //large-8-->