<div class="small-12 medium-4 large-3 columns grid-sidebar-left">
  <div class="page_content">
    <h5 class="menu-filter-sidebars--title">Menu</h5>

    <ul class="menu-partners">
      <li class="active"><a href="/institucional/convenios/conselhos"><i class="material-icons right">expand_more</i>Convênios</a>
        <ul>
          <li><a href="/institucional/convenios/conselhos">Projeto Conselhos Regionais</a></li>
          <li><a href="/institucional/convenios/preduc/conveniadas"><i class="material-icons right">expand_more</i>Projeto Rede Educacional</a>
            <ul>
              <li class="active"><a href="/institucional/convenios/preduc/ensino">Instituição de Ensino</a></li>
              <li><a href="/institucional/convenios/preduc/entidade">Entidade de Classe</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/institucional/parceiros">Parceiros</a></li>
    </ul>
  </div>

</div>

     <div class="large-9 medium-8 columns">
          <div class="page_text">

            <div class="convenios">
              <div class="row entidades">
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/conselhos" ><i class="material-icons">business</i> ENTIDADES CONVENIADAS</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="/institucional/convenios/conselhos/desconto"><i class="material-icons">format_list_bulleted</i> TABELA DE DESCONTO</a>
                  </div>
                </div>
                <div class="column small-12 medium-4">
                  <div>
                    <a href="#cadastro" ng-click="vm.open()" ><i class="material-icons">insert_drive_file</i> CADASTRAR ENTIDADE</a>

                  </div>
                </div>
              </div>
            </div>

            <a href="/institucional/convenios/preduc/inscricao" class="button button-discount">Quero me inscrever com desconto</a>

            <h1>Projeto Rede Educacional</h1>
            <p>
             <p>O <strong>Projeto QiSat Rede Educacional Online</strong> visa o intercâmbio de conhecimento entre a Instituição de Ensino e o QiSat - Canal de cursos aplicados à engenharia e arquitetura, portal <a href="http://www.qisat.com.br"><i>www.qisat.com.br</i></a>, direcionado às áreas da engenharia civil, elétrica, sanitária, agronômica e arquitetônica levando descontos especiais para o meio acadêmico nas inscrições de cursos de aperfeiçoamento técnico do canal QiSat.</p>

<p><strong>1) BENEFÍCIOS PROPOSTOS NO PERÍODO DE VIGÊNCIA DO TERMO DE ADESÃO</strong></p>

<div class="content_align"><strong>Desconto Professor</strong> - Desconto de 50% no valor normal da inscrição de curso QiSat, com parcelamento mínimo de R$ 100,00 via cartão de crédito, ao professor que comprovar no ato da compra, vínculo profissional na Instituição de Ensino conveniada. Desconto não acumulativo, válido somente para compra através da Central de Inscrições pelo telefone (48) 3332-5000, email: qisat@qisat.com.br. <br><br>

<strong>Desconto Estudante</strong> - Desconto de 30% no valor normal da inscrição de curso QiSat, com parcelamento mínimo de R$ 100,00 via cartão de crédito, ao estudante que comprovar no ato da compra, matrícula em cursos da Instituição de Ensino conveniada. Desconto não acumulativo, válido somente para compra através da Central de Inscrições pelo telefone (48) 3332-5000, email: qisat@qisat.com.br.
</div><br>
          
<p><strong>2) ATRIBUIÇÕES</strong></p>
<div class="content_align">Para que a aliança se concretize a empresa estabelece as seguintes ações.<br><br>
        <strong>Da Instituição de Ensino:</strong><br>
<strong>I.</strong> Efetuar no site QiSat o cadastro da Instituição de Ensino.<br>
<strong>II.</strong> Enviar para o email qisat@qisat.com.br o Termo de Adesão devidamente assinado apresentando formalmente o nome, área e curso do responsável pelo convênio e pela implementação das ações junto à Instituição de Ensino e a lista de alunos e professores interessados.<br>
<strong>III.</strong> A lista de alunos e professores interessados deverá conter no mínimo trinta indicações para viabilizar o convênio e deverá ser enviado em até 30 dias após a assinatura do Termo de Adesão.<br>
<strong>IV.</strong> Zelar pela aquisição dos direitos da Instituição de Ensino relativo aos benefícios aprovados, mediante comunicação eficiente e formal junto à Empresa, através do responsável pelo Projeto.<br>
<strong>V.</strong> Utilizar os Cursos QiSat como material didático de apoio junto a comunidade acadêmica da instituição conveniada.<br>
<strong>VI.</strong> Realizar a difusão do convênio nos canais de comunicação da Instituição de Ensino, destacando os descontos previstos no Termo de Adesão ao projeto.<br><br>

<strong>Do QiSat:</strong><br>
<strong>I.</strong> Conceder os benefícios previstos no Termo de Adesão via Central de Inscrições pelo telefone (48) 3332-5000, email: qisat@qisat.com.br, após o recebimento da LISTA DE ALUNOS E PROFESSORES INTERESSADOS e do TERMO DE ADESÃO assinado pelo responsável perante a Instituição de Ensino.<br>
<strong>II.</strong> Manter o Projeto QiSat Rede Educacional Online disponível no portal www.qisat.com.br identificando as Instituições de Ensino conveniadas.
</div><br>     

<p><strong>3) PRAZO DO CONVÊNIO</strong></p>
<div class="content_align">Período de 24 meses (dois anos) a partir da data da assinatura do Termo de Adesão.
</div><br>

<p><strong>4) DISPOSIÇÕES GERAIS</strong></p>
<div class="content_align">Qualquer informação e orientação pertinente ao processo apresentado poderão ser obtidas sempre através do e-mail qisat@qisat.com.br e pelo telefone (48) 3332-5000.
            
</div>
<br>


            <div class="accordion-discount">


            <accordion class="accordion-component accordion">
              <accordion-group heading="Como fazer o convênio?" class="accordion-navigation tab-title">
                  <div class="row">
                    <div class="column small-4 text-center step-title">1ª Etapa</div>
                    <div class="column small-4 text-center step-title">2ª Etapa</div>
                    <div class="column small-4 text-center step-title">3ª Etapa</div>
                  </div>
                  <div class="text-center">
                    <img src="/assets/images/icons/passo-a-passo.png">
                  </div>

                  <div class="row">
                    <div class="column small-4 text-center step-desc"><div>Preencher o termo de adesão</div></div>
                    <div class="column small-4 text-center step-desc"><div>Preencher a lista de associados</div></div>
                    <div class="column small-4 text-center step-desc"><div>Enviar e-mail com os dois documentos para qisat@qisat.com.br</div></div>
                  </div>
                </accordion-group>
             </accordion>

            <accordion class="accordion-component accordion" name="cadastro" id="cadastro">
              <accordion-group heading="Preencher o termo de adesão" class="accordion-navigation tab-title" is-open="vm.openAdd">
                  <div>

                  <form name="vm.cadastroInstituicaoForm" id="vm.cadastroInstituicaoForm" novalidate>

                    <div class="row">
                      <div class="small-12 medium-3 columns">
                        <label for="nameInstituicao" class="middle"> Nome da Instituição <strong title="Campo Obrigatório">*</strong> </label>
                      </div>
                      <div class="small-12 medium-9 columns">
                        <input type="text" name="nameInstituicao" id="nameInstituicao" placeholder="Nome Completo" ng-model="vm.institution.nome_instituicao" ng-required="true">
                        <div ng-show="vm.cadastroInstituicaoForm.nameInstituicao.$dirty && vm.cadastroInstituicaoForm.nameInstituicao.$invalid">
                            <span class="error" ng-show="vm.cadastroInstituicaoForm.nameInstituicao.$error.required">Nome é obrigatório.</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="small-12 medium-3 columns">
                        <label for="nameResponsavelInstituicao" class="middle"> Nome do Responsável <strong title="Campo Obrigatório">*</strong> </label>
                      </div>
                      <div class="small-12 medium-9 columns">
                        <input type="text" name="nameResponsavelInstituicao" id="nameResponsavelInstituicao" placeholder="Nome Completo"  ng-model="vm.institution.nome_responsavel" ng-required="true">
                        <div ng-show="vm.cadastroInstituicaoForm.nameResponsavelInstituicao.$dirty && vm.cadastroInstituicaoForm.nameResponsavelInstituicao.$invalid">
                            <span class="error" ng-show="vm.cadastroInstituicaoForm.nameResponsavelInstituicao.$error.required">Responsável é obrigatório.</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="small-12 medium-3 columns">
                        <label for="nameCordenador" class="middle"> Nome do Coordenador <strong title="Campo Obrigatório">*</strong> </label>
                      </div>
                      <div class="small-12 medium-9 columns">
                        <input type="text" name="nameCordenador" id="nameCordenador" placeholder="Nome Completo"  ng-model="vm.institution.nome_coordenador" ng-required="true">
                        <div ng-show="vm.cadastroInstituicaoForm.nameCordenador.$dirty && vm.cadastroInstituicaoForm.nameCordenador.$invalid">
                            <span class="error" ng-show="vm.cadastroInstituicaoForm.nameCordenador.$error.required">Coordenador é obrigatório.</span>
                        </div>
                      </div>
                    </div>                  

                    <div class="row">
                      <div class="small-12 medium-3 columns">
                        <label for="emailInstituicao" class="middle ">E-mail para contato <strong title="Campo Obrigatório">*</strong>
                      </div>
                      <div class="small-12 medium-9 columns">
                        <input type="email" name="emailInstituicao" id="emailInstituicao" placeholder="Digite seu E-mail"  ng-model="vm.institution.email" ng-pattern="vm.emailFormat" ng-required="true" ng-model-options="{ debounce: 1000 }" >

                         <div ng-show="vm.cadastroInstituicaoForm.emailInstituicao.$dirty && vm.cadastroInstituicaoForm.emailInstituicao.$invalid">
                              <span class="error" ng-show="vm.cadastroInstituicaoForm.emailInstituicao.$error.required">E-mail é obrigatório.</span>
                        </div>

                        <div ng-show="vm.cadastroInstituicaoForm.emailInstituicao.$dirty && vm.cadastroInstituicaoForm.emailInstituicao.$error.pattern">
                          <span class="error" >Formato de e-mail incorreto.</span>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="small-12 medium-3 columns">
                        <label for="phoneInstituicao" class="middle">Telefone para contato <small>*</small></label>
                      </div>
                      <div class="small-12 medium-9 columns">
                        <input type="text" name="phoneInstituicao" id="phoneInstituicao" placeholder="Telefone com DDD" ng-model="vm.institution.telefone" mask="(99) 9?9999-9999" ng-required="true">
                        <div ng-show="vm.cadastroInstituicaoForm.phoneInstituicao.$dirty && vm.cadastroInstituicaoForm.phoneInstituicao.$invalid">
                           <span class="error" ng-show="vm.cadastroInstituicaoForm.phoneInstituicao.$error.required">Telefone é obrigatório.</span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                     <div class="small-12 medium-3 large-12 columns">
                        <button class="button right" type="submit" ng-disabled="vm.cadastroInstituicaoForm.$invalid||vm.send" ng-click="vm.addInstitution(1)"> Enviar </button>
                      </div>
                    </div>
                    
                  </form>
                  </div>
                </accordion-group>
            </accordion>

            <accordion class="accordion-component accordion">
              <accordion-group heading="Documentos para download" class="accordion-navigation tab-title" is-open="vm.openDownload">
                  <div>
                    <p> Para realizar download dos arquivos, preencha o termo de adesão.</p> 
                    <table>
                      <tr>
                        <td>Termo de Adesão.pdf</td>
                        <td><a ng-href="{{vm.linkDownload}}" class="button" target="_self" download="Termo de Adesão.pdf" >Baixar</a></td>
                      </tr>
                      <tr>
                        <td>Lista de Alunos e Professores.xls</td>
                        <td><a ng-href="{{vm.linkDownload ? '/files/PREDUC - INSTITUIÇÃO DE ENSINO - Lista de Alunos e Professores.xls': ''}}" target="_self" download="Lista de Alunos e Professores.xls" class="button">Baixar</a></td>
                      </tr>
                    </table>

                  </div>
                </accordion-group>
            </accordion>
            </div>


    </div> <!-- //large-8-->