<div class="wordsection1">

	<p class="msonormal" align="center" style="text-align:center; font-size:26px;" ><b>CONTRATO ONLINE DE PRESTAÇÃO DE SERVIÇO</b></p>
	<p class="msonormal">Que, entre si fazem, de um lado <b>&nbsp MN TECNOLOGIA E TREINAMENTO &nbsp</b> LTDA  com sede à Av. Osmar Cunha, 183, Edifício Ceisa Center, Sala 301, Bloco C, Centro na cidade de Florianópolis, Estado de Santa Catarina, inscrita no CNPJ sob o nº 03.984.954/0001-74, doravante denominada  QISAT, e, de outro, portador(a) dos documentos informados e devidamente cadastrados em nosso banco de dados e identificados pelo seu nome de identificação, doravante denominado &nbsp <b>{{nome | uppercase}}</b>, conforme as cláusulas e condições a seguir ajustadas.</p>
	<p class="msonormal"><b>CLÁUSULA PRIMEIRA - DO OBJETO</b></p>

	<p><span class="topico"><b>1.1</b>&nbsp O objeto deste contrato é prestação de serviço pelo QISAT ao ALUNO relativo à inscrição no Lab II Estrutural - Concepção aprimorada de projetos em concreto armado.</span> </p>
	<p><span class="topico"><b>1.2</b>&nbsp O Lab II Estrutural - Concepção aprimorada de projetos em concreto armado possui as seguintes características:</span> </p>

	<span class="subtopico"><b>1.2.1 Do Formato</b></span> <br>
	<span class="subtopico"><b>1.2.1.1</b> &nbsp A carga horária é variável conforme o tempo dispensado por cada participante, dada a flexibilidade de horários e a velocidade com que cada um pode concluir o capítulo/aula;</span> <br>
	<span class="subtopico"><b>1.2.1.2</b> &nbsp Disponível na Plataforma Moodle;</span> <br>
	<span class="subtopico"><b>1.2.1.3</b> &nbsp Possibilidade de tirar dúvidas sobre conteúdos relacionados ao curso, a qualquer momento, pelo Moodle, com o professor;</span> <br>
	<span class="subtopico"><b>1.2.1.4</b> &nbsp O tempo estimado para a conclusão e aproveitamento dos conceitos é de 200 horas;</span> <br>
	<span class="subtopico"><b>1.2.1.5</b> &nbsp O acesso do usuário aos conteúdos é permitido durante os 365 dias imediatamente após a inscrição;</span> <br>
	<span class="subtopico"><b>1.2.1.6</b> &nbsp O conteúdo técnico do programa Lab II Estrutural - Concepção aprimorada de projetos em concreto armado está distribuído entre os cursos relacionados abaixo que são programados para serem realizados de acordo com uma sequência técnica otimizada, garantindo assim uma evolução progressiva na obtenção de conhecimento. </span> <br>
	
	<br>
	<p class="topico">
		<span class="subtopico"><b>1.2.2 Conteúdo do(s) Curso(s) online: </b> </span> <br>
		<span class="subtopico"><b>1.2.2.1</b> &nbsp Requisitos para desenvolvimento de projetos estruturais em edifícios - Parte 2</span> <br>
			<span class="subitem"><b>a)</b> &nbsp Projeto Básico e BIM </span> <br>
			<span class="subitem"><b>b)</b> &nbsp Estudo das NBR 14931 e 12655 e o Projeto de Fôrmas e Escoramentos </span> <br>
			<span class="subitem"><b>c)</b> &nbsp Normas de Desempenho e Verificações em Situação de Incêndio  </span> <br>
			<span class="subitem"><b>d)</b> &nbsp Conteúdo do Projeto Estrutural e Manuais da Edificação </span> <br>
			<span class="subitem"><b>e)</b> &nbsp Análise, Check List de Projetos e Colaboração Entre Envolvidos </span> <br>
	</p>


	<p class="topico">
		<span class="subtopico"><b>1.2.2.2	NBR 6118:2014 – Concreto Armado: Parte 1 </b> </span> <br>
			<span class="subitem"><b>a)</b> &nbsp Introdução à NBR 6118, qualidade, durabilidade e propriedades dos materiais </span> <br>
			<span class="subitem"><b>b)</b> &nbsp Estabilidade Global e efeitos de 2ª ordem </span> <br>
			<span class="subitem"><b>c)</b> &nbsp Segurança, ELU, ELS e combinação de ações </span> <br>
			<span class="subitem"><b>d)</b> &nbsp Verificação dos ELS, deformação e ELS, fissuração excessiva </span> <br>
	</p>

	<p class="topico">
		<span class="subtopico"><b>1.2.2.3 Curso NBR 6118:2014 – Concreto Armado: Parte 2 </b> </span> <br>
		<span class="subitem"><b>a)</b> &nbsp  Análise de estruturas </span> <br>
		<span class="subitem"><b>b)</b> &nbsp  Estabilidade Global e efeitos de 2ª ordem </span> <br>
	</p>

	<p class="topico"></p>
		<span class="subtopico"><b>1.2.2.4 Curso NBR 6118:2014 – Concreto Armado: Parte 3 </b> </span> <br>

			<span class="subitem"><b>a)</b> &nbsp Dimensionamento de pilares</span><br>
			<span class="subitem"><b>b)</b> &nbsp Dimensionamento de vigas</span><br>
			<span class="subitem"><b>c)</b> &nbsp Dimensionamento de lajes</span><br>
			<span class="subitem"><b>d)</b> &nbsp Tópicos Especiais da Norma </span><br>
	</p>

	<p class="topico"></p>
		<span class="subtopico"><b>1.2.2.5	Curso Software QiBuilder - Gerenciador</b> </span> <br>

		<span class="subitem"><b>a)</b> &nbsp Apresentação da plataforma QiBuilder </span> <br>
		<span class="subitem"><b>b)</b> &nbsp Introdução aos projetos com o gerenciador de arquivos </span> <br>
		<span class="subitem"><b>c)</b> &nbsp Criação do projeto no gerenciador de arquivos </span> <br>
		<span class="subitem"><b>d)</b> &nbsp Associando margem e selo ao projeto e inserindo revisões </span> <br>
		<span class="subitem"><b>e)</b> &nbsp Ferramentas do gerenciador de arquivos </span> <br>
	</p>

	<p class="topico">
		<span class="subtopico"><b>1.2.2.6	Curso Software QiBuilder - Editor de Armaduras</b> </span> <br>
		<span class="subitem"><b>a)</b> &nbsp Introdução aos projetos com o gerenciador de arquivos</span> <br>
		<span class="subitem"><b>b)</b> &nbsp Ferramentas para criação e edição de armaduras e ferragens</span> <br>
		<span class="subitem"><b>c)</b> &nbsp Faixas, cortes, indicações, chamadas, relações de aço e detalhamentos</span> <br>
	</p>

	<p class="topico">
		<span class="subtopico"><b>1.2.2.7	Proficiência no Software Eberick – Fase 2</b> </span> <br>

		<span class="subitem"><b>a)</b> &nbsp Tutoriais dos módulos - Pacote Essencial </span> <br>
			<span class="subitem"> .a.1. Pilares com seção composta </span> <br>
			<span class="subitem"> .a.2. Lajes com vigotas protendidas </span> <br>
			<span class="subitem"> .a.3. Paredes de contenção </span> <br>
			<span class="subitem"> .a.4. Rampas </span> <br>
			<span class="subitem"> .a.5. Planta de locação das estacas </span> <br>
			<span class="subitem"> .a.6. Estacas metálicas </span> <br>
			<span class="subitem"> .a.7. Pilares esbeltos e pilar parede </span> <br>
			<span class="subitem"> .a.8. Blocos com mais de 6 estacas </span> <br>
			<span class="subitem"> .a.9. Radier </span> <br>
			<span class="subitem"> .a.10. Escadas especiais </span> <br>
			<span class="subitem"> .a.11. Muros de concreto </span> <br>
			<span class="subitem"> .a.12. Muros de gravidade </span> <br>
			<span class="subitem"> .a.13. Reservatórios enterrados </span> <br>
			<span class="subitem"> .a.14. Plastificação das lajes </span> <br>
			<span class="subitem"> .a.15. Lajes Planas </span> <br>
		<span class="subitem"><b>b)</b> &nbsp  Critérios de projeto </span> <br>
		<span class="subitem"><b>c)</b> &nbsp  Artigos técnicos – Parte 2 </span> <br>
		<span class="subitem"><b>d)</b> &nbsp  Análise </span> <br>
			<span class="subitem">.d.1.	Dimensionamento </span> <br>
			<span class="subitem">.d.2.	Detalhamento </span> <br>
		<span class="subitem"><b>e)</b> &nbsp Configurações do programa – Parte 2 </span> <br>

	<p class="topico">
		<span class="subtopico"><b>1.2.2.8 Curso Verificação de estruturas em situação de incêndio</b> </span> <br>
		<span class="subitem"><b>(Conteúdo programático em desenvolvimento) </b> </span>
	</p>

	<p class="topico"></p>
		<span class="subtopico"><b>1.2.2.9	Curso Detalhamento de Armaduras em Estruturas de Concreto Armado</b> </span> <br>	
		<span class="subitem"><b>(Conteúdo programático em desenvolvimento) </b> </span>
	</p>

	<p class="msonormal"><b>Parágrafo primeiro.</b> &nbsp Para ter direito à Emissão eletrônica de certificado de participação, o ALUNO deverá: I) atingir 95% (noventa e cinco por cento) de participação no(s) curso(s), a validação dos acessos é verificada através do controle de acesso do QISAT; II) O aluno inscrito terá direito de realizar uma única tentativa gratuita de prova online para obtenção do Certificado.</p>
	<p class="msonormal"><b>Parágrafo segundo:</b> &nbsp O acesso ao treinamento - objeto deste contrato - pode dar-se a qualquer dia e a qualquer horário (24 horas por dia, inclusive finais de semanas e feriados), respeitando os limites máximos de acessos por aula (em horas) e no treinamento (contados automaticamente a partir da data da aquisição).</p>
	<p class="msonormal"><b>Parágrafo terceiro:</b> &nbsp Uma nova tentativa poderá ser realizada mediante pagamento da inscrição após 01 ano da realização da primeira prova. </p>

	<p><span class="topico"><b>1.2.3</b> &nbsp Material didático do(s) Curso(s) online: </span></p>		

	<span class="subtopico"> Para realização dos cursos relacionados serão disponibilizados acesso a vídeo aulas (não disponíveis para download) apostilas, suporte premium, orientação, acompanhamento e acesso ao software AltoQi Eberick 2019 versão Basic acompanhado de 29 módulos, módulos esses que são necessários para o desenvolvimento de projetos de pequeno porte, sendo eles:</span>

	<table width="100%" cellpadding="3" cellspacing="0" class="table_cursos" >
		<tr>
			<td width="60%" class="titulo_dados_tabela"><div align="left" class="titulo_dados_tabela"><strong>Nome por extenso</strong></div></td>
			<td width="40%" align="center" lass="titulo_dados_tabela"><div align="center" class="titulo_dados_tabela"><strong>Tempo de Acesso</strong></div></td>
		</tr>

		<tr><td> Altoqi Eberick 2019 basic </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Custumer Success </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Suporte Premium	60 </td><td><div align="center"> minutos mensais </div></td></tr>
		<tr><td> Vigas com mesa colaborante </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Memorial de cálculo </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Viga com variação de seção no vão </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Aberturas em vigas e lajes </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Vigas e pilares inclinados </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Lajes treliçadas 1D e 2D </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Lajes nervuradas </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Biblioteca de detalhes típicos </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Lançamento de estacas isoladas </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Vigas curvas </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Tubulões </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Verificação da estrutura em situação de incêndio </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Região maciça em lajes </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Rampas </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Pilares com seção composta </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Lajes com vigotas protendidas </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Paredes de contenção </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Rampas </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Planta de locação das estacas </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Estacas metálicas </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Pilares esbeltos e pilar parede </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Blocos com mais de 6 estacas </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Radier </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Escadas especiais </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Muros de concreto </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Muros de gravidade </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Reservatórios enterrados </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Plastificação das lajes </td><td><div align="center"> 365 dias </div></td></tr>
		<tr><td> Lajes Planas </td><td><div align="center"> 365 dias </div></td></tr>

	</table>

	<p><span class="topico"><b>Do suporte Premium</b></span></p>

	<p class="msonormal"> O ALUNO, ao adquirir o Lab I Estrutural - Desenvolvimento de projetos em concreto armado, terá parte do valor total do Pedido concedido em minutos, que doravante é denominado SUPORTE PREMIUM. </p>
	<p class="msonormal">A definição e regras de uso do SUPORTE PREMIUM são as seguintes:</p>
	<span class="subitem"><b>a)</b> &nbsp Ao adquirir o Lab I Estrutural - Desenvolvimento de projetos em concreto armado, será concedido em bônus o equivalente a 60 minutos mensais, não cumulativos e intransferíveis de direito a uso do SUPORTE PREMIUM, contados da habilitação de acesso ao Lab I Estrutural - Desenvolvimento de projetos em concreto armado.</span> <br>
	<span class="subitem"><b>b)</b> &nbsp OS CRÉDITOS DE SUPORTE poderão ser utilizados para atendimento de dúvidas relacionadas ao propósito do programa de ensino. </span> <br>
	<span class="subitem"><b>c)</b> &nbsp Pelos serviços de suporte previstos o atendimento será das 9:00 às 12:00 horas e das 13:00 às 17:00 horas, de segunda a sexta-feira, através de atendimento por telefone e/ou e-mail, esclarecendo as dúvidas operacionais sobre: </span> <br>

	<p class="subtopico">
			<span class="subitem"><b>I.</b> &nbsp Dúvidas em normas técnicas brasileiras que possuam conceitos abordados no curso.</span> <br>
			<span class="subitem"><b>II.</b> &nbsp Orientações sobre uso dos recursos do programa. </span> <br>
			<span class="subitem"><b>III.</b> &nbsp Orientações sobre a concepção do modelo adotado para o projeto. </span> <br>
			<span class="subitem"><b>IV.</b> &nbsp Auxílio e direcionamento sobre conteúdo. </span> <br>
			<span class="subitem"><b>V.</b> &nbsp Sob critério do agente de suporte, poderá ser realizado acesso remoto como ferramenta adicional para dirimir as dúvidas. </span> <br>
	</p>

	<span class="subitem"><b>d)</b> &nbsp Não faz parte do escopo do SUPORTE PREMIUM: </span><br>

	<p class="subtopico"> 
			<span class="subitem"><b>I.</b> &nbsp Realizar diretamente modificações, ajustes ou qualquer alteração no projeto do ALUNO.</span> <br>
			<span class="subitem"><b>II.</b> &nbsp Enviar arquivos ao ALUNO;</span> <br>
	</p>

	<p class="topico"><b> 1.2.4 </b> &nbsp Dos requisitos recomendáveis
		<ul>
			<li>Processador Intel i5 de pelo menos 2 GHz, ou equivalente;</li>
			<li>8 GB memória RAM;</li>
			<li>Placa de som conectada a fones de ouvido ou caixas de som;</li>
			<li>Navegador Chrome 46.0 ou superior</li>
			<li>Resolução de tela mínima 1024 x768</li>
			<li>Sistema operacional Windows 8.1 ou superior</li>
			<li>Acesso à Internet (Banda Larga)</li>
		</ul>
	</p>


	<p class="msonormal"> <b> Parágrafo único. A empresa não se responsabiliza pelas limitações e dificuldades encontradas na utilização de internet discada ou pelo acesso através de outros navegadores.</b></p>

	<p class="msonormal"><b>CLÁUSULA SEGUNDA - DO PAGAMENTO E ACESSO DO CURSO </b></p>

	<span class="subtopico"><b>2.1</b> &nbsp O acesso ao(s) curso(s) fica(m) condicionado(s) o reconhecimento do pagamento e aprovação financeira do pedido de inscrição. </span> <br>
	<span class="subtopico"><b>2.2</b> &nbsp O prazo de acesso ao curso começará a contar a partir do dia agendado para início, mediante identificação do pagamento. Será encaminhado um e-mail informando a habilitação no curso, usuário e senha de acesso. A data de início do curso pode ser alterada até 24 horas de antecedência a data agendada. Após o serviço habilitado para acesso, o prazo não será interrompido. </span> <br>
	<span class="subtopico"><b>2.3</b> &nbsp Transferência de inscrição em curso para outro CPF só é permitido no ato da compra, ou anterior a data agendada para início do curso. </span> <br>
	<p class="msonormal"><b> Parágrafo único:</b> &nbsp No caso extraordinário de parcelamento do valor em boleto bancário ou mensalidade recorrente, havendo atraso de até quatro dias ou cancelamento no pagamento de qualquer parcela, o(s) acesso(s) ao(s) serviço(s) e plataforma(s) do ALUNO será(ão) bloqueado(s) até que a(s) pendência(s) seja(am) quitada(s). </p>

	<p class="msonormal"><b> CLÁUSULA TERCEIRA - DEVERES E DIREITOS DO QISAT</b></p>

	<p><span class="topico"><b>3.1</b>&nbsp São deveres do QISAT:</span><br>
		<span class="subtopico"> <b>3.1.1</b>  Curso(s) online:</span> <br>

		<span class="subitem"><b>I.</b> &nbsp O QISAT permitirá acesso 24 (vinte e quatro) horas por dia, 7(sete) dias por semana, com o número limitado de horas conforme prazos estabelecidos no website: www.qisat.com.br, ressalvado caso fortuito ou motivo de força maior que impossibilitem o acesso; </span> <br>
		<span class="subitem"><b>II.</b> &nbsp O QISAT se exime de qualquer responsabilidade quanto à indisponibilidade gerada por problemas do responsável pela conexão do site à rede de internet, não cabendo ressarcimento ao ALUNO por qualquer problema de conexão com a internet, oriundo do acesso do ALUNO ou do QISAT; </span> <br>
		<span class="subitem"><b>III.</b> &nbsp O QISAT se reserva ao direito de efetuar eventuais manutenções em seus sistemas, visando melhoria na qualidade do serviço prestado; </span> <br>
		<span class="subitem"><b>IV.</b> &nbsp O QISAT deverá disponibilizar o conteúdo do(s) treinamento(s) contratado(s) para uso do ALUNO, através de um nome de usuário e de uma senha específica de acesso aos módulos (aulas) estabelecidos pelo QISAT, que estarão hospedados no site do QISAT, ou em outros sites por ela autorizados; </span> <br>
		<span class="subitem"><b>V.</b> &nbsp O QISAT deverá disponibilizar um professor monitor para esclarecimento de: Dúvidas referentes aos recursos do programa abordados no projeto exemplo; Procedimentos de download, instalação e configuração das versões livres dos softwares da AltoQi necessárias ao acompanhamento do curso; As dúvidas deverão ser enviadas através do sistema Tira-dúvidas, disponibilizado na plataforma de ensino do QiSat, e terão prazo de resolução de até 2 (dois) dias úteis; </span> <br>
		<span class="subitem"><b>VI.</b> &nbsp Cabe ao QISAT coordenar administrativa e academicamente o(s) treinamento(s), zelando pela sua qualidade e pelo cumprimento do regimento da instituição mantenedora de treinamentos e metodologias de ensino a distância; </span> <br>
		<span class="subitem"><b>VII.</b> &nbsp O QISAT deverá informar ao ALUNO as atividades programadas para o(s) treinamentos(s); </span> <br>
		<span class="subitem"><b>VIII.</b> &nbsp O QISAT deverá disponibilizar certificado digital na plataforma do curso, caso o ALUNO tenha solicitado, após a realização das avaliações, e atingindo determinado aproveitamento, ou segundo os critérios de avaliação estabelecidos pelo QISAT. </span> <br>
	</p>

	<p class="msonormal"><b>CLÁUSULA QUARTA - DEVERES E DIREITOS DO ALUNO</b></p>

	<p><span class="topico"><b>4.1</b>&nbsp Curso(s) online:</span> </p>

	<span class="subtopico"><b>4.1.1</b> &nbsp O ALUNO será responsável pela correta utilização de seu nome de usuário e senha, que são de uso pessoal e intransferível. </span> <br>
	<span class="subtopico"><b>4.1.2</b> &nbsp O ALUNO deverá providenciar, por conta própria, os equipamentos e softwares, seguindo os requisitos mínimos mencionados no website do QISAT, com acesso à Internet e ter um endereço eletrônico permanente para contato; </span> <br>
	<span class="subtopico"><b>4.1.3</b> &nbsp Responder, no prazo estabelecido pela Coordenação do QISAT, a todas as mensagens recebidas; </span> <br>
	<span class="subtopico"><b>4.1.4</b> &nbsp Participar das avaliações propostas, quando houver o interesse da certificação, segundo normas e calendário estabelecidos pela Coordenação do(s) treinamentos(s) e pelo QISAT; </span> <br>
	<span class="subtopico"><b>4.1.5</b> &nbsp Constituem abuso de uso da internet e para a inscrição deste treinamento: </span> <br>
		<span class="subitem"><b>I.</b> &nbsp Violar a privacidade de outros ALUNOS; </span> <br>
		<span class="subitem"><b>II.</b> &nbsp Utilizar indevidamente códigos de acesso e/ou senha de outros ALUNOS; </span> <br>
		<span class="subitem"><b>III.</b> &nbsp Ceder o seu nome de usuário e senha de uso pessoal e intransferível a terceiros; </span> <br>
		<span class="subitem"><b>IV.</b> &nbsp Reproduzir, sob qualquer forma, o material, cujo uso deve ser feito exclusivamente em âmbito privado pelo ALUNO, sob pena de responder, civil e criminalmente, perante o QISAT e terceiros, nos termos da Lei n° 9.609, de 19 de fevereiro de 1998, por violação da propriedade intelectual; </span> <br>
		<span class="subitem"><b>V.</b> &nbsp Propagar vírus de computador, programas invasivos (worms), ou outras formas de programas computacionais, auto-replicantes ou não, que prejudiquem a operação das redes e de computadores individuais; </span> <br>
		<span class="subitem"><b>VI.</b> &nbsp Tentar burlar o sistema de segurança de computadores para os quais não possua autorização para acesso; </span> <br>
		<span class="subitem"><b>VII.</b> &nbsp Corromper ou destruir dados, arquivos ou programas; </span> <br>
		<span class="subitem"><b>VIII.</b> &nbsp Divulgar por meio de correio eletrônico sua promoção pessoal com fins profissionais, comerciais ou eleitorais; </span> <br>
		<span class="subitem"><b>IX.</b> &nbsp Veicular mensagens que possam vir a ser consideradas ofensivas e subversivas ou que firam princípios éticos; </span> <br>
		<span class="subitem"><b>X.</b> &nbsp Transmitir ou exibir o(s) conteúdo(s) do(s) treinamento(s) em locais de acesso coletivo, salas de projeção ou auditórios, para fins pessoais, comerciais ou acadêmicos, sem a autorização expressa do QISAT. </span> <br>
	</p>

	<p class="msonormal"> <b> Parágrafo único:</b> &nbsp O QISAT reserva-se no direito de bloquear o acesso ao sistema, sem prévio aviso, de qualquer ALUNO, que esteja enquadrado nessas condições de abuso, previstas na cláusula quarta deste instrumento, ou na legislação de uso da internet.</p>

	<p class="msonormal"><b>CLÁUSULA QUINTA - DA VIGÊNCIA E EXTINÇÃO</b></p>

	<p><span class="topico"><b>5.1</b>&nbsp Curso(s) online:</span> </p>

		<span class="subtopico"><b>5.1.1</b> &nbsp  A vigência do presente contrato inicia-se a partir da aceitação, conforme orientação do QISAT, e seu término se dará na conclusão do(s) treinamentos(s), no caso de pagamento à vista ou término de pagamento anterior à realização do(s) treinamentos(s). Para pagamentos parcelados, o contrato terá vigência até que seja quitada última parcela pelo ALUNO.</span> <br>
		<span class="subtopico"><b>5.1.2</b> &nbsp  O QISAT poderá rescindir, imediatamente, o presente contrato, independentemente de aviso ou notificação, em caso de descumprimento de qualquer das cláusulas constantes do presente contrato, pelo ALUNO.</span> <br>
		<span class="subtopico"><b>5.1.3</b> &nbsp  As cláusulas relacionadas a abuso de uso e de direitos autorais permanecerão vigentes após o encerramento do contrato.</span> <br>
		<span class="subtopico"><b>5.1.4</b> &nbsp  O presente contrato poderá também ser rescindido, por qualquer das partes, em caso de descumprimento pela outra das suas obrigações, arcando o ALUNO, caso seja o causador, com os impostos incidentes sobre o contrato no percentual de 14,33%, custo administrativo de 15% incidente sobre o valor do contrato, multa de 2% sobre o valor do contrato, além de eventuais perdas e danos, não cabendo ressarcimento ao ALUNO em caso de desistência do(s) curso(s) pelos serviços prestados.</span> <br>
		<span class="subtopico"><b>5.1.5</b> &nbsp  Em havendo quaisquer impedimentos ao não cumprimento do presente contrato por motivo de responsabilidade do ALUNO, o QISAT reserva-se ao direito de suspender os serviços previstos neste contrato até que o aluno proceda a regularização da pendência.</span> <br>

	</p>

	<p><span class="topico"><b>CLÁUSULA SEXTA - CONDIÇÕES GERAIS</b></span>
		<p><span class="topico"><b>6.1</b>&nbsp Curso(s) online:</span> </p>

		<span class="subtopico"><b>6.1.1</b> &nbsp As cláusulas apresentadas no presente contrato serão aceitas a partir do momento que o ALUNO der sua concordância, assinalando a opção "Aceito os termos do CONTRATO ON-LINE DE PRESTAÇÃO DE SERVIÇOS".</span> <br>
		<span class="subtopico"><b>6.1.2</b> &nbsp As formas de pagamento são apresentadas no site e as informações dadas pelo ALUNO no formulário de cobrança são de total responsabilidade deste.</span> <br>
		<span class="subtopico"><b>6.1.3</b> &nbsp O ALUNO autoriza o QISAT a efetuar a cobrança na forma e meio escolhidos por ele dentre os oferecidos,estando o QISAT e a empresa autorizada de débito (banco ou administradora de cartões de crédito), isentas de qualquer responsabilidade ou obrigatoriedade.</span> <br>
	</p>

	<p><span class="topico"><b>CLÁUSULA SÉTIMA - DO FORO</b></span>
		<span class="topico"><b>7.1</b>&nbsp Fica eleito o Foro da cidade de Florianópolis - SC, para dirimir quaisquer dúvidas oriundas do presente contrato, com renúncia expressa de qualquer outro, por mais privilegiado que seja. </span>
	</p>

	<p>Florianópolis, {{datanow}}.</p>
	<p><b>MN Tecnologia e Treinamento LTDA</b></p>

	<p style="text-align:right; font-size:12px;">Última alteração realizada em 05/10/2018.</p>
	<a class="close-reveal-modal" aria-label="Close" ng-click="cancel()">&#215;</a>
</div>