<h2>Contrato On-Line de Prestação de Serviço</h2>

		<table class="table_contrato">
			<tr>
				<td>
					<table class="table_contrato_texto">
						<tr>
							<td align="left" valign="middle">
								<table id="tabelaContrato" width="100%" border="0"
									cellpadding="0" cellspacing="0" class="texto_email">
									<tr>
										<td><p align="justify">
												
Que, entre si fazem, de um lado MN TECNOLOGIA E TREINAMENTO LTDA com sede à Av. Osmar Cunha, 183, Edifí Ceisa Center, Sala 301, Bloco C, Centro na cidade de Florianópolis, Estado de Santa Catarina, inscrita no CNPJ sob o nº 03.984.954/0001-74, doravante chamada pelo nome fantasia QISAT, e, de outro, {{nome}}, portador(a) dos documentos informados e devidamente cadastrados em nosso banco de dados e identificados pelo seu nome de identificação, doravante chamado de ALUNO, conforme as cláusulas e condições a seguir ajustadas.

											</p>
											<p>
												<strong> CLÁUSULA PRIMEIRA - DO OBJETO </strong>
											</p> <span> 1.1 - O objeto deste contrato é prestação ao ALUNO pelo QISAT dos cursos listados a seguir:</span><br>  <span>1.1.1- Conteúdo do(s) Curso(s) via internet:
												</span><br> <br><table width="100%" cellpadding="3" cellspacing="0"
												class="table_cursos"><tr>
													<td width="50%" class="titulo_dados_tabela"><div
															align="left" class="titulo_dados_tabela">
															<strong>Curso</strong>
														</div></td>
													<td width="25%" class="titulo_dados_tabela"><div
															align="center" class="titulo_dados_tabela">
															<strong>Prazo de Acesso</strong>
														</div></td>
													<td width="25%" class="titulo_dados_tabela"><div
															align="center" class="titulo_dados_tabela">
															<strong>Tempo por aula</strong>
														</div></td>
												</tr>
												<tr ng-repeat="produto in online track by produto.id">

																<td>
																	<div ng-repeat="curso in produto.courses" >
																		{{curso.nome}}
																	</div>
																</td>

																<td align="center">{{::produto.enrolperiod}}</td>

																<td>
																	<div ng-repeat="curso in produto.courses" >
																		{{curso.time}}
																	</div>
																</td>

												</tr>
												</table> <br> 

															<span>1.1.2
															- Emissão eletrônica de certificado de participação, caso o ALUNO atinja 95% (noventa e cinco por cento) de participação no(s) curso(s), a validação dos acessos é verificada através do controle de acesso do QISAT. Parágrafo único: O acesso ao treinamento - objeto deste contrato - pode dar-se a qualquer dia e a qualquer horário (24 horas por dia, inclusive finais de semanas e feriados), respeitando os limites máximos de acessos por aula (em horas) e no treinamento (contados automaticamente a partir da data da aquisição).</span><br> 

															<span>1.1.3
															-  A emissão do certificado encerra o prazo contratado de acesso ao curso.</span><br> <br>
															 <span ng-if="presencial.length">1.1.4-  Realização do(s) Curso(s) presencial(is):</span><br> <br><table width="100%" cellpadding="3" cellspacing="0"
												class="table_cursos"><tr>
													<td width="50%" class="titulo_dados_tabela"><div
															align="left" class="titulo_dados_tabela">
															<strong>Curso</strong>
														</div></td>
													<td width="25%" class="titulo_dados_tabela"><div
															align="center" class="titulo_dados_tabela">
															<strong>Data</strong>
														</div></td>
													<td width="25%" class="titulo_dados_tabela"><div
															align="center" class="titulo_dados_tabela">
															<strong>Cidade/UF</strong>
														</div></td>
												</tr><tr ng-repeat="curso in presencial">
																					<td>{{curso.nome}}</td>
																					<td align="center"> 
																						<div ng-repeat="data in curso.datas">
																								{{data}} <br>
																						</div> 
																					</td>
																					<td align="center">{{curso.local}}</td>
																				 </tr></table>

												<p>
													<strong>CLÁUSULA SEGUNDA - DO PAGAMENTO DO CURSO </strong>
												</p>
												<span> 2.1 - O ALUNO pagará ao QISAT, a título de remuneração pelos serviços educacionais prestados, o valor do(s) curso(s) estabelecidos no formulário eletrônico de inscrição, segundo os termos e condições nele assinalados.</span>
												<br>
												<span>2.1.1 - Curso(s) via internet:</span>
												<br>
												<span>Parágrafo primeiro: O acesso ao(s) curso(s) fica(m) condicionado(s) à liberação comercial e financeira do ALUNO por parte do QISAT. <br>
												Parágrafo segundo: O acesso estará disponível em até 2 (dois) dias úteis após a aprovação financeira do cadastro ou a confirmação de depósito, no caso de pagamento à vista.
												Parágrafo terceiro: No caso de parcelamento do valor, havendo atraso de sete dias no pagamento da qualquer parcela, o acesso do ALUNO será bloqueado até que a pendência seja quitada. </span>
												<br>
																								<br>
												<p>
													<strong>CLÁUSULA TERCEIRA - DEVERES E DIREITOS DO QISAT</strong>
												</p>
												<span> 3.1 São deveres do QISAT.:</span>
												<br>
												<span>3.1.1 - Curso(s) via internet:</span>
												<br>
												<span>I. O QISAT permitirá acesso 24 (vinte e quatro) horas por dia, 7(sete) dias por semana, com o número limitado de horas conforme prazos estabelecidos no website www.qisat.com.br, salvo caso fortuito ou motivo de força maior. <br>
II. O QISAT se exime de qualquer responsabilidade quanto à indisponibilidade gerada por problemas do responsável pela conexão do site à rede de internet, não cabendo ressarcimento ao ALUNO por qualquer problema de conexão com a internet, oriundo do acesso do ALUNO ou do QISAT.<br>
III. O QISAT se reserva ao direito de efetuar eventuais manutenções em seus sistemas, visando melhoria na qualidade do serviço prestado.<br>
IV. O QISAT deverá disponibilizar o conteúdo do(s) treinamento(s) contratado(s) para uso do ALUNO, através de um nome de usuário e de uma senha específica de acesso aos módulos (aulas) estabelecidos pelo QISAT, que estarão hospedados no site do QISAT, ou em outros sites por ela autorizados;<br>
V. O QISAT deverá disponibilizar um professor monitor para esclarecimento de: Dúvidas referentes aos recursos do programa abordados no projeto exemplo; Procedimentos de download, instalação e configuração das versões livres dos softwares da AltoQi necessárias ao acompanhamento do curso; As dúvidas deverão ser enviadas através do sistema Tira-dúvidas, disponibilizado na plataforma de ensino do QiSat, e terão prazo de resolução de até 2 (dois) dias úteis;<br>
VI. Cabe ao QISAT coordenar administrativa e academicamente o(s) treinamento(s), zelando pela sua qualidade e pelo cumprimento do regimento da instituição mantenedora de treinamentos e metodologias de ensino a distância;<br>
VII. O QISAT deverá informar ao ALUNO as atividades programadas para o(s) treinamentos(s);<br>
VIII. O QISAT deverá emitir certificado de conclusão ao ALUNO, caso este o tenha solicitado, após a realização das avaliações, e atingindo determinado aproveitamento, ou segundo os critérios de avaliação estabelecidos pelo QISAT. </span>
												<br>
																								<p>
													<strong>CLÁUSULA QUARTA - DEVERES E DIREITOS DO ALUNO</strong>
												</p>
												<span>4.1 - Curso(s) via internet:</span>
												<br>
												<span> 4.1.1 - O ALUNO será responsável pela correta utilização de seu nome de usuário e senha, que são de uso pessoal e intransferível.<br> 4.1.2 O ALUNO deverá providenciar, por conta própria, os equipamentos e softwares, seguindo os requisitos mínimos mencionados no website do QISAT, com acesso à Internet e ter um endereço eletrônico permanente para contato;<br> 4.1.3
													- Responder, no prazo estabelecido pela Coordenação do QISAT, a todas as mensagens recebidas;<br> 4.1.4 - Participar das avaliações propostas, quando houver o interesse da certificação, segundo normas e calendário estabelecidos pela Coordenação do(s) treinamentos(s) e pelo QISAT.<br> 4.1.5 - Constituem abuso de uso da internet e para a inscrição deste treinamento:<br> I. Violar a privacidade de outros ALUNOS;<br>
													II Utilizar indevidamente códigos de acesso e/ou senha de outros ALUNOS;<br> III. Ceder o seu nome de usuário e senha de uso pessoal e intransferível a terceiros;<br> IV. Reproduzir, sob qualquer forma, o material, cujo uso deve ser feito exclusivamente em âmbito privado pelo ALUNO, sob pena de responder, civil e criminalmente, perante o QISAT e terceiros, nos termos da Lei n° 9.609, de 19 de fevereiro de 1998, por violação da propriedade intelectual;		<br>
V. Propagar vírus de computador, programas invasivos (worms), ou outras formas de programas computacionais, auto-replicantes ou não, que prejudiquem a operação das redes e de computadores individuais;		<br>
VI. Tentar burlar o sistema de segurança de computadores para os quais não possua autorização para acesso;		<br>
VII. Corromper ou destruir dados, arquivos ou programas;		<br>
VIII. Divulgar por meio de correio eletrônico sua promoção pessoal com fins profissionais, comerciais ou eleitorais;		<br>
IX. Veicular mensagens que possam vir a ser consideradas ofensivas e subversivas ou que firam princípios éticos.		<br>
X. Transmitir ou exibir o(s) conteúdo(s) do(s) treinamento(s) em locais de acesso coletivo, salas de projeção ou auditórios, para fins pessoais,
comerciais ou acadêmicos, sem a autorização expressa do QISAT;<br>
Parágrafo único: O QISAT reserva-se no direito de bloquear o acesso ao sistema, sem prévio aviso, de qualquer ALUNO, que esteja enquadrado nessas condições de abuso, previstas na cláusula quarta deste instrumento, ou na legislação de uso da internet.  </span>
												<br>
																								<p>
													<strong>CLÁUSULA QUINTA - DA VIGÊNCIA E EXTINÇÃO</strong>
												</p>
																								<span>5.1 - Curso(s) via internet:</span>
												<br>
												<span>5.1 - Curso(s) via internet: 	<br>
5.1.1 - A vigência do presente contrato inicia-se a partir da aceitação, conforme orientação do QISAT, e seu término se dará na conclusão do(s) treinamentos(s), no caso de pagamento à vista ou término de pagamento anterior à realização do(s) treinamentos(s). Para pagamentos parcelados, o contrato terá vigência até que seja quitada última parcela pelo ALUNO.	<br>
5.1.2 - O QISAT poderá rescindir, imediatamente, o presente contrato, independentemente de aviso ou notificação, em caso de descumprimento de qualquer das cláusulas constantes do presente contrato, pelo ALUNO.	<br>
5.1.3 - As cláusulas relacionadas a abuso de uso e de direitos autorais permanecerão vigentes após o enceramento do contrato.	<br>
5.1.4 - O presente contrato poderá também ser rescindido, por qualquer das partes, em caso de descumprimento, pela outra, das suas obrigações.	<br>
Parágrafo único: Não cabe ressarcimento ao ALUNO em caso de desistência do(s) treinamento(s). </span>
												<br>
												
												<p>
													<strong>CLÁUSULA SEXTA - DA CLÁUSULA PENAL </strong>
												</p>
												<span> 6.1 - Em havendo quaisquer impedimentos ao não cumprimento do presente contrato por motivo de responsabilidade do ALUNO, o QISAT reserva-se ao direito de suspender os serviços previstos neste contrato e obriga-se a avisar o ALUNO para que o mesmo proceda à regularização da pendência.  </span>
												<br>
												<p>
													<strong>CLÁUSULA SÉTIMA - CONDIÇÕES GERAIS </strong>
												</p>
																								<span>7.1 - Curso(s) via internet:</span>
												<br>
												<span> 7.1 - Curso(s) via internet: 	<br>
7.1.1 - As cláusulas apresentadas no presente contrato serão aceitas a partir do momento que o ALUNO der sua concordância, assinalando a opção "Aceito os termos do CONTRATO ON-LINE DE PRESTAÇÃO DE SERVIÇOS".	<br>
7.1.2 - As formas de pagamento são apresentadas no site e as informações dadas pelo ALUNO no formulário de cobrança são de total responsabilidade do ALUNO.	<br>
7.1.3 - O ALUNO autorizará o QISAT a efetuar a cobrança na forma e meio escolhidos por ele, dentre os oferecidos pelo QISAT, ficando o QISAT e a empresa autorizada de débito (banco ou administradora de cartões de crédito), isentas de qualquer responsabilidade ou obrigatoriedade.  </span>
												<br>
												
												<p>
													<strong>CLÁUSULA OITAVA - DO FORO</strong>
												</p>
												<span>8.1 - Fica eleito o Foro da cidade de Florianópolis - SC, para dirimir quaisquer dúvidas oriundas do presente contrato, com renúncia expressa de qualquer outro, por mais privilegiado que seja. </span>
												<span>
													<p>Ultima alteração realizada em 22/08/2014.</p>
												</span>

												</td>
												</tr>
											</table>
											<div align="right" class="nao_imprimir">
												<p class="texto_email">
													<a class="button tiny" href="#" onClick="window.print();">Imprimir</a> 
													<a class="close-reveal-modal" aria-label="Close" ng-click="cancel()">&#215;</a>
												</p>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div
						style='font-family: Tahoma, Verdana, Arial; font-size: 11px; color: #666666; padding: 10px; margin: auto; text-align: center;'>
						&#169; 2003 - 2017 - Todos os Direitos Reservados &agrave; MN
						Tecnologia e Treinamento Ltda. | Para mais
						informa&ccedil;&otilde;es entre em <span style='color: #02416d'><a
							href='mailto:qisat@qisat.com.br'>contato</a>.</span>
					</div>
