<div id="modalPageCourseCall" name="modalPageCourseCall" class="modalPageCourseCall reveal-modal-qisat" zopim>
	<section class="section-call__form">
		<header class="reveal-modal-header">
			<a class="close-reveal-modal" aria-label="Close" ng-click="cancel()">×</a>
			<span class="brand-qisat-small brand-qisat-small-light"></span>
		</header>

		<header class="section-call__form--header">
			<div class="row">
				<div class="large-12 columns">
					<h4 class="section-call__form--header-title">Atualizar Dados</h4>

					<p>Para continuar sua compra com este usuário é necessário atualizar os dados cadastrados. Dados
						obrigatórios
						são CPF OU CNPJ e E-mail válidos.</p>
				</div>
			</div>
		</header>

		<form id="updateForm" name="updateForm" class="section-call__form--form" novalidate>
			<div class="row" ng-if="getCpf">
				<div class="small-2 columns">
					<div class="row">
						<div class="small-12 columns">
							<label for="cpfcnpj" class="call-label-icon-name" title="Inserir CPF OU CNPJ"> </label>
						</div>
					</div>
				</div>
				<div class="medium-10 columns">
					<div class="row">
						<div class="small-12 columns">


							<input type="text" name="cpfcnpj" id="cpfcnpj" placeholder="Digite CPF ou CNPJ"
								ng-model="dados.cpfcnpj" ui-br-cpfcnpj-mask cpf-check ng-required="true">

							<div ng-show="(updateForm.cpfcnpj.$dirty || submitted) && updateForm.cpfcnpj.$invalid">
								<span class="error" ng-show="updateForm.cpfcnpj.$error.required">CPF/CNPJ
									obrigatório</span>
							</div>

							<div
								ng-show="updateForm.cpfcnpj.$dirty && (updateForm.cpfcnpj.$error.cpf || updateForm.cpfcnpj.$error.cnpj)">
								<span class="error">CPF/CNPJ inválido!</span>
							</div>

							<div
								ng-show="updateForm.cpfcnpj.$dirty && updateForm.cpfcnpj.$error.cpfCheck && !(updateForm.cpfcnpj.$error.cpf || updateForm.cpfcnpj.$error.cnpj)">
								<span class="error" ng-show="errocpf">{{errocpf}}
									<p class="label info"><a ng-click="showZopim()" analytics-on
											analytics-event="carrinho zopim">Solicite
											ajuda pelo chat</a></p>
								</span>
							</div>


						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-if="getEmail">
				<div class="small-2 columns">
					<div class="row">
						<div class="small-12 columns">
							<label for="email" class="call-label-icon-email" title="Inserir E-mail"> </label>
						</div>
					</div>
				</div>
				<div class="medium-10 columns">
					<div class="row">
						<div class="small-12 columns">

							<input type="text" name="email" id="email" placeholder="Digite seu e-mail"
								ng-model="dados.email" ng-required="true" ng-pattern="emailFormat" email-check>

							<div ng-show="(updateForm.email.$dirty || submitted) && updateForm.email.$invalid">
								<span class="error" ng-show="updateForm.email.$error.required">E-mail é
									obrigatório</span>
							</div>

							<div ng-show="updateForm.email.$dirty && updateForm.email.$error.pattern">
								<span class="error">Formato de e-mail incorreto</span>
							</div>

							<div ng-show="!updateForm.email.$error.pattern && updateForm.email.$error.emailCheck">
								<span class="error">Email já cadastrado
									<p class="label info" ng-if="!msgRemember"><a ng-click="remember(dados.email)"
											analytics-on analytics-event="carrinho remember">Solicite Recuperar
											senha</a></p>
									<p class="success label" ng-if="msgRemember">{{msgRemember}} </p>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="small-2 columns"> </div>
				<div class="medium-10 columns">
					<div class="row">
						<div class="small-12 columns">
							<button class="expand button" ng-click="submit(dados, updateForm)" analytics-on
								analytics-event="carrinho update"> Salvar </button>
						</div>
						<div class="small-12 columns text-center">
							<a ng-click="logout()" analytics-on analytics-event="carrinho logout"> Comprar com outra
								conta </a>
						</div>
					</div>
				</div>
			</div>

			<div class="row" ng-if="loading">
				<div class="large-12 columns">

					<div class="custom-loading">
						<i class="material-icons">hdr_weak</i>
						<span class="text">Atualizando Informação...</span>
					</div>

				</div>
			</div>

		</form>
	</section> <!-- /// section-call-form -->
</div> <!-- //modalPageCourseCall -->