<div class="tiny reveal-modal-qisat" aria-labelledby="modalTitle" ng-if="!alert">

  <header class="reveal-modal-header">
    <span class="brand-qisat-small brand-qisat-small-light"></span>
  </header>

  <header class="section-call__form--header text-center" ng-if="inscricao">
    <div class="row">
      <div class="large-12 columns"><br>
        <p ng-if="inscricao!=true"> <strong>Capítulo:&nbsp</strong>{{inscricao}}</p>
      </div>
    </div>
  </header>

  <div class="text-center" ng-if="inscricao">
    <div class="row">
      <div class="large-12 columns">
        <h4>Realizar Inscrição Gratuita</h4>
        <p> Para concluir sua inscrição é necessário possuir cadastro.</p>
        <button type="button" ng-click="signin()" class="primary primary-dark">Fazer Login</button>
      </div>
    </div>
  </div>

  <div ng-if="!remember && !loading && !inscricao">

    <h2>Realizar Login</h2>
    <form name="loginForm" id="loginForm" novalidate>
      <input type="text" id="username" name="username" placeholder="Usuário ou Email" ng-model="user.username">
      <input type="password" id="password" name="password" placeholder="Senha" ng-model="user.password"
        ng-keypress="checkIfEnterKeyWasPressed($event, user)">
      <button type="button" ng-click="login(user)" class="expand primary" analytics-on
        analytics-event="login">Entrar</button>
      <p class="text-center"><a ng-click="clickremember()">Esqueci meus dados de Acesso</a></p>

    </form>
  </div>

  <div ng-if="remember">
    <br>
    <h4 class="text-center">Solicitar dados de Acesso</h4>
    <form name="rememberForm" id="rememberForm" novalidate>
      <input type="text" name="email" id="email" placeholder="Digite Seu Email" ng-model="email" ng-required="true"
        ng-pattern="emailFormat" ng-model-options="{ debounce: 1000 }">

      <div ng-show="rememberForm.email.$dirty && rememberForm.email.$error.pattern">
        <span class="error">Formato de Email incorreto!</span>
      </div>

      <div class="row">
        <div class="small-8 small-centered columns">
          <div vc-recaptcha ng-model="gRecaptchaResponse" on-create="setWidgetId(widgetId)"
            on-success="setResponse(responseRecaptcha)" on-expire="reloadRecaptcha()" size="compact"> </div>

          <span class="error" ng-show="rememberForm.$error.recaptcha&&submit">Verificarção Obrigatória!</span><br>
        </div>
      </div>

      <button class="button secondary" ng-click="clickvoltar()"><i class="material-icons">keyboard_arrow_left</i> Voltar
      </button>

      <button id="remember" ng-click="sendMail(email, gRecaptchaResponse)" class="button primary right"
        ng-disabled="rememberForm.$invalid" analytics-on analytics-event="carrinho remember"> Enviar <i
          class="material-icons">keyboard_arrow_right</i> </button>

    </form>
  </div>

  <div class="custom-loading" ng-if="loading">
    <i class="material-icons">hdr_weak</i>
    <span class="text">Autenticando Usuário...</span>
  </div>

  <div class="not-member text-center">
    <p>Ainda não tem Cadastro?</p>
    <a class="button" ng-click="redirectSignup()" analytics-on analytics-event="carrinho cadastro">Cadastre-se</a>
  </div>
  <a class="close-reveal-modal" aria-label="Close" ng-click="cancel()" analytics-on
    analytics-event="carrinho close login">&#215;</a>
</div>

<div id="modalPageCourseCall" name="modalPageCourseCall" class="modalPageCourseCall reveal-modal-qisat" ng-if="alert">
  <section class="section-call__form">
    <header class="reveal-modal-header">
      <a class="close-reveal-modal" aria-label="Close" ng-click="cancel()">×</a>
      <span class="brand-qisat-small brand-qisat-small-light"></span>
    </header>

    <header class="section-call__form--header" ng-if="alert.header">
      <div class="row">
        <div class="large-12 columns">
          <h4 class="section-call__form--header-title" ng-if="alert.header.title">
            {{alert.header.title}}
          </h4>
          <p ng-if="alert.header.subtitle"> {{alert.header.subtitle}} </p>
        </div>
      </div>
    </header>

    <div class="row text-center">
      <div class="large-12 columns">
        <span class="section-call__done--icon" ng-if="alert.success">
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="93.827px" height="92.593px" viewbox="0 0 93.827 92.593"
            enable-background="new 0 0 93.827 92.593" xml:space="preserve">
            <path fill="#2196F3" d="M46.129,1.041c-24.88,0-45.073,20.192-45.073,45.073c0,24.878,20.192,45.074,45.073,45.074
            c24.879,0,45.073-20.196,45.073-45.074C91.202,21.233,71.008,1.041,46.129,1.041z M37.114,68.649L14.578,46.113l6.356-6.356
            l16.18,16.136l34.21-34.209l6.356,6.399L37.114,68.649z" />
          </svg>
        </span>

        <span class="section-call__done--icon" ng-if="!alert.success">
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
          <svg version="1.1" id="Camada_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="120" height="120" viewbox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" fill="#ffae00" />
          </svg>
        </span>
      </div>
    </div>

    <div class="row text-center" ng-if="alert.main">
      <div class="large-12 columns">
        <span class="section-call__done--title" ng-if="alert.main.title"> {{alert.main.title}} </span>
        <span class="section-call__done--subtitle" ng-if="alert.main.subtitle"> {{alert.main.subtitle}} </span>
      </div>
    </div>

    <div class="row">
      <div class="small-6 small-centered columns">
        <a class="button secondary" ng-click="clickvoltar()"><i class="material-icons">keyboard_arrow_left</i> Voltar
        </a>
      </div>
    </div>

  </section>
</div>