<main class="content-main">
	<div class="row">
		<div class="large-12 columns course-page__sections">


			<div class="wordsection1">

				<p class="msonormal" align="center" style="text-align:center;"><b>POLÍTICA DE PRIVACIDADE QISAT</b></p>

				<p class="msonormal">Como parte integrante dos Termos de Uso e Condições de Navegação do Portal da
					empresa, este documento denominado POLÍTICA DE PRIVACIDADE DA QISAT, tem por finalidade estabelecer
					as regras sobre obtenção, uso e armazenamento dos dados e informações coletadas dos visitantes e
					usuários, além do registro de suas atividades.</p>

				<p class="msonormal">Para os fins deste instrumento, devem-se considerar as seguintes definições e
					descrições para o seu melhor entendimento.</p>

				<p class="msonormal"><span><b>EMPRESA</b>: Denominação utilizada nestes Termos de Uso para identificar a
						detentora e proprietária do Portal, <b>MN Tecnologia e Treinamento LTDA</b>, pessoa jurídica de
						direito privado, devidamente inscrita no CNPJ sob nº <b>03.984.954/0001-74</b>, com sede na
						cidade de Florianópolis – SC, com endereço à Av. Prefeito Osmar Cunha, 183 - Ed. Ceisa Center /
						sala 301 bloco C - CEP 88.015-100.</span><br>
					<span><b>LOGS</b>: Registros de atividades do visitante efetuadas no Portal.</span><br>
					<span><b>USUÁRIO</b>: Visitantes que acessam à área restrita do Portal.</span><br>
					<span><b>VISITANTE</b>: Qualquer pessoa que navegar pelo Portal.</span><br>
					<span><b>PORTAL</b>: Designa o endereço eletrônico <u><b><em>http://www.qisat.com.br</em></b></u> e
						seus subdomínios.</span><br>
					<span><b>Cookies</b>: Arquivos enviados pelo servidor do portal para o computador dos visitantes e
						usuários, com a finalidade de identificar o computador e obter dados de acesso, como páginas
						navegadas ou links clicados, permitindo desta forma, personalizar a navegação dos visitantes e
						usuários do portal, de acordo com o seu perfil.</span><br>
					<span><b>IP</b>: Abreviatura de Internet Protocol. É o conjunto de números que identifica o
						computador dos visitantes e usuários na Internet.</span><br>
					<span><b>Logs</b>: Registros de atividades dos visitantes e usuários efetuadas no portal.</span></p>

				<p class="msonormal"><b>2 – OBTENÇÃO DE DADOS E INFORMAÇÕES</b></p>

				<p class="msonormal"><span>2.1 Os dados e informações serão obtidos quando os visitantes e
						usuários:</span><br>
					<span>- Realizarem seus cadastros e preenchimento das informações necessárias;</span><br>
					<span>- Interagirem com as diversas funcionalidades existentes no portal, fornecendo as informações
						voluntariamente;</span><br>
					<span>- Adquirirem alguns dos produtos ou serviços oferecidos.</span></p>

				<p class="msonormal" style=" text-align:left"><b>3 – ARMAZENAMENTO DOS DADOS E INFORMAÇÕES</b></p>

				<p class="msonormal"><span>3.1 Todos os dados e informações coletadas dos visitantes e usuários serão
						incorporados ao banco de dados do portal.</span><br>
					<span>3.2 Os dados e informações coletados estarão armazenados em ambiente seguro, observado o
						estado da técnica disponível e somente poderão ser acessados por pessoas qualificadas e
						autorizadas pela empresa;</span><br>
					<span>3.3 Considerando que nenhum sistema de segurança é absolutamente seguro, a empresa se exime de
						responsabilidade por eventuais danos e prejuízos decorrentes de falhas, vírus, invasões do banco
						de dados, salvo nos casos de dolo ou culpa.</span></p>

				<p class="msonormal" style="text-align:left"><b>4 – USO DOS DADOS E INFORMAÇÕES</b></p>

				<p class="msonormal"><span>4.1 Os dados e informações coletados dos visitantes e usuários poderão ser
						utilizados para as seguintes finalidades:</span><br>
					<span>- Responder a eventuais dúvidas e solicitações dos visitantes e usuários;</span><br>
					<span>- Cumprimento de ordem legal ou judicial;</span><br>
					<span>- Constituir, defender ou exercer direitos em âmbito judicial ou administrativo;</span><br>
					<span>- Elaborar estatísticas gerais para identificação do perfil dos visitantes e usuários no
						desenvolvimento de campanhas da empresa;</span><br>
					<span>4.2 A base de dados não será compartilhada, vendida, cedida, transferida, informada, alugada a
						terceiros, servindo apenas ao grupo a que pertence a empresa.</span><br>
					<span>4.3 Caso o usuário deixe de utilizar os serviços oferecidos pelo portal, a empresa poderá,
						para fins de auditoria e preservação de direitos, permanecer com o registro dos dados e
						informações do usuário, pelo período máximo de 5 anos, com a faculdade de excluí-lo
						definitivamente segundo a sua conveniência.</span></p>

				<p class="msonormal" style="text-align:left"><b>5 – DO REGISTRO DE ATIVIDADES</b></p>

				<p class="msonormal"><span>5.1 A empresa registrará todas as atividades efetuadas pelos visitantes e
						usuários do portal, por meio de logs, podendo serem usados em caso de investigação ou alterações
						indevidas do sistema.</span></p>

				<p class="msonormal" style=" text-align:left"><b>6 – COOKIES</b></p>

				<p class="msonormal"><span>6.1 O portal poderá fazer o uso de cookies, cabendo aos visitantes e usuários
						configurar os seus navegadores de internet, caso desejar bloqueá-los, neste caso, algumas
						funcionalidades do portal poderão ser limitadas.</span></p>

				<p class="msonormal" style=" text-align:left"><b>7 – DISPOSIÇÕES GERAIS</b></p>

				<p class="msonormal"><span>7.1 A tolerância do eventual descumprimento de qualquer das cláusulas e
						condições do presente instrumento não constituirá novação das obrigações aqui estipuladas e
						tampouco impedirá ou inibirá a exigibilidade das mesmas a qualquer tempo.</span><br>
					<span>7.2 Qualquer dúvida acerca da Política de Privacidade, o interessado deverá entrar em contato
						pela seção Fale Conosco.</span></p>

				<p class="msonormal" style="text-align:left"><b>8 – LEI APLICÁVEL E JURISDIÇÃO</b></p>

				<p class="msonormal"><span>8.1 A Lei aplicável ao presente instrumento é a brasileira, no idioma
						português, sendo eleito o Foro da Comarca de Florianópolis – SC, para dirimir qualquer litígio,
						questão ou dúvida superveniente, com expressa renúncia de qualquer outro, por mais privilegiado
						que seja.</span></p><br>

				<p class="msonormal">Florianópolis, 01 de fevereiro de 2017.</p><br>

				<p class="msonormal"><b>MN Tecnologia e Treinamento LTDA</b></p>


			</div>
			<a class="close-reveal-modal" aria-label="Close" ng-click="cancel()" ng-if="cancel">&#215;</a>

		</div>
	</div>
</main>
<!--// main-content -->