@import "compass/css3";
@import "compass/utilities";
@import 'qisat/normalize';


<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,700,700italic,900italic,400italic,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
=======
//libs

//foundation
@import url(../libs/foundation/css/foundation.min.css);
>>>>>>> 95c32db17586dcb7f328b4bd4fb771f8d19730ec

//owl
@import url(../libs/owl.carousel/assets/owl.carousel.min.css);
@import url(../libs/owl.carousel/assets/owl.theme.default.min.css);



@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,700,700italic,900italic,400italic,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);



@import 'qisat/globals';
@import 'qisat/inputs_custom';


@import 'qisat/home';
@import 'qisat/modals';


@import 'qisat/hero';
@import 'qisat/brands';
@import 'qisat/cards';
@import 'qisat/filter-sidebar';


@import 'qisat/structure/header';
@import 'qisat/structure/footer';
@import 'qisat/structure/offcanvas';
@import 'qisat/structure/pages';

@import 'qisat/layout/admin';
@import 'qisat/layout/institutional';
@import 'qisat/layout/carrinho';
