<div id="pagarme-checkout-ui" style="opacity: 1;">
  <div id="pagarme-checkout-header">
    <a href="#" id="pagarme-checkout-close-link" ng-click="cancel()"><i class="icon-pg-checkout-close"></i></a>
  </div>
  <div class="container">
    <div id="pagarme-modal-box" style="top: 0px; opacity: 1; width:auto" ng-controller="carrinhoController as buy">
      <div class="row show-for-large">
        <div class="large-5 large-offset-1 columns text-left" style="padding-bottom: 10px;"><span
            class="pagarme-checkout-step-title">PRODUTOS</span></div>
        <div class="large-2 columns" style="padding-bottom: 10px;"><span class="pagarme-checkout-step-title">VALOR</span>
        </div>
        <div class="large-2 columns" style="padding-bottom: 10px;"><span class="pagarme-checkout-step-title">QNTD.</span>
        </div>
        <div class="large-2 columns" style="padding-bottom: 10px;"><span
          class="pagarme-checkout-step-title">SUBTOTAL</span></div>
      </div>
      <div class="row" ng-repeat="item in buy.itens track by item.id">
        <div class="large-6 small-12 columns text-left" style="padding: 10px 0;">
          <div class="large-1 small-1 columns" ng-show="buy.editCarrinho&&!buy.loading">
            <a ng-click="buy.removeItemCarrinho(item,true, item.ecm_curso_presencial_turma_id)" ng-hide="buy.loading"
              title="Remove"> <i class="material-icons del">delete_forever</i> </a>
          </div>
          <div class="large-11 small-11 columns">
            <span ng-show="item.modalidade" class="pagarme-checkout-amount-information">
              {{item.modalidade}}:&nbsp{{item.nome}}</span>
          </div>
        </div>
        <div class="large-2 small-12 columns" style="padding: 10px 0;">
          <span class="oldPrice pagarme-checkout-amount-information">{{item.valorFormat}}</span><br />
          <div ng-if="item.ecm_promocao || item.ecm_cupom">
            <span ng-show="item.valorPromocao" class="discount pagarme-checkout-amount-information"
              style="color: rgb(26, 110, 225);">Desconto de
              {{item.valorPromocaoFormat}}</span>
            <span ng-show="item.valorCupom" class="discount pagarme-checkout-amount-information"
              style="color: rgb(26, 110, 225);">Desconto de {{item.valorCupomFormat}}</span>
          </div>
        </div>
        <div class="large-2 small-12 columns" style="padding: 10px 0;">
          <div class="row">
            <div class="large-4 small-4 columns">
              <a ng-click="item.id=item.ecm_produto_id;buy.removeItemCarrinho(item, false, item.ecm_curso_presencial_turma_id)"
                ng-show="buy.editCarrinho&&!buy.loading" class="item-action"><i
                  class="material-icons right">remove_circle</i></a>
            </div>
            <div class="large-4 columns" ng-show="buy.loading"></div>
            <div class="large-4 small-4 columns" ng-if="!item.ecm_promocao || !item.ecm_cupom">
              <span class="muted pagarme-checkout-amount-information">{{item.quantidade}}</span>
            </div>
            <div class="large-4 small-4 columns">
              <a ng-click="item.id=item.ecm_produto_id;buy.addItemCarrinho(item, false, item.ecm_curso_presencial_turma_id)"
                ng-show="buy.editCarrinho&&!buy.loading" class="item-action"><i
                  class="material-icons left">add_circle</i></a>
            </div>
          </div>
        </div>
        <div class="large-2 small-12 columns" style="padding: 10px 0;">
          <span class="muted pagarme-checkout-amount-information">{{item.totalFormat}}</span>
        </div>
        <div class="large-12 small-12 columns" style="border-bottom: 1px solid white; min-height: 10px;"></div>
      </div>
      <div class="row" ng-if="!buy.transacaoOpen" style="margin-bottom: 20px;">
        <div class="large-3 small-3 columns text-left" style="margin-top: 20px;">
          <span class="pagarme-checkout-step-title">TOTAL</span>
        </div>
        <div class="large-9 small-9 columns text-right" style="margin-top: 20px;">
          <span class="pagarme-checkout-step-title" style="color: rgb(26, 110, 225);">{{buy.totalCarrinho}} </span>
          <span class="pagarme-checkout-step-title" ng-show="maxInstallments" style="font-size: 20px;"> em até x <span id="installments">{{maxInstallments}}</span>
          </span>
        </div>
      </div>
      <div class="row">

        <div class="large-5 small-12 columns align-middle" style="margin: 30px 0;">
          <div class="row">
            <div class="large-12 small-12 columns">
              <button class="form-group pagarme-modal-box-next-step brand-background-color" ng-click="redirectSignup()"
                analytics-on analytics-event="carrinho cadastro" style="background-color: rgb(26, 110, 225);">Comprar
                sem cadastro
                <span class="icon-pg-checkout-continue"></span></button>
            </div>
            <div class="large-12 small-12 columns">
              <span class="pagarme-checkout-amount-information">
                Caso não tenha um cadastro, ele será criado com as informações preenchidas para a compra.
              </span>
            </div>
          </div>
        </div>
        <div class="large-2 large-offset-0 small-10 small-offset-1 columns">
          <div class="row">
            <div class="pagarme-divisor-1 large-6 small-4 columns"></div>
            <div class="large-12 small-4 columns" style="color: white;"><span>ou</span></div>
            <div class="pagarme-divisor-2 large-6 small-4 columns"></div>
          </div>
        </div>

        <div class="large-5 columns" style="min-height: 300px;">
          <div style="margin-top: 0px;" name="loginForm" id="loginForm" novalidate>
            <p class="pagarme-checkout-step-title" style="margin-top: 0px;">Realizar Login</p>
            <div class="form-group pagarme-checkout-input-container" style="text-align: center; display: inline-block;">
              <input id="pagarme-modal-box-buyer-email" name="pagarme-buyer-email" ng-model="user.username"
                style="text-align: left;">
              <span class="pagarme-checkout-success-mark icon-pg-checkout-success"></span>
              <span class="pagarme-checkout-error-mark icon-pg-checkout-error"></span>
            </div>
            <div class="form-group pagarme-checkout-input-container" style="text-align: center; display: inline-block;">
              <input id="pagarme-modal-box-buyer-password" name="pagarme-buyer-password" ng-model="user.password"
                style="text-align: left;" type="password" maxlength="10" autocomplete="off">
              <span class="pagarme-checkout-success-mark icon-pg-checkout-success"></span>
              <span class="pagarme-checkout-error-mark icon-pg-checkout-error"></span>
            </div>
            <button class="form-group pagarme-modal-box-next-step brand-background-color" ng-click="login(user)"
              analytics-on analytics-event="login" style="background-color: rgb(26, 110, 225);">Entrar <span
                class="icon-pg-checkout-continue"></span></button><br/>
            <div class="form-group" style="text-align: center; display: inline-block;">
              <a href="/lembrete-de-senha" ng-click="cancel()">Esqueci meus dados de Acesso</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>