//filtro
//.menu-filter-sidebar = .menu-filter-sidebar
.menu-filter-sidebar{
  border-radius: $global-radius; background-color: #fff; width: 100%;  padding: 20px;
	@extend .z-1;
  margin-bottom: 15px;
  @media only screen and (min-width: 40.063em) {
    margin-bottom: 0;
  }

	&.menu-filter-sidebar-up{
    @media only screen and (min-width: 40.063em) {
      margin-top: -120px;
    }
  }

	&-option-set{margin: 0;     list-style: none;}
	&-item {  cursor: pointer; margin-left: 0px; position: relative;
		&--quantity { font-size: 12px; position: absolute; right: 0; background: #fff; padding-left: 5px; top: 3px; color: rgba(0,0,0,.50); }
		&--link{ color:#000;  opacity: 0.7; transition: all 0.5s;
			.material-icons{ float: right; opacity: 0.7;}
			&:hover, &.active{ opacity: 1; 	.material-icons{  opacity: 1;} }
		}
	} 
}
 

//lista de filtro
.menu-filter-sidebars--title{    font-size: 11px;    text-transform: uppercase;    font-weight: 800; color: #c9c9c9;}
.menu-filter-sidebars {
  display: none;
  margin-top: 15px;

  @media only screen and (min-width: 40.063em) {
    display: block;
    margin-top: 0;
  }
}






input[type=checkbox].with-font+label, 
input[type=radio].with-font+label { width:100%;  font-size:1rem;   opacity: 0.7;    margin-left: 0;  margin-right: 0;}


input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

}
    
input[type=radio].with-font ~ label:before,
input[type=checkbox].with-font ~ label:before {
    font-family: 'Material Icons';
    display: inline-block;
    vertical-align: middle;
    content: "\E836";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.4em;
 }

input[type=radio].with-font:checked ~ label:before,
input[type=checkbox].with-font:checked ~ label:before  {
    content: "\E837";
    font-size: 1.2em;
   color: $primary-color;
     letter-spacing: 5px;
}

input[type=radio].with-font:checked+label,
input[type=checkbox].with-font:checked+label  {
   opacity: 1;
}



input[type=checkbox].with-font ~ label:before { content: "\E835"; }
input[type=checkbox].with-font:checked ~ label:before {
    content: "\E834";   
    color: $primary-color;
}
input[type=radio].with-font:focus ~ label:before,
input[type=checkbox].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label,
input[type=checkbox].with-font:focus ~ label
{                
    //color: green;
}

 