<!doctype html>
<html lang="pt_BR" class="no-js" ng-app="QiSatApp" ng-cloak >
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> QiSat | O Canal do e-Learning da Engenharia </title>
	<link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css"> <!-- Resource style -->

 	<link rel="stylesheet" href="stylesheets/app.css"> <!-- Resource style -->
	<script src="/bower_components/modernizr/modernizr.js"></script> <!-- Modernizr -->
	<link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">
</head>
<body>


	<div class="off-canvas-wrap" data-offcanvas>
	  <div class="inner-wrap">

	<!-- |||||||||||||||||||| MENU LATERAL |||||||||||||||||||||||||||| -->
			 <aside class="right-off-canvas-menu">
			   <ul class="off-canvas-list">
			     <li><label>Menu</label></li>
			     <li><a href="/" target="_self" >Home</a></li>
			     <li><a href="/cursos" target="_self" >Cursos</a></li>
				 <li><a href="/aluno" target="_self" >Área do Aluno</a></li>
				 <li><a href="/institucional" target="_self" >Institucional</a></li>
			   </ul>
			 </aside>
		<!-- |||||||||||||||||||| END MENU LATERAL |||||||||||||||||||||||||||| -->

		 <!-- |||||||||||||||||||||||| MENU PRINCIPAL |||||||||||||||||||||||||||| -->
			<header class="header-main">
				<div class="header-main__brand"> <a href="/" class="anchor header-main__logo" target="_self" > QiSat </a> </div>
				<nav class="header-main__nav">
					<ul class="header-main__ul">
						<li class="show-for-large-up header-main__list"> 
							<a class="anchor header-main__item" href="/" target="_self" >Home</a>
						</li>
						<li class="show-for-large-up header-main__list  header-main__list__has--submenu ">
							<a class="anchor header-main__item " href="/cursos" target="_self">Cursos</a>
						</li>
			 			<li class="show-for-large-up header-main__list header-main__list-item-current"> 
			 				<a class="anchor header-main__item header-main__list-item-current" href="/aluno" target="_self">Área do Aluno</a>
			 			</li>
						<li class="show-for-large-up header-main__list"> 
							<a class="anchor header-main__item" href="/institucional" target="_self">Institucional</a>
						</li>
						<li class="hide-for-large-up header-main__list"> <a class="right-off-canvas-toggle header-main__item" href="#"> 
							<i class="material-icons">menu</i> Menu</a>
						</li>
			    		<li class="header-main__list header-main__list-cart"> 
			    			<a class="header-main__item header-main__item-cart" >
			    				<i class="material-icons">shopping_cart</i> <span class="cart_number">3</span></a>
			    			</a>
			    		</li>
					</ul>
				</nav>
			</header>
		 <!-- |||||||||||||||||||| END MENU PRINCIPAL |||||||||||||||||||||||||||| -->

		 <!-- |||||||||||||||||||||||| BLOCO CARRINHO  |||||||||||||||||||||||||||| -->
				<div id="cd-shadow-layer"></div>
				<div id="cd-cart">
					<h2>Itens no carrinho</h2>
				<ul class="cd-cart-items">
					<li>
						<span class="cd-qty">0x</span> <span class="cd-price">R$0.0</span>
						<span class="cd-text">Curso de Alvenaria estrutural para Construtoras</span>
						<a href="#0" class="cd-item-remove cd-img-replace"><i class="material-icons">close</i></a>
					</li>

					<li>
						<span class="cd-qty">0x</span> <span class="cd-price">R$0.00</span>
						<span class="cd-text">Curso de Alvenaria estrutural para Construtoras</span>
						<a href="#0" class="cd-item-remove cd-img-replace"><i class="material-icons">close</i></a>
					</li>

					<li>
						<span class="cd-qty">0x</span> <span class="cd-price">R$0.00</span>
						<span class="cd-text">Curso de Alvenaria estrutural para Construtoras</span>
						<a href="#0" class="cd-item-remove cd-img-replace"><i class="material-icons">close</i></a>
					</li>
				</ul>
				 
					<div class="cd-cart-total">
						<p>Total <span>R$00.00</span></p>
					</div> <!-- cd-cart-total -->
				 
					<a href="/carrinho" target="_self" class="checkout-btn">Finalizar compra</a>
					<p class="cd-go-to-cart"><a>Continuar comprando</a></p>
				</div> <!-- cd-cart -->
		 <!-- |||||||||||||||||||||||| END CARRINHO |||||||||||||||||||||||||||| -->


 <main class="admin_main" class="ng-cloak" >
	 <div class="admin_sidebar" ng-controller="alunoController" >

 		<ul class="metismenu admin__menu">
 			<div class="ng-cloak" >
 				 <li class="item"> <a href="/aluno/perfil" class="link"> <i class="material-icons">person</i> Perfil </a>  </li>
	            <li class="item"> <a href="/aluno/cursos" class="link"> <i class="material-icons">school</i> Meus Cursos  </a>  </li>
	            <li class="item"> <a href="/aluno/certificados" class="link"> <i class="material-icons">stars</i> Certificados </a>  </li>
	            <li class="item"> <a href="/aluno/financeiro" class="link"> <i class="material-icons">attach_money</i> Financeiro </a>  </li>
	            <li class="item"> <a href="/login" class="link" ng-click='logout()'> <i class="material-icons">remove_circle_outline</i> Sair </a>  </li>
 			</div>
        </ul>

 	</div> 
	 <div class="admin_content" class="ng-cloak">
	
		<div ng-if='error' class="ng-cloak">
			<div data-alert class="alert-box warning radius">
			  {{error}}
			  <a href="#" class="close">&times;</a>
			</div>
		</div>

		<div ng-view class="ng-cloak"></div>

 	</div>
</main>  <!--// main-content -->
<!-- ########################## END MAIN ########################## -->

				<!-- ########################## FOOTER ########################## -->
					<footer class="footer-main" >

						<div class="footer-primary">
							<div class="row">

										<ul class="footer-primary__columns small-block-grid-1 medium-block-grid-3 large-block-grid-6">

											<li class="footer-primary__columns--item">
											 		<ul class="footer-primary__list">
														<li class="footer-primary__title">Sobre o QiSat</li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/sobre-a-empresa" title="Institucional"   target="_self"> Institucional </a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/linha-do-tempo" title="Linha do Tempo"   target="_self"> Linha do Tempo </a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/convenios-e-parceiros" title="Convênios e Parceiros"  target="_self">Convênios e Parceiros</a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/instrutores-e-professores" title="Instrutores e Professores"  target="_self">Instrutores e Professores</a></li>
													</ul>
											</li>

											<li class="footer-primary__columns--item">
											 	<ul class="footer-primary__list">
													<li class="footer-primary__title"> Páginas </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/cursos" title="Todos os Cursos"  target="_self">Cursos</a></li>				 		
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/aluno" title="Cursos"  target="_self">Área do Aluno</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/duvidas" title="Dúvidas Frequentes"  target="_self">Dúvidas Frequentes</a></li>
									 		 	</ul>
											</li> <!-- // -->


											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list"> 
													<li class="footer-primary__title"> Soluções </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/curso" title="Sugira um Curso"  target="_self">Sugira um Curso </a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/nova-turma" title="Sugira uma nova Turma"  target="_self">Sugira uma nova Turma </a></li>		
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/funcionalidade" title="Sugira uma Funcionalidade"  target="_self">Sugira uma Funcionalidade </a></li>
											 		</ul>
											</li>

											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list">
													 <li class="footer-primary__title"> Contato</li>
													<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Ligamos para você" target="_self">Ligamos para você</a></li>
													<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Mensagem" target="_self">Mensagem</a></li>
												</ul>
											</li>   

											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list">
											 		<li class="footer-primary__title"> Social </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.facebook.com/qisat" title="Facebook" target="_blank" >Facebook</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.linkedin.com/in/qisat" title="Linkedin" target="_blank" >Linkedin</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.instagram.com/qisat/" title="Instagram" target="_blank" >Instagram</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.youtube.com/user/qisat" title="YouTube" target="_blank" >YouTube</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://twitter.com/QiSat" title="Twitter" target="_blank" >Twitter</a></li>

											 	</ul>
											</li>

											<li class="footer-primary__columns--item">
												<img class="footer-primary__list__item--brand-qisat" src="images/brand/brand_small-light.svg" alt="Brand QiSat Light">
											</li> <!-- //  -->

							</div> <!-- ///row -->
						</div> <!-- // footer-primary -->

						<div class="footer-secondary" >
								<div class="row">
										<ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
											<li>
													<ul class="footer-secondary__list">
														<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Termos de uso</a></li>
														<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Política de privacidade</a></li>
													</ul>
										    </li>

										    <li>
													<ul class="footer-secondary__list footer-secondary__list--email ">
														<li class="footer-secondary__list__item"><a href="mailto:qisat@qisat.com.br" class="footer-secondary__list__item--link">QiSat | Cursos aplicados à engenharia e Arquitetura : <strong>qisat@qisat.com.br</strong></a></li>
													</ul>
										   	</li>

											<li>
												<ul class="footer-secondary__list">
														<li class="footer-secondary__list__item">
															<span class="footer-secondary__list__item--brand-text">Uma empresa</span>
															<a href="#" class="footer-secondary__list__item--brand"><img class="footer-secondary__list__item--brand-image" src="" alt="">	<img src="images/brand/brand_altoqi-small-light.svg" alt="AltoQi"></a>
														</li>
												 </ul>
											</li>
						 		</div> <!-- ///row -->
						</div> <!-- footer-secondary -->
					</footer> <!-- footer-container -->
				<!-- ########################## END FOOTER ########################## -->
			<!-- exit-off-canvas -->
			<a class="exit-off-canvas"></a>


		</div> <!-- //inner-wrap -->
	 </div><!-- //off-canvas-wrap -->



	<!-- GLOBAL -->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>  <!-- Resource jQuery -->
		<script src="/bower_components/foundation/js/foundation.min.js"></script> <!-- script foundation -->
		<script src="js/libs/angular.js"></script>  <!-- defern erro chrome unmindecode -->
		<script src="/bower_components/angular-foundation/mm-foundation-tpls.js"></script>
		<script src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	<!-- // GLOBAL -->


	<!-- EXECUTA SCRIPTS QISAT -->
	    <script defer src="js/libs/angular-locale_pt-br.js"></script>
		<script defer src="js/libs/angular-cookies.min.js"></script>
	    <script defer src="js/libs/angular-route.min.js"></script>
	    <script defer src="js/libs/angular-resource.min.js"></script>
	    <script defer src="js/libs/ngMask.min.js"></script>
	    <script defer src="js/libs/ui-masks.js"></script>
	    <script defer src="js/QiSatApp.js"></script>

	    <script defer src="js/config/value.js"></script>
	    <script defer src="js/config/interceptors.js"></script>
	    <script defer src="js/routes/portalAluno.js"></script>
	    
		<script defer src="js/directive/cpfCheck.js"></script>
		<script defer src="js/directive/emailCheck.js"></script>
		<script defer src="js/directive/pwCheck.js"></script>
		<script defer src="js/directive/uiAlert.js"></script>
		<script defer src="js/directive/reCapthcha.js"></script>
		<script defer src="js/directive/menuAlunoCursos.js"></script>
		<script defer src="js/filters/filters.js"></script>

		<script defer src="js/services/QiSatAPI.js"></script>
		<script defer src="js/services/authService.js"></script>
		<script defer src="js/services/postmonService.js"></script>		
		
	    <script defer src="js/controllers/singupController.js"></script>
	    <script defer src="js/controllers/loginController.js"></script>
	    <script defer src="js/controllers/userController.js"></script>
	    <script defer src="js/controllers/perfilController.js"></script>
	    <script defer src="js/controllers/alunoController.js"></script>
	    <script defer src="js/controllers/rememberController.js"></script>
	    <script defer src="js/controllers/matriculaController.js"></script>
	    <script defer src="js/controllers/financeiroController.js"></script>
	    <script defer src="js/controllers/carrinhoController.js"></script>
	    <script defer src="js/controllers/certificadoController.js"></script>
	   	<script defer src="js/run/foundation.js"></script>
	   	<script defer src="js/run/routeAccess.js"></script>
	   <!--  // <script async defer src='https://www.google.com/recaptcha/api.js'></script>
	   		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	    	 // <script async defer src="js/libs/facebook.conection.js"></script> -->

	    	 <script defer src="js/app.js"></script>

	   <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>
</html>
