<!doctype html>
<html lang="pt_BR" class="no-js" ng-app="QiSatApp">
<head>
	<base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fragment" content="!">  

  <title> QiSat | Carrinho de compras</title>

  <meta name="description" content="Seja bem vindo ao carrinho de compras da QiSat. Acesse e aproveite! Aqui você encontra os mais variados cursos online e presenciais para engenharia e arquitetura.">

    <meta name="keywords" content="qisat, curso eberick, curso eberick preço, preço eberick, curso online eberick, curso de projeto, curso alvenaria estrutural, curso incendio, curso projeto eletrico, treinamento AltoQi, cursos AltoQi, cursos para Engenharia">

  <meta property="og:title" content="QiSat | Carrinho de compras" />
  <meta property="og:url" content="http://www.qisat.com.br" />
  <meta property="og:description" content="Seja bem vindo ao carrinho de compras da QiSat. Acesse e aproveite! Aqui você encontra os mais variados cursos online e presenciais para engenharia e arquitetura." />

  <meta property="og:image" content="/images/QiSat.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="QiSat" />
  <meta name="twitter:card" content="1200" />
  <meta name="twitter:site" content="QiSat" />
  <meta name="twitter:title" content="QiSat | Carrinho de compras" />
  <meta name="twitter:url" content="http://www.qisat.com.br" />
  <meta name="twitter:image" content="QiSat" />
  <meta name="twitter:image:src" content="/images/QiSat.jpg" />
  <meta name="google-site-verification" content="" />
  <meta name="msvalidate.01" content="" />

  <meta name="twitter:description" content="Seja bem vindo ao carrinho de compras da QiSat. Acesse e aproveite! Aqui você encontra os mais variados cursos online e presenciais para engenharia e arquitetura.">
  <meta property="fb:app_id" content="1781801858766348" />
  <link rel="publisher" href="https://plus.google.com/115163677173885846613" />


	<link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css"> <!-- Resource style -->
  <link rel="stylesheet" href="/stylesheets/app.css"> <!-- Resource style -->
  <script async defer src="/bower_components/modernizr/modernizr.js"></script> <!-- Modernizr -->
  <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
</head>

<body class="cart-page" ng-controller='carrinhoController as buy'>
	<div class="off-canvas-wrap">
	  <div class="inner-wrap">

	<!-- |||||||||||||||||||| MENU LATERAL |||||||||||||||||||||||||||| -->
			 <aside class="right-off-canvas-menu">
			   <ul class="off-canvas-list">
			     <li><label>Menu</label></li>
			     <li><a href="/" target="_self" >Home</a></li>
			     <li><a href="/cursos" target="_self" >Cursos</a></li>
				 <li><a href-portal target="_self" >Área do Aluno</a></li>
				 <li><a href="/institucional" target="_self" >Institucional</a></li>
			   </ul>
			 </aside>
		<!-- |||||||||||||||||||| END MENU LATERAL |||||||||||||||||||||||||||| -->

		 <!-- |||||||||||||||||||||||| MENU PRINCIPAL |||||||||||||||||||||||||||| -->
			<header class="header-main">
				<div class="header-main__brand"> <a href="/" class="anchor header-main__logo" target="_self" > QiSat </a> </div>
				<nav class="header-main__nav">
					<ul class="header-main__ul">
						<li class="show-for-large-up header-main__list"> 
							<a class="anchor header-main__item" href="/" target="_self" >Home</a>
						</li>
						<li class="show-for-large-up header-main__list  header-main__list__has--submenu ">
							<a class="anchor header-main__item " href="/cursos" target="_self">Cursos</a>
						</li>
			 			<li class="show-for-large-up header-main__list "> 
			 				<a class="anchor header-main__item" href-portal target="_self">Área do Aluno</a>
			 			</li>
						<li class="show-for-large-up header-main__list"> 
							<a class="anchor header-main__item" href="/institucional" target="_self">Institucional</a>
						</li>
						<li class="hide-for-large-up header-main__list"> 
              <a class="right-off-canvas-toggle menu-icon header-main__item"> 
                <span><i class="material-icons">menu</i> Menu </span> </a>
            </li>
					</ul>
				</nav>
			</header>
		 <!-- |||||||||||||||||||| END MENU PRINCIPAL |||||||||||||||||||||||||||| -->

<main class="content-main">

  <header class="hero-pages hero-pages__cart">
     <div class="row">
         <div class="medium-12 columns">
           <h1 class="hero-pages__title">Checkout</h1>
         </div> <!-- //large-12-->
     </div> <!-- ///row -->
  </header>

  <div class="row">
    <div class="large-3 columns">
      <div class="widget_content" menu-carrinho-active>
        <div class="wizard">
          <div class="v-line"></div>
          <div class="step step1">
            <span>Carrinho</span>
          </div>
          <div class="step step2">
            <span>Pagamento</span>
          </div>
          <div class="step step3">
            <span>Confirmação de compra</span>
          </div>
        </div>
      </div>
    </div>

    <div class="large-9 columns">
       <div ng-view></div>
    </div>
  </div>

</main> <!--// main-content -->
<!-- ########################## END MAIN ########################## -->

        <!-- ########################## FOOTER ########################## -->
          <footer class="footer-main" ng-controller="modalController as modal" >

            <div class="footer-primary">
              <div class="row">

                    <ul class="footer-primary__columns small-block-grid-2 medium-block-grid-3 large-block-grid-6">

                      <li class="footer-primary__columns--item">
                          <ul class="footer-primary__list">
                            <li class="footer-primary__title">Sobre o QiSat</li>
                            <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/sobre-a-empresa" title="Institucional"   target="_self"> Institucional </a></li>
                            <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/linha-do-tempo" title="Linha do Tempo"   target="_self"> Linha do Tempo </a></li>
                            <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/convenios-e-parceiros" title="Convênios e Parceiros"  target="_self">Convênios e Parceiros</a></li>
                            <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/instrutores-e-professores" title="Instrutores e Professores"  target="_self">Instrutores e Professores</a></li>
                          </ul>
                      </li>

                      <li class="footer-primary__columns--item">
                        <ul class="footer-primary__list">
                          <li class="footer-primary__title"> Páginas </li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/cursos" title="Todos os Cursos"  target="_self">Cursos</a></li>           
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/aluno" title="Cursos"  target="_self">Área do Aluno</a></li>
                        </ul>
                      </li> <!-- // -->

                      <li class="footer-primary__columns--item">
                        <ul class="footer-primary__list">
                           <li class="footer-primary__title"> Contato</li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" title="Ligamos para você" target="_self" ng-click="modal.call()" analytics-on analytics-event="callme" >Ligamos para você</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/contatos" title="Mensagem" target="_self">Mensagem</a></li>
                        </ul>
                      </li>  

                      <li class="footer-primary__columns--item">
                        <ul class="footer-primary__list"> 
                          <li class="footer-primary__title"> Blogs </li>
                          
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="http://maisengenharia.altoqi.com.br/" title="Blog Mais Engenharia" target="_blank" >Blog Mais Engenharia </a></li>

                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="http://eberick.com.br/" title="Blog Eberick" target="_blank"> Blog Eberick </a></li>

                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="http://www.qibuilder.com.br/" title="Blog QiBuilder" target="_blank" > Blog QiBuilder </a></li>

                          </ul>
                      </li> 

                      <li class="footer-primary__columns--item">
                        <ul class="footer-primary__list">
                          <li class="footer-primary__title"> Social </li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.facebook.com/qisat" title="Facebook" target="_blank" >Facebook</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.linkedin.com/in/qisat" title="Linkedin" target="_blank" >Linkedin</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.instagram.com/qisat/" title="Instagram" target="_blank" >Instagram</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.youtube.com/user/qisat" title="YouTube" target="_blank" >YouTube</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://twitter.com/QiSat" title="Twitter" target="_blank" >Twitter</a></li>

                        </ul>
                      </li>

                      <li class="footer-primary__columns--item">
                        <img class="footer-primary__list__item--brand-qisat" src="images/brand/brand_small-light.svg" alt="Brand QiSat Light">
                      </li> <!-- //  -->

              </div> <!-- ///row -->
            </div> <!-- // footer-primary -->

            <div class="footer-secondary">
                <div class="row">
                    <ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
                      <li>
                          <ul class="footer-secondary__list">
                            <li class="footer-secondary__list__item">
                              <a class="footer-secondary__list__item--link" ng-click="modal.termo()">Termos de uso</a>
                            </li>
                            <li class="footer-secondary__list__item">
                              <a class="footer-secondary__list__item--link" ng-click="modal.politica()">Política de privacidade</a>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <ul class="footer-secondary__list footer-secondary__list--email ">
                            <li class="footer-secondary__list__item"><a href="mailto:inscricoes@qisat.com.br" class="footer-secondary__list__item--link">QiSat | Cursos aplicados à engenharia e arquitetura <strong>inscricoes@qisat.com.br</strong></a></li>
                          </ul>
                        </li>

                      <li>
                        <ul class="footer-secondary__list">
                            <li class="footer-secondary__list__item">
                              <span class="footer-secondary__list__item--brand-text">Uma empresa</span>
                              <a href="http://www.altoqi.com.br" class="footer-secondary__list__item--brand" target="_blank" alt="AltoQi" title="AltoQi" ><img class="footer-secondary__list__item--brand-image" alt="" src="" title="AltoQi" > <img src="images/brand/brand_altoqi-small-light.svg" alt="AltoQi" title="AltoQi" ></a>
                            </li>
                         </ul>
                      </li>
                </div> <!-- ///row -->
            </div> <!-- footer-secondary -->

          </footer> <!-- footer-container -->
          <!-- ########################## END FOOTER ########################## -->

			<!-- exit-off-canvas -->
			<a class="exit-off-canvas"></a>

		</div> <!-- //inner-wrap -->
	 </div><!-- //off-canvas-wrap -->

  <!-- GLOBAL -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>  <!-- Resource jQuery -->
    <script src="/bower_components/foundation/js/foundation.min.js"></script> <!-- script foundation -->
    <script src="js/libs/angular.min.js"></script>  <!-- defern erro chrome unmindecode -->
    <script src="/bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
  <!-- // GLOBAL -->

  <!-- EXECUTA SCRIPTS QISAT -->
      <script defer src="js/libs/moment.min.js"></script>
      <script defer src="js/libs/humanize-duration.js"></script>
      <script defer src="js/libs/extenso.js"></script>

      <script defer src="js/libs/angular-locale_pt-br.js"></script>
      <script defer src="js/libs/angular-cookies.min.js"></script>
      <script defer src="js/libs/angular-route.min.js"></script>
      <script defer src="js/libs/angular-resource.min.js"></script>
      <script defer src="js/libs/ngMask.min.js"></script>
      <script defer src="js/libs/ui-masks.js"></script>
      <script defer src="js/libs/angular-timer.min.js"></script>
      <script defer src="js/libs/ng-infinite-scroll.min.js"></script>
      <script defer src="js/libs/angulartics.min.js"></script>
      <script defer src="js/libs/angulartics-ga.min.js"></script>      
      
      <script defer src="js/QiSatApp.js"></script>
      <script defer src="js/config/value.js"></script>
      <script defer src="js/config/interceptors.js"></script>

      <script defer src="js/directive/hrefPortal.js"></script>
      <script defer src="js/directive/menuCarrinhoActive.js"></script>
      <script defer src="js/directive/cpfCheck.js"></script>
      <script defer src="js/directive/emailCheck.js"></script>
      <script defer src="js/directive/backImg.js"></script>
      <script defer src="js/directive/zopim.js"></script>

      <script defer src="js/controllers/modalController.js"></script>
      <script defer src="js/controllers/carrinhoController.js"></script>
      <script defer src="js/controllers/montarCarrinhoController.js"></script>
      <script defer src="js/controllers/pagamentoController.js"></script>
      <script defer src="js/controllers/confirmacaoController.js"></script>

      <script defer src="js/services/QiSatAPI.js"></script>
      <script defer src="js/services/authService.js"></script>
      <script defer src="js/services/carrinho.js"></script>
      
      <script defer src="js/routes/carrinho.js"></script>
      <script defer src="js/filters/filters.js"></script>
      
      <script defer src="js/app.js"></script>
    <!-- // EXECUTA MEUS SCRIPTS -->

      <script > 
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98371985-1', 'none'); 
     </script>

</body>
</html>
