<!doctype html>
<html lang="pt_BR" class="no-js" ng-app="QiSatApp">
<head>
	<!-- <base href="http://newsite.qisat.com/assets/"> -->
	<base href="/assets/">
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> QiSat | O Canal do e-Learning da Engenharia </title>
	<link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css"> <!-- Resource style -->

 	<link rel="stylesheet" href="stylesheets/app.css"> <!-- Resource style -->
	<script src="/bower_components/modernizr/modernizr.js"></script> <!-- Modernizr -->
	<link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">
</head>
<body>


	<div class="off-canvas-wrap" data-offcanvas>
	  <div class="inner-wrap">

		<!-- |||||||||||||||||||| MENU LATERAL |||||||||||||||||||||||||||| -->
			 <aside class="right-off-canvas-menu">
			   <ul class="off-canvas-list">
			     <li><label>Menu</label></li>
			     <li><a href="/">Home</a></li>
				 <li><a href="/institucional">Institucional</a></li>
			     <li><a href="/cursos">Cursos</a></li>
				 <li><a href="/aluno">Área do Aluno</a></li>
			   </ul>
			 </aside>
		<!-- |||||||||||||||||||| END MENU LATERAL |||||||||||||||||||||||||||| -->

		 <!-- |||||||||||||||||||||||| MENU PRINCIPAL |||||||||||||||||||||||||||| -->
		    <!-- <ng-include src="'/views/header.html'"></ng-include> -->
			<!-- <include ui-view='header' ></include> ui-router -->
			<header class="header-main">
				   <div class="header-main__brand"> <a href="/" class="header-main__logo"> QiSat </a> </div>
					<nav class="header-main__nav">
					<ul class="header-main__ul">
						<li class="show-for-large-up header-main__list"> <a class="header-main__item" href="/">Home</a></li>
						<li class="show-for-large-up header-main__list  header-main__list__has--submenu header-main__list-current">
							<a class="header-main__item header-main__list-item-current" href="/cursos">Cursos</a>
							<ul class="header-main__list__submenu">
								<li class="header-main__list__submenu--item"><a class="header-main__list__submenu--item-link" href="/course-ead.html">Curso EAD</a></li>
								<li class="header-main__list__submenu--item"><a class="header-main__list__submenu--item-link" href="/course-presential.html">Curso Presencial</a></li>
							</ul>
						</li>
			 			<li class="show-for-large-up header-main__list"> <a class="header-main__item" href="/aluno">Área do Aluno</a></li>
						<li class="show-for-large-up header-main__list"> <a class="header-main__item" href="/institucional">Institucional</a></li>
						<li class="hide-for-large-up header-main__list"> <a class="right-off-canvas-toggle header-main__item" href="#"> <i class="material-icons">menu</i> Menu</a></li>
			    		<li class="header-main__list header-main__list-cart"> <a class="header-main__item header-main__item-cart" href="/carrinho"><i class="material-icons">shopping_cart</i></a></li>
					</ul>
				</nav>
			</header>
		 <!-- |||||||||||||||||||| END MENU PRINCIPAL |||||||||||||||||||||||||||| -->



<main class="content-main">


<header class="hero-page-course">
		 <div class="row">
			  <div class="large-3 columns">


 				</div>  <!-- // large-3 columns -->

				<div class="large-9 columns">
							<div class="page-course__box-search">
								<h2 class="hero-page-course__title">Encontre o curso perfeito para você</h2>

								<form name="formSearch" id="formSearch">
									<div class="row collapse">
											<div class="small-10 columns">
												<input class="courses-input-search" type="search" placeholder="Procure um curso" ng-model="search" >
											</div>
											<div class="small-2 columns">
 											       <a href="#" class="button-toggle-form-type toggle-form-type"> </a>
 											</div>
									</div><!-- // row -->
								</form>


							</div>
				</div>  <!-- // large-9 columns -->

</header>


<article class="course-page" ng-controller="coursesCtrl">

 <div class="row" data-equalizer>


			<div class="hide-for-medium-down medium-4 large-3 columns" >
					<aside  id="sidebar-styker--course" class="menu-filter-sidebar menu-filter-sidebar-up">
					 	<div class="menu-filter-sidebars" >
							<form name="formFilters" id="formFilters">
					 			<div ng-repeat="filter in ::filters track by filter.id">

					 					<div ng-if="::filter.type=='links'">
					 						<h5 class="menu-filter-sidebars--title">{{::filter.title}}</h5>
										   	<ul class="menu-filter-sidebar-option-set">
											 	<li class="menu-filter-sidebar-item" ng-repeat="item in ::filter.inputs"> <a class="menu-filter-sidebar-item--link active" ng-href="{{::item.link}}"> {{::item.title}} <i class="material-icons">chevron_right</i> </a></li>
								 		  	 </ul>
					 					</div>

					 					<div ng-if="::filter.type=='dropdown'">
					 						<h5 class="menu-filter-sidebars--title">{{::filter.title}}</h5>
											<label for="selectStates" >
										        <select name="selectStates" id="selectStates" class="selectStates" ng-options="option.name for option in filter.inputs track by option.uf" ng-model="filter.selectStates" ng-change="::filterStates(filter.selectStates)">
 													<option value=""> Selecione o Estado </option>
										        </select>
										     </label>
					 					</div>

					 					<div ng-if="::filter.type=='checkbox'">
					 					   <h5 class="menu-filter-sidebars--title">{{::filter.title}}</h5> 
										   <ul class="menu-filter-sidebar-option-set">

								 		     <li class="menu-filter-sidebar-item" ng-repeat="item in ::filter.inputs">
								 		     	
								 		     		<input id="{{::item.name}}" type="checkbox" class="with-font filter-checkbox filter-types" ng-click="::filterTypes($event, item)" ng-if="::filter.name=='tipo'" /> 

								 		     		<input id="{{::item.name}}" type="checkbox" class="with-font filter-checkbox filter-types-produts" ng-click="::filterTypesProduts($event, item)" ng-if="::filter.name=='tipo-produto'" /> 

								 		     		<input id="{{::item.name}}" type="checkbox" class="with-font filter-checkbox filter-area" ng-click="::addListFilter($event, item)" ng-if="::(filter.name=='area' || filter.name=='area-complementar')" />


								 		     	<label for="{{::item.name}}">{{::item.title}} <span class="menu-filter-sidebar-item--quantity">{{::item.qtds}}</span> </label>  </li>
			 					  		   </ul>
					 					</div>

					 					<div ng-if="::filter.type=='radio'">
											<h5 class="menu-filter-sidebars--title">{{::filter.title}}</h5>
											<ul class="menu-filter-sidebar-option-set">
												<li class="menu-filter-sidebar-item" ng-repeat="item in ::filter.inputs"><input id="{{::filter.name}}" name="{{::filter.name}}" type="radio"  value="sel" class="with-font" /> <label for="{{::filter.name}}">{{::item.title}}<span class="menu-filter-sidebar-item--quantity">{{::item.qtds}}</span> </label> </label> </li>
											</ul>
					 					</div>
					 				<hr />
					 			</div>
							 </form> 
						</div> <!-- //menu-filter-sidebars -->
					</aside>
			 </div>  <!-- // large-3 columns -->
			 
			 <div class="medium-12 large-9 columns" >
				<header class="page-course__header-group">
					<span class="page-course__header-group--suptitle">Você está visualizando</span>
							<ul class="page-course__breadcrumbs breadcrumbs">
							  <li><a href="#">Todos os cursos</a></li>
							  <li><a href="#">Modalidade</a></li>
							  <li class="unavailable"><a href="#">Tipo</a></li>
							  <li class="current"><a href="#">Software</a></li>
							</ul>

					
					<!--  //caso não for usado o breadcrumbs
					<span class="page-course__header-group--title">Todos os cursos / Modalidade / Tipo / Área de atuação / Software</span> -->
				</header><!-- //page-course__header-group -->
 
 					<select name="orderby" ng-model="order" >
						<option value="" selected="selected" > Ordernar Por: </option>
						<option value="+preco" > Menor Preço </option>
						<option value="-preco" > Maior Preço </option>
						<option value="+nome"  > A - Z </option>
						<option value="-nome"  > Z - A </option>
					</select> 

					<div ng-repeat="list in coursesList" ng-show="list.show">
						<header class="page-course__header-group">
							 <span class="page-course__header-group--cattitle">{{::list.title}}</span>
							 <p> Total: {{::list.courses.length}}</p>
						</header><!-- //page-course__header-group | byTypes:types:op  -->
					    
					    <div  ng-if="::list.card=='online'" >
				    	    <ul class="list-filter block-grid__courses small-block-grid-1 medium-block-grid-2 large-block-grid-3" >
								<!-- MODELO PARA LOOPING -->
								<li class="block-grid__courses__item" ng-repeat="course in list.courses | filter:{nome : search} | orderBy:order track by course.id" ng-show="course.show" > <!-- | limitTo:3 -->
									<div class="list-filter__inner">
										<div class="card-course card-format-block">
									   		<div class="card-course-inner">
									   				<a ng-href="{{::course.link}}">
									   					<span class="card-course--litle-play"></span>
									   					<div class="card-course-header" back-img="{{::course.imgSrc}}" ></div> 
									   				</a>
									   				<div class="card-course--content">
									   					<a ng-href="{{::course.link}}">
									   						<span data-reveal-id="modal__trailer" data-tooltip="" aria-haspopup="true" title="Assista o trailer" data-options="disable_for_touch:true" class="has-tip tip-top card-course__play"></span>
									   						<span class="card-course__modality">{{::course.modalidade}}</span>
									   						<span class="card-course__name">{{::course.nome}}</span>
									   					</a>
									   					<a href="/carrinho" class="card-course__button  has-price_popover">{{::course.preco}}
									   						<span class="card-course__icon-cart">
									   							<!-- <i class="material-icons">add_shopping_cart</i> -->
									   							<div class="price_popover">
									   								<div class="price_popover__header">
									   									<p class="price_popover__header__info"> <s>de R$ 120,00</s> <strong>para R$ 56,00</strong> Até 19/11/2016</p>
									   								</div> <!-- //price_popover__header -->
									   								<div class="price_popover__footer"> Adicionar ao carrinho </div> <!-- //price_popover__footer -->
									   							</div> <!-- //price_popover -->
									   						</span>
									   					</a>
									   				</div>  <!-- //card-course-content -->
									   		</div> <!-- //card-course-inner -->
										</div> <!-- //card-course -->
									</div> <!-- //list-filter__inner -->
									
								</li>
							</ul>
						</div>
								<!-- FIM MODELO PARA LOOPING | limitTo:1 -->
	
						<div ng-if="::list.card=='eventos'">
								<div ng-repeat="course in list.courses | filter:{nome : search} | orderBy:order track by course.id" ng-show="course.show" >
		  							<div class="card-format-ever-block"> 
		  								<div class="row collapse">
			 								<div class="small-12 medium-4 columns">
			 									<div class="card-course-inner">
													<a ng-href="{{::course.link}}">
														<span class="card-course--litle-play"></span>
														<div class="card-course-header" back-img="{{::course.imgSrc}}" ></div> 
													</a>
													<div class="card-course--content">
														<a ng-href="{{::course.link}}">  
															<span data-reveal-id="modal__trailer" data-tooltip="" aria-haspopup="true" title="Assista o trailer" data-options="disable_for_touch:true" class="has-tip tip-top card-course__play"></span> 
															<span class="card-course__modality">{{::course.modalidade}}</span>  
															<span class="card-course__name">{{::course.nome}}</span> 
														</a>
													
													</div> 
												</div>
			 								</div> <!-- // columns -->

			 								<div class="small-12 medium-8 columns">
				 								<div class="card-course-serie"> 
				 									<ul class="card-course-serie__list">
				 										<li class="card-course-serie__item" ng-repeat="edicao in course.eventos" ng-show="edicao.show" > 
				 											<strong class="chapter"> <span class="name">{{::edicao.endereco}}</span> - {{::edicao.timestart}} até {{::edicao.timeend}} </strong> 
				 										</li>				 									
				 									</ul>	
				 								</div> <!-- /card-course-serie-list__container -->
		 	 								</div> <!-- // columns -->
		 								</div> <!-- // row -->
									</div> <!-- // card-format-ever-block -->
								</div>
						</div>
					</div>


					<div class="custom-loading" >
						<i class="material-icons">hdr_weak</i>
						<span class="text" >Carregando</span>
					</div>


			 </div> <!-- // large-9 columns -->

		</div> <!-- // row -->

</article>






</main> <!--// main-content -->
<!-- ########################## END MAIN ########################## -->




				<!-- ########################## FOOTER ########################## -->
				   <!-- <ng-include src="'/views/footer.html'"></ng-include>  -->
				   <!-- <include ui-view='footer' ></include> -->
					<footer class="footer-main ">

						<div class="footer-primary">
							<div class="row">

										<ul class="footer-primary__columns small-block-grid-1 medium-block-grid-3 large-block-grid-6">

											<li class="footer-primary__columns--item">
											 		<ul class="footer-primary__list">
														<li class="footer-primary__title">Sobre o QiSat</li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/sobre-a-empresa" title="Institucional" > Institucional </a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/linha-do-tempo" title="Linha do Tempo" > Linha do Tempo </a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/convenios-e-parceiros" title="Convênios e Parceiros">Convênios e Parceiros</a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/instrutores-e-professores" title="Instrutores e Professores">Instrutores e Professores</a></li>
													</ul>
											</li>

											<li class="footer-primary__columns--item">
											 	<ul class="footer-primary__list">
													<li class="footer-primary__title"> Páginas </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/cursos" title="Todos os Cursos">Cursos</a></li>				 		
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/aluno" title="Cursos">Área do Aluno</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/duvidas" title="Dúvidas Frequentes">Dúvidas Frequentes</a></li>
									 		 	</ul>
											</li> <!-- // -->


											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list"> 
													<li class="footer-primary__title"> Soluções </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/curso" title="Pós-graduação">Sugira um Curso </a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/nova-turma" title="Pós-graduação">Sugira uma nova Turma </a></li>		
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/funcionalidade" title="Pós-graduação">Sugira uma Funcionalidade </a></li>
											 		</ul>
											</li>

											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list">
													 <li class="footer-primary__title"> Contato</li>
													<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Ligamos para você">Ligamos para você</a></li>
													<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Mensagem">Mensagem</a></li>
												</ul>
											</li>   

											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list">
											 		<li class="footer-primary__title"> Social </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.facebook.com/qisat" title="Facebook" target="_blank" >Facebook</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.linkedin.com/in/qisat" title="Linkedin" target="_blank" >Linkedin</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.instagram.com/qisat/" title="Instagram" target="_blank" >Instagram</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.youtube.com/user/qisat" title="YouTube" target="_blank" >YouTube</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://twitter.com/QiSat" title="Twitter" target="_blank" >Twitter</a></li>

											 	</ul>
											</li>

											<li class="footer-primary__columns--item">
												<img class="footer-primary__list__item--brand-qisat" src="images/brand/brand_small-light.svg" alt="Brand QiSat Light">
											</li> <!-- //  -->

							</div> <!-- ///row -->
						</div> <!-- // footer-primary -->

						<div class="footer-secondary">
								<div class="row">
										<ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
											<li>
													<ul class="footer-secondary__list">
														<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Termos de uso</a></li>
														<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Política de privacidade</a></li>
													</ul>
										    </li>

										    <li>
													<ul class="footer-secondary__list footer-secondary__list--email ">
														<li class="footer-secondary__list__item"><a href="mailto:qisat@qisat.com.br" class="footer-secondary__list__item--link">QiSat | Cursos aplicados à engenharia e Arquitetura : <strong>qisat@qisat.com.br</strong></a></li>
													</ul>
										   	</li>

											<li>
												<ul class="footer-secondary__list">
														<li class="footer-secondary__list__item">
															<span class="footer-secondary__list__item--brand-text">Uma empresa</span>
															<a href="#" class="footer-secondary__list__item--brand"><img class="footer-secondary__list__item--brand-image" src="" alt="">	<img src="images/brand/brand_altoqi-small-light.svg" alt="AltoQi"></a>
														</li>
												 </ul>
											</li>
						 		</div> <!-- ///row -->
						</div> <!-- footer-secondary -->
					</footer> <!-- footer-container -->


				<!-- ########################## END FOOTER ########################## -->

				<!-- GLOBAL -->
			   	    <script src="/bower_components/jquery/dist/jquery.min.js"></script>  <!-- Resource jQuery -->
					<script src="/bower_components/foundation/js/foundation.min.js"></script> <!-- script foundation -->
					 <script src="/bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
					<script src="js/sticky-kit.js"></script>
					<script src="https://raw.githubusercontent.com/HubSpot/pace/v1.0.0/pace.min.js"></script> 
				<!-- // GLOBAL -->

				<!-- PÁGINA HOME -->
					<link href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
					<link href="/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
					<script src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
				<!-- // PÁGINA HOME -->


				<!-- SOMENTE PÁGINA DE CURSOS -->
 					<script src="/bower_components/masonry/dist/masonry.pkgd.min.js"></script>
 				<!-- // END SOMENTE PÁGINA DE CURSOS -->

				<!-- EXECUTA SCRIPTS QISAT -->
					
			<!-- ANGULARJS SCRIPTS -->
				<script src="js/min/angular.min.js"></script>
				<script src="js/QiSatApp.js"></script>

				<script src="js/config/value.js"></script>
				<script src="js/services/QiSatAPI.js"></script>
				<script src="js/controllers/coursesController.js"></script>
				<script src="js/filters/filters.js"></script>
				<script src="js/directive/directive.js"></script>
				<script src="js/app.js"></script>
 
			<!-- END ANGULARJS SCRIPTS -->



			 	<!-- // EXECUTA MEUS SCRIPTS -->

<!-- ########################## END FOOTER ########################## -->



						<!-- exit-off-canvas -->
						<a class="exit-off-canvas"></a>


		</div> <!-- //inner-wrap -->
	 </div><!-- //off-canvas-wrap -->



</body>
</html>
