<!doctype html>
<html lang="pt_BR" class="no-js" ng-app="QiSatApp">
<head>
	<base href="/assets/"> 	<!-- REMOVER - CORRIGIR MENU MOBLE - INSTITUCIONAL ON PAGE -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> QiSat | O Canal do e-Learning da Engenharia </title>
	<link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css"> <!-- Resource style -->

 	<link rel="stylesheet" href="stylesheets/app.css"> <!-- Resource style -->
	<script async defer src="/bower_components/modernizr/modernizr.js"></script> <!-- Modernizr -->
	<link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">
	<link href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
</head>
<body>

	<div class="off-canvas-wrap" data-offcanvas>
	  <div class="inner-wrap">

	<!-- |||||||||||||||||||| MENU LATERAL |||||||||||||||||||||||||||| -->
			 <aside class="right-off-canvas-menu">
			   <ul class="off-canvas-list">
			     <li><label>Menu</label></li>
			     <li><a href="/" target="_self" >Home</a></li>
				 <li><a href="/institucional" target="_self" >Institucional</a></li>
			     <li><a href="/cursos" target="_self" >Cursos</a></li>
				 <li><a href="/aluno" target="_self" >Área do Aluno</a></li>
			   </ul>
			 </aside>
		<!-- |||||||||||||||||||| END MENU LATERAL |||||||||||||||||||||||||||| -->

		 <!-- |||||||||||||||||||||||| MENU PRINCIPAL |||||||||||||||||||||||||||| -->
			<header class="header-main">
				<div class="header-main__brand"> <a href="/" class="anchor header-main__logo" target="_self" > QiSat </a> </div>
				<nav class="header-main__nav">
					<ul class="header-main__ul">
						<li class="show-for-large-up header-main__list"> 
							<a class="anchor header-main__item" href="/" target="_self" >Home</a>
						</li>
						<li class="show-for-large-up header-main__list  header-main__list__has--submenu">
							<a class="anchor header-main__item " href="/cursos" target="_self">Cursos</a>
						</li>
			 			<li class="show-for-large-up header-main__list"> 
			 				<a class="anchor header-main__item" href="/aluno" target="_self">Área do Aluno</a>
			 			</li>
						<li class="show-for-large-up header-main__list"> 
							<a class="anchor header-main__item header-main__list-current header-main__list-item-current" href="/institucional" target="_self">Institucional</a>
						</li>
						<li class="hide-for-large-up header-main__list"> <a class="right-off-canvas-toggle header-main__item" href="#"> 
							<i class="material-icons">menu</i> Menu</a>
						</li>
			    		<li class="header-main__list header-main__list-cart"> 
			    			<a class="header-main__item header-main__item-cart" >
			    				<i class="material-icons">shopping_cart</i> <span class="cart_number">3</span></a>
			    			</a>
			    		</li>
					</ul>
				</nav>
			</header>
		 <!-- |||||||||||||||||||| END MENU PRINCIPAL |||||||||||||||||||||||||||| -->

		 <!-- |||||||||||||||||||||||| BLOCO CARRINHO  |||||||||||||||||||||||||||| -->
				<div id="cd-shadow-layer"></div>
				<div id="cd-cart">
					<h2>Itens no carrinho</h2>
				<ul class="cd-cart-items">
					<li>
						<span class="cd-qty">0x</span> <span class="cd-price">R$0.0</span>
						<span class="cd-text">Curso de Alvenaria estrutural para Construtoras</span>
						<a href="#0" class="cd-item-remove cd-img-replace"><i class="material-icons">close</i></a>
					</li>

					<li>
						<span class="cd-qty">0x</span> <span class="cd-price">R$0.00</span>
						<span class="cd-text">Curso de Alvenaria estrutural para Construtoras</span>
						<a href="#0" class="cd-item-remove cd-img-replace"><i class="material-icons">close</i></a>
					</li>

					<li>
						<span class="cd-qty">0x</span> <span class="cd-price">R$0.00</span>
						<span class="cd-text">Curso de Alvenaria estrutural para Construtoras</span>
						<a href="#0" class="cd-item-remove cd-img-replace"><i class="material-icons">close</i></a>
					</li>
				</ul>
				 
					<div class="cd-cart-total">
						<p>Total <span>R$00.00</span></p>
					</div> <!-- cd-cart-total -->
				 
					<a href="/carrinho" target="_self" class="checkout-btn">Finalizar compra</a>
					<p class="cd-go-to-cart"><a>Continuar comprando</a></p>
				</div> <!-- cd-cart -->
		 <!-- |||||||||||||||||||||||| END CARRINHO |||||||||||||||||||||||||||| -->

<main class="content-main">

  <header class="hero-pages hero-pages__insitucional">
   <div class="row">
       <div class="medium-12 columns">
         <span class="hero-pages__label">Institucional</span>
         <h1 class="hero-pages__title">Conheça o QiSat</h1>
         <p class="hero-pages__tagline"> O maior portal de E-Learn para engenheiros</p>

         <ul class="hero-course__buttons-group">
           <li class="hero-course__buttons-group--item"> <a class="buttom-call" href="#" data-reveal-id="modalPageCourseCall">  Ligamos para você</a> </li>
         </ul>

       </div> <!-- //large-12-->
   </div> <!-- ///row -->
 </header><!-- //hero-home -->

 <div class="row" ng-controller="convenioController" >
     <div class="medium-12 columns">
       <nav class="menu-horizontal">
          <ul class="menu-horizontal__list"  data-equalizer>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5"><a  class="menu-horizontal__link" href="/institucional/sobre-a-empresa">Sobre a empresa</a></li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5"><a  class="menu-horizontal__link" href="/institucional/linha-do-tempo">Linha do tempo</a></li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5 menu-horizontal__item--current"><a  class="menu-horizontal__link" href="/institucional/convenios-e-parceiros">Convênios e Parceiros</a></li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5"><a  class="menu-horizontal__link" href="/institucional/instrutores-e-professores">Instrutores e Professores</a></li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5"><a  class="menu-horizontal__link" href="/institucional/contatos">Entre em Contato</a></li>
        </ul>
       </nav>
     </div> <!-- //large-12-->

     <div class="large-3 medium-4 columns grid-sidebar-left">
       menu aqui<br>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
     </div> <!-- //large-4-->
     <div class="large-9 medium-8 columns">
          <div class="page_content">
            <h1>Parcerias e convenios</h1>
             <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div> <!-- //page_content -->


			<div class="page_content">
				<h1>Solicitar Cadastro de Conselho</h1>
          
				<form name="cadastroConselhoForm" id="cadastroConselhoForm" data-abide>




					<div class="row">
						<div class="small-3 columns">
						  <label for="nameConselho" class="text-right middle"> Nome do Conselho <small>*</small> </label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="nameConselho" id="nameConselho" placeholder="Nome Completo" ng-model="conselho.name" required>
						  <small class="error">Nome é Obrigatório!</small>
						</div>
					</div>

					<div class="row">
						<div class="small-3 columns">
						  <label for="nameResponsavel" class="text-right middle"> Nome do Responsável <small>*</small> </label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="nameResponsavel" id="nameResponsavel" placeholder="Nome Completo"  ng-model="conselho.responsavel" required>
						  <small class="error">Nome é Obrigatório!</small>
						</div>
					</div>	

					<div class="row">
						<div class="small-3 columns">
						  <label for="emailResponsavel" class="text-right middle ">E-mail do Responsável <small>*</small>
						</div>
						<div class="small-9 columns">
						  <input type="email" name="emailResponsavel" id="emailResponsavel" placeholder="Digite o E-mail"  ng-model="conselho.email" ng-pattern="emailFormat" required >
						  <small class="error">Formato de Email incorreto!</small>
						</div>
					</div>

					<div class="row">
						<div class="small-3 columns">
						  <label for="phoneResponsavel" class="text-right middle">Telefone do Responsável <small>*</small></label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="phoneResponsavel" id="phoneResponsavel" placeholder="Telefone com DDD" ng-model="conselho.phone" mask="(99) 9?9999-9999" required>
						  <small class="error">Telefone é Obrigatório!</small>
						</div>
					</div>
					<br>
					<div class="row">
						  <div class="small-3 large-3 columns">
		  				  	<div class="g-recaptcha" data-sitekey="6Ld8bgcUAAAAAFeHx_7T3Vb_cBZTGDH_CZ_T_uhA" ></div>
		  				  </div>

						  <div class="small-4 large-4 columns">
						  	
						  			<button class="button expand" type="submit" ng-disabled="cadastroConselhoForm.$invalid" ng-click="addInstitution(3)"> Enviar </button>

						   			<div data-alert class="alert-box info radius alert-3-ok" style="display: none;">
									  Mensagem Enviada com SUCESSO!
									</div>

									<div data-alert class="alert-box warning  radius alert-3-error" style="display: none;">
									  Falha no Envio da Mensagem!
									</div>
						  </div>
		  				  
				   	</div>
				</form>
         	</div> <!-- //page_content -->

			<div class="page_content">
				<h1>Cadastro de Instituição</h1>
          
				<form name="cadastroInstituicaoForm" id="cadastroInstituicaoForm" data-abide>

					<div class="row">
						<div class="small-3 columns">
						  <label for="nameInstituicao" class="text-right middle"> Nome da Instituição <small>*</small> </label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="nameInstituicao" id="nameInstituicao" placeholder="Nome Completo" ng-model="institution.name" required>
						  <small class="error">Nome é Obrigatório!</small>
						</div>
					</div>

					<div class="row">
						<div class="small-3 columns">
						  <label for="nameResponsavelInstituicao" class="text-right middle"> Nome do Responsável <small>*</small> </label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="nameResponsavelInstituicao" id="nameResponsavelInstituicao" placeholder="Nome Completo"  ng-model="institution.responsavel" required>
						  <small class="error">Nome é Obrigatório!</small>
						</div>
					</div>

					<div class="row">
						<div class="small-3 columns">
						  <label for="nameCordenador" class="text-right middle"> Nome do Coordenador <small>*</small> </label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="nameCordenador" id="nameCordenador" placeholder="Nome Completo"  ng-model="institution.coordenador" required>
						  <small class="error">Nome é Obrigatório!</small>
						</div>
					</div>				  			  

					<div class="row">
						<div class="small-3 columns">
						  <label for="emailInstituicao" class="text-right middle ">E-mail para contato <small>*</small>
						</div>
						<div class="small-9 columns">
						  <input type="email" name="emailInstituicao" id="emailInstituicao" placeholder="Digite seu E-mail"  ng-model="institution.email" ng-pattern="emailFormat" required >
						  <small class="error">Formato de Email incorreto!</small>
						</div>
					</div>

					<div class="row">
						<div class="small-3 columns">
						  <label for="phoneInstituicao" class="text-right middle">Telefone para contato <small>*</small></label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="phoneInstituicao" id="phoneInstituicao" placeholder="Telefone com DDD" ng-model="institution.phone" mask="(99) 9?9999-9999" required>
						  <small class="error">Telefone é Obrigatório!</small>
						</div>
					</div>
					<br>
					<div class="row align-center">
						  <div class="small-4 large-4 large-offset-4 columns">
						  	
						  			<button class="button expand" type="submit" ng-disabled="cadastroInstituicaoForm.$invalid" ng-click="addInstitution(1)"> Enviar </button>

						   			<div data-alert class="alert-box info radius alert-1-ok" style="display: none;">
									  Mensagem Enviada com SUCESSO!
									</div>

									<div data-alert class="alert-box warning  radius alert-1-error" style="display: none;">
									  Falha no Envio da Mensagem!
									</div>
						  </div>
		  				  <div class="small-6 large-4 columns"></div>
				   	</div>
				</form>
         	</div> <!-- //page_content -->         	


			<div class="page_content">
				<h1>Cadastro Entidade Classe</h1>
          
				<form name="cadastroEntidadeForm" id="cadastroEntidadeForm" data-abide>

					<div class="row">
						<div class="small-3 columns">
						  <label for="nameEntidade" class="text-right middle"> Nome da Entidade <small>*</small> </label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="nameEntidade" id="nameEntidade" placeholder="Nome Completo" ng-model="entidade.name" required>
						  <small class="error">Nome é Obrigatório!</small>
						</div>
					</div>

					<div class="row">
						<div class="small-3 columns">
						  <label for="nameResponsavelEntidade" class="text-right middle"> Nome do Responsável <small>*</small> </label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="nameResponsavelEntidade" id="nameResponsavelEntidade" placeholder="Nome Completo"  ng-model="entidade.responsavel" required>
						  <small class="error">Nome é Obrigatório!</small>
						</div>
					</div>

					<div class="row">
						<div class="small-3 columns">
						  <label for="namePresidente" class="text-right middle"> Nome do Presidente <small>*</small> </label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="namePresidente" id="namePresidente" placeholder="Nome Completo"  ng-model="entidade.presidente" required>
						  <small class="error">Nome é Obrigatório!</small>
						</div>
					</div>				  			  

					<div class="row">
						<div class="small-3 columns">
						  <label for="emailEntidade" class="text-right middle ">E-mail para contato <small>*</small>
						</div>
						<div class="small-9 columns">
						  <input type="email" name="emailEntidade" id="emailEntidade" placeholder="Digite seu E-mail"  ng-model="entidade.email" ng-pattern="emailFormat" required >
						  <small class="error">Formato de Email incorreto!</small>
						</div>
					</div>

					<div class="row">
						<div class="small-3 columns">
						  <label for="phoneEntidade" class="text-right middle">Telefone para contato <small>*</small></label>
						</div>
						<div class="small-9 columns">
						  <input type="text" name="phoneEntidade" id="phoneEntidade" placeholder="Telefone com DDD" ng-model="entidade.phone" mask="(99) 9?9999-9999" required>
						  <small class="error">Telefone é Obrigatório!</small>
						</div>
					</div>
					<br>
					<div class="row align-center">
						  <div class="small-4 large-4 large-offset-4 columns">
						  	
						  			<button class="button expand" type="submit" ng-disabled="cadastroEntidadeForm.$invalid" ng-click="addInstitution(2)"> Enviar </button>

						   			<div data-alert class="alert-box info radius alert-2-ok" style="display: none;">
									  Mensagem Enviada com SUCESSO!
									</div>

									<div data-alert class="alert-box warning  radius alert-2-error" style="display: none;">
									  Falha no Envio da Mensagem!
									</div>
						  </div>
		  				  <div class="small-6 large-4 columns"></div>
				   	</div>
				</form>
         	</div> <!-- //page_content -->         	


			<div class="page_content">
          		<h1>Solicitar Desconto</h1>
          
				<form name="descontoForm" id="descontoForm" data-abide>

				 <div class="row">
				    <div class="large-9 large-offset-3 column">
				         <select name="selectInstitution" id="selectInstitution" class="selectInstitution" ng-options="institution.name for institution in selectInstitution track by institution.id" ng-model="desconto.institution">
				         		<option value="">  Selecione Instituição  </option>
						 </select>
				  	</div>
			    </div>
			    <br>	

				<div class="row">
					<div class="small-3 columns">
					  <label for="name" class="text-right middle"> Nome <small>*</small> </label>
					</div>
					<div class="small-9 columns">
					  <input type="text" name="name" id="name" placeholder="Nome Completo"  ng-model="desconto.name" required>
					  <small class="error">Nome é Obrigatório!</small>
					</div>
				</div>		  			  

				<div class="row">
					<div class="small-3 columns">
					  <label for="email" class="text-right middle ">E-mail <small>*</small>
					</div>
					<div class="small-9 columns">
					  <input type="email" name="email" id="email" placeholder="Digite seu E-mail"  ng-model="desconto.email" ng-pattern="emailFormat" required >
					  <small class="error">Formato de Email incorreto!</small>
					</div>
				</div>

				<div class="row">
					<div class="small-3 columns">
					  <label for="phone" class="text-right middle">Telefone <small>*</small></label>
					</div>
					<div class="small-9 columns">
					  <input type="text" name="phone" id="phone" placeholder="Telefone com DDD" ng-model="desconto.phone" mask="(99) 9?9999-9999" required>
					  <small class="error">Telefone é Obrigatório!</small>
					</div>
				</div>
				<br>
				<div class="row align-center">
					  <div class="small-4 large-4 large-offset-4 columns">
					  	
					  			<button class="button expand" type="submit" ng-disabled="descontoForm.$invalid" ng-click="institutionDiscount()"> Enviar </button>

					   			<div data-alert class="alert-box info radius alert-discount-ok" style="display: none;">
								  Mensagem Enviada com SUCESSO!
								</div>

								<div data-alert class="alert-box warning  radius alert-discount-error" style="display: none;">
								  Falha no Envio da Mensagem!
								</div>
					  </div>
						  <div class="small-6 large-4 columns"></div>
					</div>
			</form>
        	</div> <!-- //page_content -->


			<div class="page_content">
          		<h1>Tabela Desconto Conselho - CREAS</h1>
          		

						<table border="0" cellspacing="0" cellpadding="0" width="705" align="center">
						<thead>
						  <tr>
						    <th nowrap><strong>CURSO</strong></th>
						    <th width="75"><strong>VALOR</strong></th>
						    <th width="75"><strong>VALOR PROMOCIONAL</strong></th>
						  </tr>
						</thead>
					 	<tbody>
					 		<tr  > <td colspan="3" > <b>CURSOS SOFTWARES</b> </td></tr>
							<tr ng-repeat="curso in cursosSoftware track by curso.id">
							    <td nowrap > {{::curso.nome}} </td>
							    <td> {{::curso.preco}} </td>
							    <td> {{::curso.valorCREAs}} </td>
							  </tr>

							<tr > <td colspan="3" > <b>CURSOS TEÓRICOS</b> </td></tr>
							<tr ng-repeat="curso in cursosTeoricos track by curso.id">
							    <td nowrap > {{::curso.nome}} </td>
							    <td> {{::curso.preco}} </td>
							    <td> {{::curso.valorCREAs}} </td>
							  </tr>
					   </tbody>
					</table>

         	</div> <!-- //page_content -->

			<div class="page_content">
          		<h1>Tabela Desconto Instituições & Entidade de Classe </h1>

					<table border="0" cellspacing="0" cellpadding="0" width="705" align="center">
						<thead>
						  <tr>
						    <th nowrap><strong>CURSO</strong></th>
						    <th width="75"><strong>VALOR</strong></th>
						    <th width="75"><strong>PROFESSOR</strong></th>
						    <th width="75"><strong>ALUNO</strong></th>
						    <th width="75"><strong>ASSOCIADO</strong></th>
						  </tr>
						</thead>
					 	<tbody>
					 		<tr  > <td colspan="5" > CURSOS SOFTWARES </td></tr>
							<tr ng-repeat="curso in cursosSoftware track by curso.id">
							    <td nowrap >{{::curso.modalidade}} : {{::curso.nome}} </td>
							    <td> {{::curso.preco}} </td>
							    <td> {{::curso.valorProfessor}} </td>
					    	    <td> {{::curso.valorAluno}} </td>
		    	    	    	<td> {{::curso.valorAssociado}} </td>

							  </tr>

							<tr > <td colspan="5" > CURSOS TEÓRICOS </td></tr>
							<tr ng-repeat="curso in cursosTeoricos track by curso.id">
							    <td nowrap >{{::curso.modalidade}}: {{::curso.nome}} </td>
							    <td> {{::curso.preco}} </td>
							    <td> {{::curso.valorProfessor}} </td>
					    	    <td> {{::curso.valorAluno}} </td>
		    	    	    	<td> {{::curso.valorAssociado}} </td>

							  </tr>
					   </tbody>
					</table>
          
         	</div> <!-- //page_content -->

			<div class="page_content "> 
          		<h1>Lista Conselho - CREAS Convêniados</h1>

          			<table border="0" cellspacing="0" cellpadding="0" width="705" align="center">
						<thead>
						  <tr>
						    <th width="467" colspan="3"><strong>SITE</strong></th>
						    <th width="238" colspan="2"><strong>DESCONTO</strong></th>
						  </tr>
						  <tr>
						    <th width="70"><strong>CREA</strong></th>
						    <th width="213"><strong>IMAGEM</strong></th>
						    <th width="184" nowrap><strong>LINK</strong></th>
						    <th width="116"><strong>Entidade de Classe</strong></th>
						    <th width="123"><strong>Associado do CREA</strong></th>
						  </tr>
						</thead>
					 	<tbody>
						  <tr>
						    <td width="70">CREA-RO</td>
						    <td width="213"><img width="190" height="48" src="images/CREAS/logo-crea-ro.png" alt="logo-crea-ro"></td>
						    <td width="184" nowrap><u><a href="http://crea-ro.qisat.com.br/">http://crea-ro.qisat.com.br</a></u></td>
						    <td width="116">30%</td>
						    <td width="123">15%</td>
						  </tr>
						  <tr>
						    <td width="70">CREA-TO</td>
						    <td width="213"><img width="190" height="49" src="images/CREAS/logo-crea-to.png" alt="logo-crea-to"></td>
						    <td width="184" nowrap><u><a href="http://crea-to.qisat.com.br/">http://crea-to.qisat.com.br</a></u></td>
						    <td width="116">30%</td>
						    <td width="123">15%</td>
						  </tr>
						  <tr>
						    <td width="70">CREA-BA</td>
						    <td width="213"><img width="190" height="49" src="images/CREAS/logo-crea-ba.jpg" alt="logo-crea-ba"></p></td>
						    <td width="184" nowrap><u><a href="http://crea-ba.qisat.com.br/">http://crea-ba.qisat.com.br</a></u></td>
						    <td width="116">30%</td>
						    <td width="123">15%</td>
						  </tr>
						  <tr>
						    <td width="70">CREA-DF</td>
						    <td width="213"><img width="190" height="49" src="images/CREAS/logo-crea-df.png" alt="logo-crea-df"></p></td>
						    <td width="184" nowrap><u><a href="http://crea-df.qisat.com.br/">http://crea-df.qisat.com.br</a></u></td>
						    <td width="116">30%</td>
						    <td width="123">15%</td>
						  </tr>
						   <tr>
						    <td width="70">CREA-SC</td>
						    <td width="213"><img width="190" height="49" src="images/CREAS/logo-crea-sc.png" alt="logo-crea-sc"></p></td>
						    <td width="184" nowrap><u><a href="http://crea-sc.qisat.com.br/">http://crea-sc.qisat.com.br</a></u></td>
						    <td width="116">30%</td>
						    <td width="123">15%</td>
						  </tr>
						   <tr>
						    <td width="70">CREA-MS</td>
						    <td width="213"><img width="190" height="49" src="images/CREAS/logo-crea-ms.png" alt="logo-crea-ms"></p></td>
						    <td width="184" nowrap><u><a href="http://crea-ms.qisat.com.br/">http://crea-ms.qisat.com.br</a></u></td>
						    <td width="116">30%</td>
						    <td width="123">15%</td>
						  </tr>
					   </tbody>
					</table>
         	</div> <!-- //page_content -->

			<div class="page_content">
          		<h1>Lista Instituições Convêniadas</h1>

          		<ul class="list__courses">
					<li class="block-grid__courses__item" ng-repeat="institution in institutions" > 
							<div class="card-format-ever-line">
								<div class="card-course-inner">
									<div class="card-course--content">
											<span > <img  ng-src='{{institution.imgScr}}' > </span>  
											<span class="card-course__name">{{institution.instituicao}}</span> 
											<span class="card-course__modality">Enceramento do Convênio {{institution.dataFim}}</span>  
											<a href=""><span > Solicitar Desconto </span>  </a>
									</div> 
								</div>
							</div>   
						</li>			
				</ul>
         	</div> <!-- //page_content -->

			<div class="page_content">
          		<h1>Lista Entidade de Classe Convêniadas</h1>

	          	<ul class="list__courses" >
						<li class="block-grid__courses__item" ng-repeat="entidade in entidades" > 
							<div class="card-format-ever-line">
								<div class="card-course-inner">
									<div class="card-course--content">
											<span > <img  ng-src='{{entidade.imgScr}}' > </span>  
											<span class="card-course__name">{{entidade.instituicao}}</span> 
											<span class="card-course__modality">Enceramento do Convênio {{entidade.dataFim}}</span>  
											<a href=""><span > Solicitar Desconto </span>  </a>
									</div> 
								</div>
							</div>   
						</li>			
					</ul>
         	</div> <!-- //page_content -->         	



    </div> <!-- //large-8-->


 </div> <!-- ///row -->

</main> <!--// main-content -->
				<!-- ########################## FOOTER ########################## -->
					<footer class="footer-main" >

						<div class="footer-primary">
							<div class="row">

										<ul class="footer-primary__columns small-block-grid-1 medium-block-grid-3 large-block-grid-6">

											<li class="footer-primary__columns--item">
											 		<ul class="footer-primary__list">
														<li class="footer-primary__title">Sobre o QiSat</li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/sobre-a-empresa" title="Institucional"   target="_self"> Institucional </a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/linha-do-tempo" title="Linha do Tempo"   target="_self"> Linha do Tempo </a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/convenios-e-parceiros" title="Convênios e Parceiros"  target="_self">Convênios e Parceiros</a></li>
														<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/instrutores-e-professores" title="Instrutores e Professores"  target="_self">Instrutores e Professores</a></li>
													</ul>
											</li>

											<li class="footer-primary__columns--item">
											 	<ul class="footer-primary__list">
													<li class="footer-primary__title"> Páginas </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/cursos" title="Todos os Cursos"  target="_self">Cursos</a></li>				 		
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/aluno" title="Cursos"  target="_self">Área do Aluno</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/duvidas" title="Dúvidas Frequentes"  target="_self">Dúvidas Frequentes</a></li>
									 		 	</ul>
											</li> <!-- // -->


											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list"> 
													<li class="footer-primary__title"> Soluções </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/curso" title="Sugira um Curso"  target="_self">Sugira um Curso </a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/nova-turma" title="Sugira uma nova Turma"  target="_self">Sugira uma nova Turma </a></li>		
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/funcionalidade" title="Sugira uma Funcionalidade"  target="_self">Sugira uma Funcionalidade </a></li>
											 		</ul>
											</li>

											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list">
													 <li class="footer-primary__title"> Contato</li>
													<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Ligamos para você" target="_self">Ligamos para você</a></li>
													<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Mensagem" target="_self">Mensagem</a></li>
												</ul>
											</li>   

											<li class="footer-primary__columns--item">
												<ul class="footer-primary__list">
											 		<li class="footer-primary__title"> Social </li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.facebook.com/qisat" title="Facebook" target="_blank" >Facebook</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.linkedin.com/in/qisat" title="Linkedin" target="_blank" >Linkedin</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.instagram.com/qisat/" title="Instagram" target="_blank" >Instagram</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.youtube.com/user/qisat" title="YouTube" target="_blank" >YouTube</a></li>
											 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://twitter.com/QiSat" title="Twitter" target="_blank" >Twitter</a></li>

											 	</ul>
											</li>

											<li class="footer-primary__columns--item">
												<img class="footer-primary__list__item--brand-qisat" src="images/brand/brand_small-light.svg" alt="Brand QiSat Light">
											</li> <!-- //  -->

							</div> <!-- ///row -->
						</div> <!-- // footer-primary -->




						<div class="footer-secondary" ng-controller="footerController as vm">
								<div class="row">
										<ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
											<li>
													<ul class="footer-secondary__list">
														<li class="footer-secondary__list__item">
															<a class="footer-secondary__list__item--link" ng-click="vm.modaltermo()">Termos de uso</a>
														</li>
														<li class="footer-secondary__list__item">
															<a class="footer-secondary__list__item--link" ng-click="vm.modalpolitica()">Política de privacidade</a>
														</li>
													</ul>
										    </li>

										    <li>
													<ul class="footer-secondary__list footer-secondary__list--email ">
														<li class="footer-secondary__list__item"><a href="mailto:qisat@qisat.com.br" class="footer-secondary__list__item--link">QiSat | Cursos aplicados à engenharia e Arquitetura : <strong>qisat@qisat.com.br</strong></a></li>
													</ul>
										   	</li>

											<li>
												<ul class="footer-secondary__list">
														<li class="footer-secondary__list__item">
															<span class="footer-secondary__list__item--brand-text">Uma empresa</span>
															<a href="www.altoqi.com.br" class="footer-secondary__list__item--brand"><img class="footer-secondary__list__item--brand-image" src="" alt="">	<img src="images/brand/brand_altoqi-small-light.svg" alt="AltoQi"></a>
														</li>
												 </ul>
											</li>
						 		</div> <!-- ///row -->
						</div> <!-- footer-secondary -->

					</footer> <!-- footer-container -->
					<!-- ########################## END FOOTER ########################## -->
				<!-- exit-off-canvas -->
				<!-- <a class="exit-off-canvas"></a> -->

		</div> <!-- //inner-wrap -->
	 </div><!-- //off-canvas-wrap -->


	<!-- GLOBAL -->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>  <!-- Resource jQuery -->
		<script src="/bower_components/foundation/js/foundation.min.js"></script> <!-- script foundation -->
		<script src="js/libs/angular.js"></script>  <!-- defern erro chrome unmindecode -->
		<script src="/bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
		<script defer src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	<!-- // GLOBAL -->

	<!-- EXECUTA SCRIPTS QISAT -->
	

	<!-- ANGULARJS SCRIPTS -->
	    <script defer src="js/libs/angular-locale_pt-br.js"></script>
		<script defer src="js/libs/angular-cookies.min.js"></script>
	    <script defer src="js/libs/angular-route.min.js"></script>
	    <script defer src="js/libs/angular-resource.min.js"></script>
	    <script defer src="js/libs/ngMask.min.js"></script>
	    <script defer src="js/libs/ui-masks.js"></script>
	    <script defer src="js/QiSatApp.js"></script>
	    <script defer src="js/config/value.js"></script>
	    <script defer src="js/filters/filters.js"></script>
		<script defer src="js/services/QiSatAPI.js"></script>
	    <script defer src="js/controllers/convenioController.js"></script>
	    <script defer src="js/controllers/footerController.js"></script>
	    <script async defer src='https://www.google.com/recaptcha/api.js'></script>
	    

   		<script defer src="js/app.js"></script>


		<!-- // EXECUTA MEUS SCRIPTS -->



</body>
</html>
