<!doctype html>
<html lang="pt_BR" class="no-js" ng-app="QiSatApp">
<head>
  <base href="/assets/">  <!-- REMOVER - CORRIGIR MENU MOBLE - INSTITUCIONAL ON PAGE -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> QiSat | O Canal do e-Learning da Engenharia </title>
	<link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css"> <!-- Resource style -->

 	<link rel="stylesheet" href="stylesheets/app.css"> <!-- Resource style -->
	<script async defer src="/bower_components/modernizr/modernizr.js"></script> <!-- Modernizr -->
	<link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">
</head>
<body>

	<div class="off-canvas-wrap" data-offcanvas>
	  <div class="inner-wrap">
  <!-- |||||||||||||||||||| MENU LATERAL |||||||||||||||||||||||||||| -->
       <aside class="right-off-canvas-menu">
         <ul class="off-canvas-list">
           <li><label>Menu</label></li>
           <li><a href="/" target="_self" >Home</a></li>
         <li><a href="/institucional" target="_self" >Institucional</a></li>
           <li><a href="/cursos" target="_self" >Cursos</a></li>
         <li><a href="/aluno" target="_self" >Área do Aluno</a></li>
         </ul>
       </aside>
    <!-- |||||||||||||||||||| END MENU LATERAL |||||||||||||||||||||||||||| -->

     <!-- |||||||||||||||||||||||| MENU PRINCIPAL |||||||||||||||||||||||||||| -->
      <header class="header-main">
        <div class="header-main__brand"> <a href="/" class="anchor header-main__logo" target="_self" > QiSat </a> </div>
        <nav class="header-main__nav">
          <ul class="header-main__ul">
            <li class="show-for-large-up header-main__list"> 
              <a class="anchor header-main__item" href="/" target="_self" >Home</a>
            </li>
            <li class="show-for-large-up header-main__list  header-main__list__has--submenu">
              <a class="anchor header-main__item" href="/cursos" target="_self">Cursos</a>
            </li>
            <li class="show-for-large-up header-main__list"> 
              <a class="anchor header-main__item" href="/aluno" target="_self">Área do Aluno</a>
            </li>
            <li class="show-for-large-up header-main__list"> 
              <a class="anchor header-main__item header-main__list-current header-main__list-item-current" href="/institucional" target="_self">Institucional</a>
            </li>
            <li class="hide-for-large-up header-main__list"> <a class="right-off-canvas-toggle header-main__item" href="#"> 
              <i class="material-icons">menu</i> Menu</a>
            </li>
              <li class="header-main__list header-main__list-cart"> 
                <a class="header-main__item header-main__item-cart" >
                  <i class="material-icons">shopping_cart</i> <span class="cart_number">3</span></a>
                </a>
              </li>
          </ul>
        </nav>
      </header>
     <!-- |||||||||||||||||||| END MENU PRINCIPAL |||||||||||||||||||||||||||| -->

     <!-- |||||||||||||||||||||||| BLOCO CARRINHO  |||||||||||||||||||||||||||| -->
        <div id="cd-shadow-layer"></div>
        <div id="cd-cart">
          <h2>Itens no carrinho</h2>
        <ul class="cd-cart-items">
          <li>
            <span class="cd-qty">0x</span> <span class="cd-price">R$0.0</span>
            <span class="cd-text">Curso de Alvenaria estrutural para Construtoras</span>
            <a href="#0" class="cd-item-remove cd-img-replace"><i class="material-icons">close</i></a>
          </li>

          <li>
            <span class="cd-qty">0x</span> <span class="cd-price">R$0.00</span>
            <span class="cd-text">Curso de Alvenaria estrutural para Construtoras</span>
            <a href="#0" class="cd-item-remove cd-img-replace"><i class="material-icons">close</i></a>
          </li>

          <li>
            <span class="cd-qty">0x</span> <span class="cd-price">R$0.00</span>
            <span class="cd-text">Curso de Alvenaria estrutural para Construtoras</span>
            <a href="#0" class="cd-item-remove cd-img-replace"><i class="material-icons">close</i></a>
          </li>
        </ul>
         
          <div class="cd-cart-total">
            <p>Total <span>R$00.00</span></p>
          </div> <!-- cd-cart-total -->
         
          <a href="/carrinho" target="_self" class="checkout-btn">Finalizar compra</a>
          <p class="cd-go-to-cart"><a>Continuar comprando</a></p>
        </div> <!-- cd-cart -->
     <!-- |||||||||||||||||||||||| END CARRINHO |||||||||||||||||||||||||||| -->

<main class="content-main">

  <header class="hero-pages hero-pages__insitucional">
   <div class="row">
       <div class="medium-12 columns">
         <span class="hero-pages__label">Institucional</span>
         <h1 class="hero-pages__title">Conheça o QiSat</h1>
         <p class="hero-pages__tagline"> O maior portal de E-Learn para engenheiros</p>

         <ul class="hero-course__buttons-group">
           <li class="hero-course__buttons-group--item"> <a class="buttom-call" href="#" data-reveal-id="modalPageCourseCall">  Ligamos para você</a> </li>
         </ul>

       </div> <!-- //large-12-->
   </div> <!-- ///row -->
 </header><!-- //hero-home -->




 <div class="row">
     <div class="medium-12 columns">
       <nav class="menu-horizontal">
            <ul class="menu-horizontal__list"  data-equalizer>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5"><a  class="menu-horizontal__link" href="/institucional/sobre-a-empresa">Sobre a empresa</a></li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5"><a  class="menu-horizontal__link" href="/institucional/linha-do-tempo">Linha do tempo</a></li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5"><a  class="menu-horizontal__link" href="/institucional/convenios-e-parceiros">Convênios e Parceiros</a></li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5 menu-horizontal__item--current"><a  class="menu-horizontal__link" href="/institucional/instrutores-e-professores">Instrutores e Professores</a></li>
          <li data-equalizer-watch class="menu-horizontal__item menu-horizontal__item--5"><a  class="menu-horizontal__link" href="/institucional/contatos">Entre em Contato</a></li>
        </ul>
       </nav>
     </div> <!-- //large-12-->

		 <div class="large-3 columns grid-sidebar-left">
        <div class="page_content">
            <div class="show-for-medium-down text-center show-filters">
              <a href="#"><i class="material-icons">filter_list</i> <span>Mostrar filtros</span></a>
            </div>
            <div class="menu-filter-sidebars" >
              <form name="formFilters" id="formFilters">

                

                <div>

                    <div>
                      <h5 class="menu-filter-sidebars--title">Buscar por nome</h5>
                      <input type="text" name="">
                    </div>

                    <div>
                      <h5 class="menu-filter-sidebars--title">Rótulo</h5>
                      <ul class="menu-filter-sidebar-option-set">
                        <li class="menu-filter-sidebar-item" ><input id="{{::filter.name}}" name="{{::filter.name}}" type="radio"  value="sel" class="with-font" /> <label for="{{::filter.name}}">Item 1<span class="menu-filter-sidebar-item--quantity">00</span> </label> </label> </li>
                        <li class="menu-filter-sidebar-item" ><input id="{{::filter.name}}" name="{{::filter.name}}" type="radio"  value="sel" class="with-font" /> <label for="{{::filter.name}}">Item 2<span class="menu-filter-sidebar-item--quantity">00</span> </label> </label> </li>
                      </ul>
                    </div>



                    <div>
                      <hr>
                      <h5 class="menu-filter-sidebars--title">Rótulo</h5>
                      <label for="selectStates" >
                            <select name="selectStates" id="selectStates" class="selectStates" ng-options="option.local for option in filter.inputs track by option.uf" ng-model="filter.selectStates" ng-change="filterStates(filter.selectStates)">
                          <option value=""> Selecione o Estado </option>
                            </select>
                         </label>
                    </div>


                    <div>
                      <hr>
                       <h5 class="menu-filter-sidebars--title">Área de atuação</h5> 
                       <ul class="menu-filter-sidebar-option-set">

                         <li class="menu-filter-sidebar-item">
                          
                            <input id="{{::item.name}}" type="checkbox" class="with-font filter-checkbox filter-types" ng-click="::filterTypes($event, item, filter)" /> 
                            <label for="{{::item.name}}">Item 1 <span class="menu-filter-sidebar-item--quantity">00</span> </label>  </li>
                         <li class="menu-filter-sidebar-item">
                          
                            <input id="{{::item.name}}" type="checkbox" class="with-font filter-checkbox filter-types" ng-click="::filterTypes($event, item, filter)" /> 
                            <label for="{{::item.name}}">Item 2 <span class="menu-filter-sidebar-item--quantity">00</span> </label>  </li>
                         </ul>
                    </div>

                    
                  <hr />
                </div>
               </form> 
            </div> <!-- //menu-filter-sidebars -->
        </div>
    </div> <!-- //large-4-->
     <div class="large-9 columns page-professores">
          <div class="page_content">
            <!-- <h1>Instrutores e professores</h1> -->

              <div class="professor-info">
                <div class="text-center">
                  <img src="http://placehold.it/130x130">
                  <p class="name">Osny Netto</p>
                  <p>Front-end developer</p>
                </div>

                <div class="perfil-text">
                  <p>What is Lorem Ipsum?</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>


              <div class="professor-courses">
                <p class="subtitle">Cursos ministrados</p>
                <div class="row">
                  <div class="small-3 columns">
                    <img class="thumbnail" src="http://placehold.it/150x150.jpg">
                  </div>
                  <div class="small-3 columns">
                    <img class="thumbnail" src="http://placehold.it/150x150.jpg">
                  </div>
                  <div class="small-3 columns">
                    <img class="thumbnail" src="http://placehold.it/150x150.jpg">
                  </div>
                  <div class="small-3 columns">
                    <img class="thumbnail" src="http://placehold.it/150x150.jpg">
                  </div>
                </div>
              </div>

              <div class="professor-articles">
                <p class="subtitle">Artigos escritos</p>
                <div class="row">
                  <div class="small-3 columns">
                    <a href="#">
                      <img src="http://placehold.it/70x70.jpg" class="right thumbnail">
                      <p>Title</p>
                      <span>jan 19, 2016</span>
                    </a>
                  </div>
                  <div class="small-3 columns">
                    <a href="#">
                      <img src="http://placehold.it/70x70.jpg" class="right thumbnail">
                      <p>Title</p>
                      <span>jan 19, 2016</span>
                    </a>
                  </div>
                  <div class="small-3 columns">
                    <a href="#">
                      <img src="http://placehold.it/70x70.jpg" class="right thumbnail">
                      <p>Title</p>
                      <span>jan 19, 2016</span>
                    </a>
                  </div>
                  <div class="small-3 columns">
                    <a href="#">
                      <img src="http://placehold.it/70x70.jpg" class="right thumbnail">
                      <p>Title</p>
                      <span>jan 19, 2016</span>
                    </a>
                  </div>
                </div>
              </div>

              
              </div>
           <!-- //page_content -->
    </div> <!-- //large-8-->

 </div> <!-- ///row -->

</main> <!--// main-content -->
        <!-- ########################## FOOTER ########################## -->
          <footer class="footer-main" >

            <div class="footer-primary">
              <div class="row">

                    <ul class="footer-primary__columns small-block-grid-1 medium-block-grid-3 large-block-grid-6">

                      <li class="footer-primary__columns--item">
                          <ul class="footer-primary__list">
                            <li class="footer-primary__title">Sobre o QiSat</li>
                            <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/sobre-a-empresa" title="Institucional"   target="_self"> Institucional </a></li>
                            <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/linha-do-tempo" title="Linha do Tempo"   target="_self"> Linha do Tempo </a></li>
                            <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/convenios-e-parceiros" title="Convênios e Parceiros"  target="_self">Convênios e Parceiros</a></li>
                            <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/institucional/instrutores-e-professores" title="Instrutores e Professores"  target="_self">Instrutores e Professores</a></li>
                          </ul>
                      </li>

                      <li class="footer-primary__columns--item">
                        <ul class="footer-primary__list">
                          <li class="footer-primary__title"> Páginas </li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/cursos" title="Todos os Cursos"  target="_self">Cursos</a></li>           
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/aluno" title="Cursos"  target="_self">Área do Aluno</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/duvidas" title="Dúvidas Frequentes"  target="_self">Dúvidas Frequentes</a></li>
                        </ul>
                      </li> <!-- // -->


                      <li class="footer-primary__columns--item">
                        <ul class="footer-primary__list"> 
                          <li class="footer-primary__title"> Soluções </li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/curso" title="Sugira um Curso"  target="_self">Sugira um Curso </a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/nova-turma" title="Sugira uma nova Turma"  target="_self">Sugira uma nova Turma </a></li>    
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/sugira/funcionalidade" title="Sugira uma Funcionalidade"  target="_self">Sugira uma Funcionalidade </a></li>
                          </ul>
                      </li>

                      <li class="footer-primary__columns--item">
                        <ul class="footer-primary__list">
                           <li class="footer-primary__title"> Contato</li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Ligamos para você" target="_self">Ligamos para você</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="/contatos" title="Mensagem" target="_self">Mensagem</a></li>
                        </ul>
                      </li>   

                      <li class="footer-primary__columns--item">
                        <ul class="footer-primary__list">
                          <li class="footer-primary__title"> Social </li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.facebook.com/qisat" title="Facebook" target="_blank" >Facebook</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.linkedin.com/in/qisat" title="Linkedin" target="_blank" >Linkedin</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.instagram.com/qisat/" title="Instagram" target="_blank" >Instagram</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://www.youtube.com/user/qisat" title="YouTube" target="_blank" >YouTube</a></li>
                          <li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="https://twitter.com/QiSat" title="Twitter" target="_blank" >Twitter</a></li>

                        </ul>
                      </li>

                      <li class="footer-primary__columns--item">
                        <img class="footer-primary__list__item--brand-qisat" src="images/brand/brand_small-light.svg" alt="Brand QiSat Light">
                      </li> <!-- //  -->

              </div> <!-- ///row -->
            </div> <!-- // footer-primary -->




            <div class="footer-secondary" ng-controller="footerController as vm">
                <div class="row">
                    <ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
                      <li>
                          <ul class="footer-secondary__list">
                            <li class="footer-secondary__list__item">
                              <a class="footer-secondary__list__item--link" ng-click="vm.modaltermo()">Termos de uso</a>
                            </li>
                            <li class="footer-secondary__list__item">
                              <a class="footer-secondary__list__item--link" ng-click="vm.modalpolitica()">Política de privacidade</a>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <ul class="footer-secondary__list footer-secondary__list--email ">
                            <li class="footer-secondary__list__item"><a href="mailto:qisat@qisat.com.br" class="footer-secondary__list__item--link">QiSat | Cursos aplicados à engenharia e Arquitetura : <strong>qisat@qisat.com.br</strong></a></li>
                          </ul>
                        </li>

                      <li>
                        <ul class="footer-secondary__list">
                            <li class="footer-secondary__list__item">
                              <span class="footer-secondary__list__item--brand-text">Uma empresa</span>
                              <a href="www.altoqi.com.br" class="footer-secondary__list__item--brand"><img class="footer-secondary__list__item--brand-image" src="" alt=""> <img src="images/brand/brand_altoqi-small-light.svg" alt="AltoQi"></a>
                            </li>
                         </ul>
                      </li>
                </div> <!-- ///row -->
            </div> <!-- footer-secondary -->

          </footer> <!-- footer-container -->
          <!-- ########################## END FOOTER ########################## -->

        <!-- exit-off-canvas -->
        <a class="exit-off-canvas"></a>

    </div> <!-- //inner-wrap -->
   </div><!-- //off-canvas-wrap -->


  <!-- GLOBAL -->
    <script defer src="/bower_components/jquery/dist/jquery.min.js"></script>  <!-- Resource jQuery -->
    <script defer src="/bower_components/foundation/js/foundation.min.js"></script> <!-- script foundation -->
    <script defer src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
  <!-- // GLOBAL -->

  <!-- EXECUTA SCRIPTS QISAT -->
      <script defer src="js/app.js"></script>

  <!-- ANGULARJS SCRIPTS -->
      <script src="js/libs/angular.js"></script>  <!-- defern erro chrome unmindecode -->
      <script defer src="js/libs/angular-locale_pt-br.js"></script>
      <script defer src="js/libs/angular-cookies.min.js"></script>
      <script defer src="js/libs/angular-route.min.js"></script>
      <script defer src="js/libs/angular-resource.min.js"></script>
      <script defer src="js/libs/ngMask.min.js"></script>
      <script defer src="js/libs/ui-masks.js"></script>
      <script defer src="js/QiSatApp.js"></script>
      <script defer src="js/config/value.js"></script>
      <script defer src="js/filters/filters.js"></script>
      <script defer src="js/services/QiSatAPI.js"></script>
      <script defer src="js/controllers/convenioController.js"></script>
      <script defer src="js/controllers/footerController.js"></script>
      <script async defer src='https://www.google.com/recaptcha/api.js'></script>

    <!-- // EXECUTA MEUS SCRIPTS -->

</body>
</html>
