<!DOCTYPE html>
<html lang="pt_BR" class="no-js" ng-app="QiSatApp">

<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title ng-bind="ngMeta.title"> Cursos aplicados à engenharia e arquitetura | QiSat </title>
	<meta name="description" content="{{ngMeta.description}}">
	<meta name="keywords" content="{{ngMeta.keys}}">
	<meta name="robots" content="{{ngMeta.robots}}">
	<meta name="fragment" content="!">
	<meta property="og:title" content="{{ngMeta.title}}" />
	<meta property="og:url" content="{{ngMeta.url}}" />
	<meta property="og:description" content="{{ngMeta.description}}" />
	<meta property="og:image" content="images/QiSat.jpg" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="QiSat" />
	<meta name="twitter:card" content="1200" />
	<meta name="twitter:site" content="QiSat" />
	<meta name="twitter:title" content="{{ngMeta.title}}" />
	<meta name="twitter:url" content="{{ngMeta.url}}" />
	<meta name="twitter:image" content="QiSat" />
	<meta name="twitter:image:src" content="images/QiSat.jpg" />
	<meta name="google-site-verification" content="" />
	<meta name="msvalidate.01" content="" />
	<meta name="twitter:description" content="{{ngMeta.description}}">
	<meta property="fb:app_id" content="1781801858766348" />
	<link rel="publisher" href="https://plus.google.com/115163677173885846613" />
	<link rel="alternate" href="https://www.qisat.com.br/" hreflang="x-default" />
	<link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="stylesheets/app.css?vs=v654321">
	<style>
		.async-hide {
			opacity: 0 !important
		}
	</style>
</head>

<body page-buy ng-controller="carrinhoController as buy">
	<div class="off-canvas-wrap">
		<div class="inner-wrap" ng-controller="modalController as modal">

			<!-- |||||||||||||||||||| MENU LATERAL |||||||||||||||||||||||||||| -->
			<aside class="right-off-canvas-menu" ng-hide="buy.renovacao">
				<ul class="off-canvas-list">
					<li><label>Menu</label></li>
					<li>
						<a ng-href="/" analytics-on analytics-event="Home"
							analytics-category="menu-topo-mobile">Home</a>
					</li>
					<li>
						<a ng-href="/cursos" analytics-on analytics-event="Cursos"
							analytics-category="menu-topo-mobile">Cursos</a>
					</li>
					<li>
						<a ng-href="/aluno" analytics-on analytics-event="Aluno"
							analytics-category="menu-topo-mobile">Área do Aluno</a>
					</li>
					<li>
						<a ng-href="/institucional" analytics-on analytics-event="Institucional"
							analytics-category="menu-topo-mobile">Institucional</a>
					</li>
				</ul>
			</aside>
			<!-- |||||||||||||||||||| END MENU LATERAL |||||||||||||||||||||||||||| -->

			<!-- |||||||||||||||||||||||| MENU PRINCIPAL |||||||||||||||||||||||||||| -->
			<header class="header-main">
				<div class="header-main__brand"> <a ng-href="/" class="header-main__logo" ng-class="{ altoqi : buy.renovacao }" > QiSat </a> </div>
				<nav class="header-main__nav" ng-hide="buy.renovacao">
					<ul class="header-main__ul" menu-active>
						<li class="show-for-large-up header-main__list ">
							<a class="header-main__item" ng-href="/" analytics-on analytics-event="Home"
								analytics-category="menu-topo">Home</a>
						</li>
						<li class="show-for-large-up header-main__list ">
							<a class="header-main__item" ng-href="/cursos" analytics-on analytics-event="Cursos"
								analytics-category="menu-topo">Cursos</a>
						</li>
						<li class="show-for-large-up header-main__list">
							<a class="header-main__item" ng-href="/aluno" analytics-on analytics-event="Aluno"
								analytics-category="menu-topo">Área do Aluno</a>
						</li>
						<li class="show-for-large-up header-main__list">
							<a class="header-main__item" ng-href="/institucional" analytics-on
								analytics-event="Institucional" analytics-category="menu-topo">Institucional</a>
						</li>
						<li class="hide-for-large-up header-main__list">
							<a class="right-off-canvas-toggle menu-icon header-main__item" analytics-on
								analytics-event="Menu-Mobile" analytics-category="menu-topo-mobile">
								<span><i class="material-icons">menu</i> Menu </span>
							</a>
						</li>
						<li class="header-main__list header-main__list-cart">
							<a class="header-main__item header-main__item-cart" ng-click="buy.activeBuy()" analytics-on
								analytics-event="icon-carrinho" analytics-category="menu-topo">
								<i class="material-icons">shopping_cart</i> <span class="cart_number"
									ng-show="buy.qtdItens" ng-cloak>{{buy.qtdItens}}</span>
							</a>
						</li>
					</ul>
				</nav>
			</header>
			<!-- |||||||||||||||||||| END MENU PRINCIPAL |||||||||||||||||||||||||||| -->

			<!-- |||||||||||||||||||||||| BLOCO CARRINHO  |||||||||||||||||||||||||||| -->
			<div id="cd-shadow-layer" ng-class="{ actived : buy.showBuy }" ng-click="buy.activeBuy()" analytics-on
				analytics-event="Carrinho close" ng-hide="buy.renovacao" ></div>
			<div id="cd-cart" ng-class="{ actived : buy.showBuy }" ng-hide="buy.renovacao">
				<h2>Itens no carrinho</h2>
				<ul class="cd-cart-items">
					<li ng-repeat="item in buy.itens track by item.id">
						<span class="cd-price">{{item.precoFormat}}</span>
						<span class="cd-text" title="{{item.nome}}">
							<span ng-show="item.modalidade"> {{item.modalidade}}: </span>
							{{item.nomeLimit}}
						</span>
						<a class="cd-item-remove cd-img-replace"
							ng-click="buy.removeItemCarrinho(item, true, item.ecm_curso_presencial_turma_id)"
							analytics-on analytics-event="remover" analytics-category="bloco-carrinho"
							analytics-value="{{item.ecm_produto.sigla}}"><i class="material-icons">close</i></a>
					</li>
				</ul>

				<div ng-show="!buy.qtdItens">
					<span class="cd-text">Nenhum item no carrinho.</span>
				</div>

				<div class="cd-cart-total" ng-show="buy.valorTotal">
					<p><strong>Total <span>{{buy.totalCarrinho}} </span> </strong></p>
				</div> <!-- cd-cart-total -->

				<a ng-href="/carrinho" class="checkout-btn" ng-show="buy.valorTotal" ng-click="buy.activeBuy()"
					analytics-on analytics-event="finalizar" analytics-category="bloco-carrinho">Finalizar compra</a>
				<p class="cd-go-to-cart" ng-click="buy.activeBuy()" analytics-on analytics-event="continuar"
					analytics-category="bloco-carrinho"><a>Continuar comprando</a></p>
			</div> <!-- cd-cart -->
			<!-- |||||||||||||||||||||||| END CARRINHO |||||||||||||||||||||||||||| -->

			<div ng-view></div>

			<!-- ########################## FOOTER ########################## -->
			<footer class="footer-main" ng-hide="buy.renovacao">

				<div class="footer-primary">
					<div class="row">

						<ul class="footer-primary__columns small-block-grid-2 medium-block-grid-3 large-block-grid-6">

							<li class="footer-primary__columns--item">
								<ul class="footer-primary__list">
									<li class="footer-primary__title">Sobre o QiSat</li>
									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link"
											ng-href="/institucional/sobre-a-empresa" title="Institucional" analytics-on
											analytics-event="sobreqisat" analytics-category="rodape"
											analytics-label="institucional">
											Institucional </a>
									</li>
									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link"
											ng-href="/institucional/linha-do-tempo" title="Linha do Tempo" analytics-on
											analytics-event="sobreqisat" analytics-category="rodape"
											analytics-label="linhadotempo"> Linha do
											Tempo </a>
									</li>
									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link"
											ng-href="/institucional/convenios-e-parceiros" title="Convênios e Parceiros"
											analytics-on analytics-event="sobreqisat" analytics-category="rodape"
											analytics-label="convenios">Convênios e
											Parceiros</a>
									</li>
									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link"
											ng-href="/institucional/instrutores-e-professores"
											title="Instrutores e Professores" analytics-on analytics-event="sobreqisat"
											analytics-category="rodape" analytics-label="instrutores">Instrutores
											e Professores</a>
									</li>
								</ul>
							</li>

							<li class="footer-primary__columns--item">
								<ul class="footer-primary__list">
									<li class="footer-primary__title"> Páginas </li>
									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link" ng-href="/cursos/online"
											title="Cursos Online" analytics-on analytics-event="paginas"
											analytics-category="rodape" analytics-label="Cursos Online">Cursos
											Online</a>
									</li>

									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link" ng-href="/cursos/presenciais"
											title="Cursos Presenciais" analytics-on analytics-event="paginas"
											analytics-category="rodape" analytics-label="Cursos Presenciais">Cursos
											Presenciais</a>
									</li>

									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link" ng-href="/aluno"
											title="Área do Aluno" analytics-on analytics-event="paginas"
											analytics-category="rodape" analytics-label="aluno" href-portal>Área do
											Aluno</a>
									</li>

									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link" ng-href="/cadastro" title="Cadastro"
											analytics-on analytics-event="paginas" analytics-category="rodape"
											analytics-label="Cadastro">Cadastro</a>
									</li>
								</ul>
							</li>

							<li class="footer-primary__columns--item">
								<ul class="footer-primary__list">
									<li class="footer-primary__title"> Blogs </li>

									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link"
											href="http://maisengenharia.altoqi.com.br/" title="Blog Mais Engenharia"
											target="_blank" analytics-on analytics-event="blogs"
											analytics-category="rodape" analytics-label="+ Engenharia">Blog Mais
											Engenharia </a>
									</li>

									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link" href="http://eberick.com.br/"
											title="Blog Eberick" target="_blank" analytics-on analytics-event="blogs"
											analytics-category="rodape" analytics-label="Blog Eberick"> Blog Eberick
										</a>
									</li>

									<li class="footer-primary__list__item">
										<a class="footer-primary__list__item--link" href="http://www.qibuilder.com.br/"
											title="Blog QiBuilder" target="_blank" analytics-on analytics-event="blogs"
											analytics-category="rodape" analytics-label="Blog QiBuilder"> Blog
											QiBuilder </a>
									</li>
								</ul>
							</li>

							<li class="footer-primary__columns--item">
								<ul class="footer-primary__list">
									<li class="footer-primary__title"> Redes Sociais </li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link"
											href="https://www.facebook.com/qisat" title="Facebook" target="_blank"
											analytics-on analytics-event="RedesSociais" analytics-category="rodape"
											analytics-label="Facebook">Facebook</a>
									</li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link"
											href="https://www.linkedin.com/in/qisat" title="Linkedin" target="_blank"
											analytics-on analytics-event="RedesSociais" analytics-category="rodape"
											analytics-label="Linkedin">Linkedin</a>
									</li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link"
											href="https://www.instagram.com/qisat/" title="Instagram" target="_blank"
											analytics-on analytics-event="RedesSociais" analytics-category="rodape"
											analytics-label="Instagram">Instagram</a></li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link"
											href="https://www.youtube.com/user/qisat" title="YouTube" target="_blank"
											analytics-on analytics-event="RedesSociais" analytics-category="rodape"
											analytics-label="YouTube">YouTube</a>
									</li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link"
											href="https://twitter.com/QiSat" title="Twitter" target="_blank"
											analytics-on analytics-event="RedesSociais" analytics-category="rodape"
											analytics-label="Twitter">Twitter</a>
									</li>

								</ul>
							</li>

							<li class="footer-primary__columns--item">
								<ul class="footer-primary__list">
									<li class="footer-primary__title"> Contatos</li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link"
											title="Ligamos para você" ng-click="modal.call()" analytics-on
											analytics-event="Contatos" analytics-category="rodape"
											analytics-label="callme">Ligamos para você</a></li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link"
											ng-href="/institucional/contatos" title="Mensagem" analytics-on
											analytics-event="Contatos" analytics-category="rodape"
											analytics-label="Mensagem">Mensagem</a></li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link"
											title="Mensagem" ng-click="modal.showZopim()" analytics-on
											analytics-event="Contatos" analytics-category="rodape"
											analytics-label="Chat">Chat</a></li>
								</ul>
							</li>

							<li class="footer-primary__columns--item">
								<span class="footer-primary__title">

									<div>
										<i class="fa fa-band_qisat fa-10x" style="font-size: 48px;"></i>
										<br><br>
									</div>

									<a title="Ligamos para você!" ng-click="modal.call()" analytics-on
										analytics-event="Contatos" analytics-category="rodape" analytics-label="callme">

										<i class="fa fa-ic_call"></i> (48) 3332-5000 </a>

								</span>
								<br><span class="footer-primary__title "> <a title="Envie uma mensagem!"
										href="https://api.whatsapp.com/send?1=pt_BR&phone=554833325002" analytics-on
										analytics-event="Contatos" analytics-category="rodape"
										analytics-label="whatsapp">

										<i class="fa fa-ic_whatsapp"></i>
										(48) 3332-5002
									</a></span>
							</li> <!-- //  -->
						</ul>

					</div> <!-- ///row -->
				</div> <!-- // footer-primary -->

				<div class="footer-secondary">
					<div class="row">
						<ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
							<li>
								<ul class="footer-secondary__list">
									<li class="footer-secondary__list__item">
										<a class="footer-secondary__list__item--link" ng-click="modal.termo()"
											analytics-on analytics-event="termos"
											analytics-category="rodape-secondary">Termos de uso</a>
									</li>
									<li class="footer-secondary__list__item">
										<a class="footer-secondary__list__item--link" ng-click="modal.politica()"
											analytics-on analytics-event="privacidade"
											analytics-category="rodape-secondary">Política de Privacidade</a>
									</li>
								</ul>

								<ul class="footer-secondary__list">
									<li class="footer-secondary__list__item">
										<span class="footer-secondary__list__item--brand-text">CNPJ: 03.984.954/0001-74
										</span>
									</li>
								</ul>

							</li>

							<li>
								<ul class="footer-secondary__list footer-secondary__list--email ">
									<li class="footer-secondary__list__item">QiSat | Cursos aplicados à engenharia e
										arquitetura
										<a href="mailto:inscricoes@qisat.com.br"
											class="footer-secondary__list__item--link" analytics-on
											analytics-event="email"
											analytics-category="rodape-secondary"><strong>inscricoes@qisat.com.br</strong></a>
									</li>
								</ul>
							</li>

							<li>
								<ul class="footer-secondary__list">
									<li class="footer-secondary__list__item">
										<span class="footer-secondary__list__item--brand-text">Uma empresa

											<a href="https://www.altoqi.com.br"
												class="footer-secondary__list__item--brand" target="_blank" alt="AltoQi"
												title="AltoQi" analytics-on analytics-event="logo-altoqi"
												analytics-category="rodape-secondary">
												<i class="fa fa-band_altoqi"></i>
											</a>
										</span>

									</li>
								</ul>
							</li>
						</ul>
					</div> <!-- ///row -->
				</div> <!-- footer-secondary -->

			</footer> <!-- footer-container -->
			<!-- ########################## END FOOTER ########################## -->
			<!-- exit-off-canvas -->
			<a class="exit-off-canvas"></a>
		</div> <!-- //inner-wrap -->
	</div><!-- //off-canvas-wrap -->

	<!--BEGIN:SCRPIT-->
	<!--END:SCRPIT-->

	<!--BEGIN:SCRPIT-INJECT-->
	<!--END:SCRPIT-INJECT-->

	<script defer async src="js/build.js?version-qi-build=2.0.1"></script>

	<script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>

	<!--BEGIN:HTML-->
	<!--END:HTML-->

</body>

</html>