// Override foundation button style

.accordion .accordion-navigation>a, .accordion dd>a, .button, body, button {
  font-family: $font-family-sans-serif;
}
.button, button {
  padding: 0.5rem 1.5rem;
  background-color: $primary-color;
  color: $white;
  min-width: 100px;

  &:hover {
    background-color: #494949;
    color: $white;
  }

  &.success {
    background-color: $secondary-color;
  }
}

.inline-list>li>* {
  margin: 0;
  display: inline;
}