//globals
	$global-radius: 3px;
	$global-rounded: 1000px;

// colors
/*
	http://sassme.arc90.com/
	Funções cores sass: http://sass-lang.com/documentation/Sass/Script/Functions.html
*/
	// $text-color: #333; // main text
	// $background-color: #dfdfdf; // body background color
	// $primary-color: #005B94; // Links botões
	// $primary-color-hover: darken($primary-color, 3); // Links botões hover
	// $secondary-color: #62c169; // anchor tags
	// $secondary-color-hover: darken($secondary-color, 8); // Links botões secundários hover
	// $accent-color: blue; // Cor de destaque
 
// fonts 
   $font-family-sans-serif: "Lato", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;

 
//colors
	$white       : #FFFFFF;
	$ghost       : #FAFAFA;
	$snow        : #F9F9F9;
	$vapor       : #F6F6F6;
	$white-smoke : #F5F5F5;
	$silver      : #EFEFEF;
	$smoke       : #EEEEEE;
	$gainsboro   : #DDDDDD;
	$iron        : #CCCCCC;
	$base        : #AAAAAA;
	$aluminum    : #999999;
	$jumbo       : #888888;
	$monsoon     : #777777;
	$steel       : #666666;
	$charcoal    : #555555;
	$tuatara     : #444444;
	$oil         : #333333;
	$jet         : #222222;
	$black       : #000000;

    
    $body-bg: #dfdfdf;
	
    $primary-color: #005B94;
    $primary-color-dark: darken($primary-color, 3);
	$secondary-color: #28B67C;

	$alert-color: #f04124;
	$success-color: #43AC6A;
	$warning-color: #f08a24;
	$info-color: #a0d3e8;
	 

	//category colors
    $category-estrutural-color: orange !important;
    $category-eletrica-color: blue !important;
    $category-hidrossanitaria-color: yellow !important;
    $category-agronomica-color: green !important;

	$category-pos-graduation-color: coral !important;
	$category-software-courses-color: orange !important;
	$category-theoretical-courses-color: blue !important;
	$category-solutions-business-color: yellow !important;

	//software colors
    $software-eberick-color: maroon !important;
    $software-qibuilder-color: green !important;
    $software-qieletrico-color: yellow !important;
    $software-qihidrossanitario-color: blueviolet !important;
    $software-qiincendio-color: darkorange !important;
 

  

 body{
 	background-color: $body-bg;
 	color: $oil;
 	font-family: $font-family-sans-serif;
 }



h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: $font-family-sans-serif;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}



//define o tamanho da grid
.row { max-width: 75rem; }


article{ padding: 30px 0; display: inline-block; width: 100%;}




/* 1. z-depth official shadows:  (https://www.polymer-project.org/components/paper-elements/demo.html#paper-shadow) */
.z-1 { box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important; }
.z-2 { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important; }
.z-3 { box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19) !important; }
.z-4 { box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3), 0 14px 12px 0 rgba(0, 0, 0, 0.17) !important; }
.z-5 { box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15) !important; }

.material-icons{vertical-align: middle;}    


.section__title {  font-weight: 300;  text-transform: uppercase;}


 


.button {
 
}
 



