//globals
	$global-radius: 3px;
	$global-rounded: 1000px;

// colors
/*
	http://sassme.arc90.com/
	Funções cores sass: http://sass-lang.com/documentation/Sass/Script/Functions.html
*/
	// $text-color: #333; // main text
	// $background-color: #dfdfdf; // body background color
	// $primary-color: #005B94; // Links botões
	// $primary-color-hover: darken($primary-color, 3); // Links botões hover
	// $secondary-color: #62c169; // anchor tags
	// $secondary-color-hover: darken($secondary-color, 8); // Links botões secundários hover
	// $accent-color: blue; // Cor de destaque

// fonts
   $font-family-sans-serif: "Lato", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;


//colors
	$white       : #FFFFFF;
	$ghost       : #FAFAFA;
	$snow        : #F9F9F9;
	$vapor       : #F6F6F6;
	$white-smoke : #F5F5F5;
	$silver      : #EFEFEF;
	$smoke       : #EEEEEE;
	$gainsboro   : #DDDDDD;
	$iron        : #CCCCCC;
	$base        : #AAAAAA;
	$aluminum    : #999999;
	$jumbo       : #888888;
	$monsoon     : #777777;
	$steel       : #666666;
	$charcoal    : #555555;
	$tuatara     : #444444;
	$oil         : #333333;
	$jet         : #222222;
	$black       : #000000;


    $body-bg: #dfdfdf;

    $primary-color: #005B94;
    $primary-color-dark: darken($primary-color, 3);
	$secondary-color: #28B67C;

	$alert-color: #f04124;
	$success-color: #43AC6A;
	$warning-color: #f08a24;
	$info-color: #a0d3e8;


	//category colors
    $category-estrutural-color: orange !important;
    $category-eletrica-color: blue !important;
    $category-hidrossanitaria-color: yellow !important;
    $category-agronomica-color: green !important;

	$category-pos-graduation-color: coral !important;
	$category-software-courses-color: orange !important;
	$category-theoretical-courses-color: blue !important;
	$category-solutions-business-color: yellow !important;

	//software colors
    $software-eberick-color: maroon !important;
    $software-qibuilder-color: green !important;
    $software-qieletrico-color: yellow !important;
    $software-qihidrossanitario-color: blueviolet !important;
    $software-qiincendio-color: darkorange !important;




 body{
 	background-color: $body-bg;
 	color: $oil;
 	font-family: $font-family-sans-serif;
 }




h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: $font-family-sans-serif;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}



//define o tamanho da grid
.row { max-width: 75rem; }
 .footer-main,
 .content-main,
 .footer-main {  width: 100%; display: block; float: left;}

main{    min-height: 100vh;    margin-top: 60px;}
article{ padding: 30px 0; display: inline-block; width: 100%;}




/* 1. z-depth official shadows:  (https://www.polymer-project.org/components/paper-elements/demo.html#paper-shadow) */
.z-1 { box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important; }
.z-2 { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important; }
.z-3 { box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19) !important; }
.z-4 { box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3), 0 14px 12px 0 rgba(0, 0, 0, 0.17) !important; }
.z-5 { box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15) !important; }

.material-icons{vertical-align: middle;}


.section__title {  font-weight: 300;  text-transform: uppercase; font-size:2rem}
.section__title--dark { @extend .section__title; color:  #1D2668 }
.section__title--light { @extend .section__title; color: #fff}




//buttons line
.button-line{  height: 37px; overflow: hidden; transition: all 0.5s; border: 1px solid; padding: 4px 20px; display: inline-block; border-radius: 4px;
	 &:hover, &:focus{ @extend .z-1; border-color: transparent; }
}
.button-line--dark  {
	@extend .button-line; color: #1D2668;
	&:hover, &:focus{ background-color: #1D2668; color:#fff;}
}
.button-line--light {
	@extend .button-line; color: #fff;
	&:hover, &:focus{background-color: #fff; color:#1D2668;}
}

//.button-line--light_big{@extend .button-line--light; font-size: 18px; height: 44px; padding: 7px 20px; }




//end buttons line





.home_panel_titles{ display: inline-block; width: 100%; }
.home_panel_titles--topcourses{  @extend .home_panel_titles; padding: 70px 0;}
.home_panel_titles--instructors{ @extend .home_panel_titles; padding: 150px 0;}
.home_panel_titles--testimonials{@extend .home_panel_titles; padding: 120px 0;}







.has-price_popover{ position: relative;
	&:hover .price_popover{ display: inline-block}
	.price_popover{ line-height: auto; display:none}
}

.card-format-list{}
.card-format-block{
	.price_popover{
		right: -40px;
		&::after {right: 60px;}
	}
}
.price_popover{
	    text-align: center;
	    position: absolute;
	    bottom: 38px;
	    width: 150px;
	    right: -20px;
		&::after {
		    content: "";
		    border-left: 10px solid transparent;
		    border-right: 10px solid transparent;
		    border-top: 10px solid #4E4E4E;
		    position: absolute;
		    bottom: -10px;
		    right: 22px;
		}
				.price_popover__header{
					background-color: #565555;
				    padding: 10px;
				    display: inline-block;
				    border-radius: 4px 4px 0 0;
					.price_popover__header__info{
						    margin: 0;
						    padding: 0;
						    font-size: 10px;
						    color: #989898;
					    strong{ color: #fff}
					}
				}
				.price_popover__footer{
				    background-color: #4E4E4E;
				    color: #fff;
				    border-radius: 0 0 4px 4px;
				    font-size: 12px;
				    padding: 5px;
				}


}






.menu-horizontal{
    &__list{ list-style: none; margin: 0; background-color: #fff; border-radius: $global-radius; list-style: none;   margin-bottom: 5px; margin-top: 10px; display: inline-block; width: 100%; @extend .z-1;}
    &__link { padding: 10px 15px; width: 100%; float: left; font-size: 18px; line-height: 1;}

     &__item{
       border-left:5px solid transparent; display: inline-block; float: left; text-align: center; transition: all 0.5s;
       &:hover{background-color: rgba(0, 0, 0, 0.06)}
       &--current{ border-color: $primary-color-dark !important; background-color: rgba(0, 0, 0, 0.08);
         a{ color: $primary-color-dark !important; }
         &:hover{background-color: rgba(0, 0, 0, 0.08)}
       }


          // Small screens
          @media only screen {
            &--5, &--4, &--3, &--2,&--1{ width: 100%; padding-left: 10px; text-align: left;}
          } /* Define mobile styles */

          // Medium screens
          @media only screen and (min-width: 40.063em) {
             border-left:0px solid transparent;
             border-top:5px solid transparent;

             &--5, &--4, &--3, &--2,&--1{ text-align: center;}
             &--5{ width: 20%;}
             &--4{ width: 25%;}
             &--3{ width: 33.3%;}
             &--2{ width: 50%;}
             &--1{ width: 100%;}
          } /* min-width 641px, medium screens */

    }
}




.owl-drag{cursor: -webkit-grab;
  .owl-grab{cursor: -webkit-grabbing !important;}
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 12px;
  background: #fff;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: #1e90d1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  overflow: hidden;
}

.pace .pace-activity {
  position: fixed;
  top: 0;
  right: -32px;
  bottom: 0;
  left: 0;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  background-size: 32px 32px;

  -webkit-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -moz-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -ms-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -o-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  animation: pace-theme-barber-shop-motion 500ms linear infinite;
}

@-webkit-keyframes pace-theme-barber-shop-motion {
  0% { -webkit-transform: none; transform: none; }
  100% { -webkit-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-moz-keyframes pace-theme-barber-shop-motion {
  0% { -moz-transform: none; transform: none; }
  100% { -moz-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-o-keyframes pace-theme-barber-shop-motion {
  0% { -o-transform: none; transform: none; }
  100% { -o-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-ms-keyframes pace-theme-barber-shop-motion {
  0% { -ms-transform: none; transform: none; }
  100% { -ms-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@keyframes pace-theme-barber-shop-motion {
  0% { transform: none; transform: none; }
  100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
}


