/*
  1. Hero hero
  2. Hero Courses
  3. Hero Pages e institucional
*/





.hero-pages{
  float: left;
  width: 100%;
  min-height: 250px;
  padding: 70px 0;
  @media only screen and (min-width: 64.063em) {   padding: 100px 0; } /* min-width 1025px, large screens */

  background-color: $primary-color; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &.hero-pages__insitucional {
    background-image: url("../images/hero/hero-institucional.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
       .hero-pages__label{color: #fff; font-weight: 300;}
       .hero-pages__title {
           padding: 0;
           margin: 0;
           color: #fff;
           line-height: 1.2;
           font-weight: 700;
           font-size: 2.7em;
       }
      .hero-pages__tagline {
        color: rgba(255, 255, 255, 0.5);
        font-style: italic;
        margin-bottom: 10px;
        font-size: 1.4rem;
        display: inline-block;
        font-weight: 300;
      }
 }









.hero-page-simple{
    float: left;
    width: 100%;
    padding: 20px 0;
    background: #1e3c72; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .hero-page-simple__title{ text-align: center; font-weight: 100; color: #fff;}
}





.hero-page-course {
    background-image: url("../images/hero/hero-course-background.jpg");
    /* background: #232526; */
    background: -webkit-linear-gradient(to left, #232526, #414345);
    /* background: linear-gradient(to left, #232526, #414345); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* border-bottom: 1px solid #555; */
    background-color: $primary-color;
    width: 100%;
    float: left;
}

.hero-page-course__title {
    margin-top: 140px;
    color: #fff;
    font-weight: 300;
}

/* 'HERO HOME
========================================= */
.hero-home {
    height: 620px;
    background: #333;
    padding-top: 170px;
    color: #fff;
    z-index: -1;
    text-align: center;
    background-image: url("../images/hero/hero-home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.hero-home__intro {
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
    opacity: 0.7;
    letter-spacing: 1px;
}

.hero-home__title {
    line-height: 1.1;
    margin-top: 10px;
    letter-spacing: -1px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 800;
    display: block;
    color: #fff;
    margin-bottom: 20px;
}

.hero-home__subtitle {
    line-height: 1.3;
    font-size: 25px;
    opacity: 0.7;
    font-weight: 300;
    margin-bottom: 20px;
    display: block;
    color: #fff;
}

.hero-home__button {
    transition: all 0.5s ease;
    border: 1px solid;
    color: #fff !important;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 4px;
    background-color: transparent !important;

    &:hover {
        color: #000 !important;
        background-color: #fff !important;
    }
}




/*======================================== */

/* 'HERO COURSES
========================================= */
.hero-course {
    float: left;
    width: 100%;
    display: inline-block;
    width: 100%;
    padding: 100px 0 40px 0;
    background-color: $charcoal;

    //background-image: url("../images/courses/courses-banner-presencial.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &::before {
        content: "";
    }
}

.hero-course:hover .hero-course__play--image {
    opacity: 1;
}

.hero-course__modality {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    text-transform: uppercase;
}

.hero-course__title {
    color: #fff;
    font-size: 38px;
    font-weight: 800;
    line-height: 1;
}

.hero-course__resume {
    color: #fff;
    opacity: .6;
    margin-bottom: 10px;
}

.hero-course__locale {
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}

.hero-course__play-container {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 200px;
    padding: 65px;
    background-color: rgba(0, 0, 0, 0.05);
}

.hero-course__play {
    display: inline-block;
}

.hero-course__play--image {
    transition: all 0.5s ease;
    display: inline-block;
    width: 70%;
    opacity: .6;
}

.hero-course__buttons-group {
    list-style: none;
    margin: 0;
}

.hero-course__buttons-group--item {
    display: inline-block;
    vertical-align: middle;
}

.buttom-call {
    background-color: #fff;
    padding: 6px 30px 10px 42px;
    border-radius: 4px;
    background-image: url("../images/courses/ic_call_black_24px.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    color:#000 !important;
}

.call-label-icon-email {
    background-image: url("../images/courses/ic_email_black_24px.svg");
    background-repeat: no-repeat;
    background-position: left center;
    height: 35px;
    width: 35px;
}

.call-label-icon-phone {
    background-image: url("../images/courses/ic_call_black_24px.svg");
    background-repeat: no-repeat;
    background-position: left center;
    height: 35px;
    width: 35px;
}

.call-label-icon-phone {
    background-image: url("../images/courses/ic_call_black_24px.svg");
    background-repeat: no-repeat;
    background-position: left center;
    height: 35px;
    width: 35px;
}

.call-label-icon-interests {
    background-image: url("../images/courses/ic_flag_black_24px.svg");
    background-repeat: no-repeat;
    background-position: left center;
    height: 35px;
    width: 35px;
}

.call-label-icon-name {
    background-image: url("../images/courses/ic_person_black_24px.svg");
    background-repeat: no-repeat;
    background-position: left center;
    height: 35px;
    width: 35px;
}

.buttom-favorite {
    background-color: #fff;
    border-radius: 4px;
    background-image: url("../images/courses/ic_star_border_black_24px.svg");
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    display: inline-block;
    height: 32px;
    width: 38px;
    vertical-align: middle;
    transition: all 0.5s;
}

.buttom-favorite-active {
    background-image: url("../images/courses/ic_star_black_24px.svg");
}

.buttom-price {
    opacity: 0.95;
    background-color: $primary-color;
    color: #fff;
    padding: 5px 30px;
    border-radius: 4px;
}

.buttom-price:hover,
.buttom-price:focus {
    color: #fff;
    opacity: 1;
}

.hero-course__controllers {}
