
/*MODAL*/
.modal-slim{ padding: 0;	@extend .z-5;}
.flex-video-slim{margin: 0}

.modalPageCourseCall{
    max-width: 100% !important; padding: 0px;
    @media only screen and (min-width: 40.063em) { max-width: 380px!important;}
}

.reveal-modal-qisat{
  outline: 0;
	padding: 0; //para tirar as bordas
	top: 20px; // é a distância do topo até o inicio do modal quando aberto
	 .close-reveal-modal{z-index: 1000; top: 0.25rem; font-size: 2rem;}
	 .reveal-modal{border:none;}
     .reveal-modal-header{  padding: 10px 0;  text-align: center; position: relative;  z-index: 1000; background-color: darken(#575B5D, 13) ;
			.brand-qisat-small{  width: 76px;    height: 25px;    opacity: 0.3; }
  			&:before { position: absolute; bottom: -14px; content: ''; left: 50%; width: 0; height: 0; margin-left: -15px; border-right: 15px solid transparent; border-top: 15px solid darken(#575B5D, 13); border-left: 15px solid transparent; }
     }

         .flex-video.widescreen {
    	    @media only screen and (min-width: 40.063em) { padding-top : 100px;  }
   
	}
}



/*MODAL CALL*/
	.section-call{}
	.section-call__form{ }
	.section-call__form--header{    background-color: #eee; }
	.section-call__form--header p {font-size: 15px; line-height: 1.5;}
	.section-call__form--header-title{ margin-top: 20px; font-weight: 300; text-transform: uppercase; letter-spacing: -1px;}
	.section-call__form--form{padding: 20px 0;}
	.section-call__form--form label{ opacity: 0.2}

	.section-call__done{  height: 0; overflow: hidden; transition: all 0.5s}
	.section-call__done--icon{ display: inline-block; width: 100%; text-align: center; padding: 40px 0 20px 0; }
	.section-call__done--title{font-size: 26px; line-height: 1.2; text-align: center; display: inline-block; width: 100%; padding: 20px 0;}
	.section-call__done--subtitle{ text-align: center; display: inline-block; padding: 10px 10px 70px 10px; }
	select#call-input-interests {
	    margin: 0 0 0.88889rem 0;
	}
/*END MODAL CALL*/
