<footer class="footer-main ">

		<div class="footer-primary">
				<div class="row">
					<ul class="footer-primary__columns small-block-grid-1 medium-block-grid-3 large-block-grid-6">


						<li class="footer-primary__columns--item">
						 		<ul class="footer-primary__list">
									<li class="footer-primary__title">Sobre o QiSAT</li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Institucional"> Institucional</a></li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Eventos"> Eventos</a></li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Convênios">Convênios</a></li>
									<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Parcerias">	Parcerias</a></li>
								</ul>
						</li>

						<li class="footer-primary__columns--item">
						 	<ul class="footer-primary__list">
								 <li class="footer-primary__title">Cursos</li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Software">Software</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Teórico">Teórico</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Pós-graduação">Pós-graduação</a></li>
								 <li class="footer-primary__title">Modalidades</li>
								<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Presencial">Presencial</a></li>
								<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="EAD">EAD</a></li>
						 	</ul>
						</li> <!-- // -->

						<li class="footer-primary__columns--item">
						 	<ul class="footer-primary__list">
								<li class="footer-primary__title"> Página</li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Dúvidas Frequentes">Dúvidas Frequentes</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Cursos">Cursos</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Pós-graduação">Pós-graduação</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Área do aluno">Área do aluno</a></li>
				 		 	</ul>
						</li> <!-- // -->

						<li class="footer-primary__columns--item">
						 	<ul class="footer-primary__list">
								 <li class="footer-primary__title"> Soluções</li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Para Empresas">Para Empresas</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Para Órgãos Governamentais">Para Órgãos Governamentais</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Para Turma de Formandos">Para Turma de Formandos</a></li>
				  		 	</ul>
						</li> <!-- // -->

						<li class="footer-primary__columns--item">
						 	<ul class="footer-primary__list">
								 <li class="footer-primary__title"> Contato</li>
								<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Ligamos para você">Ligamos para você</a></li>
								<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Mensagem">Mensagem</a></li>
						 		<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Lista de espera">Lista de espera</a></li>
								<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Sugira uma Funcionalidade">Sugira uma Funcionalidade</a></li>
								<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Sugira um Curso">Sugira um Curso</a></li>
								<li class="footer-primary__list__item"><a class="footer-primary__list__item--link" href="#" title="Sugira uma nova turma">Sugira uma nova turma</a></li>
							</ul>
						</li> <!-- // -->

						<li class="footer-primary__columns--item">
							<img class="footer-primary__list__item--brand-qisat" src="./assets/images/brand/brand_small-light.svg" alt="Brand QiSat Light">
						</li> <!-- //  -->

					</ul> <!-- // footer-primary_lists -->

				</div> <!-- ///row -->
		</div> <!-- // footer-primary -->


		<div class="footer-secondary">
				<div class="row">
					<ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
							<li>
											<ul class="footer-secondary__list">
												<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Termos de uso</a></li>
												<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Política de privacidade</a></li>
 											</ul>
						</li>

						<li>
											<ul class="footer-secondary__list footer-secondary__list--email ">
												<!-- <li class="footer-secondary__list__item"></li> -->
												<!-- <li class="separator"></li> -->
												<li class="footer-secondary__list__item"><a href="mailto:contato@qisat.com.br"  class="footer-secondary__list__item--link">QiSat e-Learing para Engenharia: <strong>contato@qisat.com.br</strong></a></li>
											</ul>
						</li>
						<li>
										<ul class="footer-secondary__list">
												<li class="footer-secondary__list__item">
													<span class="footer-secondary__list__item--brand-text">Uma empresa</span>
													<a href="#" class="footer-secondary__list__item--brand"><img class="footer-secondary__list__item--brand-image" src="" alt="">	<img src="./assets/images/brand/brand_altoqi-small-light.svg" alt="AltoQi"></a>
												</li>
										 </ul>
						</li>

					</ul> <!-- //block-grid -->

		 		</div> <!-- ///row -->
		</div> <!-- footer-secondary -->
</footer> <!-- footer-container -->