<footer class="footer-main ">

					<div class="footer-primary">
							<div class="row">
											<ul class="footer-primary__columns small-block-grid-1 medium-block-grid-3 large-block-grid-6">
															<li class="footer-primary__columns--item">
															 		<ul class="footer-primary__list">
																		<li class="footer-primary__title">Sobre o QiSAT</li>
																		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="institucional-sobre-a-empresa.html" title="Institucional"> Institucional</a></li>
																		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Eventos"> Eventos</a></li>
																		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Convênios">Instituições convêniadas</a></li>
																		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Parcerias">	Parceiros</a></li>
																	</ul>
															</li>

															<li class="footer-primary__columns--item">
															 	<ul class="footer-primary__list">
																	 <li class="footer-primary__title">Cursos</li>
																	 <li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Teórico">Teórico</a></li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Software">Software</a></li>
																	<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Online">Online</a></li>
																	<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Presencial">Presencial</a></li>
															 	</ul>
															</li> <!-- // -->

															<li class="footer-primary__columns--item">
															 	<ul class="footer-primary__list">
																	<li class="footer-primary__title"> Página</li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Dúvidas Frequentes">Dúvidas frequentes</a></li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Área do aluno">Área do aluno</a></li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Sugira uma Funcionalidade">Sugira uma funcionalidade</a></li>
																	<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Sugira um Curso">Sugira um curso</a></li>
																	<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Sugira uma nova turma">Sugira uma nova turma</a></li>
													 		 	</ul>
															</li> <!-- // -->

															<li class="footer-primary__columns--item">
															 	<ul class="footer-primary__list">
																	 <li class="footer-primary__title"> Soluções</li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Para Empresas">Para empresas</a></li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Para Órgãos Governamentais">Para órgãos governamentais</a></li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Para Turma de Formandos">Para turma de formandos</a></li>
													  		 	</ul>
															</li> <!-- // -->

															<li class="footer-primary__columns--item">
															 	<ul class="footer-primary__list">
																	 <li class="footer-primary__title"> Contato</li>
																	<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Ligamos para você">Ligamos para você</a></li>
																	<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Mensagem">Mensagem</a></li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="#" title="Lista de espera">Lista de espera</a></li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="tel:489815-1222" title="Lista de espera">WhatsApp: 48 9815-1222</a></li>
															 		<li class="footer-primary__list__item" style=""><a class="footer-primary__list__item--link" href="skype:qisat" title="Lista de espera">Skype: qisat</a></li>


 

																</ul>
															</li> <!-- // -->

															<li class="footer-primary__columns--item">
																<img class="footer-primary__list__item--brand-qisat" src="assets/images/brand/brand_small-light.svg" alt="Brand QiSat Light">
															</li> <!-- //  -->
										</ul> <!-- // footer-primary_lists -->
						</div> <!-- ///row -->
					</div> <!-- // footer-primary -->





					<div class="footer-secondary">
							<div class="row">
								<ul class="footer-secundary__columns small-block-grid-1   large-block-grid-3">
										<li>
												<ul class="footer-secondary__list">
													<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Termos de uso</a></li>
													<li class="footer-secondary__list__item"><a href="#" class="footer-secondary__list__item--link">Política de privacidade</a></li>
	 											</ul>
									  </li>

									  <li>
												<ul class="footer-secondary__list footer-secondary__list--email ">
													<!-- <li class="footer-secondary__list__item"></li> -->
													<!-- <li class="separator"></li> -->
													<li class="footer-secondary__list__item"><a href="mailto:contato@qisat.com.br" class="footer-secondary__list__item--link">QiSat | Cursos aplicados à engenharia e Arquitetura : <strong>qisat@qisat.com.br</strong></a></li>
												</ul>
								   	</li>
								  	<li>
													<ul class="footer-secondary__list">
															<li class="footer-secondary__list__item">
																<span class="footer-secondary__list__item--brand-text">Uma marca</span>
																<a href="#" class="footer-secondary__list__item--brand"><img class="footer-secondary__list__item--brand-image" src="" alt="">	<img src="assets/images/brand/brand_altoqi-small-light.svg" alt="AltoQi"></a>
															</li>
													 </ul>
									  </li>
								</ul> <!-- //block-grid -->
					 		</div> <!-- ///row -->
					</div> <!-- footer-secondary -->
			</footer>